<%= form_for (@shelter), :html => { :multipart => true } do |f| %>
	<ul class="form">
		<li style="float:right; width:42%">
			<div id="logo">
				<%= render "logos/logo" %>
			</div>
		</li>
		<li>
			<%= f.label :name, "Name" %><br />
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :street, "Street" %><br />
			<%= f.text_field :street %>
		</li>
		<li>
			<%= f.label :city, "City" %><br />
			<%= f.text_field :city %>
		</li>
		<li>
			<%= f.label :state, "State" %><br />
			<%= f.select :state, US_STATES.map {|k,v| [ v, k ] }, {:prompt => "Select State"} %>
		</li>
		<li>
			<%= f.label :zip_code, "Zip code" %><br />
			<%= f.text_field :zip_code %>
		</li>
		<li>
			<%= f.label :main_phone, "Phone (main)" %><br />
			<%= f.text_field :main_phone, :value => number_to_phone(@shelter.main_phone, :delimiter => "-") %>
		</li>
		<li>
			<%= f.label :fax_phone, "Phone (fax)" %><br />
			<%= f.text_field :fax_phone, :value => number_to_phone(@shelter.fax_phone, :delimiter => "-") %>
		</li>
		<li>
			<%= f.label :email, "Email" %><br />
			<%= f.text_field :email %>
		</li>
		<li>
			<%= f.label :website, "Website" %><br />
			<%= f.text_field :website %>
		</li>
		<li>
			<%= f.label :twitter, "Twitter" %><br />
			<%= f.text_field :twitter %>
		</li>
		<li>
			<%= f.label :facebook, "Facebook Page" %><br />
			<%= f.text_field :facebook %>
		</li>
		<li>
			<%= label_tag "Are you a kill shelter?" %><br />
			<%= f.radio_button :is_kill_shelter, true %>&nbsp;<%= f.label :is_kill_shelter, "Yes" %>&nbsp;&nbsp;
			<%= f.radio_button :is_kill_shelter, false %>&nbsp;<%= f.label :is_kill_shelter, "No" %>
		</li>
		<li>
			<%= f.label :time_zone, "Time Zone" %><br />
			<%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s, :prompt => "Select Timezone" %>
		</li>
	</ul>
	<div class="actions">
		<%= f.submit button_text, :disable_with => "Submitting...", :class => 'button' %>
	</div>
<% end %>