<%= form_for (@shelter), :html => { :multipart => true } do |f| %>
<ul>
	<li>
		<%= f.label :name, "Name <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div><%= f.text_field :name, :class => "field text medium", :maxlength => 255 %></div>
		<%= has_error_message?(@shelter, :name)%>
	</li>
	<li class="complex">
		<%= f.label :address, "Address <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<span class="full addr1">
				<%= f.text_field :street, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :street, "Street Address" %>
			</span>
			<span class="full addr2">
				<%= f.text_field :street_2, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :street_2, "Address Line 2" %>
			</span>
			<span class="left">
				<%= f.text_field :city, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :city, "City" %>
			</span>
			<span class="right">
				<%= f.select :state, US_STATES.map {|k,v| [ v, k ] }, { :prompt => "Select State" }, { :class => "field select addr" }  %>
				<%= f.label :state, "State" %>
			</span>
			<span class="clear left">
				<%= f.text_field :zip_code, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :zip_code, "Zip Code" %>
			</span>
		</div>
		<%= has_error_message?(@shelter, :address)%>
	</li>
	<li>
		<%= f.label :phone, "Phone <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<%= f.text_field :phone, :class => "field text medium", :maxlength => 12, :value => number_to_phone(@shelter.phone, :delimiter => "-") %>
			<%= f.label :phone, "###-###-####" %>
		</div>
		<%= has_error_message?(@shelter, :phone)%>
	</li>
	<li>
		<%= f.label :fax, "Fax", :class => "desc" %>
		<div>
			<%= f.text_field :fax, :class => "field text medium", :maxlength => 12, :value => number_to_phone(@shelter.fax, :delimiter => "-") %>
			<%= f.label :fax, "###-###-####" %>
		</div>
		<%= has_error_message?(@shelter, :fax)%>
	</li>
	<li>
		<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div><%= f.text_field :email, :class => "field text medium", :type => "email", :maxlength => 255 %></div>
		<%= has_error_message?(@shelter, :email)%>
	</li>
	<li>
		<%= f.label :website, "Website", :class => "desc" %>
		<div><%= f.text_field :website, :class => "field text medium url_formatter", :maxlength => 255 %></div>
		<%= has_error_message?(@shelter, :website)%>
	</li>
	<li>
		<%= f.label :twitter, "Twitter username", :class => "desc" %>
		<div><%= f.text_field :twitter, :class => "field text medium twitter_formatter", :maxlength => 255, :placeholder => "Example @shelterexchange" %></div>
		<%= has_error_message?(@shelter, :twitter)%>
	</li>
	<li>
		<%= f.label :facebook, "Facebook Page", :class => "desc" %>
		<div><%= f.text_field :facebook, :class => "field text medium url_formatter", :maxlength => 255, :placeholder => "Example http://www.facebook.com/shelterexchange" %></div>
		<%= has_error_message?(@shelter, :facebook)%>
	</li>
	<li>
		<%= f.label :is_kill_shelter, "Are you a kill shelter? <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<span>
			<%= f.radio_button :is_kill_shelter, true, :class => "field radio" %>
			<%= f.label :is_kill_shelter, "Yes", :class => "choice" %>
			</span>
			<span>
			<%= f.radio_button :is_kill_shelter, false, :class => "field radio" %>
			<%= f.label :is_kill_shelter, "No", :class => "choice" %>
			</span>
		</div>
		<%= has_error_message?(@shelter, :is_kill_shelter)%>
	</li>
	<li>
		<%= f.label :time_zone, "Time Zone <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
      <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :name, {:prompt => "Select Timezone"}, {:class => "field select medium"} %>
		</div>
		<%= has_error_message?(@shelter, :time_zone)%>
	</li>
	<li class="section">
		<section>
			<h3>Logo</h3>
			<div>Select your organization's logo</div>
		</section>
	</li>
	<li id="logo" class="full">
		<span class="left center">
			<%= image_tag @shelter.logo.url(:small) %>
			<%= f.hidden_field :logo_cache %>

			<% if !@shelter.new_record? and @shelter.logo? %>
				<br /><br />
				<%= f.check_box :remove_logo %>
				<%= f.label :remove_logo, "Delete logo", :class => "desc" %>
			<% end %>
		</span>
		<span class="leftPadded">
			<% if !@shelter.new_record? and @shelter.logo? %>
				<%= f.label :logo, "Change logo", :class => "desc" %>
			<% else %>
				<%= f.label :logo, "Upload logo", :class => "desc" %>
			<% end %>
			<%= f.file_field :logo, :class => "field file" %>

		</span>
		<%= has_error_message?(@shelter, :logo)%>

	</li>
	<li class="section">
		<section><h3></h3></section>
	</li>
	<li class="buttons">
		<p id="submit_message"><%=image_tag("ajax-loader.gif", :width => "30", :height => "30")%>Large logo files may take a few seconds to upload!</p>
		<%= f.submit button_text, :disable_with => "Submitting...",
								  :onclick => "$('#submit_message').delay(1500).slideToggle(1000);", :class => 'button' %>
		&nbsp;&nbsp;or&nbsp;&nbsp;
		<%= link_to "Cancel", shelters_path %>
	</li>
</ul>

<% end %>
