<%= form_for (@shelter), :html => { :multipart => true } do |f| %>
<ul>
	<li>
		<%= f.label :name, "Organization name <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div><%= f.text_field :name, :class => "field text medium", :maxlength => 255 %></div>
	</li>
	<li class="complex">
		<%= f.label :address, "Address <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<span class="full addr1">
				<%= f.text_field :street, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :street, "Street Address" %>
			</span>
			<span class="full addr2">
				<%= f.text_field :street_2, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :street_2, "Address Line 2" %>
			</span>
			<span class="left">
				<%= f.text_field :city, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :city, "City" %>
			</span>
			<span class="right">
				<%= f.select :state, US_STATES.map {|k,v| [ v, k ] }, { :prompt => "Select State" }, { :class => "field select addr" }  %>
				<%= f.label :state, "State" %>
			</span>
			<span class="clear left">
				<%= f.text_field :zip_code, :class => "field text addr", :maxlength => 255 %>
				<%= f.label :zip_code, "Zip Code" %>
			</span>
		</div>
	</li>
	<li>
		<%= f.label :phone, "Phone <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<%= f.text_field :phone, :class => "field text medium", :maxlength => 12, :value => number_to_phone(@shelter.phone, :delimiter => "-") %>
			<%= f.label :phone, "###-###-####" %>
		</div>
		
	</li>
	<li>
		<%= f.label :fax, "Fax", :class => "desc" %>
		<div>
			<%= f.text_field :fax, :class => "field text medium", :maxlength => 12, :value => number_to_phone(@shelter.fax, :delimiter => "-") %>
			<%= f.label :fax, "###-###-####" %>
		</div>
	</li>
	<li>
		<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<%= f.text_field :email, :class => "field text medium", :type => "email", :maxlength => 255 %>
		</div>
	</li>
	<li>
		<%= f.label :website, "Website", :class => "desc" %>
		<div>
			<%= f.text_field :website, :class => "field text medium", :maxlength => 255 %>
		</div>
	</li>
	<li>
		<%= f.label :twitter, "Twitter", :class => "desc" %>
		<div>
			<%= f.text_field :twitter, :class => "field text medium", :maxlength => 255 %>
		</div>
	</li>
	<li>
		<%= f.label :facebook, "Facebook Page", :class => "desc" %>
		<div>
			<%= f.text_field :facebook, :class => "field text medium", :maxlength => 255 %>
		</div>
	</li>
	<li>
		<%= f.label :is_kill_shelter, "Are you a kill shelter? <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<span>
			<%= f.radio_button :is_kill_shelter, true, :class => "field radio" %>
			<%= f.label :is_kill_shelter, "Yes", :class => "choice" %>
			</span>
			<span>
			<%= f.radio_button :is_kill_shelter, false, :class => "field radio" %>
			<%= f.label :is_kill_shelter, "No", :class => "choice" %>
			</span>
		</div>
	</li>
	<li>
		<%= f.label :time_zone, "Time Zone <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
			<%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s, :prompt => "Select Timezone", :class => "field select medium" %>
		</div>
	</li>
	<li class="section">
		<section>
			<h3>Logo</h3>
			<div>Select your organization's logo</div>
		</section>
	</li>
	<li id="logo">
		<%= render "logos/logo" %>
	</li>
	<li class="section">
		<section><h3></h3></section>
	</li>
	<li class="buttons">
		<div>
			<%= f.submit button_text, :disable_with => "Submitting...", :class => 'button' %>
			&nbsp;&nbsp;or&nbsp;&nbsp;
			<%= link_to "Cancel", shelters_path %>
		</div>
	</li>
</ul>

<% end %>