<%= title "Editing Shelter - #{@shelter.name}" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>
	
	<div class="page_heading blue">
		<h1>Editing: <%= @shelter.name %></h1>
	</div>
	<div class="page_content">
		<%= render "shared/error_messages", :target => @shelter %>
		<%= render "form", :button_text => "Update Shelter" %>
	</div>
<% end %>

<%= content_for :sidebar do %>

<% end %>