<%= title "#{@shelter.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "shelters/shelters", "http://maps.google.com/maps/api/js?sensor=false", :cache => "cache/application/shelters-index" %>
<% end %>


<%= content_for :page_content do %>

<script>
$(document).ready(function() {
	
	var myLatlng = new google.maps.LatLng(<%=@shelter.lat%>, <%=@shelter.lng%>);
    var myOptions = {
      zoom: 13,
      center: myLatlng,
	  navigationControl: true,
	  mapTypeControl: false,
	  streetViewControl:  false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
	var infowindow = new google.maps.InfoWindow({
		center: myLatlng,
		position: myLatlng, // Remove this uncomment marker if we want an icon to show up
        content: $("#map_content").html()
    });

	var marker = new google.maps.Marker({
		center: myLatlng,
	    position: myLatlng,
	    map: map,
	    icon: '/images/logo_small.png',
		clickable: true
	});
	
   	
    // infowindow.open(map, marker);
	google.maps.event.addListener(marker, 'click', function() {
		infowindow.open(map,marker);
	});
	
	// google.maps.event.trigger(marker,"click"); 

	// Original Code example
	
	// var infowindow = new google.maps.InfoWindow({
	//     content: contentString
	// });
	// 
	// var marker = new google.maps.Marker({
	//     position: myLatlng,
	//     map: map,
	//     title:"Uluru (Ayers Rock)"
	// });
	// 
	// google.maps.event.addListener(marker, 'click', function() {
	//   infowindow.open(map,marker);
	// });
    
			
});
</script>

	<div class="page_heading blue_background">
		<h1>Shelter</h1>
	</div>
		
	<div class="page_content">
		<div id="address_info" style="float:left; width: 49%;">
			<h3>Address Info:</h3>
			<ul>
				<li><%=@shelter.name%></li>
				<li><%=@shelter.street%></li>
				<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
			</ul>
		</div>
		<div id="contact_details" style="float:left; width: 49%;padding-bottom: 20px;">
			<h3>Contact Details:</h3>
			<ul>
				<li>Main phone:  <%=@shelter.main_phone%></li>
				<li>Fax phone:  <%=@shelter.fax_phone%></li>
				<li>Email:  <%=@shelter.email %></li>
				<li>Website:  <%=@shelter.website%></li>
				<li>Twitter:  <%=@shelter.twitter%></li>
				<li>Kill shelter:  <%=@shelter.is_kill_shelter%></li>
			</ul>
		</div>
		<div class="clear"></div>
		<div id="map_canvas" style="margin: 0 auto; width: 100%;"></div>
		<div id="map_content">
			<ul>
				<li><h2><%=@shelter.name%></h2></li>
				<li><%=@shelter.street%></li>
				<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%><br /><br /></li>
			</ul>
		</div>
	</div>
	
<% end %>

<%= content_for :sidebar do %>
	<ul>
		<li><%= link_to "Edit shelter details", edit_shelter_path(@shelter)%></li>
	</ul>
	<br />
	<div id="item_list">
		<h2>Top 5 Items Needed <span style="padding-left:10px; font-size: 13px; font-weight:normal;">
			<%= link_to "Edit", edit_shelter_path(@shelter), :remote => true %></span></h2>
		<ol id="items">
			<%= render @shelter.items %>
		</ol>
	</div>
	<div id="shelter_logo" style="padding-top: 30px;">
		<h2>Logo</h2>
		<% if @shelter.logo.file? %>
		  	<%= image_tag @shelter.logo.url(:small) %>
		<% else %>
			<p>No Logo Uploaded</p>
		<% end %>
	</div>
	
<% end %>