<%= title "#{@shelter.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "shelters/shelters", "http://maps.google.com/maps/api/js?sensor=false", :cache => "cache/application/shelters-index" %>
	<script type="text/javascript">
		$(function() {
			Shelters.loadMap(<%=@shelter.lat%>, <%=@shelter.lng%>);
		});
	</script>
<% end %>


<%= content_for :page_content do %>

	<div class="page_heading blue_background">
		
		<% if @shelter.logo.file? %>
			<%= image_tag @shelter.logo.url(:small), :class => "logo" %>
		<% else %>
			<h1>Shelter</h1>
		<% end %>
		<div class="action_links">
			<%= link_to "Edit", edit_shelter_path(@shelter)%>
		</div>
	</div>
		
	<div class="page_content">
		
		<div class="shelter_details">
			<div id="address">
				<h3>Address:</h3>
				<ul>
					<li><%=@shelter.name%></li>
					<li><%=@shelter.street%></li>
					<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
				</ul>
			</div>
			<div id="contact_details" class="shelter_details">
				<h3>Contact Details:</h3>
				<ul>
					<li>Main phone:  <%=@shelter.main_phone%></li>
					<li>Fax phone:  <%=@shelter.fax_phone%></li>
					<li>Email:  <%=@shelter.email %></li>
					<li>Website:  <%=@shelter.website%></li>
					<li>Twitter:  <%=@shelter.twitter%></li>
					<li>Facebook Page:  <%=@shelter.facebook %></li>
					<li>Kill shelter:  <%=@shelter.is_kill_shelter%></li>
				</ul>
			</div>
		</div>
		
		<div id="map_canvas"></div>
		<div id="map_content">
			<ul>
				<li><h2><%=@shelter.name%></h2></li>
				<li><%=@shelter.street%></li>
				<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%><br /><br /></li>
			</ul>
		</div>
	</div>
	
<% end %>

<%= content_for :sidebar do %>
	
	<div id="item_list">
		<h2>Top 5 Items Needed <span class="action_links">
			<%= link_to "Edit", edit_shelter_path(@shelter), :remote => true %></span></h2>
		<ol id="items">
			<% unless @shelter.items.blank? %>
				<%= render @shelter.items %>
			<% else %>
				<p>Please enter the items you need the most</p>
			<% end %>
		</ol>
	</div>
	
<% end %>