<%= title "#{@shelter.name}" %>

<%= content_for :javascripts do %>
	<%# javascript_include_tag "app/shelters", "http://maps.google.com/maps/api/js?sensor=false", :cache => "cache/app/shelters-index" %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<script type="text/javascript">
		$(function() {
			Shelters.initialize(<%=@shelter.lat%>, <%=@shelter.lng%>, "<%=s3_expiring_url('assets/images/logo_small.png')%>");
		});
	</script>
<% end %>


<%= content_for :page_content do %>

	<div class="page_heading blue">
		
		<% if @shelter.logo.file? %>
			<div class="logo">
				<%= image_tag @shelter.logo.url(:small) %>
			</div>
		<% else %>
			<h1>Shelter</h1>
		<% end %>
		<div class="action_links">
			<% if can?(:update, Shelter) %>
			<%= link_to "Edit your shelter", edit_shelter_path(@shelter)%>
			<% end %>
		</div>
	</div>
		
	<div class="page_content">
		
		<div class="shelter_details">
			<div id="address">
				<h3>Address:</h3>
				<ul>
					<li><%= @shelter.name %></li>
					<li><%= @shelter.street %></li>
					<% unless @shelter.street_2.blank? %>
						<li><%= @shelter.street_2 %></li>
					<% end %>
					<li><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip_code %></li>
				</ul>
				<% if @shelter.is_kill_shelter %>
					<div class="shelter_type kill">Kill Shelter</div>
				<% else %>
					<div class="shelter_type no_kill">No Kill Shelter</div>
				<% end %>
			</div>
			<div id="contact_details">
				<h3>Contact Details:</h3>
				<ul>
					<li>Phone:  <%= number_to_phone(@shelter.phone, :delimiter => "-") %></li>
					
					<% unless @shelter.fax.blank? %>
						<li>Fax:  <%= number_to_phone(@shelter.fax, :delimiter => "-") %></li>
					<% end %>
					
					<li>Email:  <%= @shelter.email %></li>
				</ul>
				
				<h3>Website Details:</h3>
				<ul>
					<% unless @shelter.website.blank? %>
						<li>Website:  <a href="<%= @shelter.website %>" target="_blank"><%= @shelter.website %></a></li>
					<% end %>
					
					<% unless @shelter.twitter.blank? %>
						<li>Twitter:  <a href="<%= @shelter.twitter %>" target="_blank"><%= @shelter.twitter %></a></li>
					<% end %>
					
					<% unless @shelter.facebook.blank? %>
						<li>Facebook Page:  <a href="<%= @shelter.facebook %>" target="_blank"><%= @shelter.facebook %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		
		<div id="map_canvas"></div>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>
	
	<div id="items_section">
		<h2>Wish List 
			<% if can?(:update, Shelter) %>
				<span class="actions"><%= link_to "Edit", edit_shelter_path(@shelter), :remote => true, :id => "edit_wish_list" %></span>
			<% end %>
		</h2>
		<p>List below the 5 items most needed as donations to your facility. This list will be displayed on the Shelter Exchange website so please keep this list up to date!</p>
		<% unless @shelter.items.blank? %>
		<ol id="items">
			<%= render @shelter.items %>
		</ol>
		<% end %>
	</div>
	
<% end %>