<%= javascripts "shelters/shelters" %>

<% content_for :page_content do %>

	<div class="page_heading">
		<h1>Shelter details</h1>
	</div>	
		
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="links right">
					<%= link_to "Create new animal", new_animal_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Edit", edit_animal_path(@animal)%>&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Delete", @animal, :confirm => "Are you sure?", :method => :delete %>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= format_breed(@animal.is_mix_breed, @animal.primary_breed, @animal.secondary_breed) %></p>
				</td>
				<td class="right">
					<p><%= @animal.animal_status.name %></p>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="page_content">
		
		<%= render :partial => "global/flash_messages" %>
		 
		<table class="animal_details">
			<tr>
				<td class="image"><%= image_tag @animal.photo.url(:medium) %></td>
				<td class="metadata">
					<h3>Details:</h3>
					<ul class="first">
						<% unless @animal.weight.blank? %><li><p><b>Weight:</b> <%= @animal.weight %></li><% end %>
						<% unless @animal.age.blank? %><li><p><b>Age:</b> <%= @animal.age %></li><% end %>
						<% unless @animal.chip_id.blank? %><li><p><b>MChip:</b> <%= @animal.chip_id %></p></li><% end %>
						
					</ul>
					<ul>
						<% unless @animal.color.blank? %><li><p><b>Color:</b> <%= @animal.color %></p></li><% end %>
						<% unless @animal.sex.blank? %><li><p><b>Sex:</b> <%= @animal.sex %> <% if @animal.is_sterilized %>(Sterilized)<% end %></p></li><% end %>
					</ul>
					<div class="description">
						<% unless @animal.description.blank? %><h3>Description:</h3><p><%= @animal.description %></p><% end %>
					</div>
				</td>
			</tr>
		</table>

		
	</div>
	
	<div class="note_filters yellow_background">
		<h2>Notes</h2>
		<div class="links">
			<%= link_to 'All', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "All" }, :method => :get, :remote => true, :id => "all_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'General', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "General" }, :method => :get, :remote => true, :id => "general_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'Medical', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "Medical" }, :method => :get, :remote => true, :id => "medical_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'Behavior', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "Behavior" }, :method => :get, :remote => true, :id => "behavior_notes_link" %>
		</div>
	</div>
	
	<div id="notes" class="page_content">
		<%= render @animal.notes %>
	</div>
	
<% end %>

<% content_for :sidebar do %>
	<%= link_to "New Shelter", new_shelter_path %>
<% end %>