<div id="<%= "animal_#{animal.id}" %>" class="animal">
	<a href="<%=public_save_a_life_path(animal)%>" target="_blank">
		<div class="logo"><%= image_tag(polymorphic_photo_url(animal.photos.first, :small), :alt => "#{animal.name} - #{animal.full_breed}") %></div>
		<h3><%= animal.name %></h3>
		<ul>
			<li><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex.humanize %> <% end %> <% if animal.is_sterilized %>(Sterilized)<% end %></li>
			<li><%= animal.full_breed %></li>
			<% if animal.shelter.kill_shelter? %>
				<li class="euthanisia_date"><%= days_left(animal.euthanasia_date) %></li>
			<% end %>
		</ul>
	</a>
</div>
