<%= title "Help a shelter" %>
<%= description "" %>
<%= keywords "" %>

<%= content_for :javascripts do %>

<% end %>

<%= content_for :page_content do %>


	<h1>testing</h1>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>