<%= title "Help a Shelter - Support the community" %>
<%= description "Ways to help your local animal shelter or rescue group includes volunteer, adopt, foster and donate.  Also, search to find animals available for adoption." %>
<%= keywords "Ways to help a animal shelter, how to help a animals shelter, volunteer at animal shelter, donate to animal shelter, donate items to a animal shelter, donate food to animal shelter, adopt animals from a shelter, foster an animal, how to foster a animal, temporary foster home, search for animals, find an animal, find a pet" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "http://www.google.com/jsapi" %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<script type="text/javascript">
		$(function() {
			HelpAShelter.initialize(38.6,-98,"<%=s3_url('maps/overlay.kmz', true)%>");
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<%= render :partial => "shared/flash_messages" %>

	<div class="search_content">
		<span class="search_form">
			<form action="#" id="form_city_zipcode_search">
			    <%= text_field_tag :city_zipcode, "", :placeholder => "Please type a city, state or zipcode" %>
				<%= hidden_field_tag "filters[sw]" %>
				<%= hidden_field_tag "filters[ne]" %>
			</form>
			<ul class="toggle_buttons">
				<li><a href="#" class="current">By City or Zip code</a></li>
				<li><%= link_to "By Shelter or Rescue Group", search_by_shelter_or_rescue_group_public_help_a_shelter_index_path %></li>
			</ul>
		</span>
		<span class="helper_links">
			<ul class="toggle_buttons">
				<li><a href="#help_text">?</a></li>
			</ul>
		</span>
	</div>

	<div class="map_separator"></div>

	<div id="help_text" class="section_heading no_borders blue">
		<h3>Help</h3>
		<p>Type the city, state or zip code to find a shelter or rescue group, or drag your cursor over the interactive map to find a specific area. Zoom in and out using the + and – buttons. Your results will appear below the map, click on the box to view the details.</p>
	</div>

	<div class="map">
		<div id="map_canvas"></div>
		<div class="ways_to_help">
			<h2>Ways to help!
				<span class="social">
					<span class="facebook"><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></span>
				</span>
			</h2>

			<h4>Volunteer</h4>
			<p>Shelters rely on the support of volunteers to help with the care of their animals. Find an organization you wish to support from the list below and click to view their page. Find out how you can volunteer and support their efforts.</p>

			<h4>Donate items</h4>
			<p>Shelters always need items for their animals such as food, treats, blankets and toys. Find the group below you wish to support and click to view their Wish list to see which items they need the most.</p>

			<h4>Adopt</h4>
			<p>Animals at your local shelter need your help! View a list of adoptable animals by clicking the Save a Life tab above. Search by a specific shelter name or use the interactive map to find animals close by.</p>

			<h4>Foster</h4>
			<p>Many animals need temporary foster homes because there is a lack of space at the shelter. Consider opening your home to an animal in need for a few weeks, the experience is very rewarding.</p>
		</div>
	</div>

	<div id="shelters"></div>

<% end %>

<%= content_for :sidebar do %>
<% end %>
