<%= title "Help a Shelter - Support the community" %>
<%= description "Search your local shelters and rescue groups for animals available for adoption." %>
<%= keywords "Adopt animals, save animals, animal adoptions, animals in need, adopt a pet, adopt a dog, Cat, bird, kitten, puppy, horse, pony, hamster, guinia pig, rabbit, reptile, mouse, rat, snake, breeds, types, location of shelter or rescue group" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<script type="text/javascript">
		$(function() {
			HelpAShelter.initialize(38.6,-98,"<%=s3_url('maps/overlay.kmz')%>","<%=s3_url('images/logo_small.png')%>");
		});
	</script>
<% end %>

<%= content_for :page_content do %>


	<div class="search_content">
		<span class="search_form">
			<form action="#" id="form_city_zipcode_search">
			    <%= text_field_tag :city_zipcode, "", :placeholder => "Please type a city or zipcode" %> 
				<%= hidden_field_tag "filters[sw]" %>
				<%= hidden_field_tag "filters[ne]" %>
			</form>
			<ul class="toggle_buttons">
				<li><a id="search_by_city_zipcode" href="#" class="current">City or Zip code</a></li>
			</ul>
		</span>
		<span class="helper_links">
			<ul class="toggle_buttons">
				<li><a href="#help_text">?</a></li>
			</ul>
		</span>
	</div>
	
	<div class="map_separator"></div>
		
	<div id="help_text" class="section_heading no_borders blue">
		<h3>Help</h3>
		<p>Use the interactive map below to find a shelter or rescue group in your area.
		Drag your cursor over the map to find the area you wish to search in, zoom in and out using the + and – buttons. 
		A list of shelters and rescue groups will be shown below the map, click on the boxes to view their full details.</p>
	</div>
	
	<div class="map">	
		<div id="map_canvas"></div>
		<div class="ways_to_help">
			<h2>Ways to help!</h2>
			
			<h4>Volunteer</h4> 
			<p>Shelters rely on the support of volunteers to help with the care of their animals. Find an organization you wish to support from the list below and click to view their page. Find out how you can volunteer and support their efforts.</p>
			
			<h4>Donate items</h4> 
			<p>Shelters always need items for their animals such as food, treats, blankets and toys. Find the group below you wish to support and click to view their Wish list to see which items they need the most.</p>
			
			<h4>Adopt</h4> 
			<p>Animals at your local shelter need your help! View a list of adoptable animals by clicking the Save a Life tab above. Search by a specific shelter name or use the interactive map to find animals close by.</p>
			
			<h4>Foster</h4> 
			<p>Many animals need temporary foster homes because there is a lack of space at the shelter. Consider opening your home to an animal in need for a few weeks, the experience is very rewarding.</p>
		</div>
	</div>
	
	<div id="shelters"></div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>