<%= title "Search by Shelter or Rescue Group - Help a Shelter" %>
<%= description "Search to find your local animal shelter or rescue group and discover the ways you can help." %>
<%= keywords "Ways to help a animal shelter, how to help a animals shelter, volunteer at animal shelter, donate to animal shelter, donate items to a animal shelter, donate food to animal shelter, adopt animals from a shelter, foster an animal, how to foster a animal, temporary foster home, search for animals, find an animal, find a pet" %>

<%= content_for :javascripts do %>

<% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "shared/flash_messages" %>
	
	<div class="search_content">
		<span class="search_form">
			<%= form_for :shelters, :url => { :action => :search_by_shelter_or_rescue_group }, :remote => true, :html => { :id => "form_search", :method => :get } do |f| %>
				<span><%= text_field_tag "q", "", :placeholder => "Please type a shelter or rescue group name" %> </span>
				<span><%= f.select :state, US_STATES.map {|k,v| [ v, k ] }, {:prompt => "All States"}  %></span>
				<span><%= f.submit "Go", :disable_with => '...' %></span>
			<% end %>
			<ul class="toggle_buttons">
				<li><%= link_to "By City or Zip code", public_help_a_shelter_index_path %></li>
				<li><a href="#" class="current">By Shelter or Rescue Group</a></li>
			</ul>
		</span>
		<span class="helper_links">
			<ul class="toggle_buttons">
				<li><a href="#help_text">?</a></li>
			</ul>
		</span>
	</div>
		
	<div id="help_text" class="section_heading no_borders blue">
		<h3>Help</h3>
		<p>Type the name of the shelter or rescue group and filter by picking the State from the drop down if you know it. Your results will be shown below, click on the box to view their full details.</p>
	</div>
	
	<div id="shelters">
		<div class="shelter_list">
			<span class="help_text">Search to find a shelter or rescue group near you.<span class="social">
				<span><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></span>
			</span></span>
			
		</div>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>