<%= title "Search - Help a Shelter - Support the community" %>
<%= description "Ways to help your local animal shelter or rescue group includes volunteer, adopt, foster and donate.  Also, search to find animals available for adoption." %>
<%= keywords "Ways to help a animal shelter, how to help a animals shelter, volunteer at animal shelter, donate to animal shelter, donate items to a animal shelter, donate food to animal shelter, adopt animals from a shelter, foster an animal, how to foster a animal, temporary foster home, search for animals, find an animal, find a pet" %>

<%= content_for :javascripts do %>

<% end %>

<%= content_for :page_content do %>

	<!-- <h1>Search by Shelter
		<span class="social">
			<span><div class="fb-like" data-send="false" data-layout="button_count"data-show-faces="false"></div></span>
		</span>
	</h1> -->
	
	<%= render :partial => "shared/flash_messages" %>
	
	<div class="search_content">
		<span class="search_form">
			<%= form_for :shelters, :url => { :action => :search_by_name }, :remote => true, :html => { :id => "form_search", :method => :get } do |f| %>
				<span><%= text_field_tag "q", "", :class => "field text medium", :placeholder => "Please type a shelter or rescue group name" %> </span>
				<span><%= f.select :state, US_STATES.map {|k,v| [ v, k ] }, {:prompt => "All States"}, {:class => "field select addr" }  %></span>
				<span><%= f.submit "Go", :disable_with => '...' %></span>
			<% end %>
			<ul class="toggle_buttons">
				<li><%= link_to "By City or Zip code", public_help_a_shelter_index_path %></li>
				<li><a href="#" class="current">By Shelter or Rescue Group</a></li>
			</ul>
		</span>
		<span class="helper_links">
			<ul class="toggle_buttons">
				<li><a href="#help_text">?</a></li>
			</ul>
		</span>
	</div>
		
	<div id="help_text" class="section_heading no_borders blue">
		<h3>Help</h3>
		<p>Use the interactive map below to find a shelter or rescue group in your area.
		Drag your cursor over the map to find the area you wish to search in, zoom in and out using the + and – buttons. 
		A list of shelters and rescue groups will be shown below the map, click on the boxes to view their full details.</p>
	</div>
	
	<div id="shelters">
		<div class="shelter_list">
			<span style="font-size: 28px;line-height: 200px;font-weight: bold; color:#cf7019; letter-spacing: -1px; padding-bottom: 10px; -moz-text-shadow: 0px 2px 3px #fff; -webkit-text-shadow: 0px 2px 3px #fff;text-shadow: 0px 2px 3px #fff;">Please search by shelter or rescue group name</span>
		</div>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>