<%= title "#{@shelter.name} | #{@shelter.city}, #{@shelter.state}" %>

<%= description "#{@shelter.name}, located in #{@shelter.city}, #{US_STATES[@shelter.state.to_sym]}, needs help by adopting an animal or donating items most needed at this shelter or rescue group." %>

<%= keywords "#{@shelter.name}, #{@shelter.city}, #{@shelter.state}, #{US_STATES[@shelter.state.to_sym]}, #{@shelter.name} in #{@shelter.city}, #{@shelter.name} in #{@shelter.state},  find a animal shelter, find a rescue group, shelters, rescue groups, wish list, help a shelter, help a rescue group, adoptable animals, available for adoption" %>

<%= open_graph_image image_path(@shelter.logo.url) %>

<%= content_for :open_graph_meta do %>
<!-- CURRENTLY NOT USING -->
    <meta property="og:latitude" content="<%= @shelter.lat %>"/>
    <meta property="og:longitude" content="<%= @shelter.lng %>"/>
    <meta property="og:street-address" content="<%= @shelter.street %>"/>
    <meta property="og:locality" content="<%= @shelter.city %>"/>
    <meta property="og:region" content="<%= @shelter.state %>"/>
    <meta property="og:postal-code" content="<%= @shelter.zip_code %>"for/>
    <meta property="og:country-name" content="USA"/>
    <meta property="og:email" content="<%= @shelter.email %>"/>
    <meta property="og:phone_number" content="<%= number_to_phone(@shelter.phone, :delimiter => "-") %>"/>
<% end %>


<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			HelpAShelter.filterInitialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div id="shelter_details" itemscope itemtype="http://schema.org/AnimalShelter">
		<div class="logo">
			<%= image_tag @shelter.logo.url(:thumb), :alt => "#{@shelter.name} Logo", :itemprop => "image" %>
			<div class="social">
				<span class="facebook">
					<div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
				</span>
				<span class="twitter">
					<a href="//twitter.com/share" class="twitter-share-button" data-via="shelterexchange" data-related="<%=@shelter.twitter.slice(1..-1) if @shelter.twitter %>">Tweet</a>
				</span>
				<span class="pinterest">
					<a href="//pinterest.com/pin/create/button/?url=<%=request.url %>&media=<%=@shelter.logo.url%>&description=<%=pinterest_shelter_description(@shelter)%>" class="pin-it-button" count-layout="horizontal">Pin It</a>
				</span>
			</div>
		</div>

		<div class="address_info">
			<h2 itemprop="name"><%=@shelter.name%></h2>

			<ul id="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<li itemprop="streetAddress"><%=@shelter.street %></li>
				<% unless @shelter.street_2.blank? %>
				<li><%=@shelter.street_2 %></li>
				<% end %>
				<li>
					<span itemprop="addressLocality"><%=@shelter.city%></span>,
					<span itemprop="addressRegion"><%=@shelter.state%></span>  <span itemprop="postalCode"><%=@shelter.zip_code%></span>
				</li>
			</ul>
			<br />
			<ul id="contact_info">
				<li>Phone: <span itemprop="telephone"><%=number_to_phone(@shelter.phone, :delimiter => "-")%></span></li>
				<li class="action_links">
					<span><%= link_to "Email Us", "mailto:#{@shelter.email}?subject=From Shelter Exchange", :itemprop => "email" %>|</span>
					<% unless @shelter.website.blank? %>
						<span><%= link_to "Visit Website", @shelter.website, :target => "_blank" %>|</span>
					<% end %>
					<span class="get_directions_link">
						<a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address(@shelter)%>&hl=en"
						   target="_blank"
						   itemprop="maps">Get Directions</a>
					</span>
				</li>
				<% unless @shelter.twitter.blank? and @shelter.facebook.blank? %>
				<li class="action_links">
					<% unless @shelter.twitter.blank? %>
						<span><%= link_to "Follow #{@shelter.twitter}", "http://twitter.com/#!/#{@shelter.twitter.slice(1..-1)}", :target => "_blank" %>|</span>
					<% end %>
					<% unless @shelter.facebook.blank? %>
						<span><%= link_to "Facebook Page", @shelter.facebook, :target => "_blank" %></span>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>

		<div class="wish_list">
			<h2>Our wish list</h2>
			<% if @item_names.blank? %>
				<p>Shelter has not provided a wish list</p>
			<% else %>
				<ol id="items">
					<% @item_names.each do |name| %>
						<li><%= name %></li>
					<% end %>
				</ol>
			<% end %>
		</div>

	</div>

	<div class="search_content">
		<span class="helper_links">
			<ul class="toggle_buttons">
				<li><a href="#narrow_search_results">Narrow your search results</a></li>
			</ul>
			<ul class="toggle_buttons">
				<li><a href="#help_text">?</a></li>
			</ul>
		</span>
	</div>

	<div class="map_separator"></div>

	<div id="help_text" class="section_heading no_borders blue">
		<h3>Help</h3>
		<p>Click 'Narrow your search results' to easily filter animals by their type, breed, sex and to view animals scheduled for euthanasia or with special needs.</p>
	</div>

	<div id="narrow_search_results" class="section_heading no_borders blue">
		<%= render "form_filters" %>
	</div>

	<div id="animals"></div>


<% end %>

<%= content_for :sidebar do %>


<% end %>

