<!DOCTYPE html>
<html>
<head>
	
  	<!-- title -->
	<title><%= yield(:title) %> | Shelter Exchange</title>
  
	<!-- stylesheets -->
 	<%= include_stylesheets :api, :media => "all" %>
	
	<!-- javascripts -->
	<%= include_javascripts :api %>
	<%= yield(:javascripts) %>
	
		
	<%= csrf_meta_tag %>

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">

	<div id="main">
		
		<div id="content">
			<% if content_for?(:page_content) %>
			  	<%= yield(:page_content) %>
			<% end %>
		</div>
		<!--//end screen -->
			
		<%= render :partial => "shared/footer" %>	
		
	</div>
	<!--//end main -->
	
</body>

</html>
