<footer>
	<div class="content">
		<%= link_to "Donate Now", "/donate", :class=> "button" %>
		<div class="column col_1">
			<h4>Connect with us</h4>
			<%= link_to image_tag("public/social/facebook.png", :width => "64", :height => "64"), 
						"http://facebook.com/shelterexchange", 
						:target => "_blank" %>
			<%= link_to image_tag("public/social/twitter.png", :width => "64", :height => "64"), 
						"http://twitter.com/shelterexchange", 
						:target => "_blank" %>
			<%= link_to image_tag("public/social/wordpress.png", :width => "64", :height => "64"), 
						"http://blog.shelterexchange.org", 
						:target => "_blank" %>
		</div>
		<div class="column col_2">
			<h5>Learn</h5>
			<ul>
				<li><a href="/about_us/mission">Mission</a></li>
				<li><a href="/why_shelter_exchange/faqs">FAQs</a></li>
				<li><a href="/why_shelter_exchange/problems_and_solutions">Problems and Solutions</a></li>
			</ul>
		</div>
		<div class="column col_3">
			<h5>Get Involved</h5>
			<ul>
				<li><a href="/get_involved/donors_and_sponsors">Donors and Sponsors</a></li>
				<li><a href="/get_involved/fundraise">Fundraise</a></li>
				<li><a href="/get_involved/volunteer">Volunteer</a></li>
			</ul>
		</div>
		<div class="column col_4">
			<h5>Shelter & Rescue Resources</h5>
			<ul>
				<li><a href="/get_involved/shelters_and_rescues">Learn about the application</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
		<div class="copyright">&copy;<%=current_year%> Shelter Exchange, Inc, 501(c)(3) Non-Profit Organization, All dontation are 100% tax deducible. All Rights Reserved.</div>
	</div>
</footer>