<header>
	<nav role="navigation">
		<div class="content">
			<ul class="menu">
				<li class="<%=selected_navigation(:about_us)%>"><a href="/about_us">About us</a></li>
        <li class="<%=selected_navigation(:shelters_and_rescues)%>"><a href="/shelters_and_rescues">Shelters and Rescues</a></li>
			</ul>
			<ul class="side_menu">
				<li class="save_a_life <%=selected_navigation(:save_a_life)%>"><a href="/save_a_life">Adopt</a></li>
				<li class="help_a_shelter <%=selected_navigation(:help_a_shelter)%>"><a href="/help_a_shelter">Find a shelter</a></li>
			</ul>
		</div>
	</nav>
	<div id="banner" class="content">
		<% if !Rails.env.production? %>
		<div class="rails_env left">
			<%= Rails.env.humanize %> Server
		</div>
		<% end %>
		<div class="logo">
			<%= link_to image_tag("public/logo-shelterexchange.png", :alt => "Shelter Exchange Logo"), "/" %>
		</div>
	</div>
</header>
