<header>
	<nav role="navigation sitemap">
		<ul class="content">
			<li class="<%=selected_navigation(:about_us)%>"><a href="/about_us">About us</a></li>
			<li class="<%=selected_navigation(:why_shelter_exchange)%>"><a href="/why_shelter_exchange">Why Shelter Exchange?</a></li>
			<li class="<%=selected_navigation(:get_involved)%>"><a href="/get_involved">Get involved</a></li>
			<!-- <li class="<%=selected_navigation(:blog)%>"><a href="/blog">Blog</a></li> -->
			<li class="<%=selected_navigation(:contact_us)%>"><a href="/contact_us">Contact us</a></li>
			<li class="<%=selected_navigation(:donate)%>"><a href="/donate">Donate Now</a></li>
		</ul>
	</nav>

	<hgroup role="banner">
		<div class="content logo">
			<%= link_to image_tag("public/logo-shelterexchange.png"), "/" %>
		</div>
	</hgroup>
</header>