<!-- title -->
<title><%= yield(:title) %> | Shelter Exchange</title>

<!-- metatags -->
<meta charset="utf-8" />
<meta name="language" content="en"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<meta name="robots" content="<%= Rails.env.production? ? "index,follow,archive" : "noindex,nofollow,noarchive" %>" />

<meta name="description" content="<%= yield(:description) %>">
<meta name="keywords" content="<%= yield(:keywords) %>">

<!-- open graph -->
<link rel="profile" href="http://gmpg.org/xfn/11" />
<meta property="fb:page_id" content="161458683884663" />
<meta property="og:site_name" content = "Shelter Exchange"/>
<meta property="og:url" content="http://www.shelterexchange.org/"/>
<meta property="og:title" content="<%= yield(:title) %> | Shelter Exchange"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="<%=full_url%>/shelterexchange_icon.png"/>
<meta property="og:location" content="Raleigh, NC"/>
<meta property="og:description" content="<%= yield(:description) %>"/>

<!-- icons -->
<%= favicon_link_tag 'favicon.ico' %>
<%= favicon_link_tag 'shelterexchange_icon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>


