<%= title "FAQs" %>
<%= description "Providing a deeper understanding of our application and how we plan to provide this service to shelters and rescue groups." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, bsl, breed specific laws, behavioral issues, owner surrender, abandoned animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>FAQs</h1>
	
	<p>Below are some questions and answers we have prepared to navigate you through our organization, and to provide a deeper understanding of our application and how we plan to provide this service to shelters and rescue groups.</p>
	
	<!-- <div class="separator"></div> -->

	<ul class="list">
		<li>
			<span>1</span>
			<h3>How much will it cost?</h3>
			<p>The Shelter Exchange application is free of charge. Our application has been developed specifically for the animal welfare community to reduce the number of animals that will be euthanized. We chose to form Shelter Exchange as a 501c3 non-profit organization so we can support the cost through fundraising, donations and sponsorships. </p>
		</li>
		<li>
			<span>2</span>
			<h3>Who can use the Shelter Exchange application?</h3>
			<p>We have designed the application for animal rescue groups and all types of shelters (both those with a kill policy and those with a no kill policy.) We need all shelters and rescue groups to be connected together so rescue groups can pull animals from shelters that may be at risk of euthanasia.</p>
		</li>
		<li>
			<span>3</span>
			<h3>Who cannot use the application?</h3>
			<p>Breeders are excluded; and the general public cannot use the application. This is designed specifically for shelters and rescues. We understand there may be certain exceptions for individuals heavily involved with animal welfare or rescue; these will be reviewed on an individual basis as they arise.</p>
		</li>
		<li>
			<span>4</span>
			<h3>What do you mean when you say 'application'?</h3>
			<p>By application we mean the software that stores information about animals in shelters and rescue facilities on secure servers and is accessed online with a log in. All shelters and rescues that use the Shelter Exchange application can then view the data, submit requests to transfer animals from kill shelters to rescue facilities. All data is highly secure and password protected.</p>
		</li>
		<li>
			<span>5</span>
			<h3>I am a rescue but we do not have a 501(c)(3) status, can I still use the application?</h3>
			<p>Yes, but there may be a few additional questions and information required from you. We are very careful not to allow unscrupulous individuals or groups to have access to this information. The information contained in Shelter Exchange is designed specifically for shelters and rescue groups.</p>
		</li>
		<li>
			<span>6</span>
			<h3>I am a shelter/rescue, how do I get started?</h3>
			<p>Go to the following link to <a href="/signup">sign up</a></p>
			<p>You will need to fill out the sign up form and provide one of the following:</p>
			<ul>
				<li>Proof of your 501(c)(3) determination letter</li>
				<li>A 990 tax form </li>
				<li>Your current adoption policy</li>
			</ul>
		</li>
		<li>
			<span>7</span>
			<h3>Why do you provide this application to kill shelters?</h3>

			<p>Without kill shelters using the application, we would not have the information we need about animals scheduled for euthanasia. This is a collaborative effort of people working together with the best interests of the animals and to save more lives. This effort must include kill and no kill shelters, animal rescue groups and the general public.</p>
		</li>
		<!-- <li>
			<span>8</span>
			<h3>How can I adopt an animal?</h3>
			<p>Click here to view animals available for adoption in your local area. Search by map, city, zip code or by the name of a specific shelter or rescue group. If you know the type of animal you are looking for, you can narrow your results by the type, breed and sex; you can also see the animals that are scheduled for euthanasia. Once you find the animal you would like to adopt, please contact the shelter or rescue directly to make arrangements to meet the animal. Shelter Exchange provides the information, but we do not actually house the animals, they are kept at the shelters and rescues that list them.</p>
		</li> -->
		<!-- <li>
			<span>8</span>
			<h3>We have provided a Wish List feature for each shelter and rescue. They can list their top 5 most needed items and this is displayed on our website on the Help a Shelter tab. Animal food, blankets, towels, medications and cat litter are normally among the items most needed. Shelters and rescues always need hands on volunteers to assist caring for the animals, or to help at adoption events. Visit their website to sign up as a volunteer.</p>
		</li> -->
		<li>
			<span>8</span>
			<h3> How can I help Shelter Exchange with their mission?</h3>

			<p>Our role is to fund the application for shelters and rescues and ensure it remains free of charge. Every month we require financial donations to continue these efforts and to allow more shelters and rescues to sign up. If you would like to help, <a href="/donate">please consider donating to our cause</a></p>
		</li>
	</ul>

	


	

	
	
<% end %>

<%= content_for :sidebar do %><% end %>