<%= title "FAQs" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>FAQs</h1>
	

	
	
<% end %>

<%= content_for :sidebar do %><% end %>