<%= title "FAQs" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>FAQs</h1>

	<ul class="list">
		<li>
			<span>1</span>
			<h3>Who can use the Shelter Exchange application?</h3>
			<p>We have designed the application for animal rescue groups and shelters. We are not limiting this to shelters with a no kill policy; all shelters are encouraged to use the application. We need all shelters and rescue groups to be connected together so rescue groups can pull animals from shelters that may be at risk of euthanasia.</p>
		</li>
		<li>
			<span>2</span>
			<h3>Who cannot use the application?</h3>

			<p>Breeders are excluded; and the general public cannot use the application. This is designed specifically for shelters and rescues. We understand there may be certain exceptions for individuals heavily involved with animal welfare or rescue; these will have to be reviewed as they arise. </p>
		</li>
		<li>
			<span>3</span>
			<h3>What do you mean when you say 'application'?</h3>

			<p>We have designed an online software application that stores data of animals in shelters and rescue facilities on secure servers. Other shelters and rescues that use the Shelter Exchange application can then view the data, request to transfer animals from kill shelters to rescue facilities and to assist saving animals scheduled for euthanasia. All data is highly secure and password protected.</p>
		</li>
		<li>
			<span>4</span>
			<h3>I am a rescue but we do not have a 501c3 status, can I still use the application?</h3>

			<p>Yes, but please note there may be a few more questions we ask from you, or additional information may need to be provided to us. We are being very careful to not allow unscrupulous individuals or groups to have access to this information. The information contained in Shelter Exchange is designed specifically for shelters and rescue groups.</p>
		</li>
		<li>
			<span>5</span>
			<h3>How much will it cost?</h3>

			<p>The application is free of charge. Our application has been developed specifically for the animal welfare community to reduce the number of animals that will be euthanized. We chose to form Shelter Exchange as a 501c3 non-profit organization so we can support the cost through fundraising, donations and sponsorships. </p>
		</li>
		<li>
			<span>6</span>
			<h3>I am a shelter/rescue, how do I get started?</h3>

			<p>Go to the following link to sign up  (link)
		You will need to fill out the sign up form and provide proof of your 501c3 determination letter, a 990 tax form or your current adoption policy.</p>
		</li>
		<li>
			<span>7</span>
			<h3>Why do you provide this application to kill shelters?</h3>

			<p>If we chose not to allow kill shelters to use the application we would not have the information of animals that are scheduled for euthanasia. This is a collaborative effort of people working together with the best interests of the animals and to save more lives. This effort has to include kill and no kill shelters, supporting rescue groups and the general public.</p>
		</li>
		<li>
			<span>8</span>
			<h3>How can I adopt an animal?</h3>

			<p>Click here to view adoptable animals in your local area (link)
		You can search using the map by a city or zip code, or by a specific shelter or rescue group. If you know the type of animal you are looking for, you can narrow your results by the type, breed and sex; you can also see the animals that are scheduled for euthanasia. Once you find the animal you would like to adopt, please contact the shelter or rescue directly to make arrangements to meet the animal. Shelter Exchange provides the information, but we do not actually house the animals, they are kept at the shelters and rescues that list them.</p>
		</li>
		<li>
			<span>9</span>
			<h3>I cannot adopt an animal right now, how can I help a shelter in other ways?</h3>

			<p>We have provided a Wish List feature for each shelter and rescue. They can list their top 5 most needed items and this is displayed on our website on the Help a Shelter tab. Animal food, blankets, towels, medications and cat litter are normally among the items most needed. Shelters and rescues always need hands on volunteers to assist caring for the animals, or to help at adoption events, visit their website to sign up and volunteer.</p>
		</li>
		<li>
			<span>10</span>
			<h3> How can I help Shelter Exchange with their mission?</h3>

			<p>Our role is to fund the application for shelters and rescues and to preserve the cost being free of charge. Every month we will need financial donations to continue these efforts and to allow more shelters and rescues to sign up. If you would like to help, please consider donating to our cause – (Donate button.)</p>
		</li>
	</ul>

	


	

	
	
<% end %>

<%= content_for :sidebar do %><% end %>