<%= title "Dashboard" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Latest Activity</h1>
	</div>

	<div class="page_content">

		<div id="activities" class="activity_list">
			<% unless @latest_activity.blank? %>
				<% @latest_activity.each do |activity| %>
          <div class="activity" id="<%=dom_id(activity)%>">
						<span class="type">
							<%= image_tag "icon_#{activity.class.name.downcase}.png", :class =>"tooltip", "data-tip" => activity.class.name %>
						</span>
						<span class="details">
							<span class="title"><%= activity_message_for(activity)  %></span>
						</span>
						<span class="created_at_date"><%= format_date_for(activity.updated_at, :short_full_year) %></span>
					</div>
				<% end %>
			<% else %>
				<div class="no activity">
					<span class="details">
						<span class="title">No current activity</span>
					</span>
				</div>

				<div class="getting_started">
					<h2>Getting Started</h2>
					<p>If your questions are not answered through the help link, please <%= link_to "start a discussion", "http://help.shelterexchange.org/help/discussion/new", :target => "_new" %> so that the community can benefit from the Q&A and our team will respond.</p>
					<ol>
						<li><%= link_to "Edit shelter details and create a wish list",
									    "http://help.shelterexchange.org/help/kb/getting-started/edit-shelter-details-and-create-a-wish-list",
										:target => "_new" %></li>
						<li><%= link_to "Upload shelter logo",
						               	"http://help.shelterexchange.org/help/kb/getting-started/upload-shelter-logo",
						               	:target => "_new" %></li>
						<li><%= link_to "Set up your shelter capacity",
										"http://help.shelterexchange.org/help/kb/getting-started/set-up-your-shelter-capacity",
										:target => "_new" %></li>
						<li><%= link_to "Set up accommodations",
										"http://help.shelterexchange.org/help/kb/getting-started/set-up-accommodations",
										:target => "_new" %></li>
						<li><%= link_to "Add your first animal record",
										"http://help.shelterexchange.org/help/kb/getting-started/add-your-first-animal-record",
										:target => "_new" %></li>
					</ol>
				</div>

			<% end %>
		</div>

	</div>
<% end %>

<%= content_for :sidebar do %>
	<% unless @latest_activity.blank? %>
		<div class="getting_started">
			<h2>Getting Started</h2>
			<p>If your questions are not answered through the help link, please <%= link_to "start a discussion", "http://help.shelterexchange.org/help/discussion/new", :target => "_new" %> so that the community can benefit from the Q&A and our team will respond.</p>
			<ol>
				<li><%= link_to "Edit shelter details and create a wish list",
							    "http://help.shelterexchange.org/help/kb/getting-started/edit-shelter-details-and-create-a-wish-list",
								:target => "_new" %></li>
				<li><%= link_to "Upload shelter logo",
				               	"http://help.shelterexchange.org/help/kb/getting-started/upload-shelter-logo",
				               	:target => "_new" %></li>
				<li><%= link_to "Set up your shelter capacity",
								"http://help.shelterexchange.org/help/kb/getting-started/set-up-your-shelter-capacity",
								:target => "_new" %></li>
				<li><%= link_to "Set up accommodations",
								"http://help.shelterexchange.org/help/kb/getting-started/set-up-accommodations",
								:target => "_new" %></li>
				<li><%= link_to "Add your first animal record",
								"http://help.shelterexchange.org/help/kb/getting-started/add-your-first-animal-record",
								:target => "_new" %></li>
			</ol>
		</div>
	<% end %>

	<div class="auto_upload">
		<h2>Auto upload animals</h2>
		<ul>
			<li><%= link_to image_tag("partners/petfinder.png"), setting_path(:tab => :auto_upload) %></li>
			<li><%= link_to image_tag("partners/logo_adopt_a_pet_medium.gif"), setting_path(:tab => :auto_upload) %></li>
		</ul>
	</div>
<% end %>

