<%= title "Dashboard" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Dashboard</h1>
	</div>
	
	<div class="page_content">
		
		<h2>Transfer Requests</h2>
		<div id="transfers">
			<%= render "transfers/transfer_list", :transfers => @transfers %>
		</div>
		
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>

