<%= title "Board of Directors" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>
	<h1>Board of Directors</h1>

	<!-- board_member -->
	<div class="board_member first">
		<h2>Claire Bokor</h2>
	
		<%= image_tag("public/board_members/claire_bokor.png", :alt => "Claire Bokor", :width => "250", :height =>"167") %>
	
		<p>Claire is the founder and President of Shelter Exchange in Raleigh, NC. She started her career in the UK working for a software development company in marketing; she then transitioned into event management, which brought her the US on a regular basis attending tradeshows all across the country. Claire then moved into a sales role, which she held in the UK, and eventually the role moved her to the US on a permanent basis. Claire has a strong business background and a diverse understanding of various aspects that have helped prepare her for the role of overseeing Shelter Exchange and executing the mission.</p>

		<p>Claire is married to Brian Bokor and lives with her two dogs, Abbey and Ruby. Both were rescued as puppies from shelters and Ruby was part of Claire’s first ever rescue that saved 5 Labrador retriever puppies from euthanasia at a high kill shelter. </p>
	</div>
	<!--// board_member -->

	<!-- board_member -->
	<div class="board_member">
	
		<h2>Brian Bokor</h2>
	
		<%= image_tag("public/board_members/brian_bokor.png", :alt => "Brian Bokor", :width => "250", :height =>"167") %>
	
		<p>Brian is the founder of Designwaves, a web design and development firm.  Brian has 12 years experience with web technologies prior to establishing Designwaves in 2009.  Today his work focuses on building websites and web applications for businesses and non-profit organizations. Brian architected the online shelter management application for Shelter Exchange and single handily executed the development work. He also designed the shelterexchange.org site and continues to support our mission through his technical expertise.  Brian has a 10-year background at IBM where he held roles as Senior Software Engineer, Lead Architect, and Product Manger for Education, Media & Entertainment, Insurance and Banking. During his time at IBM he successfully lead a team to build an Educational Project, which helped students and teachers across the US, Germany and Japan.</p>
		<p>Brian is married to Claire Bokor, he is the proud dad of two Labrador retriever mixes, Abbey and Ruby, who were both adopted from shelters. Brian is originally from Pittsburgh, PA and has a strong network of friends and family that support him and Claire with their work at Shelter Exchange.</p>
	
	</div>
	<!--// board_member -->

	<!-- board_member -->
	<div class="board_member">
	
		<h2>Shawn Ramsey</h2>
	
		<%= image_tag("public/board_members/shawn_ramsey.png", :alt => "Shawn Ramsey", :width => "250", :height =>"167") %>
	
	
		<p>Shawn Ramsey is the founder of Crossroads Public Relations and has more than 15 years of experience building strategic public relations programs, both on the client side and within an agency. Before founding Crossroads Public Relations in 2003, Shawn was responsible for leading public relations efforts at TogetherSoft, contributing to the company's $210 million acquisition by Borland Corporation.</p>

		<p>Prior to TogetherSoft, Shawn served as director of public relations and marketing for truePilot, an early-stage investment firm and as manager of public relations at OpenSite, an online auction technology provider acquired by Siebel Systems for $542 million. Shawn also spent three years at Brodeur Worldwide where she managed strategic public relations initiatives for a number of clients including IBM. Prior to Brodeur, Shawn served as a marketing account manager at Nortel.</p>

		<p>Shawn is also the mom of two dogs Mojo and Hattie and has been rescuing animals all her life. She actively volunteers for the Wake County SPCA and has played supporting roles with a number of non-profits including Hope Reins of Raleigh and The Cystic Fibrosis Foundation.
		</p>
	
	</div>
	<!--// board_member -->

	<!-- board_member -->
	<div class="board_member">
	
		<h2>Gina Grimm</h2>
	
		<%= image_tag("public/board_members/gina_grimm.png", :alt => "Gina Grimm", :width => "250", :height =>"167") %>
	
		<p>Gina has held several senior roles within Fedex and she currently works within Supply Chain. Her responsibilities include analyzing and redesigning customer’s supply chain to gain their highest return on assets, and developing strategic business relationships with assigned national accounts through C-level interaction. With a background that includes training FedEx Sales professionals, project management, and mapping information, product, and financial supply chain flows, Gina has extensive knowledge and experience that will be of significant value to assisting Shelter Exchange.</p>
	
		<p>Gina lives in Dallas with her husband Tim and their two boxers, Marty and Ming Chu. They adopted their white boxer, Ming Chu, five years ago from the Legacy Boxer Rescue in Texas. </p>
	
		<p>Gina is a regular at the lake, either to cycle or to take the dogs for a swim. Gina has also begun writing a children’s book centered on the adventures of her two boxers. Gina has volunteered with Big Brothers Big Sisters and also helped her local animal rescues with fundraising events. </p>
	
		<p>Being located in Texas, Gina can assist Shelter Exchange in having a strong presence in the Southwest region through networking, fundraising, and evangelizing Shelter Exchange’s mission.</p>
	
	</div>
	<!--// board_member -->


<% end %>

<%= content_for :sidebar do %><% end %>