<%= title "Volunteer" %>
<%= description "Are you interested in helping Shelter Exchange by becoming a volunteer? " %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, volunteer, fundraise, ways to help" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/get_involved/submenu" %>

	<h1>Volunteer 
		<span class="social">
			<span><div class="fb-like" data-send="false" data- data-layout="button_count"data-show-faces="false"></div></span>
		</span>
	</h1>
	
	<p>Are you interested in helping Shelter Exchange with our mission? There are many ways to help! We will need people that can help at events and fundraisers, but we will also need help from people that can contact shelters and rescue groups with information. We would love to hear from you and look forward to finding a role that is right for you as a volunteer.</p>

	<p>Please take a moment to fill out our volunteer form to tell us a little about yourself.</p>

	<p>Thank you so much for your interest, we will be in touch soon!</p>
	
	
	<div id="volunteer_form" class="form">
		<script type="text/javascript">
			var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
			document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
		</script>


		<script type="text/javascript">
			var w7x2r7 = new WufooForm();
			w7x2r7.initialize({
				'userName':'shelterexchange', 
				'formHash':'w7x2r7', 
				'autoResize':true,
				'height':'594',
				'header':'hide',
				'ssl':true
			});
			w7x2r7.display();
		</script>
	</div>
	
	
<% end %>

<%= content_for :sidebar do %><% end %>