<%= title "Get Involved" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<h1>Get Involved</h1>
	
	<ul class="sections">
		<li class="box odd">
			<a href="/get_involved/shelters_and_rescues">
			<div>
				<%= image_tag("public/get_involved/icon_shelters_and_rescues.png")%>
				<h2>Shelters and Rescues</h2>
				<p>Learn more about the Shelter Exchange application</p>
			</div>
			</a>
		</li>
		<li class="box even">
			<a href="/get_involved/donors_and_sponsors">
			<div>
				<%= image_tag("public/get_involved/icon_donors_and_sponsors.png")%>
				<h2>Donors and Sponsors</h2>
				<p>How you can make a difference</p>
			</div>
			</a>
		</li>
		<li class="box odd">
			<a href="/get_involved/volunteer">
			<div>
				<%= image_tag("public/get_involved/icon_volunteer.png")%>
				<h2>Volunteer</h2>
				<p>We would love your help! Learn how to get involved</p>
			</div>
			</a>
		</li>

		<li class="box even">
			<a href="/get_involved/fundraise">
			<div>
				<%= image_tag("public/get_involved/icon_fundraise.png")%>
				<h2>Fundraise</h2>
				<p>Ideas for the greater good</p>
			</div>
			</a>
		</li>
	</ul>

						
<% end %>

<%= content_for :sidebar do %><% end %>