<%= title "Get Involved" %>
<%= description "Shelter and rescue group sign up or login here. Find information about fundraising, volunteering, and how to become a donor or sponsor." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, volunteer, fundraise, donors and sponsors" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<h1>Get Involved</h1>
	
	<ul class="sections">
		<li class="box odd">
			<a href="/get_involved/shelters_and_rescues">
			<div>
				<%= image_tag("public/get_involved/icon_donors_and_sponsors.png")%>
				<h2>Shelters and Rescues</h2>
				<p>Learn more about the Shelter Exchange application</p>
			</div>
			</a>
		</li>
		<li class="box even">
			<a href="/get_involved/donors_and_sponsors">
			<div>
				<%= image_tag("public/get_involved/icon_donors_and_sponsors.png")%>
				<h2>Donors and Sponsors</h2>
				<p>Make a difference</p>
			</div>
			</a>
		</li>
		<li class="box odd">
			<a href="/get_involved/volunteer">
			<div>
				<%= image_tag("public/get_involved/icon_volunteer.png")%>
				<h2>Volunteer</h2>
				<p>Join us</p>
			</div>
			</a>
		</li>

		<li class="box even">
			<a href="/get_involved/fundraise">
			<div>
				<%= image_tag("public/get_involved/icon_fundraise.png")%>
				<h2>Fundraise</h2>
				<p>Inspire others</p>
			</div>
			</a>
		</li>
	</ul>

						
<% end %>

<%= content_for :sidebar do %><% end %>