<%= title "Get Involved" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %>

<% end %>

<%= content_for :page_content do %>
	<h1>Get Involved</h1>
	
	
	<ul>
		<li><a href="/get_involved/shelters_and_rescues">Shelters and Rescues</a></li>
		<li><a href="/get_involved/volunteer">Volunteer</a></li>
		<li><a href="/get_involved/donors_and_sponsors">Donors and Sponsors</a></li>
		<li><a href="/get_involved/fundraise">Fundraise</a></li>
	</ul>

	<!-- <ul class="sections">
							<li class="box odd"></li>
							<li class="box even"></li>
							<li class="box odd"></li>
							<li class="box even"></li>
						</ul> -->
						
<% end %>

<%= content_for :sidebar do %>
	
<% end %>