<div class="box green" id="edit_note_<%=@note.id %>">
	<h2>Update note</h2>
	<div id="edit_note_errors_<%=@note.id %>"></div>
	<%= form_for (@note), :remote => true, :format => :js, :html => { :id => "edit_note_form_#{@note.id}", :class => "edit_note_form"} do |f| %>
    <ul>
      <%= render "form", :f => f %>
      <li class="buttons">
				<%= f.submit "Update Note", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#',:onclick => "Notes.cancelForm(#{@note.id});return false;"  %>
			</li>
		</ul>
	<% end %>
</div>
