<ul class="form">
	<li>
		<%= f.label :title %><br />
		<%= f.text_field :title, :rows => 5 %>
	</li>
	<% if defined?(default_category) && default_category %>
		<%= f.hidden_field :note_category_id, :value => 1 %>
	<% else %>
		<li id="note_category">
			<%= f.label :note_category_id, "Category" %><br />
			<%= collection_select(:note, :note_category_id, NoteCategory.all, :id, :name, :prompt => "Select Category") %>
		</li>
	<% end %>
	<li>
		<%= f.label :description %><br />
		<%= f.text_area :description, :rows => 5 %>
	</li>
</ul>