<li>
	<%= f.label :title, "Title <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :title, :class => "field text large" %></div>
	<%= has_error_message?(@note, :title)%>
</li>

<% if defined?(default_category) && default_category %>
	<%= f.hidden_field :category, :value => Note::DEFAULT_CATEGORY %>
<% else %>
	<li id="note_category">
		<%= f.label :category, "Category <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div>
		<%= f.collection_select :category, Note::CATEGORIES, :to_s, :humanize, :prompt => "Select Category", :class => "field select medium" %>
		</div>
		<%= has_error_message?(@note, :category)%>
	</li>
<% end %>

<% if @note.notable_type == "Animal" %>
  <li>
    <span>
      <%= f.check_box :hidden, :class =>"field checkbox" %>
      <%= f.label :hidden, "Make this note private?", :class => "desc choice" %>
    </span>
    <%= has_error_message?(@note, :hidden)%>
  </li>
<% end %>

<li class="full">
	<%= f.label :description, :class => "desc" %>
	<div><%= f.text_area :description, :class => "field textarea medium" %></div>
	<%= has_error_message?(@note, :description)%>
</li>
