<%
    @documents = note.documents
    @uploader_documents = DocumentPresenter.as_uploader_collection(@documents)
%>
<script type="text/javascript">
  $(function() {
    Documents.initUploader(<%= note.id %>, <%= raw @uploader_documents %>, <%=Document::MAX_TOTAL%>);
  });
</script>

<div id="<%= "note_#{note.id}" %>" class="note">
  <span class="created_date"><%= format_date(:short, note.created_at) %></span>
  <% if @documents.present? && (note.shelter_id == @current_shelter.id || controller_name != "parents") %>
    <span class="attachment_icon"><%= image_tag "icon_paperclip.png" %></span>
  <% end %>
	<span class="details">
		<span class="title"><%= note.title %></span>
	</span>
	<span class="action_links">
    <%# Validation to make sure that a note on the parent page has to be owned by the shelter %>
    <% if note.shelter_id == @current_shelter.id && controller_name != "communities" %>

      <% if can?(:attach_files, Note) %>
        <span class="add_documents_link">
          <%= link_to "Attach files", "#", :id => "add_documents_link", :class => "document_dialog",
            :"data-dialog-blur"    => "Notes.refreshNote(#{note.id})",
            :"data-dialog-element" => "#dialog_add_documents_#{note.id}",
            :"data-dialog-title"   => "Add or Remove attachments" %>
        </span>&nbsp;|&nbsp;
      <% end %>

      <% if can?(:update, Note) %>
        <span class="edit_link">
          <%= link_to "Edit", edit_note_path(note, :format => :js), :remote => true %>
        </span>
      <% end %>

      <% if can?(:destroy, Note) %>
        <span class="delete_link">&nbsp;|&nbsp;
          <%= link_to 'Delete', note,
            :confirm => "Are you sure you want to delete? This note will no longer be available and all attachments will be deleted.",
            :method => :delete, :remote => true, :format => :js %>
        </span>
      <% end %>

		<% end %>
  </span>

  <div class="description" id="description_note_<%=note.id%>">
    <p><%= note.description.blank? ? "No description provided" : auto_link( simple_format(note.description), :all, :target => '_blank') %></p>
    <% if @documents.present? && (note.shelter_id == @current_shelter.id || controller_name != "parents") %>
      <ul><strong>Attachments:</strong>
        <% @documents.each do |doc| %>
          <li><%= link_to doc.original_name, doc.document.url, :target => "_new" %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= render "documents/dialog_add_documents", :attachable => note %>
</div>
