<div id="<%= "note_#{note.id}" %>" class="note">
	<span class="created_date"><%= format_date(:short, note.created_at) %></span>
	<span class="details">
		<span class="title"><%= note.title %></span>
	</span>
	<span class="action_links">
		<% if note.shelter_id == @current_shelter.id %>
			<% if controller_name != "communities" %>
				<% if can?(:update, Note) %>
				<span class="edit_link">
					<%= link_to "Edit", edit_note_path(note), :remote => true %>
				</span>
				<% end %>
				<% if can?(:destroy, Note) %>
				<span class="delete_link">&nbsp;|&nbsp;
					<%= link_to 'Delete', note, :confirm => "Are you sure you want to delete? This note will no longer be displayed on this record.", :method => :delete, :remote => true %>	
				</span>
				<% end %>
			<% end %>
		<% end %>
	</span>
	<p class="description" id="<%= "description_note_#{note.id}" %>"><%= note.description.blank? ? "No description provided" : note.description %></p> 
</div>