<% if @note.errors.any? %>
	$('#create_note_errors').html( "<%= escape_javascript(render 'global/error_messages', :target => @note) %>" );
	<%= render 'global/ajax_form_errors', :target => @note, :form_id => "create_note_form" %>
<% else %>
	// Check Active Link and set to All if doesn't exist so it will work for other implementations of note (i.e. Parent)
	var note_filter_active = "All";
    if ($('.active_link').html()){
		note_filter_active = $('.active_link').html();
	} 
     
	if (note_filter_active == '<%=@note.category%>' || note_filter_active == "All") {
		$('#notes').prepend("<%= escape_javascript(render @note) %>"); 
		$(".note").first().effect("highlight", {}, 1000);
	} else {
		$("#another_note_category").html('<div class="added_to_category"><p>Added to Category: <%= @note.category.humanize%> <!--<a href="#" onclick="$(this).parent().hide();">X</a>--></p></div>');
		$("#another_note_category").slideToggle(1500,function() {
			$(this).fadeOut(2000); 
		});
	}

	// Clear Form
	$('#create_note_form').get(0).reset();
	
	// Remove Errors
	$('#create_note_errors').html("");
	$('#create_note_form p.error').remove();
	$('#create_note_form li').removeClass("error");
<% end %>
<% flash.discard %>