<%= title "Login" %>
<%= description "Shelter Exchange was founded to effect positive and lasting change to the challenging issue of animal euthanasia in shelters across the country." %>
<%= keywords "Shelter Exchange, animal shelters, animal rescue groups, animal rescue, homeless animals, create a new account, animal euthanasia, shelter exchange, animal welfare community, euthanized, euthanized animals, find animals, search shelters, local shelters, adoptive parents, animals by euthanasia date, saving lives, age-oriented, breed-specific, special needs animals, shelter management software, shelter management application" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<ul class="submenu">
		<li><a class="<%=sub_navigation(:shelters_and_rescues)%>" href="/get_involved/shelters_and_rescues">Shelters and Rescues</a></li>
		<li><a class="<%=sub_navigation(:signup)%>" href="/signup">Sign Up</a></li>
		<li><a class="<%=sub_navigation(:login)%>" href="/login">Login</a></li>
	</ul>

	<h1>Login</h1>

	<%= render "shared/flash_messages" %>
		
	<%= form_for(resource, :as => :user, :url => session_path(:user)) do |f| %>
		<ul class="half">
		  	<li>
		  		<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
					<%= f.text_field :email, :class => "field text large", :maxlength => 255, :placeholder => "Your email address" %>
				</div>
			</li>
			<li>
				<%= f.label :password, "Password <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
				<%= f.password_field :password, :class => "field text large", :maxlength => 255, :placeholder => "Your password" %>
				</div>
			</li>
			<li>
				<% if devise_mapping.rememberable? %>
				<div>
					<span>
						<%= f.check_box :remember_me, :class => "field checkbox" %>  
						<%= f.label :remember_me, :class => "choice" %>
					</span>
				</div>
				<% end %>
			</li>
			<li class="buttons">
				<%= f.submit "Sign in", :disable_with => 'Submiting...', :class => "button" %>
			</li>
		</ul>
		
	<% end %>
	
<% end %>
<%= content_for :sidebar do %><% end %>