<div id="account_<%=account.id%>" class="account">
	<h2>Account Information</h2>
	<div class="account_details">
		<table>
			<tr>
				<td class="key"><strong>Subdomain:</strong></td>
				<td class="value"><%= account.subdomain %></td>
			</tr>
			<tr>
				<td class="key"><strong>Status:</strong></td>
				<td class="value"><%= @shelter.status.humanize%></td>
			</tr>
			<tr>
				<td class="key"><strong>Status Reason:</strong></td>
				<td class="value"><%=@shelter.status_reason %></td>
			</tr>
		<% unless account.document_type.blank? %>
			<tr>
				<td class="key"><strong>Document type:</strong></td>
				<td class="value"><%= account.document_type %></td>
			</tr>
		<% end %>
		<% if account.document.file? %>
			<tr>
				<td class="key"><strong>Document:</strong></td>
				<td class="value"><%= link_to account.document_file_name, account.document.url %></td>
			</tr>
		<% end %>
		</table>
	</div>

	<ul class="action_links">
		<li><%= link_to "Edit Shelter", edit_admin_shelter_path(@current_shelter), :remote => true, :class => "button" %></li>
	</ul>
</div>