<div class="box blue" id="edit_account_<%=@account.id %>">
	<h2>Update account</h2>
	<div id="edit_account_errors_<%=@account.id %>"></div>
	<%= form_for ([:admin, @account]), :remote => true, :html => { :id => "edit_account_form_#{@account.id}", :class => "edit_account_form"} do |f| %>
		<ul>
			<%= render "form", :f => f  %>
	    	<li class="buttons">
				<%= f.submit "Update Account", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#', :onclick => "Accounts.cancelForm(#{@account.id});return false;"  %>
			</li>
		</ul>
	<% end %>
</div>