<%= title "Saving lives" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <%= image_tag("public/home/slider_1.png") %>
			<%= image_tag("public/home/slider_2.png") %>
			<%= image_tag("public/home/slider_3.png") %>
			<%= image_tag("public/home/slider_4.png") %>
        </div>
    </div>



<% end %>

<%= content_for :extra_section do %>
<section class="homepage">
	<div class="content">
		<p>Shelter Exchange is a non-profit organization that offers a practical solution to the difficult and widespread problem of animal euthanasia in shelters. We provide shelters and rescue groups with collaborative technology to better manage resources, communicate and act together to save millions of animals each year. Positive change has already begun. Your support ensures it will continue.</p>
	</div>
</section>
<% end %>

<%= content_for :sidebar do %><% end %>