<%= title "Saving animals from euthanasia" %>
<%= description "Shelter Exchange is a non-profit organization working to reduce the number of animals being euthanized in shelters." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, adopt animals, animal euthanasia, animal welfare, adopt a dog, adopt a cat, donate, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %>

	<script type="text/javascript">
		var mission_statement_images = ['<%= image_path("public/home/mission_statement_puppies.png")%>', '<%= image_path("public/home/mission_statement_kittens.png")%>', '<%= image_path("public/home/mission_statement_bunnies.png")%>'];
		$(function() {
			HomePage.randomizeImages(mission_statement_images);
		});
	</script>
	
<% end %>

<%= content_for :page_content do %>

	<!-- Slider Images -->
	<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <a href="http://blog.shelterexchange.org/2012/02/06/shelter-exchange-and-adopt-a-pet-com-partner-to-help-homeless-animals/" target="_blank"><%= image_tag("public/home/slider_1.png", :alt => "Adopt-a-Pet.com Partnership to help homeless animals") %></a>
			<%= image_tag("public/home/slider_2.png", :alt => "More rescue opportunities for animals between Shelters and Rescue Groups") %>
			<%= image_tag("public/home/slider_3.png", :alt => "Shelters and Rescues working together as a Community") %>
			<%= image_tag("public/home/slider_4.png", :alt => "Providing more exposure and increasing adoptions for animals") %>
			<%= image_tag("public/home/slider_5.png", :alt => "Connecting shelters to save lives") %>
        </div>
    </div>
	<!-- Slider Images -->
	
	<!-- Section :: Mission Statement -->
	<section class="mission_statement">
	    <div class="message">
	    	<p>Shelter Exchange is a non-profit organization that offers a practical solution to the difficult and widespread problem of animal euthanasia in shelters. We provide shelters and rescue groups with collaborative technology to better manage resources, communicate and act together to save millions of animals each year. Positive change has already begun. Your support ensures it will continue.</p>
	    </div>
		<div class="social">
    		<span><div class="fb-like" data-send="false" data- data-layout="button_count"data-show-faces="false"></div></span>
    	</div>
	</section>
	<!-- Section :: Mission Statement -->
	
	<!-- Section :: Latest Adoptions -->
	<% unless @animals.blank? %>
		<h2>Latest adoptions</h2>

		<div class="adoptions">
			<% @animals.each do |animal|%>
				<div class="box">
					<div class="photo">
						<%= link_to image_tag(animal.photo.url(:thumb)), public_save_a_life_path(animal)  %>
					</div>
					<div class="animal">
						<h3>Congratulations <%= link_to animal.name, public_save_a_life_path(animal) %>!</h3>
						<p>Adopted on <%= format_date(:short_no_year, animal.status_change_date) %> from <%=link_to animal.shelter.name, public_help_a_shelter_path(animal.shelter) %>, <%=animal.shelter.city%>, <%=animal.shelter.state%></p>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	<!-- Section :: Latest Adoptions-->
	
	<!-- Section :: Latest News -->
	<h2>Latest news</h2>
	
	<div id="rss-feed"></div>
	<!-- Section :: Latest News -->

<% end %>


