<%= title "Saving animals from euthanasia" %>
<%= description "Shelter Exchange is a non-profit organization working to reduce the number of animals being euthanized in shelters." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, adopt animals, animal euthanasia, animal welfare, adopt a dog, adopt a cat, donate, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <%= image_tag("public/home/slider_1.png") %>
			<%= image_tag("public/home/slider_2.png") %>
			<%= image_tag("public/home/slider_3.png") %>
			<%= image_tag("public/home/slider_4.png") %>
        </div>
    </div>



<% end %>

<%= content_for :extra_section do %>

<section class="newsletter">
	<div class="content">
		<span><%=image_tag("public/home/newsletter.png")%></span>
		<span><strong>Subscribe to Our Newsletter:</strong></span>
		<form id="newsletter_form" name="newsletter_form" enctype="multipart/form-data" method="post" novalidate>
			<span>
				<input name="Field1" type="text" class="field text medium" value="Enter email address" maxlength="255" />
			</span>
			<span>
				<input name="saveForm" class="button submit" type="submit" value="Subscribe" />
			</span>
			<span class="hide">
				<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="kRYOaJ9l9/qOokI0ju+MykLbZsESWmBMbChxVIeU2F8=" />
			</span>
		</form>
	</div>
</section>
<section class="homepage">
	<div class="content">
		<p>Shelter Exchange is a non-profit organization that offers a practical solution to the difficult and widespread problem of animal euthanasia in shelters. We provide shelters and rescue groups with collaborative technology to better manage resources, communicate and act together to save millions of animals each year. Positive change has already begun. Your support ensures it will continue.</p>
	</div>
</section>
<% end %>

<%= content_for :sidebar do %><% end %>