<%= title "Saving animals from euthanasia" %>
<%= description "Shelter Exchange is a non-profit organization working to reduce the number of animals being euthanized in shelters." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, adopt animals, animal euthanasia, animal welfare, adopt a dog, adopt a cat, donate, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <a href="http://blog.shelterexchange.org/2012/02/06/shelter-exchange-and-adopt-a-pet-com-partner-to-help-homeless-animals/" target="_blank"><%= image_tag("public/home/slider_1.png", :alt => "Adopt-a-Pet.com Partnership to help homeless animals") %></a>
			<%= image_tag("public/home/slider_2.png", :alt => "More rescue opportunities for animals between Shelters and Rescue Groups") %>
			<%= image_tag("public/home/slider_3.png", :alt => "Shelters and Rescues working together as a Community") %>
			<%= image_tag("public/home/slider_4.png", :alt => "Providing more exposure and increasing adoptions for animals") %>
			<%= image_tag("public/home/slider_5.png", :alt => "Connecting shelters to save lives") %>
        </div>
    </div>

	<% unless @animals.blank? %>
		<h2>Latest adoptions</h2>

		<div class="adoptions">
			<% @animals.each_with_index do |animal, index|%>
				<div class="box col_<%=index+1%>">
					<div class="photo">
						<%= link_to image_tag(animal.photo.url(:thumb)), public_save_a_life_path(animal)  %>
					</div>
					<div class="animal">
						<h3>Congratulations <%= link_to animal.name, public_save_a_life_path(animal) %>!</h3>
						<p>Adopted on <%= format_date(:short_no_year, animal.status_change_date) %> from <%=link_to animal.shelter.name, public_help_a_shelter_path(animal.shelter) %>, <%=animal.shelter.city%>, <%=animal.shelter.state%></p>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	
	<h2>Latest news</h2>
	
	<div id="rss-feed"></div>

<% end %>

<%= content_for :extra_section do %>

<section class="newsletter">
	<div class="content">
		<span><%=image_tag("public/home/newsletter.png", :alt => "Sign up for the Shelter Exchange Newsletter")%></span>
		<span><strong>Subscribe to Our Newsletter:</strong></span>
		<form id="newsletter_form" name="newsletter_form" enctype="multipart/form-data" method="post" novalidate>
			<span>
				<input name="Field1" type="text" class="field text medium" value="Enter email address" maxlength="255" />
			</span>
			<span>
				<input name="saveForm" class="button submit" type="submit" value="Subscribe" />
			</span>
			<span class="hide">
				<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="kRYOaJ9l9/qOokI0ju+MykLbZsESWmBMbChxVIeU2F8=" />
			</span>
		</form>
	</div>
</section>
<section class="homepage">
	<div class="content">
		<p>Shelter Exchange is a non-profit organization that offers a practical solution to the difficult and widespread problem of animal euthanasia in shelters. We provide shelters and rescue groups with collaborative technology to better manage resources, communicate and act together to save millions of animals each year. Positive change has already begun. Your support ensures it will continue.</p>
	</div>
</section>
<% end %>

<%= content_for :sidebar do %><% end %>