<%= title "Saving lives" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <img src="/images/public/home/slider1.jpg" alt="" />
            <a href="http://dev7studios.com">
				<img src="/images/public/home/slider2.jpg" alt="" title="This is an example of a caption" />
			</a>
            <img src="/images/public/home/slider3.jpg" alt="" />
            <img src="/images/public/home/slider4.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
<p>This is a test to see what happens</p>

<% end %>

<%= content_for :sidebar do %><% end %>