<%= title "Saving animals from euthanasia" %>
<%= description "Shelter Exchange is a non-profit organization working to reduce the number of animals being euthanized in shelters." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, adopt animals, animal euthanasia, animal welfare, adopt a dog, adopt a cat, donate, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %>

	<script type="text/javascript">
		$(function() {
			HomePage.initialize([
				'<%= image_path("public/home/mission_statement_puppies.png")%>',
				'<%= image_path("public/home/mission_statement_kittens.png")%>',
				'<%= image_path("public/home/mission_statement_bunnies.png")%>'
			]);
		});
	</script>

<% end %>

<%= content_for :page_content do %>

	<!-- Slider Images -->
	<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
					<%= image_tag("public/home/slider_1.png", :alt => "More rescue opportunities for animals between Shelters and Rescue Groups") %>
					<%= image_tag("public/home/slider_2.png", :alt => "Shelters and Rescues working together as a Community") %>
					<%= image_tag("public/home/slider_3.png", :alt => "Providing more exposure and increasing adoptions for animals") %>
					<%= image_tag("public/home/slider_4.png", :alt => "Connecting shelters to save lives") %>
        </div>
    </div>
	<!-- Slider Images -->

	<!-- Section :: Mission Statement -->
	<section class="mission_statement">
	    <div class="message">
	    	<p>Shelter Exchange is a non-profit organization that offers a practical solution to the difficult and widespread problem of animal euthanasia in shelters. We provide shelters and rescue groups with collaborative technology to better manage resources, communicate and act together to save millions of animals each year. Positive change has already begun. Your support ensures it will continue.</p>
	    </div>
		<div class="social">
    		<span class="facebook">
				<div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
			</span>
    	</div>
	</section>
	<!-- Section :: Mission Statement -->

	<!-- Section :: Stats -->
	<div class="stats">
		<h2>Our progress so far</h2>
		<div class="separator"></div>
		<ul>
			<li id="lives_saved">
				<span class="stat_count"><%= @lives_saved %></span>
				<span class="stat_text">Lives saved</span>
			</li>
			<li id="active_shelters">
				<span class="stat_count"><%= @active_shelters %></span>
				<span class="stat_text">Active Shelters and Rescues</span>
			</li>
		</ul>
		<div class="separator"></div>
	</div>
	<!-- Section :: Stats -->

	<!-- Section :: Latest Adoptions -->
	<% unless @animals.blank? %>
		<h2>Latest adoptions</h2>
		<div class="adoptions">
			<% @animals.each do |animal|%>
				<div class="box">
					<div class="photo">
						<%= link_to image_tag(polymorphic_photo_url(animal.photos.first, :thumb)), public_save_a_life_path(animal)  %>
					</div>
					<div class="animal">
						<h3>Congratulations <%= link_to animal.name, public_save_a_life_path(animal) %>!</h3>
						<p>Adopted on <%= format_date_for(animal.status_change_date, :short_no_year) %> from <%=link_to animal.shelter.name, public_help_a_shelter_path(animal.shelter) %>, <%=animal.shelter.city%>, <%=animal.shelter.state%></p>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	<!-- Section :: Latest Adoptions-->
<% end %>


