<div id="<%= "comment_#{comment.id}" %>" class="comment">
	<span class="created_date"><%= format_date(:short, comment.created_at) %></span>
	<% if comment.shelter_id == @current_shelter.id %>
	<div class="action_links">
		<%= link_to "Edit", edit_comment_path(comment), :remote => true %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to 'Delete', comment, :confirm => "Are you sure?", :method => :delete, :remote => true %>	
	</div>
	<% end %>
	<div class="clear"></div>
	<span class="description"><p><%=comment.comment%></p><%#truncate(comment.comment, :length => 65, :omission => '... more') %></span>		
</div>