<div id="<%= "comment_#{comment.id}" %>" class="comment">
	<span class="created_date"><%= format_date_for(comment.created_at, :short) %></span>
	<span class="description"><p><%=comment.comment%></p></span>
	<% if comment.shelter_id == @current_shelter.id %>
		<div class="action_links">
			<% if can?(:update, Comment) %>
			<span class="edit_link">
				<%= link_to "Edit", edit_comment_path(comment, :format => :js), :remote => true %>
			</span>
			<% end %>
			<% if can?(:destroy, Comment) %>
			<span class="delete_link">&nbsp;|&nbsp;
				<%= link_to 'Delete', comment, :confirm => "Are you sure?", :method => :delete, :remote => true, :format => :js %>
			</span>
			<% end %>
		</div>
	<% end %>
</div>
