<div id="dialog_comments" class="dialog">
	<div class="wrapper">

		<span class="title">
			<h2>View comments</h2>
		</span>
    <span class="action_links">
			<% if can?(:create, Comment) %>
        <span class="add_comment_link"><%= link_to "Add a comment", "#" %></span>
      <% end %>
    </span>

		<div class="clear"></div>

		<div id="create_comment" class="box hide orange">
			<div id="create_comment_errors"></div>
			<%= form_for (@comment = Comment.new), :remote => true, :format => :js, :html => { :id => "create_comment_form", :class => "create_comment_form" } do |f| %>
				<ul>
					<%= render "comments/form", :f => f  %>
					<li class="buttons">
						<%= f.submit "Create Comment", :disable_with => "Submitting...", :id => "create_comment_button", :class => "button"  %>
					</li>
				</ul>
				<%= f.hidden_field :commentable_id %>
				<%= f.hidden_field :commentable_type %>
			<% end %>
		</div>

		<div id="comments" class="comment_list"></div>

	</div>
</div>
