<div id="dialog_comments" class="dialog">
	<div class="wrapper">
		<h2>View comments</h2>
		<div id="create_comment" class="box orange">
			<h3>Add a new comment</h3>
			<div id="create_comment_errors"></div>
			<%= form_for (@comment = Comment.new), :remote => true, :html => { :id => "create_comment_form", :class => "create_comment_form" } do |f| %>
				<ul>
					<%= render :partial => "comments/form", :locals => { :f => f } %>
					<li class="buttons">
						<%= f.submit "Create Comment", :disable_with => "Submitting...", :id => "create_comment_button", :class => "button"  %>
					</li>
				</ul>
				<%= f.hidden_field :commentable_id %>
				<%= f.hidden_field :commentable_type %>
			<% end %>
		</div>

		<div id="comments" class="comment_list">
			
		</div>
	</div>
</div>