<div class="edit_comment" id="edit_comment_<%=@comment.id %>">
	<h2>Update comment</h2>
	<div id="edit_comment_errors_<%=@comment.id %>"></div>
	<%= form_for (@comment), :remote => true, :html => { :id => "edit_comment_form_#{@comment.id}", :class => "edit_comment_form"} do |f| %>
		<ul>
			<%= render "form", :f => f %>
	    	<li class="buttons">
				<%= f.submit "Update comment", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#', :onclick => "Comments.cancelForm(#{@comment.id}); return false;"  %>
			</li>
		</ul>
	<% end %>
</div>