<%= title "Problems and Solutions" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>Problems and Solutions</h1>

	<ul class="list">
		<li>
			<h3>Problem</h3>
			<p>Each year animal shelters are overrun with abandoned, stray or surrendered animals. Animals are relinquished by their owners, picked up by animal control or turned over to the shelter by people that find homeless animals. Shelters do not have the space or the amenities to accommodate the majority of the animals, and most are euthanized after just a few days.</p>

			<h3>Solution</h3>
			<p>Shelters can quickly and easily input the details for each animal that arrives at their facility to the Shelter Exchange application. Independent rescue groups that can provide assistance to the shelters can view the animal records and make quick decisions based on the information available where they are located. The more information that is available, the more lives can be saved by through rescue groups.</p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Rescue groups are dedicated to saving animals from overrun shelters. Many specialize in older animals, those needing extensive medical care or difficult behavior that requires specialized training. In most cases animals that fall into these categories are not even published as ‘available for adoption’ they are deemed ‘unadoptable’ by shelters and are scheduled for euthanasia without a chance of rescue.</p>

			<h3>Solution</h3>
			<p>If a shelter deems an animal unadoptable because they are older, sick or showing behavioral issues this information can be noted on the animal record. Rescue groups that specialize in animals with these attributes can view the details and make a decision based on the work and resources needed to save them.</p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Best efforts are made to rescue animals that are not published for adoption through independent shelter websites; phone calls, emails and more recently free social networking sites, but the information can outdate quickly, fall into the wrong hands or be partial and inaccurate.</p>

			<h3>Solution</h3>
			<p>Shelter Exchange have created a secure application that requires a user sign in and is limited to just the animal welfare community. Once an animal record is entered in, it will be available immediately; the same goes for any changes to a status, for example, if the animal is adopted, you will see this change immediately and the animal will no longer appear on the list.</p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Rescue groups are bombarded with emails and calls about animals that are scheduled for euthanasia at shelters. In most cases the same email is sent to hundreds of rescue groups, or shared on social networking sites, however nobody is aware of each other’s efforts, or if the animal is going to be saved.</p>

			<h3>Solution</h3>
			<p>All the animal records can be viewed in a central location by shelters and rescue groups, removing the need for emails to be sent. Any rescue group that has room to take in additional animals can view a list of animals available, and filter by the ones that are going to be euthanized. This allows rescues to be proactive in their search for animals that need rescue without utilizing time responding to emails or tracking messages. </p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Shelters and rescue groups adopt animals to people every day. Rigorous checks and home visits are normally carried out, but there is no way to get a true picture if people are adopting multiple animals from different shelters across states or cities, or adopting animals as bait dogs or for laboratory testing.</p>

			<h3>Solution</h3>
			<p>Shelter Exchange created a section within our application specifically designed to stop animals being adopting into the wrong hands. A potential adopter may look great on paper, but without knowing the adoptive history of a person, you do not have the entire picture. Shelters and rescues can search for a person within the database and view their history to make an informed decision if a potential adoption would be a good match. If a record doesn’t exist you can create a new one and start to build a history for other facilities to view if another application was placed elsewhere.</p>
		</li>
	</ul>
	
<% end %>

<%= content_for :sidebar do %><% end %>