<%= title "Problems and Solutions" %>
<%= description "Each day animal shelters and rescue groups deal with many challenges that can hinder their efforts to save animals from euthanasia. Learn more here." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, bsl, breed specific laws, behavioral issues, owner surrender, abandoned animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>Problems and Solutions</h1>
	
	<p>Each day animal shelters and rescue groups deal with many challenges that can hinder their efforts to save animals from euthanasia. Below we have detailed just a few of the scenarios we have witnessed and we explain how the Shelter Exchange application can assist in those areas to improve rescue efforts.</p>
	
	<div class="separator"></div>

	<ul class="list">
		<li>
			<h3>Problem</h3>
			<p>Each year animal shelters are overrun with abandoned, stray or surrendered animals. Animals are relinquished by their owners, picked up by animal control or turned over to the shelter by people that find homeless animals. Shelters do not have the space or the amenities to accommodate the majority of the animals, and most are euthanized after just a few days.</p>

			<h3>Solution</h3>
			<p>Shelters can use the Shelter Exchange application to record the detail of each animal arriving at their facility. Independent rescue groups that are in a position to offer assistance can view these animal records and make prompt rescue decisions for animals in their location.</p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Rescue groups are dedicated to saving animals from overrun shelters. Many specialize in older animals, those needing extensive medical care or those with difficult behavior that require specialized training. In most cases, animals that fall into these categories are not even published as ‘available for adoption' they are deemed ‘unadoptable' by shelters and are scheduled for euthanasia without a chance of rescue.</p>

			<h3>Solution</h3>
			<p>If a shelter deems an animal unfit for adoption because they are older, sick or showing behavioral issues this information can be noted on the animal record with the Shelter Exchange application. Rescue groups that specialize in animals with these attributes can view the details and make a decision based on the work and resources needed to save them.</p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Despite best efforts to raise awareness of animals available for adoption through independent shelter websites, phone calls, emails and more recently free social networking sites, this information can become out of date very quickly, fall into the wrong hands or be partial and inaccurate.</p>

			<h3>Solution</h3>
			<p>Shelter Exchange has created a secure application that requires a user sign in and is limited to just the animal welfare community. Once an animal record is entered it will be available immediately, as will any change to its status. For example, when an animal is adopted it will immediately be removed from the list. Shelters and rescues now have a real-time resource to work with members of the public more effectively. </p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Rescue groups are bombarded with emails and calls about animals that are scheduled for euthanasia at shelters. In most cases the same email is sent to hundreds of rescue groups, or shared on social networking sites, however nobody is aware of each other's efforts, or if the animal is going to be saved.</p>

			<h3>Solution</h3>
			<p>All the animal records can be viewed in a central location by shelters and rescue groups, removing the need for mass emails to be sent. Any rescue group that has room to take in additional animals can view a list of those available, and filter by the ones that are scheduled for euthanasia. This allows rescues to be proactive in their search for animals that need rescue without spending time on responding to mass emails or tracking messages.</p>
		</li>
		<li>
			<div class="separator"></div>
		</li>
		<li>
			<h3>Problem</h3>
			<p>Shelters and rescue groups adopt animals to people every day. Rigorous checks and home visits are normally carried out, but there is no way to get a true picture if people are adopting multiple animals from different shelters across states or cities, or adopting animals as bait dogs or for laboratory testing.</p>

			<h3>Solution</h3>
			<p>Shelter Exchange has created a section within our application specifically designed to stop animals from being adopted into the wrong hands. An accurate adoptive history helps to qualify the potential adopter. Shelters and rescues can search for a person within the database and view their history to make an informed decision about whether or not a potential adoption would be a good match. If a record doesn't exist you can create a new one and start to build a history for other facilities to view if another application is placed elsewhere.</p>
		</li>
	</ul>
	
<% end %>

<%= content_for :sidebar do %><% end %>