<div class="edit_task" id="edit_task_<%=@task.id %>">
	<h2>Update task</h2>
	<%= form_for (@task), :remote => true, :html => { :id => "edit_task_form", :class => "edit_task_form"} do |f| %>
		<%= render :partial => "form", :locals => { :f => f } %>
	    <div class="actions">
			<%= f.submit "Update Task", :disable_with => "Submitting...", :class => "button" %>
			&nbsp;&nbsp;or&nbsp;&nbsp;
			<%= link_to 'Cancel', '#', :onclick => "$('#edit_task_#{@task.id}').slideToggle(function() {$(this).remove();});$('#task_#{@task.id}').show();"  %>
		</div>
	<% end %>
</div>