<div class="box blue" id="<%=dom_id(@task, :edit) %>">
	<h2>Update task</h2>
	<div id="edit_task_errors_<%=@task.id %>"></div>
	<%= form_for (@task), :remote => true, :format => :js, :html => { :id => "edit_task_form_#{@task.id}", :class => "edit_task_form"} do |f| %>
		<ul>
			<%= render "form", :f => f, :task => @task %>
			<li class="buttons">
				<%= f.submit "Update Task", 'data-disable-with' => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#', :onclick => "Tasks.cancelForm(#{@task.id});return false;"  %>
			</li>
		</ul>
	<% end %>
</div>

