<ul class="form">
	<li>
		<%= f.label :details, "Details" %><br />
		<%= f.text_field :details %>
	</li>
	<li>
		<%= f.label :task_category_id, "Category" %><br />
		<%= collection_select(:task, :task_category_id, TaskCategory.all, :id, :name, :include_blank =>  "Select one") %>
	</li>
	<li>
		<%= f.label :due_category, "When is it due?" %><br />
		<%= f.collection_select :due_category, Task::DUE_CATEGORY, :to_s, :humanize, {:prompt => "Select one"}, {:class => "task_due_category"} %>
	</li>
	<li>
		<div class="due_date_field" style="display:none;">
			<div class="due_date_alt"><%=format_date(:long_day_of_week, Date.today)%></div>
			<div class="date_picker"></div>
		</div>
	</li>	
</ul>
<%= f.hidden_field :due_date, :class => "hidden_due_date" %>