<div id="<%= "task_#{task.id}" %>" class="task">
	<div class="type"<%= 'style=color:#fff;background-color:'+ task.task_category.color if task.task_category %>>
		<%= task.task_category.name if task.task_category %>
	</div>
	<div class="details">
		<h3><%= task.info %> <% if task.due_date %><span><%= format_date(:short, task.due_date)%></span><% end %>
		<% if task.taskable %>(<%= link_to task.taskable.name, animal_path(task.taskable)%>) <% end %></h3>
	</div>
	<div class="links">
		<%= link_to "Edit", edit_task_path(task), :remote => true %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Delete", task, :confirm => "Are you sure?", :method => :delete, :remote => true %>
	</div>
	<div class="clear"></div>
</div>

<div class="edit_task" id="edit_task_<%=task.id %>" style="display:none;background-color:#f1fce2; border:1px solid #c4f286;padding:10px; margin-bottom:10px;"></div>
