<div id="<%= "task_#{task.id}" %>" class="task">
	<span class="type" <%= 'style=color:#fff;background-color:'+ task.task_category.color if task.task_category %>>
		<%= task.task_category.name if task.task_category %>
	</span>
	<span class="details">
		<p><%= task.info %> <% if task.due_date %><span><%= format_date(:short, task.due_date)%></span><% end %>
		<% if task.taskable %>(<%= link_to task.taskable.name, animal_path(task.taskable)%>) <% end %></p>
	</span>
	<span class="links">
		<%= link_to "Edit", edit_task_path(task), :remote => true %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Delete", task, :confirm => "Are you sure?", :method => :delete, :remote => true %>
	</span>
	<div class="clear"></div>
</div>


