<% if task.taskable.blank? %>
	<tr id="<%= "task_#{task.id}" %>" class="task">
		<td class="type <%= 'medium' if task.task_category %>"><%= task.task_category.name if task.task_category %></td>
		<td class="details"><h3><%= task.info %> <span><%= format_date(:short, task.due_date) if task.due_date%></span></h3></td>
		<td class="links"><%= link_to "Edit", edit_task_path(task) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", task, :confirm => "Are you sure?", :method => :delete, :remote => true %></td>
	</tr>
<% else %>
	
	<div class="task" id="task_<%=task.id %>" style="border: 1px #999 solid; background-color: #fce2ec; padding: 15px;">
		<ul>
			<li><h2><%= task.taskable_type %> Task - <%= task.info %></h2></li>
			<li><h2><%= task.task_category.name %></h2></li>
		</ul>
	  	<div class="actions right">
			<%= link_to 'Delete', task, :confirm => "Are you sure?", :method => :delete, :remote => true %>
	  	</div>
	</div>

<% end %>
