<tr id="<%= "task_#{task.id}" %>" class="task">
	<td class="type <%= 'medium' if task.task_category %>"><%= task.task_category.name if task.task_category %></td>
	<td class="details">
		<h3><%= task.info %> <span><%= format_date(:short, task.due_date) if task.due_date%></span><% if task.taskable  %>(<%= link_to task.taskable.name, animal_path(task.taskable)%>) <% end %></h3></td>
	<td class="links"><%= link_to "Edit", edit_task_path(task) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", task, :confirm => "Are you sure?", :method => :delete, :remote => true %></td>
</tr>	