<%= javascripts "tasks/tasks" %>
<%= javascripts "date" %>

<% content_for :page_content do %>

	<% if @task_validate %>
		<div class="page_heading">
			<h1>Tasks</h1>
		</div>
		
		<div class="page_content">
			
			<%= render :partial => "global/flash_messages" %>
			
			<% unless @overdue_tasks.blank? %>
				<h3>Overdue</h3>
				<table id="overdue_tasks" class="task_list">
					<%= render :partial => "task", :collection => @overdue_tasks %>
				</table>
			<% end %>
			
			<% unless @today_tasks.blank? %>
				<h3>Today</h3>
				<table id="today_tasks" class="task_list">
					<%= render :partial => "task", :collection => @today_tasks %>
				</table>
			<% end %>
			
			<% unless @tomorrow_tasks.blank? %>
				<h3>Tomorrow</h3>
				<table id="tomorrow_tasks" class="task_list">
					<%= render :partial => "task", :collection => @tomorrow_tasks %>
				</table>
			<% end %>
			
			<% unless @later_tasks.blank? %>
				<h3>Later</h3>
				<table id="later_tasks" class="task_list">
					<%= render :partial => "task", :collection => @later_tasks %>
				</table>
			<% end %>
				
		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Creating your first task</h1>
			<p>Create a standard Message that will describe what to do next...like empty basecamp project</p>
		</div>
		
		<div class="page_content">
			<%= render "global/error_messages", :target => @task %>

			<%= form_for(@task) do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
		    	<div class="actions">
					<%= f.submit "Create Task", :disable_with => "Submitting...", :class => 'button' %>
				</div>
			<% end %>	
		</div>
	<% end %>

<% end %>

<% content_for :sidebar do %>
	<% if @task_validate %>
	<div id="create_task" style="background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px;">
		<h2>Add a task</h2>
		<div id="task_errors"></div>
		<%= form_for (Task.new), :remote => true do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
			</div>
		<% end %>
	</div>
	<% end %>
<% end %>