<%= title "Tasks" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "tasks/tasks", "date", :cache => "cache/application/tasks-index" %>
	<script type="text/javascript">
		$(function() {
			Tasks.initialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Tasks</h1>
	</div>
		
	<div class="page_content">
		<%= render :partial => "task_list" %>
	</div>


<% end %>

<%= content_for :sidebar do %>

	<div id="create_task">
		<h2>Add a task</h2>
		<div id="create_task_errors"></div>
		<%= form_for (@task = Task.new), :remote => true, :html => { :id => "create_task_form", :class => "create_task_form"} do |f| %>
		<ul>
			<%= render "form", :f => f  %>
			<li class="buttons">
				<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
			</li>
		</ul>
		<% end %>
	</div>
	
<% end %>