<%= javascripts "tasks/tasks" %>

<% content_for :page_content do %>

	<% if !@tasks.blank? %>
		<div class="page_heading">
			<h1>Tasks</h1>
		</div>
		
		<div class="page_content">
			<%= render :partial => "global/flash_messages" %>
			<h3>Global</h3>
			<table id="tasks" class="task_list">
				<%= render @tasks %>
			</table>
			
		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Creating your first task</h1>
			<p>Create a standard Message that will describe what to do next...like empty basecamp project</p>
		</div>
		
		<div class="page_content">
			<%= render "global/error_messages", :target => @task %>

			<%= form_for(@task) do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
		    	<div class="actions">
					<%= f.submit "Create Task", :disable_with => "Submitting...", :class => 'button' %>
				</div>
			<% end %>	
		</div>
	<% end %>

<% end %>

<% content_for :sidebar do %>
	<% if !@tasks.blank? %>
	<div id="create_task" style="background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px;">
		<h2>Add a task</h2>
		<div id="task_errors"></div>
		<%= form_for (Task.new), :remote => true do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
			</div>
		<% end %>
	</div>
	<% end %>
<% end %>