<%= title "Create your first task" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "tasks/tasks", "date", :cache => "cache/application/tasks-new" %>
	<script type="text/javascript">
		$(function() {
			Tasks.initialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first task</h1>
		<p>Provide details below of the task, the category and when this is due.</p>
	</div>
		
	<div class="page_content">
			
		<%= render "global/error_messages", :target => @task %>
		<div id="create_task">
			<%= form_for(@task) do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
			   	<div class="actions">
					<%= f.submit "Create Task", :disable_with => "Submitting...", :class => 'button' %>
				</div>
			<% end %>
		</div>	
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>