<%= title "Create your first task" %>

<%= content_for :javascripts do %>
	<%# javascript_include_tag "app/tasks", "global/date", :cache => "cache/app/tasks-new" %>
	<script type="text/javascript">
		$(function() {
			Tasks.initialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first task</h1>
		<p>Provide details below of the task you would like to create for your shelter.</p>
		<ul class="help">
			<li><strong>Details</strong> - Describe your task here.</li>
			<li><strong>Category</strong> - Pick from the drop down menu the category your task fits into - for example, To - do.</li>
			<li><strong>When is this due?</strong> - Pick from the drop down menu when this task is due. Choose the 'Specific Date' option for a calendar to appear.</li>
		</ul>
	</div>
		
	<div class="page_content">
		<%= render "global/error_messages", :target => @task %>
		<div id="create_task">
			<%= form_for (@task), :html => { :id => "create_task_form", :class => "create_task_form"} do |f| %>
				<ul>
					<%= render "form", :f => f %>
		    		<li class="buttons">
						<%= f.submit "Create Task", :disable_with => "Submitting...", :class => "button" %>
					</li>
				</ul>
			<% end %>
		</div>	
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>