<%= title "Login" %>


<%= content_for :page_content do %>
		
	<div class="page_content">
		
		<%= render "shared/error_messages", :target => resource %>
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<ul>
		  		<li class="full">
		  			<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
					<div>
						<%= f.text_field :email, :class => "field text large", :maxlength => 255, :placeholder => "Your email address" %>
					</div>
					<%= has_error_message?(resource, :email)%>
				</li>
				<li class="full">
					<%= f.label :password, "Password <span class='req'>*</span>".html_safe, :class => "desc" %>
					<div>
					<%= f.password_field :password, :class => "field text large", :maxlength => 255, :placeholder => "Your password" %>
					</div>
					<%= has_error_message?(resource, :password)%>
				</li>
				<li class="full">
					<% if devise_mapping.rememberable? %>
					<div>
						<span>
							<%= f.check_box :remember_me, :class => "field checkbox" %>  
							<%= f.label :remember_me, :class => "choice" %>
						</span>
					</div>
					<% end %>
				</li>
				<li class="buttons">
					<%= f.submit "Sign in", :disable_with => 'Submiting...', :class => "button" %>
					<% if devise_mapping.recoverable? && controller_name != 'passwords' %>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<%= link_to "Forgot your password?", new_password_path(resource_name) %><br /><br />
					<% end %>
				</li>
			</ul>
			
			<%= f.hidden_field :subdomain, :value => @current_account.subdomain %>
		
		<% end %>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>
			

