<%= title "Dashboard" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Latest Stats</h1>
	</div>
	
	<div class="page_content">


		<h2>Counts by Animal Status - Lifetime Totals</h2>
		
		<div class="counts_by_status_list">
			<% @counts_by_status.map do |status, count| %>
				<div class="counts_by_status">
					<span class="status"><%= status %></span>
					<span class="count"><%= count %></span>
				</div>
			<% end %>
		</div>
				
		<h2>Active Shelter Counts</h2>
		
		<div class="count_sections">
			<div>
				<h2><%=@active_no_kill_shelters_count%></h2>
				<p>Total No-Kill Shelters</p>
			</div>
			<div>
				<h2><%=@active_kill_shelters_count%></h2>
				<p>Total Kill Shelters</p>
			</div>
			<div>
				<h2><%=@total_active_shelters_count%></h2>
				<p>Total Shelters</p>
			</div>
		</div>
		
		<h2>Suspended Shelter Counts</h2>
		
		<div class="count_sections">
			<div>
				<h2><%=@suspended_no_kill_shelters_count%></h2>
				<p>Total No-Kill Shelters</p>
			</div>
			<div>
				<h2><%=@suspended_kill_shelters_count%></h2>
				<p>Total Kill Shelters</p>
			</div>
			<div>
				<h2><%=@total_suspended_shelters_count%></h2>
				<p>Total Shelters</p>
			</div>
		</div>	
		
		<h2>Cancelled Shelter Counts</h2>
		
		<div class="count_sections">
			<div>
				<h2><%=@cancelled_no_kill_shelters_count%></h2>
				<p>Total No-Kill Shelters</p>
			</div>
			<div>
				<h2><%=@cancelled_kill_shelters_count%></h2>
				<p>Total Kill Shelters</p>
			</div>
			<div>
				<h2><%=@total_cancelled_shelters_count%></h2>
				<p>Total Shelters</p>
			</div>
		</div>
		
		<h2>Transfers</h2>
		
		<div class="count_sections">
			<div>
				<h2><%= @counts_by_transfer_with_app %></h2>
				<p>Total Completed Transfers with App</p>
			</div>
			<div>
				<h2><%= @counts_by_transfer_without_app %></h2>
				<p>Total Completed Transfers w/o App</p>
			</div>
		</div>
		
			
		<div class="shelters_section">
			<h2>Latest Shelters</h2>
			<div id="latest_shelters" class="shelter_list"><%= render @latest_shelters %></div>
		</div>
		
		<div class="animals_section">
			<h2>Latest Adopted</h2>
			<div id="latest_adopted" class="animal_list"><%= render @latest_adopted %></div>
		</div>
		
		<div class="animals_section">
			<h2>Latest Euthanized</h2>
			<div id="latest_euthanized" class="animal_list"><%= render @latest_euthanized %></div>
		</div>

	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>

