<%= title "Dashboard" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Latest Stats</h1>
	</div>
	
	<div class="page_content">

		<h2>Counts by Animal Status - Lifetime Totals</h2>
		
		<div class="counts_by_status_list">
			<% @counts_by_status.map do |status, count| %>
				<div class="counts_by_status">
					<span class="status"><%= status %></span>
					<span class="count"><%= count %></span>
				</div>
			<% end %>
		</div>
		
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>

