<div class="box green" id="<%= dom_id(@status_history, :edit) %>">
	<h2>Update status history</h2>
	<div id="edit_status_history_errors_<%=@status_history.id %>"></div>
	<%= form_for (@status_history), :remote => true, :format => :js, :html => { :id => "edit_status_history_form_#{@status_history.id}", :class => "edit_status_history_form"} do |f| %>
    <ul>
	    <%= render "form", :f => f %>
      <li class="buttons">
				<%= f.submit "Update status history", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#',:onclick => "StatusHistories.cancelForm(#{@status_history.id});"  %>
			</li>
		</ul>
	<% end %>
</div>

