<div id="<%= "status_history_#{status_history.id}" %>" class="status_history">
	<span class="status_date"><%= format_date_for(status_history.status_date, :short) %></span>
	<span class="details">
    <span class="status"><%= status_history.animal_status.name %>: <span class="reason"><%= status_history.reason.blank? ? "Not provided" : status_history.reason %></span></span>
  </span>
  <span><%=status_history.contact %></span>

	<span class="action_links">
    <% if can?(:update, StatusHistory) %>
      <span class="edit_link">
        <%= link_to "Change date", edit_status_history_path(status_history, :format => :js), :remote => true %>
      </span>
    <% end %>
  </span>

</div>
