<% latest_status = nil if local_assigns[:latest_status].nil? %>

<div id="<%= dom_id(status_history) %>" class="status_history">
	<span class="status_date"><%= format_date_for(status_history.status_date, :short) %></span>

  <span class="status">
    <%= status_history.animal_status.name %>
    <% if status_history.contact %>
      <span class='contact_link'>(<%= link_to status_history.contact.name, contact_path(status_history.contact) %>)</span>
    <% end %>
  </span>

	<span class="action_links">

    <% if can?(:update, StatusHistory) %>
      <span class="contact_link">
        <% if status_history.contact %>
          <%= link_to "Remove contact",
                      status_history_path(status_history, :status_history => { :contact_id => nil }, :format => :js),
                      :method => :put, :remote => true, :confirm => "Are you sure you want to remove the contact?" %>
        <% else %>
          <a href="#" class="tooltip_dialog"
             data-dialog-element="#dialog_contact_search"
             data-dialog-show="Contacts.updateSearchDialog('<%= status_history.id %>');"
             data-dialog-title="&nbsp;">Add contact</a>
        <% end %>
      </span>
    <% end %>

    <% if can?(:update, StatusHistory) %>
      <span class="change_date_link">
        <%= link_to "Change date", edit_status_history_path(status_history, :format => :js), :remote => true %>
      </span>
    <% end %>

    <% # The deletion of the latest status is not allowed. %>
    <% if can?(:destroy, StatusHistory) && latest_status != status_history %>
      <span class="delete_link">
          <%= link_to 'Delete', status_history,
            :confirm => "Are you sure you want to delete? This status history will no longer be available.",
            :method => :delete, :remote => true, :format => :js %>
        </span>
      <% end %>
  </span>

  <div class="reason">
    <%= status_history.reason.blank? ? "No reason provided" : status_history.reason %>
  </div>
</div>

