<%= title "Contact us" %>
<%= description "Contact Shelter Exchange by email: info@shelterexchange.org or Tel:919-725-7173" %>
<%= keywords "animal shelters, animal rescue groups, homeless animals, donate, fundraise, animal euthanasia, shelter exchange, nonprofit, non-profit, tax deductible, animal rescue, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<h1>Contact us</h1>
	<p>Interested in fundraising? Looking to donate through your company? Want to find out more about our work? Please use the form below to get in touch.</p>

	<div id="contact_details" itemscope itemtype="http://schema.org/Organization">
		<span class="name" itemprop="name"><h3>Shelter Exchange</h3></span>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<p><span itemprop="streetAddress">P.O. Box 91301</span></p>
		    <p><span itemprop="addressLocality">Raleigh, NC <span class="postalCode" itemprop="postalCode">27675</span></span></p>
		</div>
		<p>Tel: <span itemprop="telephone">919-725-7173</span></p>
		<p>E-mail: <span itemprop="email"><a href="mailto:info@shelterexchange.org?subject=Contact us">info(at)shelterexchange.org</a></span></p>
	</div>


	<div id="contact_form" class="form">
		<script type="text/javascript">
			var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
			document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
		</script>

		<script type="text/javascript">
			var s7x2p7 = new WufooForm();
			s7x2p7.initialize({
				'userName':'shelterexchange', 
				'formHash':'s7x2p7', 
				'autoResize':true,
				'height':'594',
				'header':'hide',
				'ssl':true
			});
			s7x2p7.display();
		</script>
	</div>
	
<% end %>

<%= content_for :sidebar do %><% end %>

