<%= title "Saving lives" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %>

<% end %>

<%= content_for :page_content do %>
	<h1>About testing</h1>
	<p>There are many sticky footer methods to be found in Google. I've tried many of them and they usually fail in some regards. The problem it seems is that some of these methods are old and may have worked in older browsers but they don't in newer browser releases. Because those pages are old, and were heavily linked too in the past, they still rank high in Google. Many webmasters looking for a sticky footer solution end up scratching their heads as they try these same old methods because they are the first ones they end up finding when they search.</p>
<% end %>

<%= content_for :sidebar do %>
	
<% end %>