<div class="box blue" id="edit_accommodation_<%=@accommodation.id %>">
	<h2>Update accommodation</h2>
	<div id="edit_accommodation_errors_<%=@accommodation.id %>"></div>
	<%= form_for (@accommodation), :remote => true, :html => { :id => "edit_accommodation_form_#{@accommodation.id}", :class => "edit_accommodation_form"} do |f| %>
		<ul>
			<%= render :partial => "form", :locals => { :f => f } %>
	    	<li class="buttons">
				<%= f.submit "Update Accommodation", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#', :onclick => "Accommodations.cancelForm(#{@accommodation.id});return false;"  %>
			</li>
		</ul>
	<% end %>
</div>