<ul class="form">
	<li>
		<%= f.label :animal_type_id, "Animal Type" %><br />
		<%= collection_select(:accommodation, :animal_type_id, AnimalType.all, :id, :name, :include_blank =>  "Select one") %>
	</li>
	<li>
		<%= f.label :name, "Name (i.e. Crate 01)" %><br />
		<%= f.text_field :name %>
	</li>
	<li>
		<%= f.label :max_capacity, "Max number of animals" %><br />
		<%= f.text_field :max_capacity %>
	</li>
	<li>
		<%= f.label :location_id, "Location Details" %><br />
		<%= collection_select(:accommodation, :location_id, @current_shelter.locations.all, :id, :name, :include_blank =>  "None") %>
		<%= link_to "Edit", locations_path %>
	</li>
</ul>