<%= title "Accommodations" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Locations.initializeDialog();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="print_heading">
		<h1>Accommodations</h1>
	</div>

	<div class="page_content">

    <div class="search">
      <h3>Search: <%= image_tag "icon_help.png", :class =>"tooltip_on_top", "data-tip" => "Search for the accommodation's name." %></h3>
      <%= form_for :accommodations, :html => { :id => "form_search", :onsubmit => "Accommodations.search(); return false;" } do |f| %>
      <ul>
        <li class="full">
          <%= text_field_tag "query", "", :placeholder => "Enter search term", :class => "field text"  %>
          <%= f.submit "Go" %>
        </li>
      </ul>
      <% end %>
    </div>

    <div class="filter_by">
      <h3>Filter by:</h3>
      <div class="filters">
        <span class="text">Type:</span>
        <span class="choice">
          <%= collection_select(:filters, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"},
              { :name => "animal_type_id", :onchange => "Accommodations.search();" } ) %>
        </span>
        <span class="text">Location:</span>
        <span class="choice">
          <%= collection_select(:filters, :location_id, @current_shelter.locations.all, :id, :name, {:prompt => "All"},
              { :name => "location_id", :onchange => "Accommodations.search();" } ) %>
          </span>
          <span class="text">Order by:</span>
          <span class="choice">
            <select id="filters_order_by" name="order_by" onchange="Accommodations.search();">
              <option value="accommodations.name ASC">A-Z</option>
              <option value="accommodations.name DESC">Z-A</option>
              <option value="accommodations.updated_at DESC">Newest-Oldest</option>
              <option value="accommodations.updated_at ASC">Oldest-Newest</option>
            </select>
          </span>
      </div>
    </div>

		<div id="accommodations">
			<%= render 'accommodation_list', :accommodations => @accommodations %>
		</div>

	</div>

<% end %>

<%= content_for :sidebar do %>

  <% if can?(:create, Accommodation) %>
    <div id="create_accommodation" class="box orange">
      <h2>Create a new accommodation</h2>
      <div id="create_accommodation_errors"></div>
      <%= form_for (@accommodation = Accommodation.new), :remote => true, :format => :js, :html => { :id => "create_accommodation_form", :class => "create_accommodation_form" } do |f| %>
        <ul>
          <%= render :partial => "form", :locals => { :f => f } %>
          <li class="buttons">
            <%= f.submit "Create Accommodation", :disable_with => "Submitting...", :id => "create_accommodation_button", :class => "button"  %>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>

	<%= render "locations/dialog_locations" %>

<% end %>
