<%= title "Accommodations" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Locations.initializeDialog();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="print_heading">
		<h1>Accommodations</h1>
	</div>

	<div class="page_content">

		<table class="search">
			<tr>
				<td class="full_search">
					<h3>Search for accommodation:</h3>
					<%= form_for :accommodations, :url => { :action => :search }, :remote => true, :format => :js, :html => { :id => "form_search", :method => :get } do |f| %>
						<%= text_field_tag "q", ""  %>
						<%# text_field_tag "q", "", :onkeyup =>"Accommodations.liveSearch(this);"  %>
						<%= f.submit "Go", :disable_with => "..." %>
					<% end %>
				</td>
				<td class="filters">
					<h3>Filter accommodation by:</h3>
					<table class="filter_table">
						<tr>
							<td><%= label_tag :animal_type_id, "Animal type" %></td>
							<td><%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"},
								{ :name => "animal_type_id", :onchange => "Accommodations.filterByTypeLocation();" } ) %><br /><br />
							</td>
						</tr>
						<tr>
							<td><%= label_tag :location_id, "Location details" %></td>
							<td><%= collection_select(:location, :location_id, @current_shelter.locations.all, :id, :name, {:prompt => "All"},
									{ :name => "location_id", :onchange => "Accommodations.filterByTypeLocation();" } ) %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<div id="accommodations">
			<%= render 'accommodation_list', :accommodations => @accommodations %>
		</div>

	</div>

<% end %>

<%= content_for :sidebar do %>

	<div id="create_accommodation" class="box orange">
		<h2>Create a new accommodation</h2>
		<div id="create_accommodation_errors"></div>
		<%= form_for (@accommodation = Accommodation.new), :remote => true, :format => :js, :html => { :id => "create_accommodation_form", :class => "create_accommodation_form" } do |f| %>
			<ul>
				<%= render :partial => "form", :locals => { :f => f } %>
				<li class="buttons">
					<%= f.submit "Create Accommodation", :disable_with => "Submitting...", :id => "create_accommodation_button", :class => "button"  %>
				</li>
			</ul>
		<% end %>
	</div>

	<%= render "locations/dialog_locations" %>

<% end %>
