<%= title "Accommodations" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "accommodations/accommodations", "locations/locations", 
	                           :cache => "cache/application/accommodations-index" %>
<% end %>

<%= content_for :page_content do %>

	<div class="print_heading">
		<h1>Accommodations</h1>
	</div>

	<div class="page_content">
			
		<table class="search">
			<tr>
				<td class="full_search">
					<h3>Search for accommodation:</h3>
					<%= form_for :accommodations, :url => { :action => :full_search }, :remote => true, :html => { :id => "form_full_search", :method => :get } do |f| %>
						<%= text_field_tag "q", ""  %>
						<%= f.submit "Go", :disable_with => "...", :class => "button" %>
					<% end %>
				</td>
				<td class="filters">
					<h3>Filter accommodation by:</h3>
					<table class="filter_table">
						<tr>
							<td><%= label_tag :animal_type_id, "Animal type" %></td>
							<td><%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"}, 
								{ :name => "animal_type_id", :onchange => "Accommodations.filterByTypeLocation();" } ) %><br /><br />
							</td>
						</tr>
						<tr>
							<td><%= label_tag :location_id, "Location details" %></td>
							<td><%= collection_select(:location, :location_id, @current_shelter.locations.all, :id, :name, {:prompt => "All"}, 
									{ :name => "location_id", :onchange => "Accommodations.filterByTypeLocation();" } ) %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
			
		<div id="accommodations">
			<%= render :partial => 'accommodation_list' %>
		</div>
			
	</div>

<% end %>

<%= content_for :sidebar do %>
	
	<div id="create_accommodation">
		<h2>Create a new accommodation</h2>
		<div id="accommodation_errors"></div>
		<%= form_for (Accommodation.new), :remote => true do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
			<div class="actions">
				<%= f.submit "Create Accommodation", :disable_with => "Submitting...", :id => "create_accommodation_button", :class => "button"  %>
			</div>
		<% end %>
	</div>
		
	<div id="edit_location_dialog" style="display:none;">
		<div class="wrapper">
			<h2>Edit locations</h2>
			<div id="create_location">
				<h3>Add a new location</h3>
				<div id="location_errors"></div>
				<%= form_for (Location.new), :remote => true do |f| %>
					<%= render :partial => "locations/form", :locals => { :f => f } %>
					<div class="actions">
						<%= f.submit "Create Location", :disable_with => "Submitting...", :id => "create_location_button", :class => "button"  %>
					</div>
				<% end %>
			</div>

			<div id="locations">
				<%= render @current_shelter.locations.all %>
			</div>
			<div class="done_editing"><%= link_to "I'm done editing", "#", :onclick => "Locations.closeEditLocationDialog(); return false;" %></div>
		</div>
	</div>
	
<% end %>