<%= title "Create your first accommodation" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "accommodations/accommodations", :cache => "cache/application/accommodations-new" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first accommodation</h1>
		<p></p>
	</div>
		
	<div class="page_content">
			
		<%= render "global/error_messages", :target => @accommodation %>
		<div id="create_accommodation">
			<%= form_for(@accommodation) do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
			   	<div class="actions">
					<%= f.submit "Create Accommodation", :disable_with => "Submitting...", :class => 'button' %>
				</div>
			<% end %>
		</div>	
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>