<%= title "Create your first accommodation" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Locations.initializeDialog();
		});
	</script>

<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first accommodation</h1>
		<p>Create a list of accommodations below to reflect your shelter floor plan or layout to better track where your animals are.</p>
		<ul class="help">
			<li><strong>Location</strong> - This field can be used as a high level description, for example Room 3, Building 2, or Barn 1. This is customizable for how you would like the locations named.</li>
			<li><strong>Animal type</strong> - Pick the animal type from the drop down menu for the accommodation you are creating. </li>
			<li><strong>Name</strong> - You can describe the accommodation in more detail - for example, Crate 1, or Kennel 4, or Stall 3. This is also customizable for your shelter.</li>
		</ul>
	</div>

	<div class="page_content">

    <% if can?(:create, Accommodation) %>
      <%= render "shared/error_messages", :target => @accommodation %>
      <div id="create_accommodation">
        <%= form_for @accommodation, :html => { :id => "create_accommodation_form", :class => "create_accommodation_form" } do |f| %>
          <ul>
            <%= render "form", :f => f %>
              <li class="buttons">
              <%= f.submit "Create Accommodation", :disable_with => "Submitting...", :class => "button" %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>

	</div>

	<%= render "locations/dialog_locations" %>

<% end %>

<%= content_for :sidebar do %>
<% end %>
