<%= title "Create your first accommodation" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "app/accommodations", "app/locations", :cache => "cache/app/accommodations-new" %>
	<script type="text/javascript">
		$(function() {
			Locations.initializeDialog();
		});
	</script>
	
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first accommodation</h1>
		<p></p>
	</div>
		
	<div class="page_content">
			
		<%= render "global/error_messages", :target => @accommodation %>
		<div id="create_accommodation">
			<%= form_for @accommodation, :html => { :id => "create_accommodation_form", :class => "create_accommodation_form" } do |f| %>
				<ul>
					<%= render "form", :f => f %>
		    		<li class="buttons">
						<%= f.submit "Create Accommodation", :disable_with => "Submitting...", :class => "button" %>
					</li>
				</ul>
			<% end %>
		</div>	
	</div>
	
	<%= render "locations/dialog_locations" %>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>