<tr id="<%= "animal_#{animal.id}" %>">
	<td class="image">
		<%= link_to image_tag(polymorphic_photo_url(animal.photos.first, :thumb), :alt => "#{animal.name} - #{animal.full_breed}"), public_save_a_life_path(animal), :target => "_blank"  %>
	</td>
	<td class="details">
		<h3><%= link_to animal.name, public_save_a_life_path(animal), :target => "_blank"  %></h3>
		<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex.humanize %> <% end %> <% if animal.is_sterilized %>(Sterilized)<% end %>
		<p><%= animal.full_breed %></p>
		<!-- <p><%= animal.date_of_birth.blank? ? "Age not specified".html_safe : humanize_dob(animal.date_of_birth) + " old" %></p> -->
		<p><%= animal.age.present? ? animal.age.humanize : "Age Not Specified" %></p>
	</td>
	<td class="status">
		<p><b><%= animal.animal_status.name %></b></p>
		<p><%= link_to animal.shelter.name, public_help_a_shelter_path(animal.shelter), :target => "_blank" %></p>
		<p><%= animal.shelter.city %>, <%= animal.shelter.state %></p>
		<% if animal.shelter.kill_shelter? %>
			<p class="euthanisia_date"><b><%= days_left(animal.euthanasia_date) %></b></p>
		<% end %>
		<div class="action_links"></div>
	</td>
</tr>

