<div id="shelter_details">
	<div class="logo">
		<%= image_tag @shelter.logo.url(:thumb) %>
	</div>
	<div class="address_info">
		<h2><%= link_to @shelter.name, public_help_a_shelter_path(@shelter) %>
			<span><%= link_to "View all animals at this location", public_help_a_shelter_path(@shelter), :class => "button" %></span></h2>
		
		<ul>
			<li><%=@shelter.street %></li>
			<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
		</ul>
		<br />
		<ul>
			<li>Phone: <%=number_to_phone(@shelter.phone, :delimiter => "-")%></li>
			<li class="action_links">
				<span><%= link_to "Email Us", "mailto:#{@shelter.email}?subject=From Shelter Exchange" %>|</span>
				<% unless @shelter.website.blank? %>
					<span><%= link_to "Visit Website", @shelter.website %>|</span>
				<% end %>
				<span><a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address(@shelter)%>&hl=en" target="_blank">Get Directions</a></span>
			</li>
		</ul>
	</div>
</div>



