<div id="shelter_details">
	<div class="logo">
		<%= image_tag @shelter.logo.url(:thumb), :alt => "#{@shelter.name} Logo" %>
	</div>
	<div class="address_info">
		<h2><%= link_to @shelter.name, public_help_a_shelter_path(@shelter) %>
			<span><%= link_to "View all animals at this location", public_help_a_shelter_path(@shelter), :class => "button" %></span></h2>
		
		<ul>
			<li><%=@shelter.street %></li>
			<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
		</ul>
		<br />
		<ul>
			<li>Phone: <%=number_to_phone(@shelter.phone, :delimiter => "-")%></li>
			<li class="action_links">
				<span><%= link_to "Email Us", "mailto:#{@shelter.email}?subject=From Shelter Exchange" %>|</span>
				<% unless @shelter.website.blank? %>
					<span><%= link_to "Visit Website", @shelter.website, :target => "_blank" %>|</span>
				<% end %>
				<span class="get_directions_link"><a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address(@shelter)%>&hl=en" target="_blank">Get Directions</a></span>
			</li>
			<% unless @shelter.twitter.blank? and @shelter.facebook.blank? %>
			<li class="action_links">
				<% unless @shelter.twitter.blank? %>
					<span><%= link_to "Follow #{@shelter.twitter}", "http://twitter.com/#!/#{@shelter.twitter.slice(1..-1)}", :target => "_blank" %>|</span>
				<% end %>
				<% unless @shelter.facebook.blank? %>
					<span><%= link_to "Facebook Page", @shelter.facebook, :target => "_blank" %></span>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>



