<%= title "Save a life - Adopt an animal today" %>
<%= description "Search animals available for adoption at local shelters or rescue groups. Save a life today by adopting an animal." %>
<%= keywords "Adopt animals, save animals, animal adoptions, animals in need, save a life, adopt a pet, adopt a dog, cat, bird, kitten, puppy, horse, pony, hamster, guinia pig, rabbit, reptile, mouse, rat, snake, location of shelter or rescue group, " %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "//www.google.com/jsapi" %>
	<%= javascript_include_tag "//maps.google.com/maps/api/js?libraries=geometry&sensor=false" %>
	<script type="text/javascript">
		$(function() {
			SaveALife.initialize(38.6,-98,"<%= map_overlay_url %>");
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<%= render :partial => "shared/flash_messages" %>

	<div class="search_content">
		<span class="search_form">
			<form action="#" id="form_city_zipcode_search">
			    <%= text_field_tag :city_zipcode, "", :placeholder => "Please type a city, state or zipcode" %>
			</form>
			<ul class="toggle_buttons">
				<li><a id="search_by_city_zipcode" href="#" class="current">City or Zip code</a></li>
			</ul>
		</span>
		<span class="helper_links">
			<ul class="toggle_buttons">
				<li><a href="#narrow_search_results">Narrow your search results</a></li>
			</ul>
			<ul class="toggle_buttons">
				<li><a href="#help_text">?</a></li>
			</ul>
		</span>
	</div>

	<div class="map_separator"></div>

	<div id="help_text" class="section_heading no_borders blue">
		<h3>Help</h3>
		<p>Use the interactive map below to find adoptable animals in your area. Click 'Narrow your search results' to easily filter animals by their type, breed, sex and to view animals scheduled for euthanasia or with special needs. Drag your cursor over the map to find the area you wish to search in and zoom in and out using the + and – buttons. Alternatively you can type the city, state or zip code of where you wish to view animals in the search box above.</p>
	</div>

	<div id="narrow_search_results" class="section_heading no_borders blue">
		<%= render "form_filters" %>
	</div>

	<div class="search_results">
		<table id="results_by_city_zipcode" class="results">
			<tr>
				<td class="shelter_half">
					<div id="map_auto_scroll">
						<div id="map_canvas"></div>
						<div class="social">
							<span class="facebook"><div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div></span>
						</div>
					</div>
				</td>
				<td class="animal_half">
					<div id="map_animals" class="animals">
						<h1>Animal List Loading</h1>
					</div>
				</td>
			</tr>
		</table>
	</div>
<% end %>


