<% page_title = "#{@animal.name} - #{@animal.full_breed} | #{@shelter.city}, #{@shelter.state}" %>

<%= title page_title  %>

<%= description "#{@animal.name} is a #{@animal.sex.downcase} #{@animal.animal_type.name.downcase}, #{@animal.full_breed}, located at #{@shelter.name} in #{@shelter.city}, #{US_STATES[@shelter.state.to_sym]}." %>

<%= keywords "adopt a #{@animal.animal_type.name.downcase}, #{@animal.full_breed}, #{@shelter.name}, #{@shelter.city}, #{@shelter.state}, #{US_STATES[@shelter.state.to_sym]}, adopt animals, save animals, save a life, animal adoptions, animals in need, adopt a pet" %>

<%= robots "noindex,follow" unless @animal.available? %>

<%= open_graph_image image_path(polymorphic_photo_url(@photos.first, :original)) %>
<%= open_graph_title "#{open_graph_title_status(@animal)}#{page_title}" %>


<%= content_for :open_graph_meta do %>
<!-- CURRENTLY NOT USING -->
	<% if @animal.video_url %>
		<meta property="og:video" content="<% @animal.video_url %>" />
	<% end %>
    <meta property="og:latitude" content="<%= @shelter.lat %>"/>
    <meta property="og:longitude" content="<%= @shelter.lng %>"/>
    <meta property="og:street-address" content="<%= @shelter.street %>"/>
    <meta property="og:locality" content="<%= @shelter.city %>"/>
    <meta property="og:region" content="<%= @shelter.state %>"/>
    <meta property="og:postal-code" content="<%= @shelter.zip_code %>"for/>
    <meta property="og:country-name" content="USA"/>
    <meta property="og:email" content="<%= @shelter.email %>"/>
    <meta property="og:phone_number" content="<%= number_to_phone(@shelter.phone, :delimiter => "-") %>"/>
<% end %>




<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Photos.initGallery(<%=raw @gallery_photos %>);
		});
	</script>
<% end %>

<%= content_for :page_content do %>
	
	<h1><%= @animal.name %>
		<span class="social">
			<span class="facebook">
				<div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
			</span>
			<span class="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="shelterexchange" data-related="shelterexchange<%=",#{@shelter.twitter.slice(1..-1)}" if @shelter.twitter %>">Tweet</a>
			</span>
			<span class="pinterest">
				<a href="http://pinterest.com/pin/create/button/?url=<%=request.url %>&media=<%=polymorphic_photo_url(@photos.first, :original) %>&description=<%=pinterest_animal_description(@animal, @shelter)%>" class="pin-it-button" count-layout="horizontal">Pin It</a>
			</span>
		</span>
		<span class="status"><%= public_animal_status(@animal) %></span>
	</h1>
		
	
	<div class="animal_details">
		
		<div class="media">
			
			<div id="photo_gallery"></div>
			
			<% unless @animal.video_url.blank? %>
				<%= link_to "Watch Video", fancybox_video_url(@animal), :class => "button video_player right", :title => "Video of #{@animal.name}" %>
			<% end %>
		</div>

		<div class="type"><%= @animal.animal_type.name %>:&nbsp;&nbsp;<%= @animal.full_breed %></div>
			
		<% if @shelter.kill_shelter? and @animal.available? and @animal.euthanasia_date.present? %>
			<p class="euthanasia_info">Scheduled to be euthanized on <%= format_date(:long, @animal.euthanasia_date) %>.</p>
		<% end %>
		
		<h3>Details:</h3>
		<ul>
			<li><p><b>Age (Est.):</b><span><%= @animal.date_of_birth.present? ? humanize_dob(@animal.date_of_birth) : "N/A" %></span></p></li>
			<li><p><b>Sex:</b><span><%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></span></p></li>
			<li><p><b>Weight:</b><span><%= @animal.weight.present? ? @animal.weight : "N/A" %></span></p></li>
			<li><p><b>Size:</b><span><%= @animal.size.present? ? @animal.size : "N/A" %></span></p></li>
			<li><p><b>Color:</b><span><%= @animal.color.present? ? @animal.color : "N/A" %></span></p></li>
		</ul>
		
		<% if @animal.special_needs? %>
			<h3>Special Needs:</h3>
			<p><%= auto_link( simple_format(@animal.special_needs), :all, :target => "_blank").html_safe %></p>
		<% end%>
		<h3>Description:</h3>
		<p><%= @animal.description.blank? ? "No description provided" : auto_link( simple_format(@animal.description), :all, :target => "_blank").html_safe %></p>
		
	</div>
	
	
	<div class="animal_shelter">
		<%= render "shelter_details" %>
		<p>Please contact <%= @shelter.name %> for more information on how to adopt <%=@animal.name %>.</p>
	</div>
	
	
<% end %>