<%= title "Location Categories" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading green_background">
		<h1>Location Categories</h1>
	</div>
		
	<div class="page_content">
		<p>The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah.</p>
		
		<div id="create_location_category">
			<h2>Create new location category</h2>
			<div id="location_category_errors"></div>
			<%= form_for (LocationCategory.new), :remote => true do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
				<div class="actions">
					<%= f.submit "Create Category", :disable_with => "Submitting...", :id => "create_location_category_button", :class => "button"  %>
				</div>
			<% end %>
		</div>
		
		<div id="location_categories">
			<%= render @location_categories %>
		</div>
		
		<%= link_to "I'm done editing", locations_path %>
	</div>

<% end %>

<%= content_for :sidebar do %>
		<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
<% end %>