<!DOCTYPE html>
<html>
<head>
  
	<title><%= yield(:title) %> - Shelter Exchange - Admin</title>
  
 	<%= stylesheet_link_tag "global/jquery-ui.custom", "global/wufoo_form",
							"admin/common", "admin/controller",
							:media => "all", :cache => "cache/admin/application/all" %>
	<%= yield(:stylesheets) %>
	
	
	<%= javascript_include_tag "global/jquery.min", "global/jquery-ui.min", "global/jquery.ui.autocomplete.ext", 	
							   "global/jquery.blockUI.min", "global/forms",
							   "global/jquery_ujs", "admin/application",
							   :cache => "cache/admin/application/all" %> 

	<%= yield(:javascripts) %>
		
	<%= csrf_meta_tag %>

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">
	
	<%= render :partial => "admin/global/header" %>

	<div id="main">
		
		<div id="flash_messages"><%= render :partial => "global/flash_messages" %></div>
		
		<div id="left">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
			<%= render :partial => "global/footer" %>
			
		</div>
		<!--//end left -->
		
		<div id="right">
			
			<div id="sidebar">
				<% if content_for?(:sidebar) %>
			  		<%= yield(:sidebar) %>
				<% end %>
			</div>
			<!--//end sidebar -->
			
		</div>
		<!--//end right -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
