<!DOCTYPE html>
<html>
<head>
  
	<!-- title -->
	<title><%= yield(:title) %> - Shelter Exchange - Admin</title>
  
	<!-- stylesheets -->
 	<%= include_stylesheets :admin, :media => "all" %>
	
	<!-- javascripts -->
	<%= include_javascripts :admin %>
	<%= yield(:javascripts) %>
		
		
	<%= csrf_meta_tag %>

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">
	
	<%= render :partial => "admin/shared/header" %>

	<div id="main">
		
		<div id="flash_messages"><%= render :partial => "shared/flash_messages" %></div>
		
		<div id="left">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
			<%= render :partial => "shared/footer" %>
			
		</div>
		<!--//end left -->
		
		<div id="right">
			
			<div id="sidebar">
				<% if content_for?(:sidebar) %>
			  		<%= yield(:sidebar) %>
				<% end %>
			</div>
			<!--//end sidebar -->
			
		</div>
		<!--//end right -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
