<!DOCTYPE html>
<html>
<head>
  
	<title><%= yield(:title) %> - Shelter Exchange - Admin</title>
	
 	<%= stylesheet_link_tag "global/jquery-ui.custom", "admin/login",
							:media => "all", :cache => "cache/admin/login/all" %>
	<%= yield(:stylesheets) %>
	
	
	<%= javascript_include_tag "global/jquery.min", "global/jquery-ui.min", "global/forms",
							   "global/jquery_ujs", 
							   :cache => "cache/admin/login/all" %> 
	<%= yield(:javascripts) %>
		
	<%= csrf_meta_tag %>

</head>
<body>
	
	<div id="main">
		
		<div id="logo">
			<%= image_tag("logo_centered.png") %>
			<div>Admin Tool</div>
		</div>
		
		<div id="flash_messages"><%= render :partial => "global/flash_messages" %></div>
		
		<div id="center">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
		</div>
		<!--//end left -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
