<!DOCTYPE html>
<html>
<head>
  
	<!-- title -->
	<title><%= yield(:title) %> - Shelter Exchange - Admin</title>
		
	<!-- stylesheets -->
 	<%= include_stylesheets :admin_login, :media => "all" %>

	<!-- javascripts -->
	<%= include_javascripts :admin %>
	<%= yield(:javascripts) %>
		
		
	<%= csrf_meta_tag %>

</head>
<body>
	
	<div id="main">
		
		<div id="logo">
			<%= image_tag("logo_centered.png") %>
			<div>Admin Tool</div>
		</div>
		
		<div id="flash_messages"><%= render :partial => "shared/flash_messages" %></div>
		
		<div id="center">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
		</div>
		<!--//end left -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
