<h2>Resend unlock instructions</h2>

<%= render "shared/error_messages", :target => resource %>
<%# devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Resend unlock instructions", :disable_with => 'Submiting...' %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>