<%= form_for @user do |f| %>
	<ul class="form">
		<li>
			<%= f.label :name, "Name" %><br />
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :email, "Email" %><br />
			<%= f.text_field :email %>
		</li>
		<li>
			<%= f.label :password, "Password" %><br />
			<%= f.password_field :password %>
		</li>
		<li>
			<%= f.label :password_confirmation, "Confirm Password" %><br />
			<%= f.password_field :password_confirmation %>
		</li>
	</ul>
	<div class="actions">
		<%= f.submit "Submit", :disable_with => "Submitting...", :class => 'button' %>
	</div>
<% end %>