<%= form_for user, :url => change_password_user_path(user), :html => {:method => :post, :class => "change_password_user", :id => "change_password_user_#{user.id}"}, :remote => true do |f| %>
	<ul class="form">
		<li>
			<%= f.label :password %><br />
		 	<%= f.password_field :password %>	
		</li>
		<li>
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %>
		</li>
	</ul>
	<div class="actions">
		<%= f.submit "Change my password", :disable_with => 'Submiting...' %>
	</div>
<% end %>