<%= form_for @user, :url => change_password_user_path(@user), :html => {:method => :post, :class => "change_password_form", :id => "change_password_form_#{@user.id}"}, :remote => true do |f| %>
	<ul>
		<li class="full">
			<%= f.label :password, "Password <span class='req'>*</span>".html_safe, :class => "desc" %>
		 	<div><%= f.password_field :password, :class => "field text large", :maxlength => 255, :placeholder => "Enter password" %></div>	
		</li>
		<li class="full">
			<%= f.label :password_confirmation, "Password confirmation <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div><%= f.password_field :password_confirmation, :class => "field text large", :maxlength => 255, :placeholder => "Re-enter password" %></div>
		</li>
		<li class="buttons">
			<%= f.submit "Change my password", :disable_with => 'Submiting...', :confirm => "Are you sure?", :class => "button" %>
			&nbsp;or&nbsp;&nbsp;
			<%= link_to 'Cancel', '#', :onclick => "Users.cancelForm(#{@user.id});return false;"  %>
		</li>
	</ul>
<% end %>