<%= form_for @user, :as => @user, :url => change_password_user_path, :format => :js, :html => {:method => :put, :class => "change_password_form", :id => "change_password_form_#{@user.id}"}, :remote => true do |f| %>
	<ul>
		<li class="full">
			<%= f.label :current_password, "Current password <span class='req'>*</span>".html_safe, :class => "desc" %>
		 	<div><%= f.password_field :current_password, :class => "field text large", :maxlength => 255 %></div>
			<%= has_error_message?(@user, :current_password)%>
		</li>
		<li class="full">
			<%= f.label :password, "New Password <span class='req'>*</span>".html_safe, :class => "desc" %>
		 	<div><%= f.password_field :password, :class => "field text large", :maxlength => 255 %></div>
			<%= has_error_message?(@user, :password)%>
		</li>
		<li class="full">
			<%= f.label :password_confirmation, "Password confirmation <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div><%= f.password_field :password_confirmation, :class => "field text large", :maxlength => 255 %></div>
			<%= has_error_message?(@user, :password_confirmation)%>
		</li>
		<li class="buttons">
			<%= f.submit "Change my password", :disable_with => 'Submiting...', :confirm => "Are you sure?", :class => "button" %>
			&nbsp;or&nbsp;&nbsp;
			<%= link_to 'Cancel', '#', :onclick => "Users.cancelForm(#{@user.id});return false;"  %>
		</li>
	</ul>
<% end %>
