<% show_update_button = false %>
<%= form_for (user), :remote => true do |f| %>
	<ul class="form">
	<% if user == current_user %>
		<li>
			<%= f.label :name, "First and Last name" %><br />
	  		<%= f.text_field :name, :value => user.name %>
		</li>
		<li>
			<%= f.label :title, "Title" %><br />
  			<%= f.text_field :title, :value => user.title %>
		</li>
		<li>
			<%= f.label :email, "Email" %><br />
			<%= f.text_field :email, :value => user.email %>
		</li>
		<% show_update_button = true %>
	<% else %>
		<li>
			<%= label_tag :name, "First and Last name" %><br />
	  		<h3><%= user.name %></h3>
		</li>
		<% unless user.title.blank? %>
		<li>
			<%= label_tag :title, "Title" %><br />
	  		<h3><%= user.title %></h3>
		</li>
		<% end %>
		<li>
			<%= label_tag :email, "Email" %><br />
			<h3><%= user.email %></h3>
		</li>
	<% end %>
		<li>
			<%= f.label :role, "Role" %><br />
			<% if can?(:change_role, User) and user.role != User::OWNER and user != current_user  %>
				<% User::ROLES.each do |value| %>
					<%= f.radio_button :role, value %>
					<%= f.label "role_#{value.downcase}", value.humanize %>
				<% end %>
				<% show_update_button = true %>
			<% else %>
				<h3><%= user.role.humanize %></h3>
			<% end %>
		</li>
	</ul>
	<% if show_update_button %>
	<div class="actions">
		<%= f.submit "Update user", :disable_with => 'Submiting...', :confirm => "Are you sure?", :class => "button"  %>
	</div>
	<% end %>
<% end %>
