<h2>User Info</h2>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.role.humanize %></p>
<h2>Delete User</h2>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.role.humanize %></p>