<%= title "Manage Users" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "users/users", :cache => "cache/application/users-index" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Manage Users</h1>
	</div>
		
	<div class="page_content">
		<% if can?(:invite, User) %>
			<%= link_to "Invite new user", "#", :onclick => "$('#new_invitation').slideToggle(1000);", :class => "button" %><br /><br />
			<div id="new_invitation">
				<div id="new_invitation_errors"></div>
				<%= render "form_invitation" %>
			</div>
		<% end %>
		
		<div id="users">
			<%= render "user_list" %>
		</div>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>