<%= title "Manage Users" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "users/users", :cache => "cache/application/users-index" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue_background">
		<h1>Manage Users</h1>
	</div>
		
	<div class="page_content">
		
		<div class="manage_users">
			<div class="action_links">
				<%= link_to "Invite new user", "#", :onclick => "$('#new_user_invitation').slideToggle(1000);" %><br /><br />
				<div id="new_user_invitation" style="display:none;">
					<div id="user_errors"></div>
					<%= render "form_invitation" %>
				</div>
			</div>
			<div id="users_section">
				<div class="count">Users(<%= @users.count %>)</div>
				<div id="users">
					<%= render "user_list" %>
				</div>
			</div>
			<div id="user">
				<%= render :partial => "user", :locals => { :user => current_user } %>
			</div>
		</div>
		
		<!-- <div style="clear:left;"></div> -->
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>