<tr class="edit_placement" id="edit_placement_<%=@placement.id %>">
	<td colspan="3">
	<h2>Update placement</h2>
	<div id="edit_placement_errors_<%=@placement.id %>"></div>
	<%= form_for (@placement), :remote => true, :html => { :id => "edit_placement_form_#{@placement.id}", :class => "edit_placement_form" } do |f| %>
		<ul>
			<li>
				<%= f.label :comment, "Comment", :class => "desc" %>
				<div><%= f.text_area :comment, :class => "field textarea medium" %></div>
			</li>
			<li class="buttons">
				<%= f.submit "Update placement", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#', :onclick => "Placements.cancelForm(#{@placement.id}); return false;"  %>
			</li>
		</ul>
	<% end %>
	</td>
</tr>