<ul class="form">
	<!-- <li>
		<label for="animal_name_auto_complete">Animal name</label><br />
		<input type="text" id="animal_name_auto_complete" name="animal_name_auto_complete" value="" autocomplete="off" />
	</li> -->
	<li>
		<%= f.label :placement_type, "Type" %><br />
		<% Placement::PLACEMENT_TYPE.map do |key, value| %>
			<%= f.radio_button :placement_type, key %>
			<%= f.label "placement_type_#{value.downcase}", "#{value}" %>
		<% end %>
	</li>

	<%= f.fields_for :comments do |comment_fields| %>
	<li>
		<%= comment_fields.label :comment, "Comment" %><br />
		<%= comment_fields.text_area :comment %>
	</li>
	<% end %>
</ul>
<%= f.hidden_field :parent_id, :value => @parent.id %>
<%= f.hidden_field :animal_id %>
