<ul class="form">
	<li>
		<%= f.label :placement_type, "Type" %><br />
		<% Placement::PLACEMENT_TYPE.map do |key, value| %>
			<%= f.radio_button :placement_type, key %>
			<%= f.label "placement_type_#{value.downcase}", "#{value}" %>
		<% end %>
	</li>
	<% @placement.comments.build %>
	<%= f.fields_for :comments do |comment_fields| %>
	<li>
		<%= comment_fields.label :comment, "Comment" %><br />
		<%= comment_fields.text_area :comment %>
	</li>
	<%= comment_fields.hidden_field :shelter_id, :value => @current_shelter.id %>
	<% end %>
</ul>
<%= f.hidden_field :parent_id, :value => @parent.id %>
<%= f.hidden_field :animal_id %>
