<tr id="<%= "placement_#{placement.id}" %>" class="placement">
	<td class="image">
		<%= image_tag placement.animal.photo.url(:thumb) %>
		<div class="action_links">
			<% if placement.shelter.id == @current_shelter.id %>
				<% if can?(:destroy, Placement) %>
					<div class="delete_link">
					<%= link_to "Delete placement", placement, :confirm => "Are you sure?", :method => :delete, :remote => true %>
					</div>
				<% end %>
			<% end %>
			<div class="view_comments_link">
				<a href="#" class="tipped" data-tipped="dialog_comments" data-tipped-options="skin:'dialog_box',onShow:function(){ Comments.updateCommentableDialog(<%=placement.id%>,'<%=placement.class.name.to_s%>',<%=placement.shelter_id%>, <%=@current_shelter.id%>); 
Placements.findComments(<%=placement.id%>); }, onHide:function(){$('#comments').html('');}" onclick="return false;">View comments</a>
			</div>
		</div>
	</td>
	<td class="details">
		<h3><%= placement.animal.name %></h3>
		<h3><%= placement.status.humanize%> (<%= format_date(:long, placement.created_at) %>)</h3>
		<p><%= full_breed(placement.animal) %></p>
		<p><%= placement.animal.animal_type.name %><% if placement.animal.sex %>: <%= placement.animal.sex.humanize %> <% end %><% if placement.animal.is_sterilized %>(Sterilized)<% end %></p>
	</td>
	<td class="status">
		<p><%= placement.shelter.name %></p>
		<p><%= placement.shelter.street %></p>
		<p><%= placement.shelter.city %>, <%= placement.shelter.state %> <%= placement.shelter.zip_code %></p>
		<p><%= number_to_phone(placement.shelter.phone, :delimiter => "-") %>(Main)</p>
		<p><a href="mailto:<%= placement.shelter.email %>"><%= placement.shelter.email %></a></p>
	</td>
</tr>
