<tr id="<%= "placement_#{placement.id}" %>" class="placement">
	<td class="image">
		<%= image_tag placement.animal.photo.url(:thumb) %>
		<% if placement.shelter.id == @current_shelter.id %>
			<p class="action_links"><a href="#create_comment_<%=placement.id%>" id="add_comment_link_<%=placement.id%>" toptions="width = 450, height = 240, type = dom, title = Add comment, layout = quicklook, resizable = 0, shaded = 1, modal = 1">Add comment</a></p>
			<div class="action_links">
				<span class="delete_link">
					<%= link_to "Delete", placement, :confirm => "Are you sure?", :method => :delete, :remote => true %>
				</span>
			</div>
		<% end %>
	</td>
	<td class="details">
		<h3><%= placement.animal.name %></h3>
		<h3><%= placement.placement_type.humanize%> (<%= format_date(:long, placement.created_at) %>)</h3>
		<p><%= placement.animal.full_breed %></p>
		<p><%= placement.animal.animal_type.name %><% if placement.animal.sex %>: <%= placement.animal.sex.humanize %> <% end %><% if placement.animal.is_sterilized %>(Sterilized)<% end %></p>
		<div id="comments">
			<h4>Comments:</h4>
			<div class="create_comment" id="create_comment_<%=placement.id%>" style="display: none;">
				<h2>Add an comment for <%= placement.animal.name %></h2>
				<div id="comment_errors"></div>
				<%= form_for ([placement, Comment.new]), :remote => true, :html => { :id => "new_comment_#{placement.id}" } do |f| %>
					<%= render :partial => "comments/form", :locals => { :f => f } %>
				    <div class="actions">
						<%= f.submit "Create comment", :disable_with => "Submitting...", :id => "create_comment_button", :class => "button"  %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to "Cancel", "#create_comment_#{placement.id}", :id => "cancel_comment", :onclick => "TopUp.close();" -%>
					</div>
				<% end %>
			</div>
			<div id="comments_<%=placement.id%>" class="comment_list">
				<%= render placement.comments %>
			</div>
		</div>
	</td>
	<td class="status">
		<p><%= placement.shelter.name %></p>
		<p><%= placement.shelter.street %></p>
		<p><%= placement.shelter.city %>, <%= placement.shelter.state %> <%= placement.shelter.zip_code %></p>
		<p><%=number_to_phone(placement.shelter.main_phone, :delimiter => "-")%>(Main)</p>
		<p><a href="mailto:<%= placement.shelter.email %>"><%= placement.shelter.email %></a></p>
	</td>
</tr>
