<% animal = placement.animal %>

<tr id="<%= "placement_#{placement.id}" %>" class="placement">
	<td class="image">
		<%= image_tag polymorphic_photo_url(animal.photos.first, :thumb) %>
		<div class="action_links">
			<% if placement.shelter.id == @current_shelter.id %>
				<% if can?(:destroy, Placement) %>
					<div class="delete_link">
					<%= link_to "Delete placement", placement, :confirm => "Are you sure you want to delete?  This animal will no longer show on the parents record.", :method => :delete, :remote => true %>
					</div>
				<% end %>
			<% end %>
			<div class="view_comments_link">
				<a href="#" class="tooltip_dialog" 
							data-dialog-element="#dialog_comments" 
							data-dialog-title="&nbsp;"
							data-dialog-show="Comments.updateCommentable(<%=placement.id%>,'<%=placement.class.name.to_s%>');Comments.updateDialog(<%=placement.shelter_id%>, <%=@current_shelter.id%>);Placements.findComments(<%=placement.id%>);"
							data-dialog-blur="$('#comments').html('')">View comments</a>
			</div>
		</div>
	</td>
	<td class="details">
		<h3><%= animal.name %></h3>
		<h3><%= placement.status.humanize%> (<%= format_date(:long, placement.created_at) %>)</h3>
		<p><%= animal.full_breed %></p>
		<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex.humanize %> <% end %><% if animal.is_sterilized %>(Sterilized)<% end %></p>
	</td>
	<td class="status">
		<p><%= placement.shelter.name %></p>
		<p><%= placement.shelter.street %></p>
		<p><%= placement.shelter.city %>, <%= placement.shelter.state %> <%= placement.shelter.zip_code %></p>
		<p><%= number_to_phone(placement.shelter.phone, :delimiter => "-") %>(Main)</p>
		<p><a href="mailto:<%= placement.shelter.email %>"><%= placement.shelter.email %></a></p>
	</td>
</tr>
