<%= title "Why Shelter Exchange?" %>
<%= description "Our approach is to bring every rescue and shelter to a common place to share and communicate the information for these animals, allowing rescue efforts to be streamlined and results quickly achieved." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, bsl, breed specific laws, behavioral issues" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>Why Shelter Exchange? 
		<span class="social">
			<span class="facebook"><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></span>
		</span>
	</h1>
	
	<p>Shelter Exchange tackles the problem of animal euthanasia with a unique and practical solution. Our free collaborative software application is available to rescue groups, animal welfare organizations and shelters across the country. </p>

	<p>This application acts as a central resource for all members of the animal welfare community to connect, manage and share information about each animal in their care. This sets up an environment in which the greatest number of animals can be spared from euthanasia and adopted into new loving homes. </p>

	<p>We also assist animals with more specific challenges that can hinder their adoption opportunities. These include animals with medical, behavioral or special needs or those that that fall in to BSL (Breed Specific Law) categories.</p>

	<p>Our approach is to bring every rescue and shelter to a common place to share and communicate the information for these animals, allowing rescue efforts to be streamlined and results quickly achieved. </p>

	<p>While the Shelter Exchange application is purely for shelters and rescue groups, our website allows the general public to benefit from its real-time information and view animals that are available for adoption. This information can be searched via a geographical map or shelter or rescue name and actively promotes the shelters and rescue groups efforts to find more animals homes.</p>

	<p>Together we can drastically reduce the number of animals that are euthanized in shelters across the country.</p> 
	
	
	
<% end %>

<%= content_for :sidebar do %><% end %>