<%= title "Why Shelter Exchange?" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>Why Shelter Exchange?</h1>
	
	<p>Shelter Exchange has taken a unique approach to reducing animal euthanasia. We have creating a free collaborative software application available to rescue groups, animal welfare organizations and shelters across the country. </p>

	<p>The goal was to build a standard platform for the animal welfare community where information of animals can be managed and shared to save the lives of animals in shelters and on death row. </p>

	<p>We also want to assist animals that may not have the exposure to promote adoptions, special needs animals with serious medical or behavioral issues, or animals that fall in to BSL (Breed Specific Law) areas.</p>

	<p>Our philosophy is to bring every rescue and shelter to one common place to share and communicate the information for these animals, allowing rescue efforts to be streamlined and results to be achieved quickly. </p>

	<p>The general public can also view animals that are available for adoption. This information can be searched via a geographical map, or by a specific shelter or rescue’s name, promoting the shelters and rescue groups efforts to find more animals homes.</p>

	<p>Together we can drastically reduce the number of animals that are euthanized in shelters across the country. </p>
	
	
<% end %>

<%= content_for :sidebar do %><% end %>