<div id="header">
	<div id="toolbar">
		<span class="col_1">
			<span><%=@current_shelter.name%> <%# !Rails.env.production? ? "(#{Rails.env.humanize} Server)" : nil %></span>
		</span>
		<span class="col_2">
			<span><%=current_user.name%></span>
			<span class="link_separator">|</span>
			<span><%= link_to "Settings", "#", :class => "settings_link" %></span>
			<span class="link_separator">|</span>
			<span><%= link_to "Help", "http://help.shelterexchange.org", :target => "_new" %></span>
			<span class="link_separator">|</span>
			<span><%= link_to "Logout", destroy_user_session_path, :method => :delete, :confirm => "Are you sure?" %></span>
			<ul class="settings_menu">
		      	<li class="<%= selected_navigation(:shelters) %>"><%= link_to "Shelter Details", shelters_path %></li>
				<li class="<%= selected_navigation(:capacities) %>"><%= link_to "Shelter Capacity", capacities_path %></li>
				<li class="<%= selected_navigation(:users) %>"><%= link_to "Manage Users", users_path %></li>
				<% if can?(:update_settings, User)%>
				<li class="<%= selected_navigation(:settings) %>"><%= link_to "Account Settings", settings_path %></li>
				<% end %>
		    </ul>
		</span>
	</div>
	<ul id="menu">
		<li class="<%= selected_navigation(:dashboard) %>"><%= link_to "Dashboard", dashboard_path %></li>
		<li class="<%= selected_navigation(:animals) %>"><%= link_to "Animals", animals_path %></li>
		<li class="<%= selected_navigation(:tasks) %>"><%= link_to "Tasks", tasks_path %></li>
    <li class="<%= selected_navigation(:alerts) %>"><%= link_to "Alerts", alerts_path %></li>
		<li class="<%= selected_navigation(:parents) %>"><%= link_to "Parents", parents_path %></li>
    <% if ShelterExchange.features.contacts %>
      <li class="<%= selected_navigation(:contacts) %>"><%= link_to "Contacts", contacts_path %></li>
    <% end %>
		<li class="<%= selected_navigation(:accommodations) %>"><%= link_to "Accommodations", accommodations_path %></li>
		<li class="<%= selected_navigation(:communities) %>"><%= link_to "Community", communities_path %></li>
		<li class="<%= selected_navigation(:reports) %>"><%= link_to "Reports", reports_path %></li>
	</ul>
</div>
