<%= title "Founder's Story" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>

	<h1>Founder's Story</h1>
	
	<h2>Claire Bokor – Founder & President</h2>
	<p>At age 25, I took a leap of faith and left my hometown in England and moved to the USA. I was quickly faced with the reality that I didn’t know a soul in North Carolina and I certainly didn’t know how to drive on the left side of the roads around Raleigh! After a few minor adjustments I quickly made friends and became immersed into the fast paced American lifestyle. </p>

	<p>Following my love for animals, I participated in several events to help my local shelter and then I became more deeply involved as a volunteer. I would spend my time with animals that would be scared and confused, but for the few hours I was there, I would show them love and comfort. I would return to the shelter several weeks later and the same faces would still be there staring up at me from their kennels. I noticed they looked a little sadder, and a little more shut off from the world since the last time I had seen them. I couldn’t understand why people weren’t adopting these beautiful animals, and I certainly couldn’t comprehend how this was their only option, to sit alone, just waiting for someone to notice them, and maybe one day, to take them to a place called home. </p>
	<p>At that time I truly didn’t understand the struggles many shelters and rescue groups go through and the hard decisions that have to be made. All I saw was what was on the surface, but as I started to dig deeper and ask more questions, I learnt how the animal welfare system operated and I saw huge areas that needed great improvement.</p>

	<p>In 2008 the economy hit many families very badly. People were surrendering their animals at shelters because they couldn’t afford basic care for their pets. It is a desperately sad situation when you have to give up your family dog because of financial problems. I saw animals that were 12 years old being dumped at the shelter. They were afraid, scared, and horribly confused. Many people do not realize that older animals and those surrendered by their owners are the first to be euthanized; the space is just not available. Adding to the troubled times, the last place most people think to give their money when they are struggling financially themselves is to an animal shelter, so these underfunded, understaffed shelters were being expected to do so much more, with so much less.</p>

	<p>The idea of Shelter Exchange was the brainchild after my husband Brian and I had been discussing what we perceived was broken within the animal welfare system. What was missing? What could help save these animals from being euthanized?</p>

	<p>With so many great technical advancements that have been made recently the world has become a much smaller place. Brian and I pondering the thought of how could we apply technology to improving the animal welfare community. Could it be done? Would people use an on-line solution to save animals from death row? Shelter Exchange was born out of an idea that these changes could be made, just no one had every attempted to do this before. </p>

	<p>Many shelters and rescue groups work independently and very haphazardly. This is by no means a criticism, their organizations are underfunded, understaffed and do not have enough exposure to drive successful and long-term adoptions. Spay and neuter is not mandated, so repopulation is just adding to the problem of animals being euthanized in shelters. </p>

	<p>After carrying out extensive research and working with shelters and rescues we discovered that many animals are never even given a chance to find a home, many shelters do not even try to adopt animals out. The sad truth is, it is actually cheaper to kill an animal than it is to provide shelter, food and try to find them homes. This was another issue we hadn’t even considered. Some animals are deemed as hard behavioral cases, some may have a fearful aggressive history, or some animals are so ill that the shelter doesn’t have funds or resources to provide the care needed to bring them back to health. After more researching we discovered that there were literally thousands of rescue groups dedicated to taking the old animals, the sick, or the hard behavioral cases. These are the animals that historically never had a hope of making out the shelter. The problem was, trying to get the right rescue groups connected to the animals that needed their help the most. </p>
	<p>After considering all the problems we quickly realized we needed to connect shelters and rescue groups together. They needed to be working from the same data; they needed to be on the same page, we needed to provide a solution.</p>

	<p>Shelter Exchange is now providing this capability. After almost a year of building a collaborative software application, we will be able to connect shelter animals on death row to rescue groups who can help them. Communication was the fundamental missing piece here, and we hope we have filled that gap with our solution.</p>

	<p>There are so many people that have supported me through this journey to making Shelter Exchange a reality. The love, friendship and kindness I have been blessed with have given me the strength to continue on through every controversy and hard decision.</p>
	<p>My husband Brian is the technical genius behind Shelter Exchange. If it were not for him this project would never have got off the ground. He coded every single line of this application, and I owe everything to him. His hard work and commitment to making this dream a reality, and for every animal that is saved, I can say with complete conviction, we saved another life.</p>

	<p>We believe we are providing a huge advancement forward to the animal welfare community to help reduce the number of animals euthanized each year. That was our goal from the start, and that will continue to be what we strive for each day forward until there are no longer any animals to save.</p>

	<p>Thank you so much for supporting our efforts!</p>
	<br />
	<p>Claire Bokor</p>
	
<% end %>

<%= content_for :sidebar do %><% end %>