<%= title "Founder's Story" %>
<%= description "Read about Shelter Exchange's founder Claire Bokor and her vision to reduce the number of animals euthanized in shelters each year." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, claire bokor, surrendered animals, collaborative software application, brian bokor" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>

	<h1>Founder's Story</h1>
	
	<h2>Claire Bokor – Founder & President</h2>
	<%= image_tag("public/founders_story/claire_bokor.png", :class => "right", :width => "276", :height => "385") %>
	
	<p>At age 25, I took a leap of faith and left my hometown in England and moved to the USA.  My love of animals led me to participate in several events to help my local shelter and before long I became more deeply involved as a volunteer. First hand experience showed me just how scared and confused many of the animals were, but for the few hours I was there, I could see how much they benefited from the care and compassion shown by volunteers. Return visits to the shelter meant sometimes I saw the same faces, a little sadder and more withdrawn, staring back at me from the kennels and sometimes there were the stories of the lucky few that had been adopted, tainted by the stories of those that were not so lucky. </p> 
	
	<p>At that time I truly didn't understand the struggles many shelters and rescue groups go through and the hard decisions that have to be made. All I saw was what was on the surface, but as I started to dig deeper and ask more questions, I learnt how the animal welfare system operated and I saw huge areas that needed great improvement.</p>

	<p>In 2008 the economy took a turn for the worse and the consequences effected many families. People were surrendering their animals at shelters because they couldn't afford basic care for their pets. It is a desperately sad situation when you have to give up your family dog because of financial problems. I saw animals that were 12 years old being dumped at the shelter. They were afraid, scared, and horribly confused. Many people do not realize that older animals and those surrendered by their owners are the first to be euthanized; there simply isn't space to keep them on a long-term basis.  Adding to these troubles was the decline in donations as families felt the impact of recession.  Under funded, understaffed shelters were expected to do so much more, with so much less.</p>

	<p>My husband Brian and I had been discussing what we perceived to be broken within the animal welfare system. What was missing? What could help save these animals from being euthanized? The result of those conversations was our vision of Shelter Exchange and what could be achieved by developing this practical new approach to the problem.  </p>
	
	<p>Many shelters and rescue groups work independently and without the benefit of support from the wider community. Minimal resources mean even the best intended adoption drives lack the exposure they need to be successful. Spay and neuter is not mandated, adding repopulation to the growing list of reasons for animal euthanasia in shelters. </p>
	
	<p>After carrying out extensive research and working with shelters and rescues, we discovered that many animals are never even given a chance to find a home as economically, euthanasia represents a more affordable option when compared to the expense of caring for and re-homing animals. This is especially the case for animals with specialist needs, behavioral issues or medical conditions. It was encouraging to discover amidst this bleak backdrop of challenges, there are thousands of rescue groups dedicated to taking the old animals, the sick, or the hard behavioral cases. These are the animals that historically had little to no hope of ever leaving the shelter. The most difficult challenge was connecting the right rescue groups to the animals that needed their help the most. After considering all the problems we quickly realized we needed to help shelters and rescue groups make that connection. They needed to be working from the same data; they needed to be on the same page, we needed to provide a solution.</p>
	
	<%= image_tag("public/founders_story/abbey_ruby.png", :class => "left", :width => "304", :height => "380") %>
	
	<p>Shelter Exchange is now providing this capability. After almost a year of building a collaborative software application, we will be able to connect shelter animals scheduled for euthanasia to rescue groups who can help them.Communication was the fundamental missing piece here, and we hope we have filled that gap with our solution.</p>

	<p>There are so many people who have supported me through this journey to making Shelter Exchange a reality. The love, friendship and kindness I have been blessed with have given me the strength to continue on through every controversy and hard decision.</p>
	
	<p>My husband Brian is the technical genius behind Shelter Exchange. If it were not for him this project would have struggled to become a reality. He has diligently coded every single line of this application, and I owe everything to him. His hard work and commitment to Shelter Exchange will directly contribute to saving the lives of countless innocent animals.</p>

	<p>We believe we can fundamentally change and improve the approach taken to animal euthanasia and in doing so, help the greatest number of animals. That was our goal from the start, and that will continue to be what we strive for each day.</p>

	<p>Thank you so much for supporting our efforts.</p>
	<p>Claire Bokor</p>
	
	
<% end %>

<%= content_for :sidebar do %><% end %>