<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      Settings.initialize();
      Settings.loadApiJson('<%= api_list_animals_url(:subdomain => "api", :format=> :json) %>', '<%= @current_shelter.access_token %>');
		});
	</script>
<% end %>

<h2>Add Animals to Your Website</h2>

<p>An API token must be generated so that <%= @current_shelter.name %> can display their animals on your website. This access token protects your shelters' data and acts as a login to Shelter Exchange. If you suspect that someone has stolen the token or is using it for unintended purposes, please regenerate and update your shelter's website with this token, as if you were reseting a password. </p>

<div class="separator"></div>

<div class="section">

  <% if @current_shelter.access_token.blank? %>
    <%= link_to "Enable Web Access", token_authentications_path, :method => :post, :confirm => "Are you sure?", :class => "button"  %>
    <div class="separator"></div>
		<h3>Web Access is currently not enabled.  Please Generate a Token to access your animals on your website.</h3>
  <% else %>

    <%= link_to "Disable Web Access", token_authentication_path(@current_shelter),
      :method => :delete, :confirm => "Are you sure?", :class => "button"  %>
    <div class="separator"></div>


		<!-- <h2>API Documentation</h2> -->
		<!-- <h3><%= link_to "How can I display animals on my shelter or rescue's website?", "http://help.shelterexchange.org/help/kb/website&#45;integration&#45;api/how&#45;can&#45;i&#45;display&#45;animals&#45;on&#45;my&#45;shelter&#45;or&#45;rescues&#45;website", :target => "_new" %></h3> -->
		<!-- <h3><%= link_to "Can I display different animal types and statuses?", "http://help.shelterexchange.org/help/kb/website&#45;integration&#45;api/can&#45;i&#45;display&#45;different&#45;animal&#45;types&#45;and&#45;statuses",:target => "_new" %></h3> -->


    <div id="api_integration">

      <!-- actions -->
      <ul class="toggle_buttons">
        <li><a href="#iframe" class="current">iFrame</a></li>
        <li><a href="#json">JSON</a></li>
      </ul>
      <!-- actions -->

      <!-- iframe -->
      <div id="iframe">
        <h2>iFrame</h2>
        <p>Below is a snippet of code to put onto your website to display your Shelter Exchange Animals.</p>
        <div class="code_container">
          <code>&lt;iframe src="<%= api_list_animals_url(:access_token => @current_shelter.access_token, :subdomain => "api", :format=> :html, :protocol => "http") %>"
            width="100%" height="1150px"
            frameborder="0" marginheight="0" marginwidth="0"
            scrolling="yes" horizontalscrolling="no" verticalscrolling="yes"&gt;&lt;/iframe&gt;</code>
        </div>
        <h3>Example of how it will look on your site</h3>
        <iframe src="<%= api_list_animals_url(:access_token => @current_shelter.access_token, :subdomain => "api", :format=> :html) %>"
          width="100%" height="1150px" style="border: 1px #ccc solid;"
          frameborder="0" marginheight="0" marginwidth="0"
          scrolling="yes" horizontalscrolling="no" verticalscrolling="yes"></iframe>
      </div>
      <!-- iframe -->

      <!-- json -->
      <div id="json">
        <h2>JSON</h2>
        <p>Use the following url if you would like your animals in JSON. (<a href="http://api.jquery.com/jquery.ajax/">Example usage: jQuery AJAX</a>)</p>
        <div class="code_container">
          <code><%= api_list_animals_url(:access_token => @current_shelter.access_token, :subdomain => "api", :format=> :json, :protocol => "http") %></code>
        </div>

        <h3>JSON returned from this url</h3>
        <pre id="json_pretty_print"></pre>
      </div>
      <!-- json -->
    </div>

	<% end %>
	</div>
</div>
