<%= title "Account Settings"  %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading yellow_background">
		<h1>Account Settings</h1>
	</div>
	
	<div class="page_content">
		<h2>Account URL</h2>
		<p>Your shelter's main access URL.</p>
		<div class="section">
			<p><code><%= full_url %></code></p>
		</div>
		<% if can?(:change_owner, User) %>
		<h2>Change Owner</h2>
		<p>The owner is a record so we know who the main contact is for the shelter.</p>
		<div class="section">
			<%=form_for(@owner, :url => change_owner_user_path(@owner), :html => {:method => :post, :id => "change_owner_user_#{@owner.id}", :class => "change_owner_user" }) do |f| %>
				<%= collection_select(nil, :new_owner_id, @users, :id, :name, {:selected => @owner.id } ) %>
				<%= f.submit "Change", :disable_with => '...', :confirm => "Are you sure?" %>
			<% end %>
		</div>
		<% end %>
		
		<h2>Web Access</h2>
		<p><%= @current_shelter.name %>'s token to gain web access.  This access token protects your shelters' data and with the following URLs will give you access to your shelter's animals.  If you feel like someone has stole the token or is using it for unintended purposes, please regenerate and update your shelter's website with this token</p>
		<div class="section">
			<div class="separator"></div>
			<!-- <p><%= label_tag :access_token, "Access Token" %></p> -->
			<p><%= link_to "Generate Token", token_authentications_path, :method => :post, :confirm => "Are you sure?"  %>
			&nbsp;|&nbsp;
			<%= link_to "Delete Token", token_authentication_path(@current_shelter), :method => :delete, :confirm => "Are you sure?"  %></p>
			<div class="separator"></div>
			
			<div>
			<% if @current_shelter.access_token.blank? %>
				<h3>Web Access is currently not enabled.  Please Generate a Token so you can access your animals.</h3>
			<% else %>
				<h3>JSON</h3>
				<h5>Version 1</h5>
				<p><code><%= full_url %>/api/v1/animals.json?access_token=<%= @current_shelter.access_token %></code></p>
				<h3>JSONP</h3>
				<h5>Version 1</h5>
				<p><code><%= full_url %>/api/v1/animals.json?access_token=<%= @current_shelter.access_token %>&callback=METHOD_NAME</code></p>
				<h3>XML</h3>
				<h5>Version 1</h5>
				<p><code><%= full_url %>/api/v1/animals.xml?access_token=<%= @current_shelter.access_token %></code></p>
			<% end %>
			</div>
			
		</div>
	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>