<%= title "Account Settings"  %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Account Settings</h1>

		<ul class="tabs blue">
			<li class="<%= "current" if @tab.blank? %>"><%= link_to "Overview", settings_path %></li>
			<li class="<%= selected_navigation(:change_owner) %>"><%= link_to "Change Owner", setting_path(:tab => :change_owner) %></li>
			<li class="<%= selected_navigation(:web_access) %>"><%= link_to "Add Animals to Website", setting_path(:tab => :web_access) %></li>
			<li class="<%= selected_navigation(:auto_upload) %>"><%= link_to "Upload to Adopt-a-Pet and Petfinder", setting_path(:tab => :auto_upload) %></li>
		</ul>

	</div>

	<div class="page_content">
		<div class="tab_content">
			<%= render @tab || "overview" %>
		</div>
	</div>

<% end %>
