<%= title "Account Settings"  %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading yellow_background">
		<h1>Account Settings</h1>
	</div>
	
	<div class="page_content">
		<h2>Account URL</h2>
		<p>Your shelter's main access URL.</p>
		<div class="section">
			<p><code><%= full_url %></code></p>
		</div>
		
		<h2>Change Owner</h2>
		<p>The owner is a record so we know who the main contact is for the shelter.</p>
		<div class="section">
			<%=form_for(@owner, :url => change_owner_user_path(@owner), :html => {:method => :post, :id => "change_owner_user_#{@owner.id}", :class => "change_owner_user" }) do |f| %>
				<%= collection_select(nil, :new_owner_id, @users, :id, :name, {:selected => @owner.id } ) %>
				<%= f.submit "Change", :disable_with => '...', :confirm => "Are you sure?" %>
			<% end %>
		</div>
		
		<h2>Web Access</h2>
		<!-- Admins are  ALLOWED TO GENERATE -->
		<p><%= @current_shelter.name %>'s token to gain web access.  This access token protects your shelters' data.  If you feel like someone has stole the token, please regenerate and update your shelter's website with this token</p>
		<div class="section">
			<p><%= label_tag :access_token, "Access Token" %></p>
			<p><%= link_to "Generate Token", token_authentications_path, :method => :post, :confirm => "Are you sure?"  %>
			&nbsp;|&nbsp;
			<%= link_to "Delete Token", token_authentication_path(@current_shelter), :method => :delete, :confirm => "Are you sure?"  %></p>
			<p>
			<% if @current_shelter.access_token.blank? %>
				<p>Token Empty</p>
			<% else %>
				<h3>JSON</h3>
				<h5>Version 1</h5>
				<p><code><%= full_url %>/api/v1/animals.json?access_token=<%= @current_shelter.access_token %></code></p>
				<h3>XML</h3>
				<h5>Version 1</h5>
				<p><code><%= full_url %>/api/v1/animals.xml?access_token=<%= @current_shelter.access_token %></code></p>
			<% end %>
			</p>
			
		</div>
	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>