<%= title "Account Settings"  %>

<%= content_for :javascripts do %><% end %>


<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Account Settings</h1>
		
		<ul class="tabs blue">
			<li class="<%= "current" if @tab.blank? %>"><%= link_to "Info", settings_path %></li>
			<li class="<%= selected_navigation(:change_owner) %>"><%= link_to "Change Owner", change_owner_settings_path %></li>
			<li class="<%= selected_navigation(:web_access) %>"><%= link_to "Web Access", web_access_settings_path %></li>
			<li class="<%= selected_navigation(:connect) %>"><%= link_to "Connect", connect_settings_path %></li>
		</ul>
		
	</div>
	
	<div class="page_content">
		<div class="tab_content">
			<%= render @tab || "info" %>
		</div>
	</div>

<% end %>


<%= content_for :sidebar do %><% end %>