<%= title "Shelters and Rescues" %>
<%= description "Discover how our web application can support rescue efforts within the animal welfare community. Sign up or Login for shelters and rescue groups." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, find animals, search shelters, local shelters, adoptive parents, animals by euthanasia date, saving lives, age-oriented, breed-specific, special needs animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<ul class="submenu">
		<li><%= link_to "Sign Up", public_signup_path, :class=> "#{sub_navigation(:signup)} button" %></li>
		<li><%= link_to "Login", "/login", :class=> "#{sub_navigation(:login)} button" %></li>
	</ul>
	
	<h1>Shelters and Rescues 
		<span class="social">
			<span><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></span>
		</span>
	</h1>
	
	<p>Discover how our web application can support collaborative rescue efforts within the animal welfare community.</p>
	
	<div class="separator"></div>
	
	<!-- feature -->
	<div class="feature">
		<h2>Organize your shelter</h2>
		<p>Administrative features allow shelters and rescue groups to access and manage their information centrally for maximum efficiency.</p>

		<div class="screenshot">
			<%= link_to image_tag("public/shelters_and_rescues/screenshot_organize_your_shelter.png", :width => "400", :alt => "Organize your shelter"),
			 			"#{image_path('public/shelters_and_rescues/screenshot_organize_your_shelter.png')}", 
						:class => "screenshot_fancybox",
						:title => "View a detailed list of the latest activity within your facility including updates to animal records, alerts, tasks and important transfer requests from rescue groups." %>
		</div>

		<ul>
			<li>
				<h3>A quick overview</h3>
				<p>Gain immediate insight via the dashboard overview. View your facility’s tasks, alerts and recent activity including ‘transfer requests’ sent from other rescue groups wishing to transfer animals to their facility. </p>
			</li>
			<li>
				<h3>Alert the team</h3>
				<p>Create an alert relating to a specific animal’s needs or alternatively, a shelter-wide notification. Choose the level of alert and add a description e.g. Parvovirus outbreak.</p>
			</li>
			<li>
				<h3>Manage daily tasks</h3>
				<p>Set reminders for tasks relating to individual animals (e.g. spay surgery appointment) or alternatively, create a shelter-wide reminder for all members of staff to view.</p>
			</li>
			<li>
				<h3>View Reports</h3>
				<p>Automatically generate and store administrative reports for shelter staff to view. Reports include a monthly summary overview of shelter activity together with monthly and annual counts for key statistics.</p>
			</li>
			<li>
				<h3>Connect your website</h3>
				<p>A simple API connects the Shelter Exchange application to your website allowing you to easily share, display and publicise information held on the application to a wider audience.</p>
			</li>
			<li>
				<h3>Upload animals to Adopt-a-Pet.com</h3>
				<p>Automatically publish all of your adoptable animals in Shelter Exchange to the Adopt-a-Pet.com website. Save your organization time and gain more exposure for your adoptable animals.</p>
			</li>
		</ul>

	</div>
	<!--// feature -->

	<div class="separator"></div>

	<!-- feature -->
	<div class="feature">
		<h2>Manage and share animals</h2>
		<p>Creating, managing and maintaining documentation for each animal at your facility assists rescue groups in making swift and positive decisions and directs their available resources to animals with the greatest and most urgent needs.</p>

		<div class="screenshot">
			<%= link_to image_tag("public/shelters_and_rescues/screenshot_manage_and_share_animals.png", :width => "400", :alt => "Manage and share animals"),
			 			"#{image_path('public/shelters_and_rescues/screenshot_manage_and_share_animals.png')}", 
						:class => "screenshot_fancybox",
						:title => "Create individual records for each animal to include attributes, additional medical, behavioral or general notes and status changes. " %>
		</div>

		<ul>

			<li>
				<h3>Capture animal details</h3>
				<p>Create an individual record for each animal and capture all their vital information including: name, age, sex, weight, size, color, microchip number, description and photo. Records can be easily updated and edited as required.</p>
			</li>
			<li>
				<h3>Make a note</h3>
				<p>Add notes to each animal’s record to detail medical, behavioural or general information. Filter and view notes according to those categories.</p>
			</li>
			<li>
				<h3>Map your floor plan</h3>
				<p>Create a virtual floor plan of your facility indicating specific accommodation types, such as crates. Optionally add a location name such as building or room.</p>
			</li>
			<li>
				<h3>Track status changes</h3>
				<p>Monitor all status changes to track an animal’s history. Follow the animal’s progress or monitor timelines, for example from foster through to adoption.</p>
			</li>
		</ul>

	</div>
	<!--// feature -->

	<div class="separator"></div>

	<!-- feature -->
	<div class="feature">
		<h2>Connecting shelters to rescue groups</h2>
		<p>By connecting shelters with rescue groups important information can be shared amongst the community and many animals can be spared the fate of euthanasia and increase their opportunities for being re-homed.</p>

		<div class="screenshot">
			<%= link_to image_tag("public/shelters_and_rescues/screenshot_connecting_shelters_to_rescue_groups.png", :width => "400", :alt => "Connecting shelters to rescue groups"),
			 			"#{image_path('public/shelters_and_rescues/screenshot_connecting_shelters_to_rescue_groups.png')}", 
						:class => "screenshot_fancybox",
						:title => "The map view of shelters and rescue groups and the animals listed there. This can be filtered by a city, zip code or at a specific shelter name." %>
		</div>

		<ul>
			<li>
				<h3>Search local shelters</h3>
				<p>Identify animals currently located at shelters and rescue groups. Search by categories including all active status, foster care, stray hold and rescue candidate. Search geographically via city, zip code or map view.</p>
			</li>
			<li>
				<h3>Search animals by euthanasia date</h3>
				<p>Sort and prioritize animals in sequence according to euthanasia schedules to better direct resources and increase rescue opportunities for those with the most urgent requirements and least amount of time. Filter by animal type, breed and sex.</p>
			</li>
			<li>
				<h3>Qualify adoptive parents</h3>
				<p>Run a search on prospective adoptive owners. Records for listed people include contact details, adoption and foster history and additional shelter notes. Achieve long-term re-homing success through qualified pre-adoptive checks.</p>
			</li>
		</ul>

	</div>
	<!--// feature -->
	
	<div class="separator"></div>
	
	<!-- feature -->
	<div class="feature">
		<h2>Saving lives</h2>
		<p>Connect with specialist rescue groups for animals facing specific or significant challenges such as those dedicated to age-oriented, breed-specific or special needs animals.</p>

		<div class="screenshot">
			<%= link_to image_tag("public/shelters_and_rescues/screenshot_saving_lives.png", :width => "400", :alt => "Saving lives"), 		
					    "#{image_path('public/shelters_and_rescues/screenshot_saving_lives.png')}", 
						:class => "screenshot_fancybox",
						:title => "Shelters and rescue groups can view in depth details of animals they may wish to pull by reviewing the medical and behavioral notes and history details." %>
		</div>

		<ul>
			<li>
				<h3>View animal details</h3>
				<p>Review and assess an animals record, notes and history prior to deciding if they would a good fit for your rescue group. Determine any medical or behavioural assistance that may be required to save the animal.</p>
			</li>
			<li>
				<h3>Transfer Requests</h3>
				<p>Request to transfer an animal to your facility. This feature is designed for rescue groups to transfer animals that may be otherwise scheduled for euthanasia at other shelters.</p>
			</li>
			<li>
				<h3>Reassign animal records</h3>
				<p>If you have transferred or pulled an animal to your facility through Shelter Exchange, the animal’s record, notes and history will automatically be transferred from the original shelter to yours through the Shelter Exchange application, for you to update and manage.</p>
			</li>
		</ul>

	</div>
	<!--// feature -->
	
	<div class="separator"></div>
	
	<div class="center">
		<p>Sign up your shelter or rescue group to benefit from our free application and be part of the growing community working together to saving more lives.</p>
		<%= link_to "Sign Up", public_signup_path, :class=> "#{sub_navigation(:signup)} button" %>
	</div>
	
<% end %>

<%= content_for :sidebar do %><% end %>