<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style type="text/css" media="screen">
	  #email_logo { width: 100%; text-align:center; margin:0 auto;}
		#email_logo img{text-align:center; margin:0 auto;}
		.closing{padding-top:5px;}
		.closing p{padding-bottom: 10px;}
  </style>

</head>
<body>

	<div id="email_logo">
		<%= image_tag attachments['logo_email.jpg'].url %>
	</div>

  <p>Hello!</p>
  <p>We have detected an error and can no longer upload your animal data to <%= @integration_humanize %> because your FTP Username and FTP Password in no longer valid.</p>
  <p>
    Please click this link to re-enter your FTP &amp; Password:
    <%= link_to "#{setting_url(:tab => :auto_upload, :subdomain => @account.subdomain)}",
                setting_url(:tab => :auto_upload, :subdomain => @account.subdomain) %>
  </p>

  <p>
    If you have questions, please feel free to email us:
    <a href="mailto:info@shelterexchange.org?subject=Revoked Auto Upload - <%=@integration_humanize%> - <%=@shelter.name%>(<%=@shelter.id%>)">
      info@shelterexchange.org</a>
  </p>

	<div class="closing">
		<p>Many thanks,</p>
		<p>Shelter Exchange Team</p>
	</div>

</body>
</html>

