<%= title "New Account Registered" %>
<%= description "Thank you for registering and joining the Shelter Exchange community! We are excited to be working together with shelters and rescue groups to help the homeless animals across the country." %>
<%= keywords "Shelter Exchange, animal shelters, animal rescue groups, animal rescue, homeless animals, create a new account, animal euthanasia, shelter exchange, animal welfare community, euthanized, euthanized animals, find animals, search shelters, local shelters, adoptive parents, animals by euthanasia date, saving lives, age-oriented, breed-specific, special needs animals, shelter management software, shelter management application" %>

<%= robots "noindex,follow" %>

<%= content_for :page_content do %>

	<h1>Welcome <%= @shelter.name %></h1>
	<p>Thank you for registering and joining the Shelter Exchange community! We are excited to be working together with shelters and rescue groups to help the homeless animals across the country.</p><br />
	<p><strong>To get started please click the Login button below.</strong></p>
	<%= link_to "Login", new_user_session_url(:subdomain => @account.subdomain), :class=> "#{sub_navigation(:login)} button" %>
	
<% end %>

<%= content_for :sidebar do %>
	
<% end %>



