<tr id="<%= "animal_#{animal.id}" %>" class="animal_row">
	<td class="image">
	  <%= link_to image_tag(polymorphic_photo_url(animal.photos.first, :thumb)), animal_path(animal)  %>
	</td>
	<td class="details">
		<h3><%= link_to animal.name, animal %></h3>
		<p><%= animal.full_breed %></p>
		<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex.humanize %> <% end %> <% if animal.sterilized? %>(Sterilized)<% end %>
	</td>
</tr>

<% animal.status_histories.each_with_index do |status_history, index| %>
  <tr class="status_history_row <%= "last_status" if  animal.status_histories.size == index+1 %>">
    <td>&nbsp;</td>
    <td>
      <div id="<%= "status_history_#{status_history.id}" %>" class="status_history">
        <span class="status_date"><%= format_date_for(status_history.status_date, :short) %></span>
        <span class="details">
          <span class="status"><%= status_history.animal_status.name %></span>
        </span>
        <span class="action_links">
          <div class="view_comments_link">
            <a href="#" class="tooltip_dialog"
                  data-dialog-element="#dialog_comments"
                  data-dialog-title="&nbsp;"
                  data-dialog-show="Comments.updateCommentable(<%=status_history.id%>,'<%=status_history.class.name.to_s%>');$('#create_comment').hide();StatusHistories.getComments(<%=status_history.id%>);"
                  data-dialog-blur="$('#comments').html('')">View comments</a>
          </div>
        </span>
        <div class="reason">
          <%= status_history.reason.blank? ? "No reason provided" : status_history.reason %>
        </div>
      </div>
    </td>
  </tr>
<% end %>

