<tr class="<%= "contact_#{contact.id}" %> contact_row">
  <td class="image">
    <%= link_to image_tag(contact.photo.url(:thumb)), contact_path(contact) %>
	</td>
	<td class="details">
    <h2><%= link_to "#{contact.last_name}, #{contact.first_name}", contact %></h2>
		<p><%= contact.street %> <%= contact.street_2 %></p>
		<p><%= contact.city %>, <%= contact.state %> <%= contact.zip_code %></p>
	</td>
	<td class="status">
		<p><%=number_to_phone(contact.phone, :delimiter => "-")%>(h)</p>
		<% unless contact.mobile.blank? %>
			<p><%=number_to_phone(contact.mobile, :delimiter => "-")%>(m)</p>
		<% end %>
    <p><a href="mailto:<%= contact.email %>"><%= contact.email %></a></p>
	</td>
</tr>
<tr class="<%= "contact_#{contact.id}" %> role_row">
  <td>&nbsp;</td>
  <td>
    <div class="roles">
      <% Contact::ROLES.each do |value| %>
        <% if contact.send(value) %>
          <span class="role"><%= value.humanize %></span>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <div class="action_links">
      <% if action_name == "find_by_full_name" %>
        <span class="select_link">
			    <%= link_to "Select", "#", :onclick => "StatusHistories.selectContact(#{contact.id}); return false;", :class => "button green" %>
				</span>
      <% else %>
        <% if can?(:update, Contact) %>
          <span class="edit_link">
            <%= link_to "Edit", edit_contact_path(contact) %>
          </span>
        <% end %>

        <% if can?(:destroy, Contact) %>
          <span class="delete_link">&nbsp;|&nbsp;
            <%= link_to "Delete", contact, :confirm => "Are you sure you want to delete? Contact records should only be deleted if you have entered this record in by mistake, or this is a duplicate.", :method => :delete, :remote => true, :format => :js %>
          </span>
        <% end %>
      <% end %>
		</div>
  </td>
</tr>
