<%= title "Contacts" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<% if @total_contacts > 0 %>

		<div class="print_heading">
			<h1>Contacts</h1>
		</div>

		<div class="page_content">

			<table class="search">
				<tr>
					<td class="full_search">
						<h3>Search for contacts:</h3>
						<%= form_for :contacts, :url => { :action => :search }, :remote => true, :format => :js, :html => { :id => "form_search", :method => :get } do |f| %>
							<%= text_field_tag "q", ""  %>
							<%= f.submit "Go", 'data-disable-with' => "..." %>
						<% end %>
					</td>
					<td class="filters">
						<h3>Filter contacts by:</h3>
						<table class="filter_table">
							<tr>
								<td><%= label_tag :by_last_name, "Last Name" %></td>
                <td><%= select(:filters, :by_last_name, ('A'..'Z').to_a, {:prompt => "All"},
								       { :name => "by_last_name", :onchange => "Contacts.filterByLastNameRole();" } ) %><br /><br />
								</td>
							</tr>
							<tr>
								<td><%= label_tag :by_role, "Role" %></td>
								<td><%= collection_select(:filters, :by_role, Contact::ROLES, :to_s, :humanize, {:prompt => "All"},
								        {:name => "by_role", :onchange => "Contacts.filterByLastNameRole();"} ) %>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<div id="contacts">
				<% if @contacts %>
					<%= render "contact_list", :contacts => @contacts %>
				<% else %>
					<%= render "no_contacts", :contacts => @contacts %>
				<% end %>
			</div>

		</div>

	<% else %>
		<div class="page_heading">
			<h1>Create your first contact</h1>
			<p>Click the 'Create New Contact' button and complete the fields to add your first contact.</p>
		</div>
	<% end %>
<% end %>

<%= content_for :sidebar do %>

  <ul class="action_links">
	  <% if can?(:create, Contact) %>
      <li><%= link_to "Create new contact", new_contact_path, :class => "button red" %></li>
    <% end %>

    <% if can?(:export, Contact) %>
		  <li><%= link_to 'Export contacts', "#", :id => "export_contacts_link", :class => "button" %></li>
    <% end %>

    <% if can?(:import, Contact) %>
		  <li><%= link_to 'Import contacts', "#", :id => "import_contacts_link", :class => "button" %></li>
    <% end %>
  </ul>

  <div id="export_contacts" class="box hide orange">
    <h2>Export contacts</h2>
    <p>The export will provide a csv download of contact data.</p>
    <%= form_for :contact, :url => export_contacts_path(:format => :csv),
        :method => :post, :html => { :id => "export_contacts_form" } do |f| %>
      <ul>
        <li>
			    <%= f.label :by_role, "By Role", :class => "desc" %>
			    <div>
          <%= f.collection_select :by_role, Contact::ROLES, :to_s, :humanize, { :prompt => "All" }, { :class => "field select medium" } %>
          </div>
        </li>
        <li class="buttons">
          <%= f.submit "Download CSV", :class => "button"  %>
          &nbsp;or&nbsp;
          <%= link_to "Cancel", "#", :id => "cancel_contact_export" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div id="import_contacts" class="box hide orange">
    <h2>Import contacts</h2>
    <p>Select a csv file containing your contacts (i.e. Google CSV format or Outlook CSV format)</p>
    <%= form_for :contact, :url => import_contacts_path,
        :method => :post, :html => { :id => "import_contacts_form" } do |f| %>
      <ul>
        <li><%= f.file_field :file, :class => "field file", :accept => ".csv" %></li>
        <li class="buttons">
        <%= f.submit "Upload CSV", :class => "button"  %>
          &nbsp;or&nbsp;
          <%= link_to "Cancel", "#", :id => "cancel_contact_import" %>
        </li>
      </ul>
    <% end %>
  </div>

<% end %>
