<%= title "Contacts" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<% if @contacts.length > 0 %>

		<div class="print_heading">
			<h1>Contacts</h1>
		</div>

		<div class="page_content">
      <div class="search">
        <h3>Search: <%= image_tag "icon_help.png", :class =>"tooltip_on_top", "data-tip" => "Search for the contacts name, telephone number, email address or by company name." %></h3>
        <%= form_for :contacts, :html => { :id => "form_search", :onsubmit => "Contacts.search(); return false;" } do |f| %>
        <ul>
		      <li class="full">
            <%= text_field_tag "query", "", :placeholder => "Enter search term", :class => "field text"  %>
            <%= f.submit "Go" %>
          </li>
        </ul>
        <% end %>
      </div>

      <div class="filter_by">
        <h3>Filter by:</h3>
        <div class="filters">
          <span class="text">Last name:</span>
          <span class="choice">
            <%= select(:filters, :by_last_name, ('A'..'Z').to_a, {:prompt => "All"},
							 { :name => "by_last_name", :onchange => "Contacts.search();" } ) %>
          </span>
          <span class="text">Role:</span>
          <span class="choice">
            <%= collection_select(:filters, :by_role, Contact::ROLES, :to_s, :humanize, {:prompt => "All"},
							  {:name => "by_role", :onchange => "Contacts.search();"} ) %>
          </span>
          <span class="text">Order by:</span>
          <span class="choice">
            <select id="filters_order_by" name="order_by" onchange="Contacts.search();">
              <option value="contacts.last_name ASC">A-Z</option>
              <option value="contacts.last_name DESC">Z-A</option>
              <option value="contacts.updated_at DESC">Newest-Oldest</option>
              <option value="contacts.updated_at ASC">Oldest-Newest</option>
            </select>
          </span>
        </div>
      </div>

			<div id="contacts">
			  <%= render "contact_list", :contacts => @contacts %>
			</div>

		</div>

	<% else %>
		<div class="page_heading">
			<h1>Create your first contact</h1>
			<p>Click the 'Create New Contact' button and complete the fields to add your first contact.</p>
		</div>
	<% end %>
<% end %>

<%= content_for :sidebar do %>

  <ul class="action_links">
	  <% if can?(:create, Contact) %>
      <li><%= link_to "Create new contact", new_contact_path, :class => "button red" %></li>
    <% end %>

    <% if can?(:export, Contact) %>
		  <li><%= link_to 'Export contacts', "#", :id => "export_contacts_link", :class => "button" %></li>
    <% end %>

    <% if can?(:import, Contact) %>
		  <li><%= link_to 'Import contacts', "#", :id => "import_contacts_link", :class => "button" %></li>
    <% end %>
  </ul>

  <div id="export_contacts" class="box hide orange">
    <h2>Export contacts</h2>
    <p>The export will provide a csv download of contact data.</p>
    <%= form_for :contact, :url => export_contacts_path(:format => :csv),
        :method => :post, :html => { :id => "export_contacts_form" } do |f| %>
      <ul>
        <li>
			    <%= f.label :by_role, "By Role", :class => "desc" %>
			    <div>
          <%= f.collection_select :by_role, Contact::ROLES, :to_s, :humanize, { :prompt => "All" }, { :class => "field select medium" } %>
          </div>
        </li>
        <li class="buttons">
          <%= f.submit "Download CSV", :class => "button"  %>
          &nbsp;or&nbsp;
          <%= link_to "Cancel", "#", :id => "cancel_contact_export" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div id="import_contacts" class="box hide orange">
    <h2>Import contacts</h2>
    <p>Select a csv file containing your contacts (i.e. Google CSV format or Outlook CSV format)</p>
    <%= form_for :contact, :url => import_contacts_path,
        :method => :post, :html => { :id => "import_contacts_form" } do |f| %>
      <ul>
        <li><%= f.file_field :file, :class => "field file", :accept => ".csv" %></li>
        <li class="buttons">
        <%= f.submit "Upload CSV", :class => "button"  %>
          &nbsp;or&nbsp;
          <%= link_to "Cancel", "#", :id => "cancel_contact_import" %>
        </li>
      </ul>
    <% end %>
  </div>

<% end %>
