<%= title "Contacts" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<% if @total_contacts > 0 %>

		<div class="print_heading">
			<h1>Contacts</h1>
		</div>

		<div class="page_content">

			<table class="search">
				<tr>
					<td class="full_search">
						<h3>Search for contacts:</h3>
						<%= form_for :contacts, :url => { :action => :search }, :remote => true, :format => :js, :html => { :id => "form_search", :method => :get } do |f| %>
							<%= text_field_tag "q", ""  %>
							<%= f.submit "Go", :disable_with => "..." %>
						<% end %>
					</td>
					<td class="filters">
						<h3>Filter contacts by:</h3>
						<table class="filter_table">
							<tr>
								<td><%= label_tag :by_last_name, "Last Name" %></td>
                <td><%= select(:filters, :by_last_name, ('A'..'Z').to_a, {:prompt => "All"},
								       { :name => "by_last_name", :onchange => "Contacts.filterByLastNameRole();" } ) %><br /><br />
								</td>
							</tr>
							<tr>
								<td><%= label_tag :by_role, "Role" %></td>
								<td><%= collection_select(:filters, :by_role, Contact::ROLES, :to_s, :humanize, {:prompt => "All"},
								        {:name => "by_role", :onchange => "Contacts.filterByLastNameRole();"} ) %>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<div id="contacts">
				<% if @contacts %>
					<%= render "contact_list", :contacts => @contacts %>
				<% else %>
					<%= render "no_contacts", :contacts => @contacts %>
				<% end %>
			</div>

		</div>

	<% else %>
		<div class="page_heading">
			<h1>Create your first contact</h1>
			<p>Once you have clicked Create new contact, please complete the form with the contacts information.</p>
		</div>
	<% end %>

<% end %>

<%= content_for :sidebar do %>
  <style type="text/css" media="all">
    .index_contacts #sidebar .action_links li:first-child { margin-bottom:15px; padding-bottom: 10px; border-bottom: 1px dotted #999; }
  </style>
	<ul class="action_links">
		<li><%= link_to "Create new contact", new_contact_path, :class => "button red" %></li>
    <li>
      <%= link_to "Migrate Parents to Contacts", parents_path,
        :class => "button blue tooltip",
        "data-tip" => "Temporary feature for shelters who have existing Parent records to migrate them to the new contacts system" %></li>
  </ul>

  <div class="imports">
    <h2>Import from Outlook format</h2>
    <%= form_for :contacts, :url => { :action => :import }, :html => { :id => "form_import", :method => :put, :multipart => true } do |f| %>
      <ul>
        <li><%= f.file_field :import_file, :class => "field file"  %><%= f.submit "Upload CSV", :disable_with => "...", :class => "button" %></li>
      </ul>
    <% end %>
  </div>

  <div class="exports">
    <h2>Export to Outlook format</h2>
    <%= link_to "Download CSV", export_contacts_path(:format => :csv), :class => "button" %>
	</div>
<% end %>
