<tr id="<%= "animal_#{animal.id}" %>">
	<td class="image">
		<% if controller_name == "parents" %>
			<%= link_to image_tag(animal.photo.url(:thumb)), "#", :onclick => "Parents.selectAnimal('#{animal.id}','#{animal.name}');return false;"  %>
		<% elsif controller_name == "communities" %>
			<%= link_to image_tag(animal.photo.url(:thumb)), animal_communities_path(animal.id), :target => "_blank"  %>
		<% else %>
			<%= link_to image_tag(animal.photo.url(:thumb)), animal_path(animal)  %>
		<% end %>
	</td>
	<td class="details">
		<% if controller_name == "parents" %>
			<h3><%= link_to animal.name, "#", :onclick => "Parents.selectAnimal('#{animal.id}','#{animal.name}');return false;"  %></h3>
		<% elsif controller_name == "communities" %>
			<h3><%= link_to animal.name, animal_communities_path(animal.id), :target => "_blank"  %></h3>
		<% else %>
			<h3><%= link_to animal.name, animal %></h3>		
		<% end %>
		<p><%= full_breed(animal) %></p>
		<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex.humanize %> <% end %><% if animal.is_sterilized %>(Sterilized)<% end %>
	</td>
	<td class="status">
		<p><b><%= animal.animal_status.name %></b></p>
		<% if controller_name == "communities" %>
		<%
			if animal.euthanasia_scheduled.present?
				if animal.euthanasia_scheduled >= Date.today and animal.euthanasia_scheduled <= Date.today + 2.weeks 
					days_left = days_left(animal.euthanasia_scheduled, Date.today)
				end
			end
		%>
			<p><%= animal.shelter.name %></p>
			<p><b style="color:red;"><%= days_left %></b></p>
		<% end %>
		<div class="action_links">
			<span class="select_link">
		    	<%= link_to "Select", "#", :onclick => "Parents.selectAnimal('#{animal.id}','#{animal.name}');return false;", :class => "button green" %>
			</span>
			<% if can?(:update, Animal) %>
			<span class="edit_link">
		    	<%= link_to "Edit", edit_animal_path(animal) %>
			</span>
			<% end %>
			<% if can?(:destroy, Animal) %>
			<span class="delete_link">&nbsp;|&nbsp;
		   		<%= link_to "Delete", animal, :confirm => "Are you sure?", :method => :delete %>
			</span>
			<% end %>
		</div>
	</td>
</tr>

