<table class="list">
	<% @animals.each do |animal| %>
	<tr id="<%= "animal_#{animal.id}" %>">
		<td class="image">
			<%= link_to image_tag(animal.photo.url(:thumb)), animal_path(animal)  %>
		</td>
		<td class="details">
			<h3><%= link_to animal.name, animal %></h3>
			<p><%= format_breed(animal.is_mix_breed, animal.primary_breed, animal.secondary_breed) %></p>
			<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex %> <% end %><% if animal.is_sterilized %>(Sterilized)<% end %>
		</td>
		<td class="status">
			<p><b><%= animal.animal_status.name %></b></p>
			<p><%= link_to "Edit", edit_animal_path(animal)%>&nbsp;&nbsp;|&nbsp;&nbsp;
			   <%= link_to "Delete", animal, :confirm => "Are you sure?", :method => :delete %></p>
		</td>
	</tr>
	<% end %>
</table>


<%= will_paginate @animals, :renderer => 'RemoteLinkRenderer' %>