<%= form_for setup_photos(@animal), :html => { :multipart => :true } do |f| %>
	<ul>
		<li>
			<%= f.label :name, "Name <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div><%= f.text_field :name, :class => "field text medium", :maxlength => 255, :placeholder => "Enter animal name" %></div>
			<%= has_error_message?(@animal, :name)%>
		</li>
		<li>
			<%= f.label :animal_type_id, "Type <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
			<%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {:prompt => "Select one"}, {:class => "field select small" } %>
			</div>
			<%= has_error_message?(@animal, :animal_type_id)%>
		</li>
		<li id="breed_fields">
			<div id="primary_breed_field">
				<%= f.label :primary_breed, "Primary breed <span class='req'>*</span>".html_safe, :class => "desc" %>
        <div>
          <%= f.select :primary_breed, [@animal.primary_breed], {}, { "data-placeholder" => "Type animal breed", :class => "chosen-select field select medium" } %>
				</div>
				<%= has_error_message?(@animal, :primary_breed)%>
			</div>
			<div id="is_mixed_breed_field">
				<span>
					<%= f.check_box :is_mix_breed, :class =>"field checkbox" %>
					<%= f.label :is_mix_breed, "Mixed Breed?", :class => "desc choice" %>
				</span>
				<%= has_error_message?(@animal, :is_mixed_breed)%>
			</div>
			<div id="secondary_breed_field">
				<%= f.label :secondary_breed, "Secondary breed", :class => "desc" %>
				<div>
          <%= f.select :secondary_breed, [@animal.secondary_breed], {}, { "data-placeholder" => "Type animal breed", :class => "chosen-select field select medium" } %>
				</div>
				<%= has_error_message?(@animal, :secondary_breed)%>
			</div>
		</li>
    <li class="full">
      <ul id="status_history_container">
        <li class="animal_status_id_field">
          <%= f.label :animal_status_id, "Status <span class='req'>*</span>".html_safe, :class => "desc" %>
          <div>
            <%= f.collection_select :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "Select one"}, {:class => "field select medium" } %>
          </div>
          <%= has_error_message?(@animal, :animal_status_id)%>
        </li>
        <li class="section status_history_section">
          <section>
            <h3>Status Change Info</h3>
            <div>Below you can record the date the status changed, the reason for the change, and add a Contact to the new status. For example: Adopted - Status Date: 02/02/2014 - Reason: Adopter found at adoption event - Add a Contact: attach the adopter's contact details.</div>
          </section>
        </li>
        <li class="full date status_history_date_field">
          <%= f.label :status_history_date, "Status Date".html_safe, :class => "desc" %>
          <span>
            <%= f.text_field :status_history_date_month, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :status_history_date, :month)  %>
            <%= f.label :status_history_date, "MM" %>
          </span>
          <span class="symbol">/</span>
          <span>
            <%= f.text_field :status_history_date_day, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :status_history_date, :day) %>
            <%= f.label :status_history_date, "DD" %>
          </span>
          <span class="symbol">/</span>
          <span>
            <%= f.text_field :status_history_date_year, :class => "field text", :maxlength => 4, :size => 4, :value => date_attribute_for(@animal, :status_history_date, :year) %>
            <%= f.label :status_history_date, "YYYY" %>
          </span>
          <span>
            <%= image_tag "icon_calendar.png", :id => "status_history_date_trigger", :class => "icon_calendar" %>
          </span>
			    <span id="animal_status_history_date_datepicker" class="calendar"></span>
          <%= has_error_message?(@animal, :status_history_date)%>
       </li>
       <li class="status_history_reason_field">
         <%= f.label :status_history_reason, "Reason".html_safe, :class => "desc" %>
				 <%= f.text_field :status_history_reason, :class => "field text large", :maxlength => 255 %>
         <%= has_error_message?(@animal, :status_history_reason)%>
       </li>
       <li class="status_history_contact_field full">
         <%= f.label :status_history_contact_id, "Add a Contact <span class='help_text'>(i.e. #{Contact::ROLES.collect(&:humanize).to_sentence})</span>".html_safe, :class => "desc" %>
         <%= f.hidden_field :status_history_contact_id %>

         <span id="contact_name"></span>
         <span>
           <a href="#" id="add_contact_link" class="tooltip_dialog"
              data-dialog-element="#dialog_contact_search"
              data-dialog-show="Contacts.updateSearchDialog();"
              data-dialog-title="&nbsp;">Search for contact</a>
         </span>
         <span>
           <a href="#" id="remove_contact_link"
              onclick="Animals.removeStatusHistoryContact(); return false;">Remove Contact</a>
         </span>

        </li>
      </ul>
		</li>
		<li>
			<%= f.label :sex, "Sex <span class='req'>*</span>".html_safe, :class => "desc" %>
      <% Animal::SEX.each_with_index do |value, index| %>
        <span class="left<%= "Padded" if index==1 %>">
          <%= f.radio_button :sex, value, :class => "field radio" %>
          <%= f.label "sex_#{value}", value.humanize, :class => "choice" %>
        </span>
      <% end %>
			<%= has_error_message?(@animal, :sex)%>
		</li>
		<li>
			<%= f.label :age, "Age range <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
				<%= f.collection_select :age, Animal::AGES, :to_s, :humanize, {:prompt => "Select one"}, {:class => "field select small" } %>
			</div>
			<%= has_error_message?(@animal, :age)%>
		</li>
		<li>
			<%= f.label :size, "Size <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div><%= f.collection_select :size, Animal::SIZES, :first, :last, {:prompt => "Select one"}, {:class => "field select small" } %></div>
			<%= has_error_message?(@animal, :size)%>
		</li>
		<li>
			<%= f.label :weight, "Weight", :class => "desc" %>
			<div><%= f.text_field :weight, :class => "field text medium", :maxlength => 255, :placeholder => "40 lbs" %></div>
			<%= has_error_message?(@animal, :weight)%>
		</li>
		<li>
			<%= f.label :color, "Color", :class => "desc" %>
			<div><%= f.text_field :color, :class => "field text medium", :maxlength => 255, :placeholder => "Black and white" %></div>
			<%= has_error_message?(@animal, :color)%>
		</li>
		<li>
			<%= f.label :microchip, "Microchip#", :class => "desc" %>
			<div><%= f.text_field :microchip, :class => "field text medium", :maxlength => 255, :placeholder => "Enter microchip number if known" %></div>
			<%= has_error_message?(@animal, :microchip)%>
    </li>
    <li>
			<%= f.label :is_sterilized, "Sterilized?", :class => "desc" %>
			<!-- <div> -->
				<span class="left">
					<%= f.radio_button :is_sterilized, true, :class => "field radio" %>
					<%= f.label :is_sterilized, "Yes", :class => "choice" %>
				</span>
				<span class="leftPadded">
					<%= f.radio_button :is_sterilized, false, :class => "field radio" %>
					<%= f.label :is_sterilized, "No", :class => "choice" %>
				</span>
			<!-- </div> -->
			<%= has_error_message?(@animal, :is_sterilized)%>
		</li>
		<li>
			<div id="has_special_needs_field">
				<span>
					<%= f.check_box :has_special_needs, :class =>"field checkbox" %>
					<%= f.label :has_special_needs, "Special needs?", :class => "desc choice" %>
				</span>
				<%= has_error_message?(@animal, :has_special_needs)%>
			</div>
			<div id="special_needs_field">
				<%= f.label :special_needs, "Special needs description <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
				<%= f.text_area :special_needs, :class => "field textarea medium", :placeholder => "Provide details of the animal's special needs." %>
				</div>
				<%= has_error_message?(@animal, :special_needs)%>
			</div>
		</li>

	  <li class="date">
			<%= f.label :date_of_birth, "Date of Birth (Est.)".html_safe, :class => "desc" %>

			<span>
				<%= f.text_field :date_of_birth_month, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :date_of_birth, :month)  %>
				<%= f.label :date_of_birth, "MM" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :date_of_birth_day, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :date_of_birth, :day) %>
				<%= f.label :date_of_birth, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :date_of_birth_year, :class => "field text", :maxlength => 4, :size => 4, :value => date_attribute_for(@animal, :date_of_birth, :year) %>
				<%= f.label :date_of_birth, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "date_of_birth_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_date_of_birth_datepicker" class="calendar"></span>
			<%= has_error_message?(@animal, :date_of_birth)%>
		</li>
		<li class="date">
			<%= f.label :arrival_date, "Arrival/Intake Date".html_safe, :class => "desc" %>

			<span>
				<%= f.text_field :arrival_date_month, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :arrival_date, :month)  %>
				<%= f.label :arrival_date, "MM" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :arrival_date_day, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :arrival_date, :day) %>
				<%= f.label :arrival_date, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :arrival_date_year, :class => "field text", :maxlength => 4, :size => 4, :value => date_attribute_for(@animal, :arrival_date, :year) %>
				<%= f.label :arrival_date, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "arrival_date_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_arrival_date_datepicker" class="calendar"></span>
			<%= has_error_message?(@animal, :arrival_date)%>
		</li>

		<li class="section accommodation_info">
			<section>
				<h3>Accommodation Info</h3>
				<div>Select the location where the animal is being kept.</div>
			</section>
		</li>
		<li class="accommodation_info">
			<div>
				<div id="accommodation_selected">
					<span><% if @animal.accommodation %><b><%= @animal.accommodation.name %></b><% end %></span>
					<a href="#" id="accommodation_search_link" class="tooltip_dialog"
								data-dialog-element="#dialog_accommodation_search"
								data-dialog-title="&nbsp;"><% if @animal.accommodation_id %>Change<% else %>Search for accommodation<% end %></a>
					<a href="#" id="accommodation_remove_link" onclick="Animals.removeAccommodation();return false;">Remove</a>

				</div>
				<%= f.hidden_field :accommodation_id %>
			</div>
			<%= has_error_message?(@animal, :accommodation_id)%>
		</li>

		<% if @current_shelter.kill_shelter? %>
		<li class="section">
			<section>
				<h3>Euthanasia Details</h3>
				<div>Enter the animals arrival date, hold time, and the scheduled euthanasia date.</div>
			</section>
		</li>
		<li class="date">
			<%= f.label :euthanasia_date, "Euthanasia date".html_safe, :class => "desc" %>

			<span>
				<%= f.text_field :euthanasia_date_month, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :euthanasia_date, :month)  %>
				<%= f.label :euthanasia_date, "MM" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :euthanasia_date_day, :class => "field text", :maxlength => 2, :size => 2, :value => date_attribute_for(@animal, :euthanasia_date, :day) %>
				<%= f.label :euthanasia_date, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :euthanasia_date_year, :class => "field text", :maxlength => 4, :size => 4, :value => date_attribute_for(@animal, :euthanasia_date, :year) %>
				<%= f.label :euthanasia_date, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "euthanasia_date_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_euthanasia_date_datepicker" class="calendar"></span>
			<%= has_error_message?(@animal, :euthanasia_date)%>
		</li>
		<li>
			<%= f.label :hold_time, "Hold time".html_safe, :class => "desc" %>
			<div><%= f.text_field :hold_time, :class => "field text",  :maxlength => 3 %> days</div>
			<%= has_error_message?(@animal, :hold_time)%>
		</li>
		<% end %>
		<li class="section">
			<section>
				<h3>Photo</h3>
				<div>Select main photo (File types allowed: <%=PhotoUploader.new.extension_white_list.to_sentence %>)</div>
			</section>
		</li>
		<%= f.fields_for :photos do |photo_form| %>
			<li id="photo" class="full">
				<span class="left">
					<%= image_tag( polymorphic_photo_url(photo_form.object, :small) ) %>
				</span>
				<span class="leftPadded">
					<% if !photo_form.object.new_record? and photo_form.object.image? %>
						<%= photo_form.label :image, "Change main photo", :class => "desc" %>
						<%= photo_form.file_field :image, :class => "field file" %>
						<span><%= photo_form.check_box :_destroy %> </span>
						<span><%= photo_form.label :_destroy, "Delete photo", :class => "desc" %></span>
					<% else %>
						<%= photo_form.label :image, "Upload main photo", :class => "desc" %>
						<%= photo_form.file_field :image, :class => "field file" %>
					<% end %>
					<%= photo_form.hidden_field :image_cache %>
					<%= photo_form.hidden_field :is_main_photo %>
				</span>
				<%= has_error_message?(photo_form.object, :image)%>
			</li>
		<% end %>
		<li class="section">
			<section>
				<h3><%= image_tag("partners/logo_you_tube.png")%></h3>
				<div>Paste in a YouTube URL (Example: <strong>http://www.youtube.com/watch?v=mmdPQp6Jcdk</strong> or <strong>http://youtu.be/mmdPQp6Jcdk</strong>)</div>
			</section>
		</li>
		<li>
			<div><%= f.text_field :video_url, :class => "field text large" %></div>
			<%= has_error_message?(@animal, :video_url)%>
		</li>
		<li class="section">
			<section>
				<h3>Description</h3>
				<div>Enter a description of the animal below.</div>
			</section>
		</li>
		<li class="full">
			<div><%= f.text_area :description, :class => "field textarea medium" %></div>
			<%= has_error_message?(@animal, :description)%>
		</li>
		<li class="buttons">
			<p id="submit_message"><%=image_tag("ajax-loader.gif", :width => "30", :height => "30")%>Large photo files may take a few seconds to upload!</p>
			<%= f.submit button_text, :disable_with => "Submitting...",
									  :onclick => "$('#submit_message').delay(1500).slideToggle(1000);", :class => 'button' %>
			<% unless action_name == "new" or action_name =="create" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to "Cancel", animal_path(@animal) %>
			<% end %>
		</li>
	</ul>
<% end %>

<%= render "accommodations/dialog_accommodation_search" %>
<%= render "contacts/dialog_contact_search" %>
