<%= form_for (@animal), :html => { :multipart => :true } do |f| %>
	<ul class="form">
		<li style="float:right; width:42%">
			<div id="photo">
				<%= render "photos/photo" %>
			</div>
		</li>
		<li>
			<%= f.label :name, "Animal name" %><br />
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :animal_type_id, "Animal type" %><br />
			<%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, :prompt => "Select Type") %>
		</li>
		<li> 
			<div id="primary_breed_field">
				<%= f.label :primary_breed, "Primary breed" %><br />
				<%= f.text_field :primary_breed, :autocomplete => :off %>
				<div id="is_mixed_breed_field"><%= f.check_box :is_mix_breed %>&nbsp;&nbsp;<%= f.label "Mixed Breed?" %></div>
			</div>
			<div id="secondary_breed_field">
				<%= f.label :secondary_breed, "Secondary breed" %><br />
				<%= f.text_field :secondary_breed, :autocomplete => :off %>
			</div>
		</li>
		<li>
			<%= f.label :animal_status_id, "Animal status" %><br />
			<%= collection_select(:animal, :animal_status_id, AnimalStatus.all, :id, :name, :prompt => "Select Status") %>
			<div id="reason_field">
				<%= f.label :audit_description, "Reason for the status change" %><br />
				<%= f.text_field :audit_description %>
				<%= f.hidden_field :audit_title %>
			</div>
		</li>
		<li>
			<%= f.label :sex, "Sex" %><br />
			<% SEX.each do |value| %>
				<%= f.radio_button :sex, value %>
				<%= f.label "sex_#{value}", value.humanize %>
			<% end %>
		</li>
		<li>
			<%= f.check_box :is_sterilized %>&nbsp;&nbsp;<%= f.label :is_sterilized, "Sterilization" %>
		</li>
		<li>
			<%= f.label :age, "Age" %><br />
			<%= f.text_field :age %>
		</li>
		<li>
			<%= f.label :weight, "Weight" %><br />
			<%= f.text_field :weight %>
		</li>
		<li>
			<%= f.label :color, "Color" %><br />
			<%= f.text_field :color %>
		</li>
		<li>
			<%= f.label :microchip, "Microchip#" %><br />
			<%= f.text_field :microchip %>
		</li>
		<li>
			<%= f.label :description, "Description" %><br />
			<%= f.text_area :description %>
		</li>
		<li>
			<div id="accommodation_info">
				<%= f.label :accommodation_id, "Accommodation" %><br />
				<%= f.hidden_field :accommodation_id %>
				<div id="accommodation_selected">
					<span><% if @animal.accommodation_id %><b><%= @animal.accommodation.name %></b><% end %></span>
					<a href="#accommodation_search_dialog" id="accommodation_search_link" toptions="width = 675, height = auto, type = dom, title = Select Accommodation, layout = quicklook, resizable = 0, shaded = 1, modal = 1"><% if @animal.accommodation_id %>Change<% else %>Find<% end %></a>	
					
					<a href="#" id="accommodation_remove_link" onclick="Animals.removeAccommodation();">Remove</a>

				</div>
			</div> 
		</li>
		<li>
			<% if @current_shelter.is_kill_shelter %>
			<div id="euthanasia_info">
				<fieldset>
			    	<legend>Euthanasia info:</legend>
					<%= f.label :arrival_date, "Date of arrival" %><br />
					<div id="arrival_date_field" class="date_field">
						<div id="arrival_date_humanize" class="humanize_date">Select Date</div>
						<%= image_tag "icon_calendar.png", :id => "arrival_date_trigger", :class => "icon_calendar" %>
					</div>
					<div id="arrival_date_datepicker" class="datepicker"></div>
					<%= f.hidden_field :arrival_date %>
					
					<%= f.label :hold_time, "Hold time" %><br />
					<%= f.text_field :hold_time %> days<br /><br />
					
					<%= f.label :euthanasia_scheduled, "Euthanasia scheduled" %><br />
					<div id="euthanasia_scheduled_field" class="date_field">
						<div id="euthanasia_scheduled_humanize" class="humanize_date">Select Date</div>
						<%= image_tag "icon_calendar.png", :id => "euthanasia_scheduled_trigger", :class => "icon_calendar" %>
					</div>
					<div id="euthanasia_scheduled_datepicker" class="datepicker"></div>
					<%= f.hidden_field :euthanasia_scheduled %>
					
				</fieldset>
			</div>
			<% end %>
		</li>
	</ul>
	<div class="actions">
		<%= f.submit button_text, :disable_with => "Submitting...", :class => 'button' %>
	</div>
<% end %>

<div id="accommodation_search_dialog" style="display:none;">
	<div class="wrapper">
		<h3>Filter by specific location:</h3>
		<%= form_for :accommodations, :url => { :action => :filter_by_type_location, :controller => :accommodations }, :remote => true, :html => { :id => "form_find_by_location", :method => :get } do |f| %>
			<%= collection_select(:location, :location_id, @current_shelter.locations.all, :id, :name, {:prompt => "All"}, 
				{ :name => "location_id", :onchange => "Accommodations.filterByTypeLocation();" } ) %><br /><br />
		<% end %>
		
		<div id="accommodations"></div>
	</div>
</div>