<%= form_for (@animal), :html => { :multipart => :true } do |f| %>
	<ul>
		<li>
			<%= f.label :name, "Name <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div><%= f.text_field :name, :class => "field text medium", :maxlength => 255, :placeholder => "Enter animal name" %></div>
		</li>
		<li>
			<%= f.label :animal_type_id, "Type <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
			<%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {:prompt => "Select one"}, {:class => "field select small" } %>
			</div>
		</li>
		<li id="breed_fields"> 
			<div id="primary_breed_field">
				<%= f.label :primary_breed, "Primary breed <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
				<%= f.text_field :primary_breed, :autocomplete => :off, :class => "field text medium", :maxlength => 255 %>
				</div>
			</div>
			<div id="is_mixed_breed_field">
				<span>
					<%= f.check_box :is_mix_breed, :class =>"field checkbox" %>
					<%= f.label :is_mix_breed, "Mixed Breed?", :class => "choice" %>
				</span>
			</div>
			<div id="secondary_breed_field">
				<%= f.label :secondary_breed, "Secondary breed", :class => "desc" %>
				<div>
				<%= f.text_field :secondary_breed, :autocomplete => :off, :class => "field text medium", :maxlength => 255 %>
				</div>
			</div>
		</li>
		<li>
			<%= f.label :animal_status_id, "Status <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
			<%= f.collection_select :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "Select one"}, {:class => "field select small" } %>
			</div>
			<div id="reason_field">
				<%= f.label :status_history_reason, "Reason for the status change <span class='req'>*</span>".html_safe, :class => "desc" %>
				<%= f.text_field :status_history_reason, :class => "field text medium", :maxlength => 255 %>
			</div>
		</li>		
		<li>
			<%= f.label :sex, "Sex", :class => "desc" %>
			<div>
				<% SEX.each_with_index do |value, index| %>
					<span>
						<%= f.radio_button :sex, value, :class => "field radio" %>
						<%= f.label "sex_#{value}", value.humanize, :class => "choice" %>
					</span>
				<% end %>
			</div>
		</li>
		<li>
			<%= f.label :is_kill_shelter, "Has the Animal been Sterilized?", :class => "desc" %>
			<div>
				<span>
					<%= f.radio_button :is_sterilized, true, :class => "field radio" %>
					<%= f.label :is_sterilized, "Yes", :class => "choice" %>
				</span>
				<span>
					<%= f.radio_button :is_sterilized, false, :class => "field radio" %>
					<%= f.label :is_sterilized, "No", :class => "choice" %>
				</span>
			</div>
		</li>
		<li class="date">
			<%= f.label :date_of_birth, "Date of Birth (Est.)", :class => "desc" %>
			<span>
				<input id="animal_date_of_birth_2i" name="animal[date_of_birth(2i)]" type="text" class="field text" size="2" maxlength="2" value="<%= @animal.date_of_birth.strftime("%m") unless @animal.date_of_birth.blank? %>">
				<%= f.label :date_of_birth, "MM" %>
			</span> 
			<span class="symbol">/</span>
			<span>
				<input id="animal_date_of_birth_3i" name="animal[date_of_birth(3i)]" type="text" class="field text" size="2" maxlength="2" value="<%= @animal.date_of_birth.strftime("%d") unless @animal.date_of_birth.blank? %>">
				<%= f.label :date_of_birth, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<input id="animal_date_of_birth_1i" name="animal[date_of_birth(1i)]" type="text" class="field text" size="4" maxlength="4" value="<%= @animal.date_of_birth.strftime("%Y") unless @animal.date_of_birth.blank? %>">
				<%= f.label :date_of_birth, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "date_of_birth_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_date_of_birth_datepicker" class="calendar"></span>
		</li>
		<li>
			<%= f.label :weight, "Weight", :class => "desc" %>
			<%= f.text_field :weight, :class => "field text medium", :maxlength => 255 %>
		</li>
		<li>
			<%= f.label :color, "Color", :class => "desc" %>
			<%= f.text_field :color, :class => "field text medium", :maxlength => 255 %>
		</li>
		<li>
			<%= f.label :microchip, "Microchip#", :class => "desc" %>
			<%= f.text_field :microchip, :class => "field text medium", :maxlength => 255 %>
		</li>
		<li class="section">
			<section>
				<h3>Accommodation Info</h3>
				<div>Please select the location the animal sleeps at night!</div>
			</section>
		</li>
		<li>
			<div id="accommodation_info">
				<div id="accommodation_selected">
					<span><% if @animal.accommodation_id %><b><%= @animal.accommodation.name %></b><% end %></span>
					<a href="#accommodation_search_dialog" id="accommodation_search_link" toptions="width = 675, height = auto, type = dom, title = Select Accommodation, layout = quicklook, resizable = 0, shaded = 1, modal = 1"><% if @animal.accommodation_id %>Change<% else %>Search for accommodation<% end %></a>	
					
					<a href="#" id="accommodation_remove_link" onclick="Animals.removeAccommodation();">Remove</a>

				</div>
				<%= f.hidden_field :accommodation_id %>
			</div> 
		</li>
		<% if @current_shelter.is_kill_shelter %>
		<li class="section">
			<section>
				<h3>Euthanasia Details</h3>
				<div>Please feel in the correct information about the animal's euthanasia schedule.</div>
			</section>
		</li>
		<li class="date">
			<%= f.label :arrival_date, "Arrival Date <span class='req'>*</span>".html_safe, :class => "desc" %>
			<span>
				<input id="animal_arrival_date_2i" name="animal[arrival_date(2i)]" type="text" class="field text" size="2" maxlength="2" value="<%= @animal.arrival_date.strftime("%m") unless @animal.arrival_date.blank? %>">
				<%= f.label :arrival_date, "MM" %>
			</span> 
			<span class="symbol">/</span>
			<span>
				<input id="animal_arrival_date_3i" name="animal[arrival_date(3i)]" type="text" class="field text" size="2" maxlength="2" value="<%= @animal.arrival_date.strftime("%d") unless @animal.arrival_date.blank? %>">
				<%= f.label :arrival_date, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<input id="animal_arrival_date_1i" name="animal[arrival_date(1i)]" type="text" class="field text" size="4" maxlength="4" value="<%= @animal.arrival_date.strftime("%Y") unless @animal.arrival_date.blank? %>">
				<%= f.label :arrival_date, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "arrival_date_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_arrival_date_datepicker" class="calendar"></span>
		</li>
		<li>
			<%= f.label :hold_time, "Hold time <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
				<%= f.text_field :hold_time, :class => "field text",  :maxlength => 3 %> days
			</div>
		</li>
		<li class="date">
			<%= f.label :euthanasia_scheduled, "Euthanasia Scheduled <span class='req'>*</span>".html_safe, :class => "desc" %>
			<span>
				<input id="animal_euthanasia_scheduled_2i" name="animal[euthanasia_scheduled(2i)]" type="text" class="field text" size="2" maxlength="2" value="<%= @animal.euthanasia_scheduled.strftime("%m") unless @animal.euthanasia_scheduled.blank? %>">
				<%= f.label :euthanasia_scheduled, "MM" %>
			</span> 
			<span class="symbol">/</span>
			<span>
				<input id="animal_euthanasia_scheduled_3i" name="animal[euthanasia_scheduled(3i)]" type="text" class="field text" size="2" maxlength="2" value="<%= @animal.euthanasia_scheduled.strftime("%d") unless @animal.euthanasia_scheduled.blank? %>">
				<%= f.label :euthanasia_scheduled, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<input id="animal_euthanasia_scheduled_1i" name="animal[euthanasia_scheduled(1i)]" type="text" class="field text" size="4" maxlength="4" value="<%= @animal.euthanasia_scheduled.strftime("%Y") unless @animal.euthanasia_scheduled.blank? %>">
				<%= f.label :euthanasia_scheduled, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "euthanasia_scheduled_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_euthanasia_scheduled_datepicker" class="calendar"></span>
		</li>
		<% end %>
		<li class="section">
			<section>
				<h3>Photo</h3>
				<div>Select a picture of the animal</div>
			</section>
		</li>
		<li id="photo">
			<%= render "photos/photo" %>
		</li>
		<li class="section">
			<section>
				<h3>Description</h3>
				<div>Please enter some nice stuff about this cute animal</div>
			</section>
		</li>
		<li>
			<%# f.label :description, "Description", :class => "desc" %>
			<div>
				<%= f.text_area :description, :class => "field textarea medium" %>
			</div>
		</li>
		<li class="buttons">
			<%= f.submit button_text, :disable_with => "Submitting...", :class => 'button' %>
			<% unless action_name == "new" or action_name =="create" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to "Cancel", animal_path(@animal) %>
			<% end %>
		</li>
	</ul>
<% end %>

<div id="accommodation_search_dialog" style="display:none;">
	<div class="wrapper">
		<h3>Filter by specific location:</h3>
		<%= form_for :accommodations, :url => { :action => :filter_by_type_location, :controller => :accommodations }, :remote => true, :html => { :id => "form_find_by_location", :method => :get } do |f| %>
			<%= collection_select(:location, :location_id, @current_shelter.locations.all, :id, :name, {:prompt => "All"}, 
				{ :name => "location_id", :onchange => "Accommodations.filterByTypeLocation();" } ) %><br /><br />
		<% end %>
		
		<div id="accommodations"></div>
	</div>
</div>