<%= form_for (@animal), :html => { :multipart => :true } do |f| %>
	<ul>
		<li>
			<%= f.label :name, "Name <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div><%= f.text_field :name, :class => "field text medium", :maxlength => 255, :placeholder => "Enter animal name" %></div>
			<%= has_error_message?(@animal, :name)%>
		</li>
		<li>
			<%= f.label :animal_type_id, "Type <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
			<%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {:prompt => "Select one"}, {:class => "field select small" } %>
			</div>
			<%= has_error_message?(@animal, :animal_type_id)%>
		</li>
		<li id="breed_fields"> 
			<div id="primary_breed_field">
				<%= f.label :primary_breed, "Primary breed <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
				<%= f.text_field :primary_breed, :autocomplete => :off, :class => "field text medium", :maxlength => 255, :placeholder => "Type animal breed" %>
				</div>
				<%= has_error_message?(@animal, :primary_breed)%>
			</div>
			<div id="is_mixed_breed_field">
				<span>
					<%= f.check_box :is_mix_breed, :class =>"field checkbox" %>
					<%= f.label :is_mix_breed, "Mixed Breed?", :class => "desc choice" %>
				</span>
				<%= has_error_message?(@animal, :is_mixed_breed)%>
			</div>
			<div id="secondary_breed_field">
				<%= f.label :secondary_breed, "Secondary breed", :class => "desc" %>
				<div>
				<%= f.text_field :secondary_breed, :autocomplete => :off, :class => "field text medium", :maxlength => 255, :placeholder => "Type animal breed" %>
				</div>
				<%= has_error_message?(@animal, :secondary_breed)%>
			</div>
		</li>
		<li>
			<%= f.label :animal_status_id, "Status <span class='req'>*</span>".html_safe, :class => "desc" %>
			<div>
			<%= f.collection_select :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "Select one"}, {:class => "field select medium" } %>
			</div>
			<%= has_error_message?(@animal, :animal_status_id)%>
			<div id="reason_field">
				<%= f.label :status_history_reason, "Reason for the status change".html_safe, :class => "desc" %>
				<%= f.text_field :status_history_reason, :class => "field text large", :maxlength => 255 %>
			</div>
			<%= has_error_message?(@animal, :status_history_reason)%>
		</li>		
		<li>
			<%= f.label :sex, "Sex <span class='req'>*</span>".html_safe, :class => "desc" %>
			<!-- <div> -->
				<% SEX.each_with_index do |value, index| %>
					<span class="left<%= "Padded" if index==1 %>">
						<%= f.radio_button :sex, value, :class => "field radio" %>
						<%= f.label "sex_#{value}", value.humanize, :class => "choice" %>
					</span>
				<% end %>
			<!-- </div> -->
			<%= has_error_message?(@animal, :sex)%>
		</li>
		<li>
			<%= f.label :is_sterilized, "Sterilized?", :class => "desc" %>
			<!-- <div> -->
				<span class="left">
					<%= f.radio_button :is_sterilized, true, :class => "field radio" %>
					<%= f.label :is_sterilized, "Yes", :class => "choice" %>
				</span>
				<span class="leftPadded">
					<%= f.radio_button :is_sterilized, false, :class => "field radio" %>
					<%= f.label :is_sterilized, "No", :class => "choice" %>
				</span>
			<!-- </div> -->
			<%= has_error_message?(@animal, :is_sterilized)%>
		</li>
		<li>
			<div id="has_special_needs_field">
				<span>
					<%= f.check_box :has_special_needs, :class =>"field checkbox" %>
					<%= f.label :has_special_needs, "Special needs?", :class => "desc choice" %>
				</span>
				<%= has_error_message?(@animal, :has_special_needs)%>
			</div>
			<div id="special_needs_field">
				<%= f.label :special_needs, "Special needs description <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
				<%= f.text_area :special_needs, :class => "field textarea medium", :placeholder => "Provide details of the animal's special needs." %>
				</div>
				<%= has_error_message?(@animal, :special_needs)%>
			</div>
		</li>
		<li>
			<%= f.label :weight, "Weight", :class => "desc" %>
			<div><%= f.text_field :weight, :class => "field text medium", :maxlength => 255, :placeholder => "40 lbs" %></div>
			<%= has_error_message?(@animal, :weight)%>
		</li>
		<li>
			<%= f.label :size, "Size", :class => "desc" %>
			<div><%= f.text_field :size, :class => "field text medium", :maxlength => 255, :placeholder => "Small" %></div>
			<%= has_error_message?(@animal, :size)%>
		</li>
		<li>
			<%= f.label :color, "Color", :class => "desc" %>
			<div><%= f.text_field :color, :class => "field text medium", :maxlength => 255, :placeholder => "Black and white" %></div>
			<%= has_error_message?(@animal, :color)%>
		</li>
		<li>
			<%= f.label :microchip, "Microchip#", :class => "desc" %>
			<div><%= f.text_field :microchip, :class => "field text medium", :maxlength => 255, :placeholder => "Enter microchip number if known" %></div>
			<%= has_error_message?(@animal, :microchip)%>
		</li>
		<li class="date">
			<%= f.label :date_of_birth, "Date of Birth (Est.)", :class => "desc" %>
			
			<span>
				<%= f.text_field :date_of_birth_month, :class => "field text", :maxlength => 2, :size => 2, :value => date_of_birth_value(:month, @animal)  %>
				<%= f.label :date_of_birth, "MM" %>
			</span> 
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :date_of_birth_day, :class => "field text", :maxlength => 2, :size => 2, :value => date_of_birth_value(:day, @animal) %>
				<%= f.label :date_of_birth, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :date_of_birth_year, :class => "field text", :maxlength => 4, :size => 4, :value => date_of_birth_value(:year, @animal) %>
				<%= f.label :date_of_birth, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "date_of_birth_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_date_of_birth_datepicker" class="calendar"></span>
			<%= has_error_message?(@animal, :date_of_birth)%>
		</li>
		<li class="date">
			<%= f.label :arrival_date, "Arrival/Intake Date".html_safe, :class => "desc" %>
			
			<span>
				<%= f.text_field :arrival_date_month, :class => "field text", :maxlength => 2, :size => 2, :value => arrival_date_value(:month, @animal)  %>
				<%= f.label :arrival_date, "MM" %>
			</span> 
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :arrival_date_day, :class => "field text", :maxlength => 2, :size => 2, :value => arrival_date_value(:day, @animal) %>
				<%= f.label :arrival_date, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :arrival_date_year, :class => "field text", :maxlength => 4, :size => 4, :value => arrival_date_value(:year, @animal) %>
				<%= f.label :arrival_date, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "arrival_date_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_arrival_date_datepicker" class="calendar"></span>
			<%= has_error_message?(@animal, :arrival_date)%>
		</li>

		<%# if @current_shelter.accommodations.count > 0 %>
		<li class="section accommodation_info">
			<section>
				<h3>Accommodation Info</h3>
				<div>Select the location where the animal is being kept.</div>
			</section>
		</li>
		<li class="accommodation_info">
			<div>
				<div id="accommodation_selected">
					<span><% if @animal.accommodation %><b><%= @animal.accommodation.name %></b><% end %></span>
					<a href="#" id="accommodation_search_link" class="tooltip_dialog" 
								data-dialog-element="#dialog_accommodation_search" 
								data-dialog-title="&nbsp;"><% if @animal.accommodation_id %>Change<% else %>Search for accommodation<% end %></a>
					<a href="#" id="accommodation_remove_link" onclick="Animals.removeAccommodation();return false;">Remove</a>

				</div>
				<%= f.hidden_field :accommodation_id %>
			</div> 
			<%= has_error_message?(@animal, :accommodation_id)%>
		</li>
		<%# end %>
		
		<% if @current_shelter.kill_shelter? %>
		<li class="section">
			<section>
				<h3>Euthanasia Details</h3>
				<div>Enter the animals arrival date, hold time, and the scheduled euthanasia date.</div>
			</section>
		</li>
		<li class="date">
			<%= f.label :euthanasia_date, "Euthanasia date".html_safe, :class => "desc" %>
			
			<span>
				<%= f.text_field :euthanasia_date_month, :class => "field text", :maxlength => 2, :size => 2, :value => euthanasia_date_value(:month, @animal)  %>
				<%= f.label :euthanasia_date, "MM" %>
			</span> 
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :euthanasia_date_day, :class => "field text", :maxlength => 2, :size => 2, :value => euthanasia_date_value(:day, @animal) %>
				<%= f.label :euthanasia_date, "DD" %>
			</span>
			<span class="symbol">/</span>
			<span>
				<%= f.text_field :euthanasia_date_year, :class => "field text", :maxlength => 4, :size => 4, :value => euthanasia_date_value(:year, @animal) %>
				<%= f.label :euthanasia_date, "YYYY" %>
			</span>
			<span>
				<%= image_tag "icon_calendar.png", :id => "euthanasia_date_trigger", :class => "icon_calendar" %>
			</span>
			<span id="animal_euthanasia_date_datepicker" class="calendar"></span>
			<%= has_error_message?(@animal, :euthanasia_date)%>
		</li>
		<li>
			<%= f.label :hold_time, "Hold time".html_safe, :class => "desc" %>
			<div><%= f.text_field :hold_time, :class => "field text",  :maxlength => 3 %> days</div>
			<%= has_error_message?(@animal, :hold_time)%>
		</li>
		<% end %>
		<li class="section">
			<section>
				<h3>Photo</h3>
				<div>Select a picture of the animal (max size 4 MB)</div>
			</section>
		</li>
		<li id="photo" class="full">
			<span class="left center">
				<%= image_tag @animal.photo.url(:small) %>

				<% if !@animal.new_record? and @animal.photo.file? %>
					<br /><br />
					<%= f.check_box :delete_photo %> 
					<%= f.label :delete_photo, "Delete photo", :class => "desc" %>
				<% end %>
			</span>
			<span class="leftPadded">
				<% if !@animal.new_record? and @animal.photo.file? %>
					<%= f.label :photo, "Change photo", :class => "desc" %>
				<% else %>
					<%= f.label :photo, "Upload photo", :class => "desc" %>
				<% end %>
				<%= f.file_field :photo, :class => "field file" %>
			</span>
			<%= has_error_message?(@animal, :upload_photo_again)%>
			<%= has_error_message?(@animal, :photo_content_type)%>
			<%= has_error_message?(@animal, :photo_file_size) %>
			
		</li>
		<li class="section">
			<section>
				<h3><%= image_tag("partners/logo_you_tube.png")%></h3>
				<div>Paste in a YouTube URL (Example: <strong>http://www.youtube.com/watch?v=mmdPQp6Jcdk</strong> or <strong>http://youtu.be/mmdPQp6Jcdk</strong>)</div>
			</section>
		</li>
		<li>
			<div><%= f.text_field :video_url, :class => "field text large" %></div>
			<%= has_error_message?(@animal, :video_url)%>
		</li>
		<li class="section">
			<section>
				<h3>Description</h3>
				<div>Enter a description of the animal below.</div>
			</section>
		</li>
		<li class="full">
			<div><%= f.text_area :description, :class => "field textarea medium" %></div>
			<%= has_error_message?(@animal, :description)%>
		</li>
		<li class="buttons">
			<p id="submit_message">Large photo files may take a few seconds to upload!</p>
			<%= f.submit button_text, :disable_with => "Submitting...", 
									  :onclick => "$('#submit_message').delay(1500).slideToggle(1000);", :class => 'button' %>
			<% unless action_name == "new" or action_name =="create" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to "Cancel", animal_path(@animal) %> 
			<% end %>
		</li>
	</ul>
<% end %>

<%= render "accommodations/dialog_accommodation_search" %>