<%= title "Editing animal - #{@animal.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "animals/animals", :cache => "cache/application/animals-edit" %>
<% end %>

<%= content_for :page_content do %>
	
	<div class="page_heading blue_background">
		<h1>Editing animal: <%= @animal.name %></h1>
	</div>
	
	<div class="page_content">
		<%= render "global/error_messages", :target => @animal %>
		<%= render "form", :button_text => "Update Animal" %>
	</div>
	
<% end %>

<%= content_for :sidebar do %>
	<ul>
		<li><%= link_to "Delete", @animal, :confirm => "Are you sure?", :method => :delete %></li>
		<!--><li><%= link_to "All Animals", animals_path %></li>-->
	</ul>

<% end %>
