<%= title "Animals" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "animals/animals", :cache => "cache/application/animals-index" %>
<% end %>

<%= content_for :page_content do %>

	<% if @animals.size > 0 %>
		<!-- <div class="page_heading">
					<h1>Animals</h1>
				</div> -->
		
		<div class="page_content">
			
			<table class="search">
				<tr>
					<td class="animal_live_search">
						<h3>Search for animal:</h3>
						<%= form_for :animals, :url => { :action => "live_search"}, :remote => true, :html => { :id => "form_live_search", :method => :get } do |f| %>
							<%= text_field_tag "q", "", :onkeyup => "Animals.liveSearch(this, 3);"  %>
							<!--<%= f.submit "Go" %>-->
						<% end %>
					</td>
					<td class="animal_filters">
						<h3>Filter animal by:</h3>

						<%= form_for :animals, :url => { :action => "find_by"}, :remote => true, :html => { :id => "form_find_by", :method => :get } do |f| %>
						<table class="filter_table">
							<tr>
								<td><%= f.label :animal_type_id, "Animal type" %></td>
								<td><%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"}, 
								       { :name => "animal_type_id", :onchange => "Animals.findByFilter(this);" } ) %><br /><br />
								</td>
							</tr>
							<tr>
								<td><%= f.label :animal_status_id, "Animal status" %></td>
								<td><%= collection_select(:animal, :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "All"}, 
								       { :name => "animal_status_id", :onchange => "Animals.findByFilter(this);" } ) %>
								</td>
							</tr>
						</table>
						<% end %>
					</td>
				</tr>
			</table>
			
			<div id="animals">
				<%= render :partial => "animal_list" %>
			</div>

		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Create your first animal</h1>
			<p>Once you have clicked Create new animal, please complete the form with the animals information.</p>
		</div>
	<% end %>

<% end %>

<%= content_for :sidebar do %>
	<%= link_to "Create new animal", new_animal_path %>
<% end %>