<%= title "Animals" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "app/animals", :cache => "cache/app/animals-index" %>
<% end %>

<%= content_for :page_content do %>

	<% if @animals.size > 0 %>
	
		<div class="print_heading">
			<h1>Animals</h1>
		</div>
		
		<div class="page_content">
		
			<table class="search">
				<tr>
					<td class="full_search">
						<h3>Search for animal:</h3>
						<%= form_for :animals, :url => { :action => :search }, :remote => true, :html => { :id => "form_search", :method => :get } do |f| %>
							<%= text_field_tag "q", ""  %>
							<%# text_field_tag "q", "", :onkeyup => "Animals.liveSearch(this);"  %>
							<%= f.submit "Go", :disable_with => "..." %> 
						<% end %>
					</td>
					<td class="filters">
						<h3>Filter animal by:</h3>
						<table class="filter_table">
							<tr>
								<td><%= label_tag :animal_type_id, "Animal type" %></td>
								<td><%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"}, 
								       { :name => "animal_type_id", :onchange => "Animals.filterByTypeStatus();" } ) %><br /><br />
								</td>
							</tr>
							<tr>
								<td><%= label_tag :animal_status_id, "Animal status" %></td>
								<td><%= collection_select(:animal, :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "All"}, 
								       { :name => "animal_status_id", :onchange => "Animals.filterByTypeStatus();" } ) %>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
			<div id="animals">
				<%= render "animal_list", :animals => @animals %>
			</div>

		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Create your first animal</h1>
			<p>Once you have clicked Create new animal, please complete the form with the animals information.</p>
		</div>
	<% end %>

<% end %>

<%= content_for :sidebar do %>
	<ul class="action_links">
		<%= link_to "Create new animal", new_animal_path, :class => "button red" %>
	</ul>
<% end %>