<%= title "Animals" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

  <% if @animals.length > 0 %>

		<div class="print_heading">
			<h1>Animals</h1>
		</div>

		<div class="page_content">

      <div class="search">
        <h3>Search: <%= image_tag "icon_help.png", :class =>"tooltip_on_top", "data-tip" => "Based on name, description, etc" %></h3>
        <%= form_for :animals, :html => { :id => "form_search", :onsubmit => "Animals.search(); return false;" } do |f| %>
        <ul>
		      <li class="full">
            <%= text_field_tag "query", "", :placeholder => "Type search term(s)", :class => "field text"  %>
            <%= f.submit "Go" %>
          </li>
        </ul>
        <% end %>
      </div>

      <div class="filter_by">
        <h3>Filter by:</h3>
        <div class="filters">
          <span class="text">Type:</span>
          <span class="choice">
            <%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"},
                { :name => "animal_type_id", :onchange => "Animals.search();" } ) %>
          </span>
          <span class="text">Status:</span>
          <span class="choice">
            <%= select(:animal, :animal_status_id, filter_by_animal_statuses, {},
                { :name => "animal_status_id", :onchange => "Animals.search();" } ) %>
          </span>
          <span class="text">Order by:</span>
          <span class="choice">
            <select id="order_by" name="order_by" onchange="Animals.search();">
              <option value="animals.name ASC">A-Z</option>
              <option value="animals.name DESC">Z-A</option>
              <option value="animals.updated_at DESC">Newest-Oldest</option>
              <option value="animals.updated_at ASC">Oldest-Newest</option>
            </select>
          </span>
        </div>
			</div>

			<div id="animals">
				<% unless @animals.blank? %>
					<%= render "animal_list", :animals => @animals %>
				<% else %>
					<div class='no_results'><h2>Currently, No active animals</h2></div>
				<% end %>
			</div>

		</div>

	<% else %>
		<div class="page_heading">
			<h1>Create your first animal</h1>
			<p>Click the 'Create New Animal' button and complete the fields to add your first animal.</p>
		</div>
	<% end %>

<% end %>

<%= content_for :sidebar do %>

  <ul class="action_links">
    <% if can?(:create, Animal) %>
      <li><%= link_to "Create new animal", new_animal_path, :class => "button red" %></li>
    <% end %>

    <% if can?(:export, Animal) %>
		  <li><%= link_to 'Export animals', "#", :id => "export_animals_link", :class => "button" %></li>
    <% end %>
  </ul>

  <div id="export_animals" class="box hide orange">
    <h2>Export animals</h2>
    <p>The export will provide a csv download of your animal data</p>
    <%= form_for :animal, :url => export_animals_path(:format => :csv),
        :method => :post, :html => { :id => "export_contacts_form" } do |f| %>
      <ul>
        <li>
          <%= f.label :animal_type_id, "By Type", :class => "desc" %>
          <div><%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"}, {:class => "field select small" } %></div>
        </li>
        <li>
          <%= f.label :animal_status_id, "By Status", :class => "desc" %>
          <div><%= f.collection_select :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "All"}, {:class => "field select medium" } %></div>
        </li>
        <li class="buttons">
          <%= f.submit "Download CSV", :class => "button"  %>
          &nbsp;or&nbsp;
          <%= link_to "Cancel", "#", :id => "cancel_animal_export" %>
        </li>
      <ul>
    <% end %>
  </div>
<% end %>
