<%= title "Animals" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<% if @total_animals > 0 %>

		<div class="print_heading">
			<h1>Animals</h1>
		</div>

		<div class="page_content">

			<table class="search">
				<tr>
					<td class="full_search">
						<h3>Search for animals:</h3>
						<%= form_for :animals, :url => { :action => :search }, :remote => true, :format => :js, :html => { :id => "form_search", :method => :get } do |f| %>
							<%= text_field_tag "q", ""  %>
							<%= f.submit "Go", :disable_with => "..." %>
						<% end %>
					</td>
					<td class="filters">
						<h3>Filter animals by:</h3>
						<table class="filter_table">
							<tr>
								<td><%= label_tag :animal_type_id, "Type" %></td>
								<td><%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"},
								       { :name => "animal_type_id", :onchange => "Animals.filterByTypeStatus();" } ) %><br /><br />
								</td>
							</tr>
							<tr>
								<td><%= label_tag :animal_status_id, "Status" %></td>
								<td><%= select(:animal, :animal_status_id, filter_by_animal_statuses, {},
								        {:name => "animal_status_id", :onchange => "Animals.filterByTypeStatus();"} ) %>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<div class="help_text">
				<strong>Below are the active animals at your facility. Search all other animals using status filter.</strong>
			</div>

			<div id="animals">
				<% unless @animals.blank? %>
					<%= render "animal_list", :animals => @animals %>
				<% else %>
					<div class='no_results'><h2>Currently, No active animals</h2></div>
				<% end %>
			</div>

		</div>

	<% else %>
		<div class="page_heading">
			<h1>Create your first animal</h1>
			<p>Once you have clicked Create new animal, please complete the form with the animals information.</p>
		</div>
	<% end %>

<% end %>

<%= content_for :sidebar do %>
	<ul class="action_links">
    <li><%= link_to "Create new animal", new_animal_path, :class => "button red" %></li>
		<li><%= link_to 'Export animals', "#", :id => "export_animals_link", :class => "button" %></li>
  </ul>

  <div id="export_animals" class="box hide orange">
    <h2>Export animals</h2>
    <p>The export will provide a csv download of your animal data</p>
    <%= form_for :animal, :url => export_animals_path(:format => :csv),
        :method => :post, :html => { :id => "export_contacts_form" } do |f| %>
      <ul>
        <li>
          <%= f.label :animal_type_id, "By Type", :class => "desc" %>
          <div><%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"}, {:class => "field select small" } %></div>
        </li>
        <li>
          <%= f.label :animal_status_id, "By Status", :class => "desc" %>
          <div><%= f.collection_select :animal_status_id, AnimalStatus.all, :id, :name, {:prompt => "All"}, {:class => "field select medium" } %></div>
        </li>
        <li class="buttons">
          <%= f.submit "Download CSV", :class => "button"  %>
          &nbsp;or&nbsp;
          <%= link_to "Cancel", "#", :id => "cancel_animal_export" %>
        </li>
      <ul>
    <% end %>
  </div>
<% end %>
