<%= title "Create a new animal" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Animals.formInitialize(<%=@current_shelter.is_kill_shelter%>, <%=@animal.errors[:status_history_reason].any?%>, <%= @animal.new_record? ? 0 : @animal.animal_status_id_was %>);
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Create a new animal</h1>
	</div>
	<div class="page_content">
		<%= render "shared/error_messages", :target => @animal %>
		<%= render "form", :button_text => "Create Animal" %>
	</div>	
<% end %>

<%= content_for :sidebar do %>
<% end %>
