<%= title "#{@animal.name} (#{@animal.id})" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Notes.filters();
			Tasks.initialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>
	<div class="page_heading blue">
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="action_links">
					<%= link_to "Create new animal", new_animal_path %>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Print", "#", :onclick => "window.print();return false;"%>
					<% if can?(:update, Animal) %>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Edit", edit_animal_path(@animal)%>
					<% end %>
					<!-- <% if can?(:destroy, Animal) %>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Delete", @animal, :confirm => "Are you sure?", :method => :delete %>
					<% end %> -->
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= @animal.full_breed %></p>
				</td>
				<td class="status">
					<p><%= @animal.animal_status.name %><%= adoption_date(@animal) %></p>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="page_content">
		 
		<table class="animal_details">
			<tr>
				<td class="metadata">
					<h3>Details:</h3>
					<ul>
						<li><p><b>Age (Est.):</b>  <%= humanize_dob(@animal.date_of_birth) %></p></li>
						<li><p><b>Sex:</b>  <%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></p></li>
						<li><p><b>Weight:</b>  <%= @animal.weight %></p></li>
						<% unless @animal.size.blank? %><li><p><b>Size:</b>  <%= @animal.size %></p></li><% end %>
						<li><p><b>Color:</b>  <%= @animal.color %></p></li>
						<li><p><b>MicroChip:</b>  <%= @animal.microchip %></p></li>
					</ul>
					
					<h3>Accommodation:</h3>
					<ul>
						<li><p><b>Name:</b>  <%= @animal.accommodation.name unless @animal.accommodation.blank? %></p></li>
						<li><p><b>Location:</b>  <%= @animal.accommodation and @animal.accommodation.location ? @animal.accommodation.location.name : "None"   %></p></li>
					</ul>
					
					
				</td>
				<td class="image">
			    	<%= image_tag @animal.photo.url(:medium) %>
					<% unless @animal.video_url.blank? %>
					<%= link_to "Watch Video", fancybox_video_url(@animal), :class => "button video_player right", :title => "Video of #{@animal.name}" %>
					<% end %>
			    </td>
			</tr>
		</table>
		<% if @animal.special_needs? %>
			<table class="special_needs">
				<tr>
					<td>
						<h3>Special Needs:</h3>
						<p><%= auto_link( simple_format(@animal.special_needs), :all, :target => "_blank").html_safe %></p>
					</td>
				</tr>
			</table>
		<% end %>
		<table class="description">
			<tr>
				<td>
					<h3>Description:</h3>
					<p><%= auto_link( simple_format(@animal.description), :all, :target => "_blank").html_safe %></p>
				</td>
			</tr>
		</table>
		
		<% if @current_shelter.kill_shelter? %>
		<table class="euthanasia_info">
			<tr>
				<td>
					<h3>Euthanasia Info:</h3>
					<ul>
						<li><p><b>Arrival Date:</b>  <span class="date"><%= format_date(:default, @animal.arrival_date) %></span></p></li>
						<li><p><b>Hold time:</b>  <span class="date"><%= @animal.hold_time %> days</span></p></li>
						<li><p><b>Euthanasia Date:</b>  <span class="red_date"><%= format_date(:default, @animal.euthanasia_date) %></span></p></li>
					</ul>
				</td>
			</tr>
		</table>
		<% end %>

		
	</div>
	
	<div id="notes_heading" class="section_heading orange">
		<h2>Notes</h2>
		<div class="links">
			<%= link_to 'All', filter_notes_animals_path(:id => @animal.id, :format => :js), :remote => true, :id => "all_notes_link" %>
			<% Note::CATEGORIES.each do |category|%>
				&nbsp;|&nbsp;
				<%= link_to category.humanize, filter_notes_animals_path(:filter => category, :id => @animal.id, :format => :js), 
				                          :remote => true, :id => "#{category}_notes_link" %>
			<% end %>
		</div>
	</div>
	
	<div class="page_content">
		<div id="notes" class="note_list">
			<%= render @notes %>
		</div>
	</div>
	
	<div id="status_history_heading" class="section_heading orange">
		<h2>Status history</h2>
	</div>
	
	<div class="page_content">
		<div id="status_histories" class="status_history_list">
			<%= render @status_histories %>
		</div>
	</div>

<% end %>

<%= content_for :sidebar do %>

	<ul class="action_links">
		<li><%= link_to 'Add Alert', "#", :id => "add_alert_link", :class => "button" %></li>
		<li><%= link_to 'Add Note', "#", :id => "add_note_link", :class => "button" %></li>
		<li><%= link_to 'Add Task', "#", :id => "add_task_link", :class => "button" %></li>
	</ul>
	
	<div id="create_alert" class="box hide red">
		<h2>Add an alert for <%= @animal.name %></h2>
		<div id="create_alert_errors"></div>
		<%= form_for ([@animal, @alert = Alert.new]), :remote => true, :html => { :id => "create_alert_form", :class => "create_alert_form" } do |f| %>
			<ul>
				<%= render "alerts/form", :f => f %>
		    	<li class="buttons">
					<%= f.submit "Create Alert", :disable_with => "Submitting...", :id => "create_alert_button", :class => "button"  %>
					&nbsp;or&nbsp;
					<%= link_to "Cancel", "#", :id => "cancel_alert" %>
				</li>
			</ul>
		<% end %>
	</div>
	
	<div id="create_note" class="box hide orange">
		<h2>Add a note for <%= @animal.name %></h2>
		<div id="create_note_errors"></div>
		<%= form_for ([@animal, @note = Note.new]), :remote => true, :html => { :id => "create_note_form", :class => "create_note_form" } do |f| %>
			<ul>
				<%= render "notes/form", :f => f %>
		    	<li class="buttons">
					<%= f.submit "Create Note", :disable_with => "Submitting...", :id => "create_note_button", :class => "button"  %>
					&nbsp;or&nbsp;
					<%= link_to "Cancel", "#", :id => "cancel_note" %>
				</li>
			</ul>
		<% end %>
		<div id="another_note_category"></div>
	</div>
	
	<div id="create_task" class="box hide blue">
		<h2>Add a task for <%= @animal.name %></h2>
		<div id="create_task_errors"></div>
		<%= form_for ([@animal, @task = Task.new]), :remote => true, :html => { :id => "create_task_form", :class => "create_task_form" } do |f| %>
			<ul>
				<%= render "tasks/form", :f => f %>
		    	<li class="buttons">
					<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
					&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_task" %>
				</li>
			</ul>
		<% end %>
	</div>
	
	<div id="animal_alerts">
		<h2>Alerts</h2>
		<div id="alerts" class="alert_list">
			<%= render :partial => 'alerts/alert', :collection => @alerts %>
		</div>
	</div>

	<div id="animal_tasks">
		<h2>Tasks</h2>
		<%= render :partial => 'tasks/task_list', :locals => { :animal_link => false } %>
	</div>

<% end %>
	
