<%= title "#{@animal.name} (#{@animal.id})" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Notes.filters();
			Tasks.initialize();
			Photos.initGallery(<%=raw @gallery_photos %>);
			Photos.initUploader(<%= raw @uploader_photos %>, <%=Photo::TOTAL_ADDITIONAL%>);
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="action_links">
					<%= link_to "Create new animal", new_animal_path %>
					<!-- &nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Save a life", public_save_a_life_url(@animal, :subdomain => "www")%> -->
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Print", print_animal_path(@animal)%>
					<% if can?(:update, Animal) %>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Edit", edit_animal_path(@animal)%>
					<% end %>
					<% if can?(:destroy, Animal) %>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Delete", @animal, :confirm => "Are you sure you want to delete? Animal records should only be deleted if you have entered this record in by mistake, or this is a duplicate.", :method => :delete %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= @animal.full_breed %></p>
				</td>
				<td class="status">
					<p><%= @animal.animal_status.name %><%= adoption_date(@animal) %></p>
				</td>
			</tr>
		</table>
	</div>

	<div class="page_content">

		<% if @animal.available? %>
			<div class="social">
				<span class="text_label">Share and promote:</span>
				<span class="facebook">
					<div class="fb-like" data-send="false"
										 data-href="<%= public_save_a_life_url(@animal, :subdomain => "www")%>"
										 data-layout="button_count"
										 data-show-faces="false"></div>
				</span>
				<span class="twitter">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="shelterexchange"
					   data-url="<%= public_save_a_life_url(@animal, :subdomain => "www")%>"
					   data-text="<%="#{@animal.name} - #{@animal.full_breed} - #{@current_shelter.city}, #{@current_shelter.state}" %>">Tweet</a>
				</span>
				<span class="pinterest">
					<a href="http://pinterest.com/pin/create/button/?url=<%= public_save_a_life_url(@animal, :subdomain => "www")%>&media=<%=polymorphic_photo_url(@photos.first, :original) %>&description=<%=pinterest_animal_description(@animal, @current_shelter)%>" class="pin-it-button" count-layout="horizontal">Pin It</a>
				</span>
				<!-- <span><%= link_to "Save a life", public_save_a_life_url(@animal, :subdomain => "www") %></span> -->
			</div>
		<% end %>

		<table class="animal_details">
			<tr>
				<td class="metadata">

					<h3>Details:</h3>
					<ul>
						<li><p><b>Age:</b>
								<span><%= @animal.age.present? ? @animal.age.humanize : "N/A" %>
									  	<%= "(#{humanize_dob(@animal.date_of_birth)})".html_safe if @animal.date_of_birth.present? %></span></p></li>
						<li><p><b>Sex:</b><span><%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></span></p></li>
						<li><p><b>Weight:</b><span><%= @animal.weight.present? ? @animal.weight : "N/A" %></span></p></li>
						<li><p><b>Size:</b><span><%= Animal::SIZES[@animal.size.to_sym] || "N/A" %></span></p></li>
						<li><p><b>Color:</b><span><%= @animal.color.present? ? @animal.color : "N/A" %></span></p></li>
						<li><p><b>MicroChip:</b><span><%= @animal.microchip.present? ? @animal.microchip : "N/A" %></span></p></li>
						<li><p><b>Arrival/Intake Date:</b><span><%= @animal.arrival_date.present? ? format_date(:default, @animal.arrival_date) : "N/A" %></span></p></li>
					</ul>
					<% if @animal.accommodation.present? %>
					<h3>Accommodation:</h3>
					<ul>
						<li><p><b>Name:</b><span><%= @animal.accommodation.present? ? @animal.accommodation.name : "N/A" %></span></p></li>
						<li><p><b>Location:</b><span><%= @animal.accommodation.present? && @animal.accommodation.location.present? ? @animal.accommodation.location.name : "None"   %></span></p></li>
					</ul>
					<% end %>
				</td>
				<td class="image">

					<div id="photo_gallery"></div>

					<div class="action_links">
						<% unless @animal.video_url.blank? %>
						<span class="watch_video_link">
							<%= link_to "Watch Video", fancybox_video_url(@animal), :class => "button video_player", :title => "Video of #{@animal.name}" %>
						</span>
						<% end %>
            <span class="add_photos_link">
              <%= link_to "Add additional photos", "#", :id => "add_photos_link", :class => "photo_dialog button red",
                :"data-dialog-blur"    => "Photos.refreshGallery('animals', #{@animal.id})",
                :"data-dialog-element" => "#dialog_add_photos",
                :"data-dialog-title"   => "Add or Delete Photos for #{@animal.name}" %>
						</span>
					</div>
			    </td>
			</tr>
		</table>
		<% if @animal.special_needs? %>
			<table class="special_needs">
				<tr>
					<td>
						<h3>Special Needs:</h3>
						<p><%= auto_link( simple_format(@animal.special_needs), :all, :target => "_blank").html_safe %></p>
					</td>
				</tr>
			</table>
		<% end %>
		<table class="description">
			<tr>
				<td>
					<h3>Description:</h3>
					<p><%= @animal.description.blank? ? "No description provided" : auto_link( simple_format(@animal.description), :all, :target => "_blank").html_safe %></p>
				</td>
			</tr>
		</table>

		<% if @current_shelter.kill_shelter? %>
		<table class="euthanasia_info">
			<tr>
				<td>
					<h3>Euthanasia Info:</h3>
					<ul>
						<li><p><b>Hold time:</b><span class="hold_time"><%= @animal.hold_time.present? ? "#{@animal.hold_time} days" : "N/A" %></span></p></li>
						<li><p><b>Euthanasia Date:</b><span class="euthanasia_date"><%= @animal.euthanasia_date.present? ? format_date(:default, @animal.euthanasia_date) : "N/A" %></span></p></li>
					</ul>
				</td>
			</tr>
		</table>
		<% end %>


	</div>

	<div id="notes_heading" class="section_heading orange">
		<h2>Notes</h2>
		<div class="links">
			<%= link_to 'All', filter_notes_animals_path(:id => @animal.id, :format => :js), :remote => true, :id => "all_notes_link" %>
			<% Note::CATEGORIES.each do |category|%>
				&nbsp;|&nbsp;
				<%= link_to category.humanize, filter_notes_animals_path(:filter => category, :id => @animal.id, :format => :js),
				                          :remote => true, :id => "#{category}_notes_link" %>
			<% end %>
		</div>
	</div>

	<div class="page_content">
		<div id="notes" class="note_list">
			<%= render @notes %>
		</div>
	</div>

	<div id="status_history_heading" class="section_heading orange">
		<h2>Status history</h2>
	</div>

	<div class="page_content">
		<div id="status_histories" class="status_history_list">
			<%= render @status_histories %>
		</div>
	</div>

  <%= render "photos/dialog_add_photos" %>

<% end %>

<%= content_for :sidebar do %>

	<ul class="action_links">
		<li><%= link_to 'Add Alert', "#", :id => "add_alert_link", :class => "button" %></li>
		<li><%= link_to 'Add Note', "#", :id => "add_note_link", :class => "button" %></li>
		<li><%= link_to 'Add Task', "#", :id => "add_task_link", :class => "button" %></li>
	</ul>

	<div id="create_alert" class="box hide red">
		<h2>Add an alert for <%= @animal.name %></h2>
		<div id="create_alert_errors"></div>
		<%= form_for ([@animal, @alert = Alert.new]), :remote => true, :html => { :id => "create_alert_form", :class => "create_alert_form" } do |f| %>
			<ul>
				<%= render "alerts/form", :f => f %>
		    	<li class="buttons">
					<%= f.submit "Create Alert", :disable_with => "Submitting...", :id => "create_alert_button", :class => "button"  %>
					&nbsp;or&nbsp;
					<%= link_to "Cancel", "#", :id => "cancel_alert" %>
				</li>
			</ul>
		<% end %>
	</div>

	<div id="create_note" class="box hide orange">
		<h2>Add a note for <%= @animal.name %></h2>
		<div id="create_note_errors"></div>
		<%= form_for ([@animal, @note = Note.new]), :remote => true, :html => { :id => "create_note_form", :class => "create_note_form" } do |f| %>
			<ul>
				<%= render "notes/form", :f => f %>
		    	<li class="buttons">
					<%= f.submit "Create Note", :disable_with => "Submitting...", :id => "create_note_button", :class => "button"  %>
					&nbsp;or&nbsp;
					<%= link_to "Cancel", "#", :id => "cancel_note" %>
				</li>
			</ul>
		<% end %>
		<div id="another_note_category"></div>
	</div>

	<div id="create_task" class="box hide blue">
		<h2>Add a task for <%= @animal.name %></h2>
		<div id="create_task_errors"></div>
		<%= form_for ([@animal, @task = Task.new]), :remote => true, :html => { :id => "create_task_form", :class => "create_task_form" } do |f| %>
			<ul>
				<%= render "tasks/form", :f => f %>
		    	<li class="buttons">
					<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
					&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_task" %>
				</li>
			</ul>
		<% end %>
	</div>

	<div id="animal_alerts">
		<h2>Alerts</h2>
		<div id="alerts" class="alert_list">
			<%= render :partial => 'alerts/alert', :collection => @alerts %>
		</div>
	</div>

	<div id="animal_tasks">
		<h2>Tasks</h2>
		<%= render :partial => 'tasks/task_list', :locals => { :animal_link => false } %>
	</div>

<% end %>

