<%= javascripts "animals/animals" %>
<%= javascripts "calendar/calendar" %>

<% content_for :page_content do %>
	
	<div class="page_heading blue_background">
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="links right">
					<%= link_to "Create new animal", new_animal_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Edit", edit_animal_path(@animal)%>&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Delete", @animal, :confirm => "Are you sure?", :method => :delete %>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= format_breed(@animal.is_mix_breed, @animal.primary_breed, @animal.secondary_breed) %></p>
				</td>
				<td class="right">
					<p><%= @animal.animal_status.name %></p>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="page_content">
		
		<%= render :partial => "global/flash_messages" %>
		 
		<table class="animal_details">
			<tr>
				<td class="image"><%= image_tag @animal.photo.url(:medium) %></td>
				<td class="metadata">
					<h3>Details:</h3>
					<ul class="first">
						<% unless @animal.weight.blank? %><li><p><b>Weight:</b> <%= @animal.weight %></li><% end %>
						<% unless @animal.age.blank? %><li><p><b>Age:</b> <%= @animal.age %></li><% end %>
						<% unless @animal.chip_id.blank? %><li><p><b>MChip:</b> <%= @animal.chip_id %></p></li><% end %>
						
					</ul>
					<ul>
						<% unless @animal.color.blank? %><li><p><b>Color:</b> <%= @animal.color %></p></li><% end %>
						<% unless @animal.sex.blank? %><li><p><b>Sex:</b> <%= @animal.sex %> <% if @animal.is_sterilized %>(Sterilized)<% end %></p></li><% end %>
					</ul>
					<div class="description">
						<% unless @animal.description.blank? %><h3>Description:</h3><p><%= @animal.description %></p><% end %>
					</div>
				</td>
			</tr>
		</table>

		
	</div>
	
	<div class="note_filters yellow_background">
		<h2>Notes</h2>
		<div class="links">
			<%= link_to 'All', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal }, :method => :get, :remote => true, :id => "all_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'General', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "General" }, :method => :get, :remote => true, :id => "general_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'Medical', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "Medical" }, :method => :get, :remote => true, :id => "medical_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'Behavior', {:controller => :animals, :id => @animal.id, :action => :scoped_notes_for_animal, :scope => "Behavior" }, :method => :get, :remote => true, :id => "behavior_notes_link" %>
		</div>
	</div>
	
	<div id="notes" class="page_content">
		<%= render @animal.notes %>
	</div>

<% end %>

<% content_for :sidebar do %>

	<ul>
		<li><%= link_to 'Add Alert', "#", :id => "add_alert_link", :title => 'Add a new alert', :class => "button" -%></li>
		<li><%= link_to 'Add Note', "#", :id => "add_note_link", :title => 'Add a new note', :class => "button" -%></li>
		<li><%= link_to 'Add Task', "#", :id => "add_task_link", :title => 'Add a new task', :class => "button" -%></li>
	</ul>
	
	<div id="create_alert" style="display: none;background-color: #fce2ec; border:1px solid #f286b1;padding: 15px;">
		<h2>Add an alert for <%= @animal.name %></h2>
		<div id="alert_errors"></div>
		<%= form_for ([@animal, Alert.new]), :remote => true do |f| %>
			<%= render :partial => "alerts/form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Alert", :disable_with => "Submitting...", :id => "create_alert_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_alert" -%>
			</div>
		<% end %>
	</div>
	<br /><br />
	<div id="create_note" style="display: none;border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px;">
		<h2>Add a note for <%= @animal.name %></h2>
		<div id="note_errors"></div>
		<%= form_for ([@animal, Note.new]), :remote => true do |f| %>
			<%= render :partial => "notes/form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Note", :disable_with => "Submitting...", :id => "create_note_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_note" -%>
			</div>
		<% end %>
		<div id="another_note_category" style="display:none;"></div>
	</div>
	<br /><br />
	<div id="create_task" style="display: none; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px;">
		<h2>Add a task for <%= @animal.name %></h2>
		<div id="task_errors"></div>
		<%= form_for ([@animal, Task.new]), :remote => true do |f| %>
			<%= render :partial => "tasks/form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_task" -%>
			</div>
		<% end %>
	</div>
	<br />
	<h2 style="border-bottom: 1px #bbb solid; font-weight: bold;">Alerts</h2>
	<div id="alerts">
		<%= render @animal.alerts %>
	</div>
	<br />
	<h2 style="border-bottom: 1px #bbb solid; font-weight: bold;">Tasks</h2>
	<div id="tasks">
		<%= render @animal.tasks %>
	</div>

<% end %>
	
