<%= title "#{@animal.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "animals/animals", "tasks/tasks", "date", :cache => "cache/application/animals-show" %>
<% end %>

<%= content_for :page_content do %>
	<div class="page_heading blue_background">
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="links right">
					<%= link_to "Create new animal", new_animal_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Edit", edit_animal_path(@animal)%>&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Delete", @animal, :confirm => "Are you sure?", :method => :delete %>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= format_breed(@animal.is_mix_breed, @animal.primary_breed, @animal.secondary_breed) %></p>
				</td>
				<td class="right">
					<p><%= @animal.animal_status.name %></p>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="page_content">
		 
		<table class="animal_details">
			<tr>
				<td class="image"><%= image_tag @animal.photo.url(:medium) %></td>
				<td class="metadata">
					<h3>Details:</h3>
					<ul class="first">
						<% unless @animal.weight.blank? %><li><p><b>Weight:</b> <%= @animal.weight %></li><% end %>
						<% unless @animal.age.blank? %><li><p><b>Age:</b> <%= @animal.age %></li><% end %>
						<% unless @animal.chip_id.blank? %><li><p><b>MChip:</b> <%= @animal.chip_id %></p></li><% end %>
						
					</ul>
					<ul>
						<% unless @animal.color.blank? %><li><p><b>Color:</b> <%= @animal.color %></p></li><% end %>
						<% unless @animal.sex.blank? %><li><p><b>Sex:</b> <%= @animal.sex %> <% if @animal.is_sterilized %>(Sterilized)<% end %></p></li><% end %>
					</ul>
					<div class="description">
						<% unless @animal.description.blank? %><h3>Description:</h3><p><%= @animal.description %></p><% end %>
					</div>
				</td>
			</tr>
		</table>

		
	</div>
	
	<div class="note_filters yellow_background">
		<h2>Notes</h2>
		<div class="links">
			<%= link_to 'All', animal_path, :remote => true, :id => "all_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'General', animal_path(:filter => "General"), :remote => true, :id => "general_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'Medical', animal_path(:filter => "Medical"),  :remote => true,:id => "medical_notes_link" %>&nbsp;|&nbsp;
			<%= link_to 'Behavioral', animal_path(:filter => "Behavioral"), :remote => true,:id => "behavioral_notes_link" %>
		</div>
	</div>
	
	<div id="animal_notes" class="page_content">
		<%= render @notes %>
	</div>

<% end %>

<%= content_for :sidebar do %>

	<ul>
		<li><%= link_to 'Add Alert', "#", :id => "add_alert_link", :class => "button" -%></li>
		<li><%= link_to 'Add Note', "#", :id => "add_note_link", :class => "button" -%></li>
		<li><%= link_to 'Add Task', "#", :id => "add_task_link", :class => "button" -%></li>
	</ul>
	
	<div id="create_alert">
		<h2>Add an alert for <%= @animal.name %></h2>
		<div id="alert_errors"></div>
		<%= form_for ([@animal, Alert.new]), :remote => true do |f| %>
			<%= render :partial => "alerts/form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Alert", :disable_with => "Submitting...", :id => "create_alert_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_alert" -%>
			</div>
		<% end %>
	</div>
	
	<div id="create_note">
		<h2>Add a note for <%= @animal.name %></h2>
		<div id="note_errors"></div>
		<%= form_for ([@animal, Note.new]), :remote => true do |f| %>
			<%= render :partial => "notes/form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Note", :disable_with => "Submitting...", :id => "create_note_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_note" -%>
			</div>
		<% end %>
		<div id="another_note_category"></div>
	</div>
	
	<div id="create_task">
		<h2>Add a task for <%= @animal.name %></h2>
		<div id="task_errors"></div>
		<%= form_for ([@animal, Task.new]), :remote => true do |f| %>
			<%= render :partial => "tasks/form", :locals => { :f => f } %>
		    <div class="actions">
				<%= f.submit "Create Task", :disable_with => "Submitting...", :id => "create_task_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_task" -%>
			</div>
		<% end %>
	</div>
	
	<div id="animal_alerts">
		<h2>Alerts</h2>
		<div id="alerts" class="alert_list">
			<%= render :partial => 'alerts/alert', :as => :alert, :collection => @animal.alerts.not_stopped.all %>
		</div>
	</div>
	<%
		#  MAY ADD LATER
		# overdue = @animal.tasks.overdue.not_completed.all
		# today = @animal.tasks.today.not_completed.all 
		# tomorrow = @animal.tasks.tomorrow.not_completed.all
		# later = @animal.tasks.later.not_completed.all
	%>
	<div id="animal_tasks">
		<h2>Tasks</h2>
		<div id="overdue_tasks_section" class="<%= "no_tasks" if @animal.tasks.overdue.not_completed.blank? %>">
			<h3>Overdue</h3>
			<div id="overdue_tasks" class="task_list">
				<%= render :partial => 'tasks/task', :as => :task, :collection => @animal.tasks.overdue.not_completed.all %>
			</div>
		</div>

		<div id="today_tasks_section" class="<%= "no_tasks" if @animal.tasks.today.not_completed.blank? %>">
			<h3>Today</h3>
			<div id="today_tasks" class="task_list">
				<%= render :partial => 'tasks/task', :as => :task, :collection => @animal.tasks.today.not_completed.all %>
			</div>
		</div>

		<div id="tomorrow_tasks_section" class="<%= "no_tasks" if @animal.tasks.tomorrow.not_completed.blank? %>">
			<h3>Tomorrow</h3>
			<div id="tomorrow_tasks" class="task_list">
				<%= render :partial => 'tasks/task', :as => :task, :collection => @animal.tasks.tomorrow.not_completed.all %>
			</div>
		</div>

		<div id="later_tasks_section" class="<%= "no_tasks" if @animal.tasks.later.not_completed.blank? %>">
			<h3>Later</h3>
			<div id="later_tasks" class="task_list">
				<%= render :partial => 'tasks/task', :as => :task, :collection => @animal.tasks.later.not_completed.all %>
			</div>
		</div>
	</div>

<% end %>
	
