<div id="<%= "alert_#{alert.id}" %>" class="alert">
	<span class="type <%= alert.alert_type.name.downcase %>">
		<%= alert.alert_type.name %>
	</span>
	<span class="details">
		<p><span class="alert_created_at_date"><%= format_date(:short_no_year, alert.created_at) %></span><%= alert.title %>
		<%= show_alertable_link(alert)%></p>
	</span>
	<span class="links">
		<%= link_to image_tag("icon-stop.png"), stopped_alert_path(alert), :confirm => "Are you sure?", :remote => true, :title => "Stop alert" %>
		<%= link_to image_tag("icon-edit.png"), edit_alert_path(alert), :remote => true, :title => "Edit alert" %>
		<%= link_to image_tag("icon-delete.png"), alert, :confirm => "Are you sure?", :method => :delete, :remote => true, :title => "Delete alert" %>
	</span>
	<div class="clear"></div>
</div>


