<div id="<%= dom_id(alert) %>" class="alert">

	<span class="stop">
		<%= check_box_tag "alert[stopped]", 1, false, :onclick => "Alerts.stop(this, #{alert.id});" %>
	</span>
	<span class="type"><div class="<%= alert.severity %>"><%= alert.severity.humanize %></div></span>
	<span class="created_at_date"><%= format_date_for(alert.created_at, :short_no_year) %></span>
	<span class="details">
		<span class="title"><%= alert.title %> <%= show_alertable_link(alert) %></span>
	</span>

  <span class="action_links">
		<span class="edit_link">
			<%= link_to "Edit", edit_alert_path(alert, :format => :js), :remote => true %>
		</span>
		<% if can?(:destroy, Alert) %>
		<span class="delete_link">&nbsp;|&nbsp;
			<%= link_to "Delete", alert, :confirm => "Are you sure you want to delete? This alert will no longer appear in the list.", :method => :delete, :remote => true, :format => :js %>
		</span>
		<% end %>
	</span>
  <p class="description" id="description_alert_<%=alert.id %>"><%= alert.description %></p>

</div>


