<div id="<%= "alert_#{alert.id}" %>" class="alert">
	<span class="type <%= alert.severity %>">
		<%= Alert::SEVERITY[alert.severity.to_sym] %>
	</span>
	<span class="details">
		<p>
			<span class="alert_created_at_date"><%= format_date(:short_no_year, alert.created_at) %></span>
			<%= alert.title %>
			<%= show_alertable_link(alert)%>
		</p>
	</span>
	<div class="action_links">
		<span class="view_link">
			<%= link_to "View", "#", :onclick => "$('#description_alert_#{alert.id}').slideToggle();return false;" %>
		</span>
		<span class="stop_link">&nbsp;|&nbsp;
			<%= link_to "Stop", stopped_alert_path(alert), :confirm => "Are you sure?", :remote => true %>
		</span>
		<span class="edit_link">&nbsp;|&nbsp;
			<%= link_to "Edit", edit_alert_path(alert), :remote => true %>
		</span>
		<span class="delete_link">&nbsp;|&nbsp;
			<%= link_to "Delete", alert, :confirm => "Are you sure?", :method => :delete, :remote => true %>	
		</span>
	</div>
	<div class="clear"></div>
	<p class="description" id="description_alert_<%=alert.id %>"><%= alert.description %></p>
</div>


