<div class="edit_alert" id="edit_alert_<%=@alert.id %>">
	<h2>Update alert</h2>
	<%= form_for (@alert), :remote => true, :html => { :id => "edit_alert_form", :class => "edit_alert_form"} do |f| %>
		<ul>
			<%= render "form", :f => f  %>
	    	<li class="buttons">
				<%= f.submit "Update Alert", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#', :onclick => "Alerts.cancelForm(#{@alert.id});return false;"  %>
			</li>
		</ul>
	<% end %>
</div>