<ul class="form">
	<li>
		<%= f.label :title, "Title" %><br />
		<%= f.text_field :title %>
	</li>
	<li>
		<%= f.label :severity, "Severity" %><br />
	    <%= select :alert, :severity, Alert::SEVERITY.map {|k,v| [ v, k ] }, {:prompt => "Select one"}  %>
	</li>
	<!-- <li>
		<%= f.check_box :is_broadcast %>&nbsp;&nbsp;<%= f.label :is_broadcast, "Broadcast to shelter" %>
	</li> -->
	<li>
		<%= f.label :description, "Description" %><br />
		<%= f.text_area :description %>
	</li>	
</ul>