<ul class="form">
	<li>
		<%= f.label :title, "Title" %><br />
		<%= f.text_field :title %>
	</li>
	<li>
		<%= f.label :severity, "Severity" %><br />
	    <%= f.collection_select :severity, Alert::SEVERITY, :to_s, :humanize, :prompt => "Select one" %>
	</li>
	<li>
		<%= f.label :description, "Description" %><br />
		<%= f.text_area :description %>
	</li>	
</ul>