<ul class="form">
	<!-- <li>
			<%= f.label :subject_id, "Subject ID REMOVE LATER" %><br />
			<%= f.text_field :subject_id %>
		</li>
		<li>
			<%= f.label :subject_type, "Subject Type REMOVE LATER" %><br />
			<%= f.text_field :subject_type %>
		</li> -->
	<li>
		<%= f.label :title, "Title" %><br />
		<%= f.text_field :title %>
	</li>
	<li>
		<%= f.label :alert_type_id, "Alert Type" %><br />
		<%= collection_select(:alert, :alert_type_id, AlertType.all, :id, :name, :prompt => "Select Type") %>
	</li>
	<li>
		<%= f.check_box :is_broadcast %>&nbsp;&nbsp;<%= f.label :is_broadcast, "Broadcast to shelter" %>
	</li>
	<li>
		<%= f.label :description, "Description" %><br />
		<%= f.text_area :description %>
	</li>	
	<li>
		<%= f.label :start_date, "Start date" %><br />
		<%= f.text_field :start_date %>
	</li>
	<li>
		<%= f.label :end_date, "End date" %><br />
		<%= f.text_field :end_date %>
	</li>
</ul>