<%= javascripts "alerts/alerts" %>

<%= content_for :page_content do %>

	<% if @alert_validate %>
		<div class="page_heading">
			<h1>Alerts</h1>
		</div>
		
		<div class="page_content">
			
			<div id="global_alerts_section" class="<%= "no_alerts" if @global_alerts.blank? %>">
				<h3>Global</h3>
				<div id="global_alerts" class="alert_list">
					<%= render :partial => "alert", :collection => @global_alerts %>
				</div>
			</div>
			
			<div id="animal_alerts_section" class="<%= "no_alerts" if @animal_alerts.blank? %>">
				<h3>Animal</h3>
				<div id="animal_alerts" class="alert_list">
					<%= render :partial => "alert", :collection => @animal_alerts %>
				</div>
			</div>
				
		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Creating your first alert</h1>
			<p>Create a standard Message that will describe what to do next...like empty basecamp project</p>
		</div>

		<div class="page_content">
			<%= render "global/error_messages", :target => @alert %>
			<div id="create_alert">
				<%= form_for(@alert) do |f| %>
					<%= render :partial => "form", :locals => { :f => f } %>
			    	<div class="actions">
						<%= f.submit "Create Alert", :disable_with => "Submitting...", :class => 'button' %>
					</div>
				<% end %>
			</div>	
		</div>
			
	<% end %>

<% end %>

<%= content_for :sidebar do %>
	<% if @alert_validate %>
		<div id="create_alert">
			<h2>Add an alert</h2>
			<div id="alert_errors"></div>
			<%= form_for (Alert.new), :remote => true do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
			    <div class="actions">
					<%= f.submit "Create Alert", :disable_with => "Submitting...", :id => "create_alert_button", :class => "button"  %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>