<%= javascripts "alerts/alerts" %>

<% content_for :page_content do %>

	<% if @alerts.size > 0 %>
		<div class="page_heading">
			<h1>Alerts</h1>
		</div>
		
		<div class="page_content">
			<%= render :partial => "global/flash_messages" %>
			
			<% @global_alerts = Alert.scoped_by_subject_type(nil) %>
			<% unless @global_alerts.blank? %>
				<h3>Global</h3>
				<table class="alert_list">
					<% @global_alerts.each do |alert| %>
					<tr id="<%= "alert_#{alert.id}" %>">
						<td class="type <%= alert.alert_type.name.downcase %>"><%= alert.alert_type.name %></td>
						<td class="details"><h3><%= alert.title %> (<%= alert.is_broadcast %>)</h3></td>
						<td class="links"><%= link_to "Edit", edit_alert_path(alert) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", alert, :confirm => "Are you sure?", :method => :delete, :remote => true %></td>
					</tr>
					<% end %>
				</table>
			<% end %>
				

			<% @animal_alerts = Alert.scoped_by_subject_type(Alert::SUBJECT_TYPE[:animal]) %>
			<% unless @animal_alerts.blank?%>
				<h3>Animal</h3>
				<table class="alert_list">
					<% @animal_alerts.each do |alert| %>
					<tr id="<%= "alert_#{alert.id}" %>">
						<td class="type <%= alert.alert_type.name.downcase %>"><%= alert.alert_type.name %></td>
						<td class="details"><h3><%= alert.title %> (<%= alert.is_broadcast %>)</h3></td>
						<td class="links"><%= link_to "Edit", edit_alert_path(alert) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", alert, :confirm => "Are you sure?", :method => :delete, :remote => true %></td>
					</tr>
					<% end %>
				</table>
			<% end %>
		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Creating new alerts</h1>
			<p>Create a standard Message that will describe what to do next...like empty basecamp project</p>
		</div>
	<% end %>

<% end %>

<% content_for :sidebar do %>
	<%= link_to "New Alert", new_alert_path %>
<% end %>