<%= title "Create your first alert" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "alerts/alerts", :cache => "cache/application/alerts-new" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first alert</h1>
		<p>Provide details below of the alert and the severity, include a description and choose if you would like this alert broadcast to the entire shelter.</p>
	</div>

	<div class="page_content">
		<%= render "global/error_messages", :target => @alert %>
		<div id="create_alert">
			<%= form_for(@alert) do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
		    	<div class="actions">
					<%= f.submit "Create Alert", :disable_with => "Submitting...", :class => 'button' %>
				</div>
			<% end %>
		</div>	
	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>