<%= title "Create your first alert" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "alerts/alerts", :cache => "cache/application/alerts-new" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first alert</h1>
		<p>Provide details below of the alert and the severity, include a description and choose if you would like this alert broadcast to the entire shelter.</p>
	</div>

	<div class="page_content">
		<%= render "global/error_messages", :target => @alert %>
		<div id="create_alert">
			<%= form_for(@alert), :html => { :id => "create_alert_form", :class => "create_alert_form" } do |f| %>
				<ul>
					<%= render "form", :f => f %>
		    		<li class="buttons">
						<%= f.submit "Create Alert", :disable_with => "Submitting...", :class => "button" %>
					</li>
				</ul>
			<% end %>
		</div>	
		
	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>