<%= title "Create your first alert" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your first alert</h1>
		<p>Provide details below of the Alert you would like to create for your shelter.</p>
		<ul class="help">
			<li><strong>Title</strong> - Provide a title for the Alert - for example - Parvo outbreak.</li>
			<li><strong>Severity</strong> - Choose a level of important from High, Medium or Low. </li>
			<li><strong>Description</strong> - Optionally add more details for this Alert. For example - quarantine all animals in section 2.</li>
		</ul>
	</div>

  <div class="page_content">

    <% if can?(:create, Alert) %>
      <%= render "shared/error_messages", :target => @alert %>
      <div id="create_alert">
        <%= form_for @alert, :html => { :id => "create_alert_form", :class => "create_alert_form" } do |f| %>
          <ul>
            <%= render "form", :f => f %>
              <li class="buttons">
              <%= f.submit "Create Alert", :disable_with => "Submitting...", :class => "button" %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>

	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>
