<%= title "Privacy Policy" %>
<%= description "This privacy policy discloses the privacy practices of Shelter Exchange, Inc., which owns and operates various sites on the World Wide Web, including without limitation shelterexchange.org." %>
<%= keywords "shelter exchange, privacy policy, privacy" %>
<%# robots "noindex,follow" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<h1>Privacy Policy
		<span class="social">
			<span class="facebook"><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></span>
		</span>
	</h1>

	<p>This privacy policy discloses the privacy practices of Shelter Exchange, Inc. ("Shelter Exchange," "we," "our" or "us"), which owns and operates various sites on the World Wide Web, including without limitation shelterexchange.org, (collectively, the "Shelter Exchange Websites"). Your access to and use of the Shelter Exchange Websites and all the services provided via the Shelter Exchange Websites (collectively, the "Shelter Exchange Services") are subject to Shelter Exchange’s Terms of Use and all applicable laws.</p>

	<p>This privacy policy describes how Shelter Exchange collects, uses, and shares information about you that it obtains in connection with providing Shelter Exchange Services to you.</p>

	<p>We value your comments about our privacy statement and invite you to e-mail us with inquiries, suggestions and complaints at: <a href="mailto:support@shelterexchange.org?subject=Shelter Exchange - Privacy Policy">support (at) shelterexchange.org</a>.</p>

	<h2>What information is collected?</h2>
	<p>In order to enhance your user experience and improve the Shelter Exchange Services, Shelter Exchange collects information about you from two sources: (i) information you affirmatively give to us; and (ii) information automatically collected when you visit any of the Shelter Exchange Websites or use any Shelter Exchange Services. Third parties may also collect your information in connection with your use of Shelter Exchange Services.</p>

	<h3>Information you give us</h3>
	<p>When you sign up for Shelter Exchange Services, we may ask you to provide certain information about yourself such as your name, email address, shelter or rescue details. You can view all of the information collected during the registration process by visiting the registration page. You may modify or remove any of your personal information at any time by logging into your account and accessing features that will allow you to edit your profile and account Information.</p>
	<p>After you provide such information and set up your account, we may ask you to provide additional information about yourself on an optional basis. Shelter Exchange may collect any communication it has with you via any means, including e-mail, telephone, and letters.</p>
	<p>By choosing to provide any information to us, you are giving Shelter Exchange permission to use and store such information consistent with this privacy policy.</p>

	<h3>Information we collect automatically</h3>
	<p>In addition, Shelter Exchange automatically collects information about your interactions with the Shelter Exchange Websites and Shelter Exchange Services. For example, Shelter Exchange may log information from your computer and browser, such as your IP address, profile information, aggregate user data, browser type, software and hardware attributes, pages you request, and cookie information. By using the Shelter Exchange Services, you are giving Shelter Exchange permission to use and store such information consistent with this privacy policy.</p>

	<h3>Cookies</h3>
	<p>You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts of our site. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our site.</p>

	<h3>Information collected by third parties</h3>
	<p>Shelter Exchange may use services that collect data remotely by using "pixel tags," "web beacons," "clear GIFs," or similar technologies. Such technologies can recognize certain types of information on your web browser, check whether you have viewed a particular web page or email message, and determine, among other things, the time and date on which you viewed them and the IP address of the computer from which you viewed them.</p>
	<p>Shelter Exchange Services may be linked to or provided through third party websites. Shelter Exchange is not responsible for the privacy policies and/or practices on such third party websites. When linking or accessing such websites, you should carefully review the privacy policy of such third party to determine how it handles information it separately collects from you.</p>

	<h2>How information is used?</h2>
	<p>Shelter Exchange uses the information it collects from you to deliver Shelter Exchange Services to you and continuously enhance your user experience. Generally speaking, we use the collected information to communicate with you, fulfill your requests, customize the content, improve our products and services, protect our and your rights, and comply with laws and regulations.</p>
	<p>We may use your personal information to send you promotional information and updates regarding Shelter Exchange and its products and services. You may choose not to receive such information. </p>
	<p>The information that we collect from you may be used in aggregate form in various ways to optimize and improve Shelter Exchange Services. While such information may be based on information about you, it will not identify you personally. We may use such information for the following purposes: website management, administration and security, promotional activities, and research and analysis.</p>

	<h2>With whom information is shared?</h2>
	<br />
	<h3>Public Information</h3>
	<p>Shelter Exchange may share as it sees fit information that you voluntarily make public, including information that you post on any blogs, message boards, chat rooms or other similar forums, whether or not such forums are owned by Shelter Exchange. Since such public information can be accessed by the public and used by any member of the public, such use by third parties is beyond the control of Shelter Exchange.</p>

	<h3>Personal Information</h3>
	<p>If we have your express consent, Shelter Exchange may share your personal information that it collects with business partners, and other third parties that are not affiliated with Shelter Exchange. Note that if you sign up for service from one of our affiliates, we may ask for your consent to share with such third party partner certain of your personal information. While Shelter Exchange is not responsible for the acts of such partners, we encourage all of our partners to adopt privacy policies that protect against the disclosure of personal information to third persons.</p>
	<p>Shelter Exchange may disclose your personal information without asking for your consent in order to protect the legal rights of Shelter Exchange or its affiliates, and each of their respective investors, directors, officers, employees, agents, and suppliers; to protect the safety and security of users of the Shelter Exchange Services or to enforce our Terms of Use; to protect against fraud or for risk management purposes; or to comply with or respond to the law or legal process or a request for cooperation by a government entity, whether or not legally required. If you notify us that you believe your legal rights have been violated by Shelter Exchange or another user of the Shelter Exchange Services, we may provide the information that you provide to us to others to the extent that we believe it is necessary to evaluate and respond to your complaint. For instance, if you submit a notice of copyright infringement to us, we may send a copy to the person or entity who uploaded, stored, or transmitted the material addressed by the communication.</p>
	<p>Also, in order to provide goods or services that you have requested or to complete a transaction at your request, Shelter Exchange may share your personal information with its third party service providers, including companies that assist with payment processing, business analytics, data processing, account management, and other services. We require these companies to agree that they will only use personal information about you that they have obtained from us to provide us with specific services that we have requested and not for any other purpose.</p>

	<h3>Non-Personal Information and Aggregate Data</h3>
	<p>Shelter Exchange may share with third parties your non-personal information and related aggregated data. For example, Shelter Exchange may share IP addresses of its users to provide anonymous aggregated data to business partners about the volume of use on the Shelter Exchange Services and the specific Shelter Exchange Services in which users are most interested. Because this form of data does not identify particular users, these third parties will not be able to contact you based solely on this data.</p>


	<h2>How you can control the information we collect, use and share?</h2>
	<p>You have the choice about whether to disclose your personal information or other information about yourself to Shelter Exchange. Regardless of your choices with respect to promotional communications and updates regarding content, Shelter Exchange may send you administrative messages, service announcements, terms and conditions of your account, or other similar communications, without offering you the opportunity to opt out of receiving them.</p>

	<h2>How information is protected?</h2>
	<p>Your Shelter Exchange accounts may be secured by member-created passwords, in which case reasonable precautions are taken to ensure that your account information is kept private. You are responsible for keeping your passwords confidential. We ask you not to share your password with anyone. Shelter Exchange uses reasonable measures to protect your information stored within our databases, and we restrict access to such information to those employees who need access to perform their job functions, such as our customer service personnel and technical staff. Despite these efforts, please note that we cannot ensure or guarantee the security of your information. Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of your information at any time.</p>

	<h2>Changes to this privacy policy</h2>
	<p>From time to time, we may make changes to this privacy policy. In order to ensure that you are familiar with our most updated policies and practices, you should check the effective date indicated above of this privacy policy each time you use the Shelter Exchange Services. If we make any changes, we will notify you of such changes by posting the updated privacy policy on the Shelter Exchange Websites. We may also send you an email alerting you of such changes. You will be bound by any such changes to the policy when you use the Shelter Exchange Services after those changes have been posted. If we make material revisions concern practices where we have represented that we will obtain your consent to use or disclose your personal information, we will obtain your consent before taking any action inconsistent with those representations.</p>

	<h2>Contacting Shelter Exchange</h2>
	<p>If you have any questions about this privacy statement, the practices of the Shelter Exchange Website and Shelter Exchange Services, or your dealings with Shelter Exchange, please contact us at: <a href="mailto:support@shelterexchange.org?subject=Shelter Exchange - Privacy Policy">support (at) shelterexchange.org</a> or by mail at:</p>
	<div id="address_details" itemscope itemtype="http://schema.org/Organization">
		<span class="name" itemprop="name"><h3>Shelter Exchange</h3></span>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<p><span itemprop="streetAddress">P.O. Box 2934</span></p>
		  <p><span itemprop="addressLocality">Redwood City, CA</span> <span class="postalCode" itemprop="postalCode">94064</span></p>
		</div>
	</div>





<% end %>

<%= content_for :sidebar do %><% end %>
