<div id="<%= "announcement_#{announcement.id}" %>" class="announcement">
	<span class="category"><div class="<%= announcement.category %>"><%= announcement.category.humanize %></div></span>
	<span class="created_at_date"><%= format_date(:short_no_year, announcement.created_at) %></span>
	<span class="details">
		<span class="title"><%= announcement.title %></span>
	</span>
	<span class="action_links">
		<span class="edit_link">
			<%= link_to "Edit", edit_admin_announcement_path(announcement, :format => :js), :remote => true %>
		</span>
		<span class="delete_link">&nbsp;|&nbsp;
			<%= link_to "Delete", admin_announcement_path(announcement, :format => :js), :confirm => "Are you sure you want to delete? This announcement will no longer appear in the list.", :method => :delete, :remote => true %>
		</span>
	</span>
	<p class="message" id="message_announcement_<%=announcement.id %>"><%= auto_link(announcement.message, :all, :target => "_blank").html_safe %></p>
</div>
