<%= title "Announcements" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Announcements</h1>
	</div>
		
	<div class="page_content">
			
		<div id="announcements" class="announcement_list">
			<%= render @announcements %>
		</div>
				
	</div>
	
<% end %>

<%= content_for :sidebar do %>
	
	<div id="create_announcement" class="box red">
		<h2>Add an announcement</h2>
		<div id="create_announcement_errors"></div>
		<%= form_for ([:admin, @announcement = Announcement.new]), :remote => true, :html => { :id => "create_announcement_form", :class => "create_announcement_form" } do |f| %>
			<ul>
				<%= render "form", :f => f  %>
		    	<li class="buttons">
					<%= f.submit "Create Announcement", :disable_with => "Submitting...", :class => "button"  %>
				</li>
			</ul>
		<% end %>
	</div>
	
		
<% end %>