<%= title "Integrations"  %>

<%= content_for :page_content do %>

  <div class="page_heading blue">
    <h1>Integrations</h1>
  </div>

  <div class="page_content">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Petfinder (<%=@petfinder_count%>)</th>
          <th>Adopt a Pet (<%=@adopt_a_pet_count%>)</th>
        </tr>
      </thead>
      <tbody>
        <% @integrations_hash.each do |shelter, value| %>
          <tr class="<%= cycle("odd", "even")%>">
            <td class="key"><%= link_to shelter.name, admin_shelter_path(shelter), :target => '_new' %></td>
            <td class="center"><%= image_tag("icon_task.png", :width => 15) if value.include?(:petfinder) %></td>
            <td class="center"><%= image_tag("icon_task.png", :width => 15) if value.include?(:adopt_a_pet) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
