<%= title "Community Support" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>Community Support</h1>
	<p>Shelter Exchange is collaborating with a group of amazing partners that help us to make everything we do possible. Our partners have either donated their products or services to us free of charge or have given us greatly discounted rates. We are so grateful to each one of them for supporting us and we want to give them the full recognition they deserve. THANK YOU!</p>
	
	<ul class="list">
		<li>
			<a href="http://wufoo.com"><%= image_tag("public/logos/logo_wufoo.png")%></a>
			<div>
				<h2><a href="http://wufoo.com">Wufoo</a></h2>
				<p>They are helpful and cool. yadda yadda yadda.  The brown fox jumps over the black doggie.The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie</p>
			</div>
		</li>
		<li>
			<a href="http://foundation.force.com/home"><%= image_tag("public/logos/logo_salesforce.png")%></a>
			<div>
				<h2><a href="http://foundation.force.com/home">Salesforce Foundation</a></h2>
				<p>They are helpful and cool. yadda yadda yadda.  The brown fox jumps over the black doggie.The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie</p>
			</div>
		</li>
		<li>
			<a href="http://tenderapp.com"><%= image_tag("public/logos/logo_tender.png")%></a>
			<div>
				<h2><a href="http://tenderapp.com">Tender Support</a></h2>
				<p>They are helpful and cool. yadda yadda yadda.  The brown fox jumps over the black doggie.The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie</p>
			</div>
		</li>
		<li>
			<a href="http://mailchimp.com"><%= image_tag("public/logos/logo_mailchimp.png")%></a>
			<div>
				<h2><a href="http://mailchimp.com">MailChimp</a></h2>
				<p>They are helpful and cool. yadda yadda yadda.  The brown fox jumps over the black doggie.The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie</p>
			</div>
		</li>
		<!-- <li>
			<a href="http://www.google.com/nonprofits/"><%= image_tag("public/logos/logo_google.png")%></a>
			<div>
				<h2><a href="http://www.google.com/nonprofits/">Google for nonprofits</a></h2>
				<p>They are helpful and cool. yadda yadda yadda.  The brown fox jumps over the black doggie.The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie</p>
			</div>
		</li> -->
		<li>
			<a href="http://paypal.com"><%= image_tag("public/logos/logo_paypal.png")%></a>
			<div>
				<h2><a href="http://paypal.com">PayPal</a></h2>
				<p>They are helpful and cool. yadda yadda yadda.  The brown fox jumps over the black doggie.The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie. The brown fox jumps over the black doggie</p>
			</div>
		</li>
		
	</ul>
	
<% end %>

<%= content_for :sidebar do %><% end %>