<%= title "About us" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>

	<h1>About us</h1>
	
	<p>Shelter Exchange have taken a fresh approach to reducing euthanasia and created a free collaborative web application available to every rescue group, animal welfare organizations and shelter across the nation. The goal was to build a standard platform for the animal welfare community where information of animals can be effectively managed and shared to save the lives of the animals on death row. Our goal is to also assist animals that may not have the exposure for adoption, or for special needs animals with serious medical or behavioral issues. Our philosophy is to bring every rescue and shelter to one common place to share and communicate the information for these animals, allowing rescue efforts to be streamlined and effectively achieved. We will also provide information of adoptable animals to the general public, and positive exposure to shelters and rescue groups that need help. Working together we believe we can substantially reduce the number of animals euthanized across the country.</p>

	<p>Shelters and rescues using the Shelter Exchange web application will have the ability to input, manage and track the data for their own animals, but also view all animals that are currently homed at any other shelter across the country. This information can be searched via a geographical map, or by a specific shelter or rescue’s name. This will allow shelters and rescues to interact both locally and nationally in a secure central place. </p>

	<p>We are the first organization to provide a solution of this magnitude for the animal welfare community. We have used advanced technologies to provide a user-friendly solution where animals can quickly be entered, shared and viewed so proactive decisions can be made promptly to save lives.</p>

	<p>Animal shelters and rescue groups across the country currently do not have a streamlined central method to communicate critical information between each other. Best efforts are made through independent shelter websites; free social sites, but the information can outdate quickly, fall into the wrong hands or be partial and inaccurate.</p>

	<p>The sad repercussion is millions of healthy and adoptable animals are euthanized annually because this information cannot effectively be shared with the correct sources that can help. Many animals are often overlooked or not even published as they are deemed un-adoptable. Many of the animals that enter shelters are either older animals or have serious medical conditions, many of them also fall into the bully breed categories, and these are some of the first to be euthanized. </p>

	<p>The Shelter Exchange application will be available to all rescue groups, independent and municipal shelters with a 501(c)(3) status. (This will include kill and no kill shelters.) We will also provide the application to reputable and referred rescues and shelters that do not hold a 501(c)(3) status but additional information may be required.</p>
<% end %>

<%= content_for :sidebar do %><% end %>