<%= title "About us" %>
<%= description "Shelter Exchange was founded to effect positive and lasting change to the challenging issue of animal euthanasia in shelters across the country." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>
	<h1>About us 
		<span class="social">
			<span><div class="fb-like" data-send="false" data-layout="button_count"data-show-faces="false"></div></span>
		</span>
	</h1>
	
	<h2>The Organization</h2>
	<p>Shelter Exchange was founded to effect positive and lasting change to the challenging issue of animal euthanasia in shelters across the country.  We directly address the problem by working with shelter managers and staff who lack the essential resources and support to make alternative choices. Our shelter-friendly application gives shelters the opportunity to improve the efficiency of their facility and connect to rescue groups and the wider public with timely and accurate information so each animal has the best possible chance for rescue and adoption. </p>

	<h2>The Challenge</h2>
	<p>Animal euthanasia is a complex problem. Shelters are often so overwhelmed with the sheer number of animals coming into their facility on a daily basis that the short time they do have to seek rescue or adoption opportunities for these animals before they are euthanized is reduced and rescue efforts are made more difficult due to strained or inadequate communications with rescue groups, the wider animal welfare community and even the general public. For rescue groups, a lack of real-time information on individual animals can frustrate and derail their best attempts to help. Similarly, members of the public willing to adopt or donate resources to shelters often lack the information they need to make this happen. Sadly, it is the animals that most need help who pay the ultimate price for an ineffective system. </p> 


	<h2>The Solution </h2>
	<p>Our solution is more than a standalone product. It's a complete approach that aims to reduce the volume of animal euthanasia at shelters by assisting and supporting everyone involved in animal welfare – from the shelters and rescue groups through to members of the public – and directing resources to those animals with the most urgent and greatest needs. The Shelter Exchange application streamlines daily tasks for shelter managers and staff coping with the demands of a busy facility. Shelters benefit from a no-cost centralized resource to organize, manage and responsibly share information about the animals in their care. The application is shared with rescue groups who can respond immediately to individual animal profiles. By bringing these two groups together, we can reduce the rate of animal euthanasia and increase survival numbers.</p>


	<h2>The Choice</h2>
	<p>It's hard to imagine anyone would actively choose animal euthanasia if there was any other choice. Shelter Exchange has created a practical solution to embrace the whole animal welfare community and meet its need for increased facility efficiency, a cohesive system for maximizing rescue efforts, streamlining adoption checks and uniting everyone in a position to help on this important issue. It begins with a simple choice. It begins with Shelter Exchange. </p> 
	
<% end %>

<%= content_for :sidebar do %><% end %>