<!DOCTYPE html>
<html>
<head>
  
	<title><%= yield(:title) %> - Shelter Exchange</title>
	
	<%= stylesheet_link_tag "global/jquery-ui.custom", "global/wufoo_form",
						    "app/login",
					        :media => "all", :cache => "cache/login/all" %>

	<%= yield(:stylesheets) %>
	
	
	<%= javascript_include_tag "global/jquery.min", "global/jquery-ui.min", "global/modernizr", "global/forms",
	                           "global/forms", "global/jquery_ujs", 
	                           :cache => "cache/login/all" %> 
	<%= yield(:javascripts) %>
	
	<!--[if lt IE 9]>
		<%= javascript_include_tag "global/selectivizr-min" %>
	<![endif]-->
		
	<%= csrf_meta_tag %>

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">
	
	<div id="main">
		
		<div id="logo"><%= image_tag("logo_centered.png") %></div>
		
		<div id="flash_messages"><%= render :partial => "global/flash_messages" %></div>
		
		<div id="center">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
		</div>
		<!--//end left -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
