<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="<%= ::I18n.locale %>" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<%= ::I18n.locale %>" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<%= ::I18n.locale %>" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<%= ::I18n.locale %>" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= ::I18n.locale %>" class="no-js"> <!--<![endif]-->
<head>

	<!-- title -->
  <title><%= yield(:title) %> | Shelter Exchange</title>

  <!-- metatags -->
	<meta charset="utf-8">

	<!-- icons -->
	<%= favicon_link_tag 'favicon.ico' %>
	<%= favicon_link_tag 'shelterexchange_icon_128x128.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

	<!-- stylesheets -->
  <%= stylesheet_link_tag :app_print, :media => "all" %>

	<!-- javascripts -->
	<%= javascript_include_tag :app_print %>

	<!--[if (lte IE 8)]>
		<%= javascript_include_tag :selectivizr %>
	<![endif]-->

	<!--[if (lt IE 9)]>
		<%= javascript_include_tag :html5 %>
	<![endif]-->

	<%= yield(:javascripts) %>

	<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %> <%=@print_layout%>_<%= controller_name %>">

	<div id="main">

		<div id="content">
			<% if content_for?(:page_content) %>
		  		<%= yield(:page_content) %>
			<% end %>
		</div>
		<!--//end content -->
	</div>
	<!--//end main -->
	<%= render :partial => "shared/footer" %>

</body>

</html>
