<% animal_count = capacity.animal_type.animals.active.count %>
<%  status_class = ""
	if animal_count >= capacity.warning_level and animal_count <= capacity.max_capacity
		status_class = "warning_level"  
	elsif animal_count >= capacity.max_capacity
		status_class = "over_capacity"
	else 
		status_class = "normal"
	end
%>

<div id="<%= "capacity_#{capacity.id}" %>" class="capacity">
	
	<span class="status">
		<div class="circle large <%=status_class%>"><h3><%= capacity.animal_type.name %></h3></div>
	</span>
	
	<span style="details">
		<span class="action_links">
			<% if can?(:update, Capacity) %>
				<span class="edit_link">
					<%= link_to "Edit", edit_capacity_path(capacity), :remote => true %>
				</span>
			<% end %>
			<% if can?(:destroy, Capacity) %>
				<span class="delete_link">&nbsp;|&nbsp;
					<%= link_to "Delete", capacity, :confirm => "Are you sure?", :method => :delete, :remote => true %>	
				</span>
			<% end %>
		</span>
		<span class="capacity_levels">
			<p><label>Max capacity:</label> <span><%= capacity.max_capacity %></span></p>
			<p><label>Warning level:</label> <span><%= capacity.warning_level %></span></p>
			<p><label>Total active animals:</label> <span><%= animal_count %></span></p>
			<p><label>Space available for <%= capacity.animal_type.name.pluralize %>:</label> <span><%= capacity.max_capacity - animal_count %></span></p>
		</span>
	</span>
</div>