<div id="<%= "capacity_#{capacity.id}" %>" class="capacity">
	<span class="type"><%= capacity.animal_type.name %></span>
	<span class="details"><p><%= capacity.max_capacity %></p></span>
	<div class="action_links">
		<span class="edit_link">
			<%= link_to "Edit", edit_capacity_path(capacity), :remote => true %>
		</span>
		<span class="delete_link">&nbsp;|&nbsp;
			<%= link_to "Delete", capacity, :confirm => "Are you sure?", :method => :delete, :remote => true %>	
		</span>
	</div>
</div>