<% animal_count = capacity.animal_count(@shelter || @current_shelter) %>
<% status_class = capacity_status(capacity, animal_count) %>

<div id="<%= dom_id(capacity) %>" class="capacity">

	<span class="status"><div class="circle medium <%=status_class%>"><%= capacity.animal_type.name %></div></span>
	<span class="counts">
		<ul>
			<li class="max"><strong>Max capacity:</strong> <%= capacity.max_capacity%></li>
			<li class="available"><strong>Available space:</strong> <%= capacity.max_capacity - animal_count %></li>
		</ul>
	</span>

  <span class="action_links">

    <% if can?(:update, Capacity) %>
      <span class="edit_link">
        <%= link_to "Edit", edit_capacity_path(capacity, :format => :js), :remote => true %>
      </span>
    <% end %>

		<% if can?(:destroy, Capacity) %>
			<span class="delete_link">&nbsp;|&nbsp;
				<%= link_to "Delete", capacity, :confirm => "Are you sure?", :method => :delete, :remote => true, :format => :js %>
			</span>
    <% end %>

  </span>

</div>

