<li class="full">
	<%= f.label :animal_type_id, "Animal type <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {:include_blank =>  "Select one"}, :class => "field select medium" %></div>
	<%= has_error_message?(@capacity, :animal_type_id)%>
</li>
<li class="full">
	<%= f.label :max_capacity, "Max capacity of animals per type <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :max_capacity, :class => "field text small", :maxlength => 4, :placeholder => "100" %></div>
	<%= has_error_message?(@capacity, :max_capacity)%>
</li>
<li class="full">
	<%= f.label :warning_level, "Warning level <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :warning_level, :class => "field text small", :maxlength => 4, :placeholder => "85" %></div>
	<%= has_error_message?(@capacity, :warning_level)%>
</li>