<%= title "Capacities" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "app/capacities", :cache => "cache/app/capacities-index" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Shelter capacity</h1>
	</div>
		
	<div class="page_content">
			
		<div id="capacities" class="capacity_list">
			<%= render :partial => "capacity", :collection => @capacities %>
		</div>
				
	</div>
	
<% end %>

<%= content_for :sidebar do %>
	
	<div id="create_capacity" class="box orange">
		<h2>Add a capacity</h2>
		<div id="create_capacity_errors"></div>
		<%= form_for (@capacity = Capacity.new), :remote => true, :html => { :id => "create_capacity_form", :class => "create_capacity_form" } do |f| %>
			<ul>
				<%= render "form", :f => f  %>
				<li class="buttons">
					<%= f.submit "Create Capacity", :disable_with => "Submitting...", :class => "button"  %>
				</li>
			</ul>
		<% end %>
	</div>
	
		
<% end %>