<%= title "Shelter Capacity" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<% if @capacity_validate %>
		<div class="page_heading">
			<h1>Shelter Capacity</h1>
		</div>
		
		<div class="page_content">
			
			<div id="capacities" class="capacity_list">
				<%= render :partial => "capacity", :collection => @capacities %>
			</div>
				
		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Create your first shelter capacity</h1>
			<p>BLAH BLHA</p>
		</div>

		<div class="page_content">
			<%= render "global/error_messages", :target => @capacity %>
			<div id="create_capacity">
				<%= form_for(@capacity) do |f| %>
					<%= render :partial => "form", :locals => { :f => f } %>
			    	<div class="actions">
						<%= f.submit "Create Capacity", :disable_with => "Submitting...", :class => 'button' %>
					</div>
				<% end %>
			</div>	
		</div>
			
	<% end %>

<% end %>

<%= content_for :sidebar do %>
	<% if @capacity_validate %>
		<div id="create_capacity">
			<h2>Add a shelter capacity</h2>
			<div id="capacity_errors"></div>
			<%= form_for (Capacity.new), :remote => true do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
			    <div class="actions">
					<%= f.submit "Create Capacity", :disable_with => "Submitting...", :id => "create_capacity_button", :class => "button"  %>
				</div>
			<% end %>
		</div>
	<% else %>
		<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	<% end %>
<% end %>