<%= title "Create your first capacity" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "app/capacities", :cache => "cache/app/capacities-new" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Create your Shelter Capacity List</h1>
		
		<p>Document the maximum number of animals per type your shelter can house. Create a warning level which details numerically when the shelter would be almost full.</p>

		<p>These details will be reflected on map views to the Community and Public pages and will encourage assistance to your shelter by warning people when you are full or almost full.</p>
	</div>

	<div class="page_content">
		<%= render "global/error_messages", :target => @capacity %>
		<div id="create_capacity">
			<%= form_for @capacity, :html => { :id => "create_capacity_form", :class => "create_capacity_form" } do |f| %>
				<ul>
					<%= render "form", :f => f  %>
		    		<li class="buttons">
						<%= f.submit "Create Capacity", :disable_with => "Submitting...", :class => 'button' %>
					</li>
				</ul>
			<% end %>
		</div>	
		
	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>