<%= title "Fundraise" %>
<%= description "If you're passionate about helping to save animals from the fate of euthanasia, consider the positive impact you can contribute through fundraising activities" %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals, volunteer, fundraise, help, donate now, sponsored event" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/get_involved/submenu" %>

	<h1>Fundraise 
		<span class="social">
			<span><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></span>
		</span>
	</h1>
	
	<p>Money generated from donations and fundraising activities allows us to offer the Shelter Exchange application on a no-cost basis to shelters and rescue groups.</p>

	<p>If you're passionate about helping to save animals from the fate of euthanasia, consider the positive impact you can contribute through fundraising activities on behalf of Shelter Exchange. Fundraising activities can be great fun and a fantastic way to inspire others to support this cause.</p>

	<p>Whether you're organizing a sponsored run, an auction event or an innovative new way of raising funds, we'd love to hear about your fundraising campaign suggestions.</p> 
	
	
	<div id="fundraise_form" class="form">
		<script type="text/javascript">
			var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
			document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
		</script>

		<script type="text/javascript">
			var p7x2z7 = new WufooForm();
			p7x2z7.initialize({
				'userName':'shelterexchange', 
				'formHash':'p7x2z7', 
				'autoResize':true,
				'height':'100%',
				'header':'hide',
				'ssl':true
			});
			p7x2z7.display();
		</script>
	</div>	
	
	
<% end %>

<%= content_for :sidebar do %><% end %>