<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			Reports.initialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Reports</h1>
	</div>

  <div class="page_content">

    <div class="separator"></div>

    <div class="filters">
      <span class="left">
        <%= label_tag :selected_state, "Select State:" %>
        <%= select "", :selected_state, US_STATES.map {|k,v| [ v, k ] }, {:prompt => "All"}, {:onchange => ""}  %>
      </span>
      <span class="leftPadded">
        <%= label_tag :selected_month, "Select month:" %>
        <%= select_month(Time.zone.today, {:field_name => :selected_month, :prefix => "", :start_month => Time.zone.today.month},{:onchange => ""} )%>
      </span>
      <span class="leftPadded">
        <%= label_tag :date_report_selected_year, "Select year:" %>
        <%= select_year(Time.zone.today, {:field_name => :selected_year, :prefix => "", :start_year => Time.zone.today.year - 3, :end_year => Time.zone.today.year},{:onchange => ""})%>
      </span>
      <span class="leftPadded">
        <%= submit_tag "Go", :disable_with => '...', :id => "submit_report" %>
      </span>
    </div>

    <div class="separator"></div>

		<div id="status_by_month_year" class="report"></div>
		<div class="separator"></div>
		<div id="type_by_month_year" class="report"></div>

	</div>

<% end %>

<%= content_for :sidebar do %>
	<%= render "sidebar" %>
<% end %>
