<div id="edit_items" class="box green">
	<h2>Editing Wish List</h2>
	<%= form_for setup_items(@shelter), :remote => true, :format => :js do |f| %>
		<ul>
			<%= f.fields_for :items do |item_fields| %>
				<li>
					<%# counter = item_fields.object_name.gsub(/[^0-9]+/,'').to_i + 1 %>
					<div>
						<%= item_fields.text_field :name, :class => "field text large", :maxlength => 255 %>
					</div>
				</li>
			<% end %>
			<li class="buttons">
				<%= f.submit "Update list", :disable_with => "Submitting...", :class => 'button' %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#',:onclick => "$('#edit_items').hide();$('#items_section').show();$('#edit_wish_list').show();return false;"  %>
			</li>
		</ul>
	<% end %>
</div>

