<div id="edit_items">
	<%= form_for setup_items(@shelter), :remote => true do |f| %>
		<h2>Top 5 Items Needed</h2>
		<ol class="form">
			<%= f.fields_for :items do |item_fields| %>
			<li>
				<!-- <%# item_fields.label :name, "Name" %><br /> -->
				<%= item_fields.text_field :name %>
			</li>
			<% end %>
		</ol>
		<div class="actions">
			<%= f.submit "Update list", :disable_with => "Submitting...", :class => 'button' %>
			&nbsp;&nbsp;or&nbsp;&nbsp;
			<%= link_to 'Cancel', '#',:onclick => "$('#edit_items').hide();$('#items_section').show();return false;"  %>
		</div>
	<% end %>
</div>