<div id="integration_<%= integration.to_s %>" class="integration">

	<%= render "integrations/#{integration.to_s}/help" %>

	<div class="separator"></div>

	<div id="<%= integration.to_s %>_connection" class="connection">
		<% if integration.new_record? %>
			<%= render "integrations/#{integration.to_s}/form", :integration => integration %>
		<% else %>
			<%= render "integrations/#{integration.to_s}/connected", :integration => integration %>
		<% end %>
	</div>

</div>
