<%= title "Partners" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>
	
	<%= render :partial => "public/pages/why_shelter_exchange/submenu" %>

	<h1>Partners</h1>
	<p>Shelter Exchange is collaborating with a group of amazing partners that help us to make everything we do possible. Our partners have either donated their products or services to us free of charge or have given us greatly discounted rates. We are so grateful to each one of them for supporting us and we want to give them the full recognition they deserve. THANK YOU!</p>
	
	
	<style type="text/css" media="screen">
		.flipboxes {
		width: 500px;
		height: 200px;
		line-height: 200px;
		background-color: #FF9000;
		font-family: 'ChunkFive Regular', Tahoma, Helvetica;
		font-size: 2.5em;
		color: white;
		text-align: center;
		margin-bottom: 20px;
		}
	</style>
	<div id="flipbox" class="flipboxes" style="background-color: rgb(57, 171, 62); visibility: visible; ">
		Hello! I'm a flip-box! :)
	</div>
	
	<div id="flipbox" class="flipboxes" style="background-color: rgb(57, 171, 62); visibility: visible; ">
		<%= image_tag("public/logos/logo-salesforce.gif")%>
	</div>
	
	
						
	
	
<% end %>

<%= content_for :sidebar do %><% end %>