<tr id="<%= "animal_#{animal.id}" %>">
	<td class="image">
		<%= link_to image_tag(polymorphic_photo_url(animal.photos.first, :thumb)), public_save_a_life_url(animal, :subdomain => "www"), :target => "_new" %>
	</td>
	<td class="details">
		<h3><%= link_to animal.name, public_save_a_life_url(animal, :subdomain => "www"), :target => "_new" %></h3>		
		<p><%= animal.full_breed %></p>
		<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex.humanize %> <% end %> <% if animal.is_sterilized %>(Sterilized)<% end %>
	</td>
	<td class="status">
		<p><b><%= animal.animal_status.name %></b></p>
		<% if @current_shelter.kill_shelter? %>
			<p><b style="color:red;"><%= days_left(animal.euthanasia_date) %></b></p>
		<% end %>
	</td>
</tr>

