<div id="shelter_details">
	<div class="right_side">
	<% if @current_shelter.logo.file? %>
		<div class="logo">
			<%= image_tag @current_shelter.logo.url(:thumb) %>
		</div>
	<% end %>
		<ul class="toggle_buttons">
			<li><a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address(@current_shelter)%>&hl=en" target="_blank">Get Directions</a></li>
		</ul>
	</div>

	<h2><%=@current_shelter.name%></h2>
	<ul>
		<li><%=@current_shelter.street %></li>
		<li><%=@current_shelter.city%>, <%=@current_shelter.state%> <%=@current_shelter.zip_code%></li>
	</ul>
	<br />
	<ul>
		<li>Phone: <%=number_to_phone(@current_shelter.phone, :delimiter => "-")%></li>
		<% unless @current_shelter.fax.blank? %>
			<li>Fax: <%=number_to_phone(@current_shelter.fax, :delimiter => "-")%></li>
		<% end %>
		<li>
			<%= link_to "Email Us", "mailto:#{@current_shelter.email}?subject=From Shelter Exchange" %>
			<% unless @current_shelter.website.blank? %>
				&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Visit Website", @current_shelter.website %>
			<% end %>
		</li>
	</ul>
</div>