<%= title "#{@animal.name} (#{@animal.id}) - #{@animal.shelter.name}" %>

<%= content_for :javascripts do %>
	
<% end %>

<%= content_for :page_content do %>
	<div class="page_heading">
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="action_links">
					<%= link_to "Back to Results", url_for(:back) %>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= full_breed(@animal) %></p>
				</td>
				<td class="status">
					<p><%= @animal.animal_status.name %></p>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="page_content">

		<div class="social_media">
			<span class="title"><strong>Share this animal:</strong></span>
			<span class="icon"><a href="http://google.com"><img src="<%= s3_url('images/logo_small.png') %>" /></a></span>
			<span class="icon"><a href="http://google.com"><img src="<%= s3_url('images/logo_small.png') %>" /></a></span>
			<span class="icon"><a href="http://google.com"><img src="<%= s3_url('images/logo_small.png') %>" /></a></span>
		</div>
				
		 
		<table class="animal_details">
			<tr>
				<td class="metadata">
					<h3>Details:</h3>
					<ul>
						<li><p><b>Age (Est.):</b>  <%= humanize_dob(@animal.date_of_birth) %></p></li>
						<li><p><b>Sex:</b>  <%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></p></li>
						<li><p><b>Weight:</b>  <%= @animal.weight %></p></li>
						<% unless @animal.size.blank? %><li><p><b>Size:</b>  <%= @animal.size %></p></li><% end %>
						<li><p><b>Color:</b>  <%= @animal.color %></p></li>
						<li><p><b>MicroChip:</b>  <%= @animal.microchip %></p></li>
					</ul>
					
					<h3>Accommodation:</h3>
					<ul>
						<li><p><b>Name:</b>  <%= @animal.accommodation.name unless @animal.accommodation.blank? %></p></li>
						<li><p><b>Location:</b>  <%= @animal.accommodation and @animal.accommodation.location ? @animal.accommodation.location.name : "None"   %></p></li>
					</ul>
				</td>
				<td class="image">
			    	<%= image_tag @animal.photo.url(:medium) %>
			    </td>
			</tr>
		</table>
		
		<table class="description">
			<tr>
				<td>
					<h3>Description:</h3>
					<p><%= @animal.description %></p>
				</td>
			</tr>
		</table>
		
		<% if @current_shelter.is_kill_shelter %>
		<table class="euthanasia_info">
			<tr>
				<td>
					<h3>Euthanasia Info:</h3>
					<ul>
						<li><p><b>Arrival Date:</b>  <span class="date"><%= format_date(:default, @animal.arrival_date) %></span></p></li>
						<li><p><b>Hold time:</b>  <span class="date"><%= @animal.hold_time %> days</span></p></li>
						<li><p><b>Euthanasia Date:</b>  <span class="red_date"><%= format_date(:default, @animal.euthanasia_date) %></span></p></li>
					</ul>
				</td>
			</tr>
		</table>
		<% end %>
		
		<table class="shelter_details">
			<tr>
				<td class="metadata">
					<h3>Shelter Details:</h3>
					<% if @animal.shelter.logo.file? %>
						<div class="logo">
							<%= image_tag @animal.shelter.logo.url(:small) %> 
						</div>
					<% end %>
					<h2><%=@animal.shelter.name%></h2>
					<ul>
						<li><%=@animal.shelter.street%></li>
						<li><%=@animal.shelter.city%>, <%=@animal.shelter.state%> <%=@animal.shelter.zip_code%></li>
					</ul>
					<ul>
						<li>Tel: <%=number_to_phone(@animal.shelter.phone, :delimiter => "-")%></li>
						<% unless @animal.shelter.fax.blank? %>
							<li>Fax: <%=number_to_phone(@animal.shelter.fax, :delimiter => "-")%></li>
						<% end %>
						<li><a href="mailto:<%=@animal.shelter.email %>?subject=From Shelter Exchange"><%=@animal.shelter.email %></a></li>
						<% unless @animal.shelter.website.blank? %>
							<li><a href="<%=@animal.shelter.website%>" target="_new"><%=@animal.shelter.website%></a></li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>

		
	</div>

<% end %>
	
