<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="<%= ::I18n.locale %>" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<%= ::I18n.locale %>" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<%= ::I18n.locale %>" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<%= ::I18n.locale %>" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= ::I18n.locale %>" class="no-js"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

	<%= render "public/shared/seo" %>

	<!-- stylesheets -->
  <%= stylesheet_link_tag :public, :media => "all" %>

	<!-- javascripts -->
	<%= javascript_include_tag :public %>

	<!--[if (lte IE 8)]>
		<%= javascript_include_tag :selectivizr %>
	<![endif]-->

	<!--[if (lt IE 9)]>
		<%= javascript_include_tag :html5 %>
	<![endif]-->

  <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
	<%= yield(:javascripts) %>

	<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= page_name %>">

	<div id="fb-root"></div>

	<%= render "shared/ie6_warning" %>
	<%= render "public/shared/header" %>

	<section id="main">
		<div class="content">
			<%= yield(:page_content) %>
		</div>
	</section>

	<%= render "public/shared/newsletter" %>

	<%= render "public/shared/footer" %>

	<%= render "public/shared/analytics"  if Rails.env.production? %>

</body>
</html>
