<%= title "Change your password" %>

<%= content_for :javascripts do %>
	<% if resource.errors[:password] or resource.errors[:password_confirmation] %>
		<script type="text/javascript" charset="utf-8">
			$(function() {
				<%= render 'shared/ajax_form_errors.js', :target => resource, :form_id => "edit_reset_password_form" %>
			});
		</script>
	<% end %>
<% end %>


<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Change your password</h1>
	</div>
	
	<div class="page_content">
		
		<div id="reset_password_errors">
			<%= render "shared/error_messages", :target => resource %>
		</div>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :id => "edit_reset_password_form" }) do |f| %>
			<ul>
		  		<li class="full">
		  			<%= f.label :password, "Password <span class='req'>*</span>".html_safe, :class => "desc" %>
					<div>
						<%= f.text_field :password, :class => "field text large", :maxlength => 255, :placeholder => "New password" %>
					</div>
					<%= has_error_message?(resource, :password)%>
				</li>
				<li class="full">
		  			<%= f.label :password_confirmation, "Password Confirmation <span class='req'>*</span>".html_safe, :class => "desc" %>
					<div>
						<%= f.text_field :password_confirmation, :class => "field text large", :maxlength => 255, :placeholder => "Password Confirmation" %>
					</div>
					<%= has_error_message?(resource, :password_confirmation)%>
				</li>
				<li class="buttons">
					<%= f.submit "Change my password", :disable_with => 'Submiting...', :class => "button" %>
				</li>
			</ul>
			<%= f.hidden_field :reset_password_token %>
		<% end %>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>