<%= title "Change your password" %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Change your password</h1>
	</div>
		
	<div class="page_content">
		
		<%= render "global/error_messages", :target => resource %>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
			<ul class="form">
				<li>
					<%= f.label :password %><br />
				 	<%= f.password_field :password %>	
				</li>
				<li>
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation %>
				</li>
			</ul>
			<div class="actions">
				<%= f.submit "Change my password", :disable_with => 'Submiting...' %>
			</div>
			<%= f.hidden_field :reset_password_token %>
		<% end %>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>
			

