<%= title "Forgot your password" %>

<%= content_for :javascripts do %>
	<% if resource.errors.any? %>
		<script type="text/javascript" charset="utf-8">
			$(function() {
				<%= render 'shared/ajax_form_errors.js', :target => resource, :form_id => "reset_password_form" %>
			});
		</script>
	<% end %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Forgot your password?</h1>
	</div>
		
	<div class="page_content">
		

		<div id="reset_password_errors">
			<%= render "shared/error_messages", :target => resource %>
		</div>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :id => "reset_password_form" }) do |f| %>
			
			<ul>
		  		<li class="full">
		  			<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
					<div>
						<%= f.text_field :email, :class => "field text large", :maxlength => 255, :placeholder => "Your email address" %>
					</div>
					<%= has_error_message?(resource, :email)%>
				</li>
				<li class="buttons">
					<%= f.submit "Send me reset password instructions", :disable_with => 'Submiting...', :class => "button" %>
				</li>
			</ul>
		<% end %>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>
			

