<% if @animals.size > 0 %>
<table>
	<% @animals.each do |animal| %>
	<tr id="<%= "animal_#{animal.id}" %>">
		<td class="image">
			<%= link_to image_tag(animal.photo.url(:thumb)), "#", :onclick => "Parents.selectAnimal('#{animal.id}','#{animal.name}');return false;" %>
		</td>
		<td class="details">
			<h3><%= animal.name %></h3>
			<p><%= format_breed(animal.is_mix_breed, animal.primary_breed, animal.secondary_breed) %></p>
			<p><%= animal.animal_type.name %><% if animal.sex %>: <%= animal.sex %> <% end %><% if animal.is_sterilized %>(Sterilized)<% end %>
		</td>
		<td class="status">
			<p><b><%= animal.animal_status.name %></b></p>
			<div class="action_links">
				<span class="select_link">
			    	<%= link_to "Select", "#", :onclick => "Parents.selectAnimal('#{animal.id}','#{animal.name}');return false;" %>
				</span>
			</div>
		</td>
	</tr>
	<% end %>
</table>

<%# will_paginate @animals, :renderer => 'RemoteLinkRenderer' %>

<% else %>
	<div class="no_results">
		<h2>No search results found</h2>
		<p>Please search again</p>
	</div>
<% end %>
