<tr id="<%= "parent_#{parent.id}" %>">
	<td class="details">
		<h2><%= parent.name %></h2>
		<p><%= parent.street %></p>
		<p><%= parent.city %>, <%= parent.state %> <%= parent.zip_code %></p>
	</td>
	<td class="status">
		<p><%=number_to_phone(parent.phone, :delimiter => "-")%>(h)</p>
		<% unless parent.mobile.blank? %>
			<p><%=number_to_phone(parent.mobile, :delimiter => "-")%>(m)</p>
		<% end %>
		<p><%= parent.email %></p>
		<% unless parent.email_2.blank? %>
			<p><%= parent.email_2 %></p>
		<% end %>
  </td>
  <td class="action_links">
    <div><%= link_to "Move to Contacts",
      migrate_parent_path(parent),
      :method => :post,
      :class => "button red",
      :confirm => "Please confirm this parent is associated with your shelter!" %></div>
  </td>
</tr>
