<% if @parents.size > 0 %>
	<table class="parent_list">
		<% @parents.each do |parent| %>
		<tr id="<%= "parent_#{parent.id}" %>">
			<td class="details">
				<h2><%= link_to parent.name, parent %></h2>
				<p><%= parent.street %></p>
				<p><%= parent.city %>, <%= parent.state %> <%= parent.zip_code %></p>
			</td>
			<td class="status">
				<p><%=number_to_phone(parent.home_phone, :delimiter => "-")%>(h)</p>
				<% unless parent.mobile_phone.blank? %><p><%=number_to_phone(parent.mobile_phone, :delimiter => "-")%>(m)</p><% end %>
				<p><%= parent.email %></p>
				
			</td>
		</tr>
		<% end %>
	</table>
<% else %>
	<div class="no_results">
		<h2>Please try a different Home Phone, Mobile Phone, or Email Address.</h2>
		<p>-- or --</p>
		<p>Would you like to <%= link_to "create a new parent", new_parent_path %>?</p>
	</div>
<% end %>