<%= title "Editing parent - #{@parent.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "parents/parents", :cache => "cache/application/parents-edit" %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading green_background">
		<h1>Editing: <%= @parent.name %></h1>
	</div>
	<div class="page_content">
		<%= render "global/error_messages", :target => @parent %>
		<%= render "form", :button_text => "Update Parent"  %>
	</div>	
<% end %>

<%= content_for :sidebar do %>
<% end %>
