<%= title "Parents" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Migrate Parents to Contact</h1>
	</div>

	<div class="page_content">

		<div id="parent_search">
			<h3>Lookup by Name, Email address, or Phone number:</h3>
			<%= form_for :parents, :url => { :action => :search }, :remote => true, :format => :js, :html => { :id => "form_search", :method => :get } do |f| %>
				<%= text_field_tag "q", "" %>
        <%= select_tag "parents[state]",
            options_for_select(US_STATES.map {|k,v| [ v, k ] }),
            :prompt => "Select State",
            :class => "field select addr"  %>
				<%= f.submit "Go" %>

			<% end %>
		</div>

    <div id="parents">
      <% if @parents %>
        <%= render "parent_list", :parents => @parents %>
      <% else %>
        <%= render "no_parents", :parents => @parents %>
      <% end %>
    </div>

	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>
