<%= title "#{@parent.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "app/parents", "app/notes", "app/placements", "app/comments", :cache => "cache/app/parents-show" %>
<% end %>

<%= content_for :page_content do %>
	<div class="page_heading blue">
		<h1><%= @parent.name %></h1>
		<div class="action_links">
			<% if can?(:update, Parent) %>
			<%= link_to "Edit this parent", edit_parent_path(@parent)%>&nbsp;&nbsp;|&nbsp;&nbsp;
			<% end %>
			<%= link_to "New search", parents_path %>
		</div>
	</div>
	
	<div class="page_content">
		
		<div class="parent_details">
			<div id="address">
				<h3>Address:</h3>
				<ul>
					<li><%= @parent.street %></li>
					<% unless @parent.street_2.blank? %>
						<li><%= @parent.street_2 %></li>
					<% end %>
					<li><%= @parent.city %>, <%= @parent.state %> <%= @parent.zip_code %></li>
				</ul>
			</div>
			<div id="contact_details">
				<h3>Contact details:</h3>
				<ul>
					<li>Tel:  <%=number_to_phone(@parent.home_phone, :delimiter => "-")%></li>
					<% unless @parent.mobile_phone.blank? %>
						<li>Mobile:  <%=number_to_phone(@parent.mobile_phone, :delimiter => "-")%></li>
					<% end %>
					<li><a href="mailto:<%=@parent.email %>"><%=@parent.email %></a></li>
				</ul>
			</div>
		</div>
		
	</div>
	
	<div id="notes_heading" class="section_heading orange">
		<h2>Notes</h2>
	</div>
	
	<div class="page_content">
		<div id="notes" class="note_list">
			<%= render @parent.notes %>
		</div>
	</div>
	
	<div id="adoption_history_heading"  class="section_heading blue">
		<h2>Adoption History</h2>
	</div>
	
	<div id="placement_adopted" class="page_content">
		<table class="placement_list">
			<%= render @parent.placements.adopted %>
		</table>
	</div>
		
	<div id="foster_care_history_heading" class="section_heading blue">
		<h2>Foster Care History</h2>
	</div>
	
	<div id="placement_foster_care" class="page_content">
		<table class="placement_list">
			<%= render @parent.placements.foster_care %>
		</table>
	</div>


<% end %>

<%= content_for :sidebar do %>

	<ul class="action_links">
		<li><%= link_to 'Add note to parent', "#", :id => "add_note_link", :class => "button" -%></li>
		<li><%= link_to 'Create an animal placement', "#", :id => "add_placement_link", :class => "button" -%></li>
	</ul>
	
	<div id="create_note" class="box hide orange">
		<h2>Add a note for <%= @parent.name %></h2>
		<div id="create_note_errors"></div>
		<%= form_for ([@parent, @note = Note.new]), :remote => true, :html => { :id => "create_note_form", :class => "create_note_form" } do |f| %>
			<ul>
				<%= render "notes/form", :f => f, :default_category => true %>
		    	<li class="buttons">
					<%= f.submit "Create Note", :disable_with => "Submitting...", :id => "create_note_button", :class => "button"  %>
					&nbsp;or&nbsp;&nbsp;
					<%= link_to "Cancel", "#", :id => "cancel_note" -%>
				</li>
			</ul>
		<% end %>
	</div>

	<div id="create_placement" class="box hide blue">
		<h2>Create an Animal Placement</h2>
		<div id="create_placement_errors"></div>
		<%= form_for (@placement), :remote => true, :html => { :id => "create_placement_form", :class => "create_placement_form" } do |f| %>
			<ul>
				<li class="complex">
					<span class="left">
						<a href="#animal_search_dialog" id="animal_search_link" toptions="width = 675, height = auto, type = dom, title = Search for animal, layout = quicklook, resizable = 0, shaded = 1, modal = 1">Search for animal</a> <span class='req'>*</span>
					</span>
					<span class="right">
						<div id="animal_selected">
							<span><b>&nbsp;</b></span>
						</div>
						<%= f.hidden_field :animal_id %>
					</span>
					<%= has_error_message?(@parent, :animal_id)%>
				</li>
				<%= render "placements/form", :f => f %>
				<li class="buttons">
					<%= f.submit "Create Placement", :disable_with => "...", :id => "create_placement_button", :class => "button"  %>
					&nbsp;or&nbsp;&nbsp;
					<%= link_to "Cancel", "#", :id => "cancel_placement" -%>
				</li>
			</ul>
		<% end %>
	</div>	
	
	<div id="animal_search_dialog" style="display:none;">
		<div class="wrapper">
			<%= form_for :parents, :url => { :action => :find_animals_by_name, :controller => :parents }, 
			             :remote => true, :html => { :id => "form_animal_search", :method => :get } do |f| %>		
	  			<h2>Search for animal:</h2>
	  			<%= text_field_tag "q", ""  %>
				<%= f.submit "Go", :disable_with => "..." %>
	  		<% end %>
	
			<div id="animals"></div>
		</div>
	</div>
	
<% end %>
	
