<%= title "#{@parent.name}" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "parents/parents", :cache => "cache/application/parents-show" %>
<% end %>

<%= content_for :page_content do %>
	<div class="page_heading green_background">
		<h1><%= @parent.name %></h1>
		<div class="action_links">
			<%= link_to "Edit this parent", edit_parent_path(@parent)%>&nbsp;&nbsp;|&nbsp;&nbsp;
			<%= link_to "Back to search", parents_path %>
		</div>
	</div>
	
	<div class="page_content">
		
		<div class="parent_details">
			<div id="address">
				<h3>Address:</h3>
				<ul>
					<li><%= @parent.street %></li>
					<li><%= @parent.city %>, <%= @parent.state %> <%= @parent.zip_code %></li>
				</ul>
			</div>
			<div id="contact_details">
				<h3>Contact details:</h3>
				<ul>
					<li><%=number_to_phone(@parent.home_phone, :delimiter => "-")%>(h)</li>
					<% unless @parent.mobile_phone.blank? %><li><%=number_to_phone(@parent.mobile_phone, :delimiter => "-")%>(m)</li><% end %>
					<li><a href="mailto:<%=@parent.email %>"><%=@parent.email %></a></li>
				</ul>
			</div>
		</div>
		
	</div>
	
	<div id="notes_heading" class="placement_heading yellow_background">
		<h2>Notes</h2>
	</div>
	
	<div id="notes" class="page_content">
		<%= render @parent.notes %>
	</div>
	
	<div class="placement_heading blue_background">
		<h2>Adoption History</h2>
	</div>
	
	<div id="placement_adopted" class="page_content">
		<table class="placement_list">
			<%= render @parent.placements.adopted %>
		</table>
	</div>
		
	<div class="placement_heading blue_background">
		<h2>Foster Care History</h2>
	</div>
	
	<div id="placement_foster_care" class="page_content">
		<table class="placement_list">
			<%= render @parent.placements.foster_care %>
		</table>
	</div>


<% end %>

<%= content_for :sidebar do %>

	<ul class="model_actions">
		<li><%= link_to 'Add note to parent', "#", :id => "add_note_link", :class => "button" -%></li>
		<li><%= link_to 'Create an animal placement', "#", :id => "add_placement_link", :class => "button" -%></li>
	</ul>
	
	<div id="create_note">
		<h2>Add a note for <%= @parent.name %></h2>
		<div id="note_errors"></div>
		<%= form_for ([@parent, Note.new]), :remote => true do |f| %>
			<%= render :partial => "notes/form", :locals => { :f => f, :default_category => true } %>
		    <div class="actions">
				<%= f.submit "Create Note", :disable_with => "Submitting...", :id => "create_note_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_note" -%>
			</div>
		<% end %>
	</div>

	<div id="create_placement">
		<h2>Create an Animal Placement</h2>
		<div id="placement_errors"></div>
		<div id="animal_selected">
			<span></span>
			<a href="#animal_search_dialog" id="animal_search_link" toptions="width = 675, height = 550, type = dom, title = Select Animal, layout = quicklook, resizable = 0, shaded = 1, modal = 1">Find animal</a>
		</div>
		<% @placement = Placement.new %>
		<%= form_for (@placement), :remote => true do |f| %>
			<%= render :partial => "placements/form", :locals => { :f => f } %>
			<div class="actions">
				<%= f.submit "Create Placement", :disable_with => "...", :id => "create_placement_button", :class => "button"  %>
				&nbsp;or&nbsp;<%= link_to "Cancel", "#", :id => "cancel_placement" -%>
			</div>
		<% end %>
	</div>	
	
	<div id="animal_search_dialog" style="display:none;">
		<div class="wrapper">
			<%= form_for :animals, :url => { :action => :search_by_name, :controller => :animals }, 
			             :remote => true, :html => { :id => "form_animal_search", :method => :get } do |f| %>		
	  			<h2>Search for animal:</h2>
	  			<%= text_field_tag "q", ""  %>
				<%= hidden_field_tag "search_from", controller_name.downcase %>
				<%= f.submit "Go", :disable_with => "...", :class => "button" %>
	  		<% end %>
	
			<div id="animals"></div>
		</div>
	</div>
	
<% end %>
	
