<li>
	<%= f.label :requestor, "Name of requestor <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :requestor, :class => "field text large" %></div>
	<%= has_error_message?(@transfer, :requestor)%>
</li>
<li>
	<%= f.label :phone, "Phone <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div>
		<%= f.text_field :phone, :class => "field text large", :maxlength => 12 %>
		<%= f.label :phone, "###-###-####" %>
	</div>
	<%= has_error_message?(@transfer, :phone)%>
</li>
<li>
	<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :email, :class => "field text large" %></div>
	<%= has_error_message?(@transfer, :phone)%>
</li>
<%= f.fields_for :comments, @transfer.comments.build do |comment_fields| %>
	<li class="full">
		<%= comment_fields.label :comment, "Comment <span class='req'>*</span>".html_safe, :class => "desc" %>
		<div><%= comment_fields.text_area :comment, :class => "field textarea small" %></div>
		<%= has_error_message?(@transfer, :comment)%>
	</li>
<% end %>

<%= f.hidden_field :animal_id, :value => @animal.id %>
<%= f.hidden_field :requestor_shelter_id, :value => @current_shelter.id %>
<%= f.hidden_field :shelter_id, :value => @shelter.id %>
