<li>
	<%= f.label :requestor, "Name of requestor <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :requestor, :class => "field text large", :placeholder => "Your name" %></div>
	<%= has_error_message?(@transfer, :requestor)%>
</li>
<li>
	<%= f.label :phone, "Phone <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div>
		<%= f.text_field :phone, :class => "field text large", :maxlength => 12, :placeholder => "Your phone number" %>
		<%= f.label :phone, "###-###-####" %>
	</div>
	<%= has_error_message?(@transfer, :phone)%>
</li>
<li>
	<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :email, :class => "field text large", :placeholder => "Your email address" %></div>
	<%= has_error_message?(@transfer, :phone)%>
</li>
<li class="full">
	<%= f.label :transfer_history_reason, "Additional notes".html_safe, :class => "desc" %>
	<div><%= f.text_area :transfer_history_reason, :class => "field textarea small", :placeholder => "Add a note that may help expedite this transfer." %></div>
	<%= has_error_message?(@transfer, :transfer_history_reason)%>
</li>
<%= f.hidden_field :animal_id, :value => @animal.id %>
<%= f.hidden_field :requestor_shelter_id, :value => @current_shelter.id %>
<%= f.hidden_field :shelter_id, :value => @animal.shelter_id %>
