<li>
	<%= f.label :requestor, "Name of requestor <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :requestor, :class => "field text large" %></div>
	<%= has_error_message?(@transfer, :requestor)%>
</li>
<li>
	<%= f.label :phone, "Phone <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div>
		<%= f.text_field :phone, :class => "field text large", :maxlength => 12 %>
		<%= f.label :phone, "###-###-####" %>
	</div>
	<%= has_error_message?(@transfer, :phone)%>
</li>
<li>
	<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
	<div><%= f.text_field :email, :class => "field text large" %></div>
	<%= has_error_message?(@transfer, :phone)%>
</li>
<li class="full">
	<%= f.label :email_note, "Add note to email".html_safe, :class => "desc" %>
	<div><%= f.text_area :email_note, :class => "field textarea small" %></div>
	<%= has_error_message?(@transfer, :email_note)%>
</li>

<%= f.hidden_field :animal_id, :value => @animal.id %>
<%= f.hidden_field :requestor_shelter_id, :value => @current_shelter.id %>
<%= f.hidden_field :shelter_id, :value => @shelter.id %>
