<div id="transfer_<%=transfer.id %>" class="transfer">
	<div class="details">
		<%= transfer.requestor_shelter.name %> has requested <%= link_to transfer.animal.name, transfer.animal %><br />
	</div>
	<span class="created_at_date">
		<%= format_date(:long, transfer.created_at) %><br />
		<span class="action_links">
		<% if transfer.approved? %>
			<span class="complete_request_link">
			<%= link_to "Complete Request", complete_transfer_path(transfer), :method => :post, :confirm => "This action can not be undone, would you like to proceed?", :remote => true %>
			</span>
		<% elsif transfer.new_request? %>
			<span class="approve_link">
			<%= link_to "Approve", approve_transfer_path(transfer), :method => :post, :confirm => "This action can not be undone, would you like to proceed?", :remote => true %>
			</span>
			<span class="reject_link">&nbsp;|&nbsp;
			<%= link_to "Reject", reject_transfer_path(transfer), :method => :post, :confirm => "This action can not be undone, would you like to proceed?", :remote => true %>
			</span>
		<% end %>
		</span>
	</span>
</div>


