<!-- <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key], :id => "#{key}" %>
    <script type="text/javascript">
        $('#<%= key %>').delay(1000).fadeOut(1000);
    </script>
<% end %> -->

<!-- <div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="width: 97%;padding: 1.2em 0 .7em .7em; margin-bottom: 10px; "> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
		<strong>Error:</strong> <></p>
	</div>
</div>
<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="width: 97%;padding: 1.2em 0 .7em .7em; margin-bottom: 10px; "> 
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
		<strong>Hey!</strong> Sample ui-state-highlight style.</p>
	</div>
</div> -->

<% flash.each do |key, msg| %>
	<%  if key.to_sym == :error
			body = "<strong>Error:</strong> #{msg}"
			class_name = 'ui-state-error'
			icon_name = 'ui-icon-alert'
		else
			body = "<strong>#{msg}</strong>"
			class_name = 'ui-state-highlight'
			icon_name = 'ui-icon-info'
		end %>
	
	<div class="ui-widget">
		<div id="<%= key %>" class="<%= class_name %> ui-corner-all" style="width: 97%;padding: 1.2em 0 .7em .7em; margin-bottom: 10px; "> 
			<p><span class="ui-icon <%=icon_name%>" style="float: left; margin-right: .3em;"></span><%=body.html_safe%></p>
		</div>
	</div>
    <script type="text/javascript">
        $('#<%= key %>').delay(3000).fadeOut(1000);
    </script>
<% end %>
