<div id="header">
	<div id="primary_nav">
		<ul>
			<li class="<%= selected_navigation(:animals) %>"><%= link_to "Animals", animals_path %></li>
			<li class="<%= selected_navigation(:tasks) %>"><%= link_to "Tasks", tasks_path %></li>
			<li class="<%= selected_navigation(:alerts) %>"><%= link_to "Alerts", alerts_path %></li>
			<li class="<%= selected_navigation(:parents) %>"><%= link_to "Parents", parents_path %></li>
			<li class="<%= selected_navigation(:accommodations) %>"><%= link_to "Accommodations", accommodations_path %></li>
			<li class="<%= selected_navigation(:reports) %>"><%= link_to "Reports", reports_path %></li>
		</ul>
	</div>
	<div id="secondary_nav">
		<ul>
			<li class=""><%= link_to "Settings", "#" %>
				<ul>
					<li class="<%= selected_navigation(:shelters) %>"><%= link_to "Shelter Details", shelters_path %></li>
					<li class="<%= selected_navigation(:capacities) %>"><%= link_to "Shelter Capacity", capacities_path %></li>
					<li class="<%= selected_navigation(:users) %>"><%= link_to "Manage Users", users_path %></li>
					<% if can?(:update_settings, User)%>
					<li class="<%= selected_navigation(:settings) %>"><%= link_to "Account Settings", settings_path %></li>
					<% end %>
				</ul>
		    </li>
			
		    <li class="logout"><%= link_to "Logout", "/logout", :confirm => "Are you sure?" %></li>
			<!-- <li class="help"><%= link_to "Help", "/help" %></li> -->
		</ul>
	</div>
	<!-- <% if current_user %>
		<div id="current_user" class="<%= selected_navigation(:users) %>"><%= link_to "#{current_user.name}", users_path %></div>
	<% end %> -->
</div>