<div id="header">
	<div id="primary_nav">
		<ul>
			<li class="<%= selected_navigation(:animals) %>"><%= link_to "Animals", animals_path %></li>
			<li class="<%= selected_navigation(:tasks) %>"><%= link_to "Tasks", tasks_path %></li>
			<li class="<%= selected_navigation(:alerts) %>"><%= link_to "Alerts", alerts_path %></li>
			<li class="<%= selected_navigation(:parents) %>"><%= link_to "Parents", parents_path %></li>
			<li class="<%= selected_navigation(:accommodations) %>"><%= link_to "Accommodations", accommodations_path %></li>
			<li class="<%= selected_navigation(:communities) %>"><%= link_to "Community", communities_path %></li>
			<li class="<%= selected_navigation(:reports) %>"><%= link_to "Reports", reports_path %></li>
		</ul>
	</div>
	<div id="secondary_nav">
		<ul>
			<li class=""><%= link_to "Settings", "#" %>
				<ul>
					<li class="<%= selected_navigation(:shelters) %>"><%= link_to "Shelter Details", shelters_path %></li>
					<li class="<%= selected_navigation(:capacities) %>"><%= link_to "Shelter Capacity", capacities_path %></li>
					<li class="<%= selected_navigation(:users) %>"><%= link_to "Manage Users", users_path %></li>
					<% if can?(:update_settings, User)%>
					<li class="<%= selected_navigation(:settings) %>"><%= link_to "Account Settings", settings_path %></li>
					<% end %>
				</ul>
		    </li>
			
		    <li class="logout"><%= link_to "Logout", "/logout", :confirm => "Are you sure?" %></li>
		</ul>
	</div>
</div>

<!-- <header>
<nav>
  <ul class="navigation">
    <li >
      <a href="/products/appcloud"><span>Cloud Products</span></a>
      <ul>
        <li>
          <a href="/products/appcloud">Engine Yard AppCloud</a>
          <ul>
            <li><a href="/products/appcloud/features">Features</a></li>
            <li><a href="/products/appcloud/pricing">Pricing</a></li>
            <li><a href="/video/17825326">Video Tour</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/xcloud">Engine Yard xCloud</a>
          <ul>
            <li><a href="/products/xcloud/features">Features</a></li>
            <li><a href="/products/xcloud/pricing">Pricing</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/technology">Engine Yard Platform</a>
          <ul>
            <li><a href="/products/technology/stack">Technology Stack</a></li>
          </ul>
        </li>
      </ul>
    </li>
    
    <li>
      <a href="/support-plans"><span>Support</span></a>
      <ul>
        <li><a href="/support-plans">Support Plans</a></li>
        <li><a href="/services">Professional Services</a></li>
      </ul>
    </li>
  
    <li>
      <a href="/university"><span>EY University</span></a>
    </li>
    
    <li>
      <a href="/videos"><span>Resources</span></a>
      <ul>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a href="/developer/events">Events</a></li>
        <li><a href="/partners">Development Partners</a></li>
        <li><a href="/developer/groups">User Groups</a></li> 
        <li><a href="http://jobs.engineyard.com">Jobs Board</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/open-source"><span>Open Source</span></a>
      <ul>
        <li><a href="/open-source">Projects</a></li>
        <li><a href="/open-source/people">Contributors</a></li>
      </ul>
    </li>

    <li>
      <a href="/company/"><span>About</span></a>
      <ul>
        <li><a href="/company/">Overview</a></li>
        <li><a href="/company/customers">Customers</a></li>
        <li><a href="/company/team">Leadership Team</a></li>
        <li><a href="/company/partners">Technology Partners</a></li>
        <li><a href="/company/careers">Careers</a></li>
        <li><a href="/company/news">News &amp; Press</a></li>
        <li><a href="/company/contact">Contact Us</a></li>
      </ul>
    </li>

    <li>
      <a href="/blog"><span>Blog</span></a>
    </li>
  </ul>
</nav>
      </header> -->