<%= title "Mission" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>

	<h1>Mission</h1>
	
	<p>Founded in 2010, Shelter Exchange is a 501(c)(3) non-profit organization dedicated to stopping animals being euthanized across the USA. Our mission is to work with shelters holding animals scheduled for euthanasia and provide information of these animals to rescue groups that have the capability and the space available to save their lives.  Every day animals find themselves on death row with no hope of a rescue, this is always a harsh concept for anyone to imagine, but even animals that are adoptable will still be euthanized if the shelter is full. We believe there is a better way for information to be shared within the rescue community but to date there has never been a central place for collaboration of efforts.  By working together and building stronger relationships, we can achieve more adoptions of homeless animals, and less that are sentenced to death each day. We aim to forge stronger relationships within local communities to support and assist the animal shelters and rescues groups, allowing more to be done for the animals, and more lives to be saved. Lastly we will publish animals that can be adopted by the general public. By making the animal’s euthanasia date available, we hope to encourage more adoptions of homeless animals.</p>

	<div class="animals">
		<%= image_tag("public/mission/animal_1.png")%>
		<%= image_tag("public/mission/animal_2.png")%>
		<%= image_tag("public/mission/animal_3.png")%>
	</div>

	
<% end %>

<%= content_for :sidebar do %><% end %>