<%= title "Mission" %>
<%= description "Our mission is to substantially reduce the number of animals euthanized in shelters across the USA." %>
<%= keywords "animal shelters, animal rescue groups, animal rescue, homeless animals, donate, animal euthanasia, shelter exchange, nonprofit, non-profit, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/about_us/submenu" %>

	<h1>Mission</h1>
	
	<p>Founded in 2010, Shelter Exchange is a 501(c)(3) non-profit organization. </p>

	<p>Our mission is to substantially reduce the number of animals euthanized in shelters across the USA. Our Shelter Exchange application will achieve this by: </p>
	
	<ul>
		<li>Offering a positive, collaborative approach between shelters, rescue groups and the public towards our common goal</li>
		<li>Delivering a united, centralized resource for shelters and rescue groups to access</li>
		<li>Providing shelters with a better solution to manage the animals in their care and maximize rescue opportunities</li>
		<li>Keeping the general public informed and connected about opportunities for donations, urgent adoptions and fundraising activities to support this worthy cause</li>
		<li>Making the Shelter Exchange a no-cost solution for shelters and rescue groups</li>
	</ul>
	

	<div class="animals">
		<%= image_tag("public/mission/animal_1.png", :width => "300", :height => "190")%>
		<%= image_tag("public/mission/animal_2.png", :width => "300", :height => "190")%>
		<%= image_tag("public/mission/animal_3.png", :width => "300", :height => "190")%>
	</div>

	
<% end %>

<%= content_for :sidebar do %><% end %>