<%= title "Donors and Sponsors" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/get_involved/submenu" %>

	<h1>Donors and Sponsors</h1>
	
	<p>Donors and sponsors are an essential component of making Shelter Exchange work. Generous donations mean we can supply shelters and rescue groups with a no-cost application to help shelters increase efficiency at their facilities giving them more time to effectively connect with rescue groups to save more animals that otherwise face the sad fate of euthanasia.</p> 

	<p>With the support of donors and sponsors we can change a broken system that is failing millions of innocent animals each year across the country. The Shelter Exchange application directly addresses and resolves the challenges that contribute to the issue of widespread animal euthanasia in shelters. Supporting a practical solution for positive change, together we can make the most difference to the greatest number of animals.</p>  

	<p>Please <a href="/donate">donate now</a> if you would like to help our mission. We are a 501c3 non-profit organization; all donations are 100% tax deductible.</p>

	<p>If not you, who? If not now, when?</p>

	<p>If you are looking for ways for your company and staff to become involved with Shelter Exchange <a href="/contact_us">please drop us a note</a></p>
	
	
	
	
	
	

	

	
	
	
	
<% end %>

<%= content_for :sidebar do %><% end %>