<%= title "Donors and Sponsors" %>
<%= description "test" %>
<%= keywords "test, test2, test4" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<%= render :partial => "public/pages/get_involved/submenu" %>

	<h1>Donors and Sponsors</h1>
	
	<p>At Shelter Exchange our goal and mission is to save animals being euthanized in shelters across the country. We believe there is a better way than how the system currently works.</p>

	<p>By providing shelters and rescue groups with our free collaborative software application we will be connecting the animal welfare industry together. This will provide vital information to rescue groups that have the ability to save animals lives.</p>

	<p>With your help we can fund more shelters and rescues across the country to use our application, which means more animals will be rescued and more lives saved. </p>

	<p>Please <a href="/donate">donate now</a> if you would like to help our mission. We are a 501c3 non-profit organization; all donations are 100% tax deductible.</p>

	<p>If not you, who? If not now, when?</p>

	<p>If you are looking for ways for your company and staff to become involved with Shelter Exchange <a href="/contact_us">please drop us a note</a></p>
	
	
	
<% end %>

<%= content_for :sidebar do %><% end %>