<form action="#" id="form_filters">
	<table class="filters">
		<tr>
			<td class="type">
				<%= label_tag :filters_animal_type, "Type", :class => "desc" %>
				<div><%= collection_select :filters, :animal_type, AnimalType.all, :id, :name, {:prompt => "All"},{:class => "field select large"} %></div>
			</td>
			<td class="breed">
				<%= label_tag :filters_breed, "Breed", :class => "desc" %>
				<div><%= text_field_tag "filters[breed]", "", :disabled => true, :autocomplete => :off, :class => "field text large", :maxlength => 255, :placeholder => "Please select type first" %>
				</div>
			</td>
			<td class="sex">
				<%= label_tag :filters_sex, "Sex", :class => "desc" %>
				<div><%= collection_select :filters, :sex, Animal::SEX, :to_s, :humanize, {:prompt => "All"},{:class => "field select large"} %></div>
      </td>
			<td class="size">
        <%= label_tag :filter_size, "Size".html_safe, :class => "desc" %>
        <div><%= collection_select :filters, :size, Animal::SIZES, :first, :last, {:prompt => "All"}, {:class => "field select large" } %></div>
      </td>
			<td class="status">
				<%= label_tag :filters_animal_status, "Status", :class => "desc" %>
				<div><%= collection_select :filters, :animal_status, AnimalStatus.active.all, :id, :name, {:prompt => "All"},{:class => "field select large"} %></div>
			</td>
			<td class="extra_options">
				<span>
					<%= check_box_tag "filters[special_needs_only]", true, false, :class => "field checkbox" %>
					<%= label_tag :filters_special_needs_only, "Special needs animals", :class => "choice special_needs" %>
				</span>
				<span>
					<%= check_box_tag "filters[euthanasia_only]", true, false, :class => "field checkbox" %>
					<%= label_tag :filters_euthanasia_only, "Euthanasia List (14 days or less)", :class => "choice euthanasia_list" %>
				</span>
			</td>
		</tr>
	</table>
  <%= hidden_field_tag "filters[distance]" %>
  <%= hidden_field_tag "filters[map_center]" %>
	<%= hidden_field_tag "filters[sw]" %>
	<%= hidden_field_tag "filters[ne]" %>
	<%= hidden_field_tag "filters[shelter_id]" %>
</form>
