<%= title "Community" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<script type="text/javascript">
		$(function() {
			Communities.initializeByCityZipCode(<%=@current_shelter.lat%>, <%=@current_shelter.lng%>, "<%=s3_expiring_url('maps/overlay.kmz')%>");
		});
	</script>
<% end %>

<%= content_for :page_content do %>

		<style type="text/css" media="screen">
		#filters{display:none; height: 75px;}
		#filters.filter_section{padding: 1.5em 1.5em 1em 1.5em; }
		#form_filters  li span{padding-right: 20px;}
		.filter_link { color: #343434; padding: 13px; border-top: none;  -webkit-border-radius: 0 0 10px 10px;border-bottom:1px solid #ddd;}
		
		
		.community_section{overflow: hidden;width: 100%;}
		.community_section:after{content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
		.community_section .map_section{float:left; width:49%;padding-right:1%;}
		.community_section .map_section #map_canvas{width:100%; height: 500px;}
		.community_section .animal_section{float:left;width: 49%;padding-left:1%;border-left: 1px dotted #ccc;}
		.community_section .animal_list h1{color: #ccc;margin: 0 auto; text-align: center;height: 500px; line-height: 500px;}
		
		/* Commmunities :: Search Section :: Layout */   
		/******************************************************************/
		.communities .map_separator{margin-top:5px;height: 1px;border-bottom: 1px dotted #bbb;}
		</style>

		<div class="page_content">
			
			<div style="padding-bottom: 0px;padding-top: 10px;">
				<span style="width: 70%">
					<form action="#" id="form_address_search" style="float:left;width: 38%;">
				    	<%= text_field_tag :address, @current_shelter.zip_code, :style => "width: 100%;"  %>
					</form>
					<ul class="toggle_buttons">
						<li><a href="#" class="current">City or Zip code</a></li>
						<li><a href="#">Shelter Name</a></li>
					</ul>
				</span>
				<span style="width: 30%; text-align:right;float:right;">
					<ul class="toggle_buttons">
						<li><a href="#" onclick="$('#filters').slideToggle('slow');$(this).toggleClass('current');">Narrow your search results?</a></li>
					</ul>
				</span>
				
			</div>
			
		</div>
		<div class="map_separator"></div>
		
		<div id="filters" class="section_heading no_borders blue">
			<%= render "form_filters" %>
		</div>

		<div class="page_content">		
			
			<div class="community_section">
				<div class="map_section">
					<div id="map_canvas"></div>
				</div>
				<div class="animal_section">
					<div id="animals" class="animal_list">
						<h1>Animal List Loading</h1>
					</div>
				</div>
			</div>
			<div class="clear"></div>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>