<%= title "Community" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false", "app/shelters", 
	                           :cache => "cache/app/communities-search-by-shelter-name" %>
	<script type="text/javascript">
		var defaultZoom = 11;
		var geocoder = new google.maps.Geocoder();
		var map;
		var myLatlng;
		
		var myOptions = {
			scrollwheel: false,
	    	zoom: defaultZoom,
		    center: myLatlng,
			disableDefaultUI: true,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		
		var lat;
		var lng;
		var markersArray = [];
		
		

		$(function() {
			
			$("#form_shelter_name_search").bind("submit", function(e){
				e.preventDefault();
			});
			
			$("#form_filters").bind("keypress", function(e){
				return !(window.event && window.event.keyCode == 13); 
			});

			$("#filters_animal_type").bind("change", function(e){
				e.preventDefault();
				$("#filters_breed").val("");
				if($(this).val() == ""){
					$("#filters_breed").attr("disabled", true);
					$("#filters_breed").attr("placeholder", "Please select type first");
				} else {
					$("#filters_breed").attr("disabled", false);
					$("#filters_breed").attr("placeholder", "Enter Breed Name");
				}
				findAnimalsForShelter();
			});

			$("#filters_sex, #filters_animal_status, #filters_euthanasia_only").bind("change", function(e){
				e.preventDefault();
				findAnimalsForShelter();
			});
			
			
			$("#filters_breed").autocomplete({
				minLength: 0,
				selectFirst: true,
				html: true,
				delay: 500,
				source: function( request, response ) {
					$.ajax({
						url: "/breeds/auto_complete.json",
						dataType: "json",
						data: {
							q: request.term,
							animal_type_id: $("#filters_animal_type").val()
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								var terms = request.term.replace(/([\^\$\(\)\[\]\{\}\*\.\+\?\|\\])/gi, "\\$1");
								var matcher = new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + terms + ")(?![^<>]*>)(?![^&;]+;)", "gi");
								return {
									label: item.name.replace(matcher,'<strong>$1</strong>'),
									value: item.name,
									id: item.id
								}  
							}));
						}
					});
				},
				close: function(event, ui) { 
					findAnimalsForShelter();
					event.preventDefault();
				}			
			});
			
			$("#shelter_name").autocomplete({
				minLength: 3,
				selectFirst: true,
				html: true,
				delay: 500, //maybe 400
				// highlight: true, MAKE EXT LATER
				source: function( request, response ) {
					$.ajax({
						url: "/shelters/auto_complete.json",
						dataType: "json",
						data: {
							q: request.term
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								var terms = request.term.replace(/([\^\$\(\)\[\]\{\}\*\.\+\?\|\\])/gi, "\\$1");
								var matcher = new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + terms + ")(?![^<>]*>)(?![^&;]+;)", "gi");
								return {
									lat: item.lat,
									lng: item.lng,
									label: item.name.replace(matcher,'<strong>$1</strong>'),
									value: item.name,
									id: item.id
								}  
							}));
						}
					});
				},
				select: function(event, ui){
					$('#filters_shelter_id').val(ui.item.id);
					findAnimalsForShelter();
					lat = ui.item.lat;
					lng = ui.item.lng;
				}	
			});
			
		});
		
		function loadMapForModal(){
			addMap();
			addMarker();
		}
		
		function addMap(){
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			myLatLng = new google.maps.LatLng(lat, lng);
			map.setCenter(myLatLng);
		}
		
		function addMarker(){
			clearOverlays();
			var marker = new google.maps.Marker({
			    position: myLatLng,
				map: map,
				animation: google.maps.Animation.DROP,
			    icon: '/images/logo_small.png'
			});
			markersArray.push(marker);
		}
		
		function clearOverlays() {
		  if (markersArray) {
		    for (i in markersArray) {
		      markersArray[i].setMap(null);
		    }
		  }
		}
		

		function findAnimalsForShelter(){
			$.get("/communities/find_animals_for_shelter.js", $("#form_filters").serialize());
		}
		
		
		
	</script>
<% end %>

<%= content_for :page_content do %>

<style type="text/css" media="screen">
#filters{display:none; height: 75px;}
#filters.filter_section{padding: 1.5em 1.5em 1em 1.5em; }
#form_filters  li span{padding-right: 20px;}
.filter_link { color: #343434; padding: 13px;  -webkit-border-radius: 0 0 10px 10px;border-bottom:1px solid #ddd;}


.community_section{overflow: hidden;width: 100%;}
.community_section:after{content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.community_section .map_section{float:left; width:49%;padding-right:1%;}
.community_section .map_section #map_canvas{width:100%; height: 500px;}
.community_section .animal_section{float:left;width: 49%;padding-left:1%;border-left: 1px dotted #ccc;}
.community_section .animal_list h1{color: #ccc;margin: 0 auto; text-align: center;height: 500px; line-height: 500px;}
</style>


<div id="filters" class="section_heading no_borders blue">
	<%= render "form_filters" %>
</div>

		
	<div class="page_content">
		
		<div style="padding-bottom: 0px;">
			<div style="padding-top: 5px;float: left; width: 50%;">
				<h2>Search by Shelter Name:</h2>
				<form action="#" id="form_shelter_name_search">
			    	<%= text_field_tag :shelter_name, "", :style => "width: 90%;"  %>
				</form>
			</div>
			<div style="float: left; width: 50%; text-align:right;">
				<a class="filter_link box no_borders blue" href="#" onclick="$('#filters').slideToggle('slow');">Narrow your results</a><br /><br /><br />
				<%= link_to "Search by City/Zipcode instead", search_by_city_zipcode_communities_path %>
				
			</div>
		</div>

		
		<div class="clear"></div>
		<div class="separator"></div>
		

		
		<table style="width: 100%; padding-bottom: 20px;">
			<tr>
				<td style="width:47%; padding-right: 2%; vertical-align:top;">
					<div id="shelter_details" style="width:100%;height: 400px;">
						<h1 style="color: #ccc;height: 400px; line-height: 400px; margin: 0 auto; text-align: center;">Shelter Details</h1>
					</div>
				</td>
				<td style="width:47%; padding-left: 2%; border-left: 1px dotted #ccc;vertical-align:top;">
					<div id="animals"><h1 style="color: #ccc;margin: 0 auto; text-align: center;height: 400px; line-height: 400px;">Animal List</h1></div>
				</td>
			</tr>
		</table>
		
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>