<%= title "Community" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false", "shelters/shelters", :cache => "cache/application/communities-index" %>
	<!-- "jquery.googlemaps.min" --> <!-- , "maps/maps" -->
	<script type="text/javascript">
		var defaultZoom = 11;
		var geocoder = new google.maps.Geocoder();
		var myLatlng = new google.maps.LatLng(<%=@current_shelter.lat%>,<%=@current_shelter.lng%>);
		var myOptions = {
			scrollwheel: false,
	    	zoom: defaultZoom,
		    center: myLatlng,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
		}

		var map;
	
		var fileUrl = 'http://www.designwaves.com/shelters.kmz'; //?<%=Time.new.to_i%>
		var kmlLayer;
		
		
		$(function() {
			
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		
			kmlLayer = new google.maps.KmlLayer(fileUrl, { preserveViewport: true });
			kmlLayer.setMap(map);
			
			// Add Listener for City/Zipcode Searching and Map Movement
			google.maps.event.addListener(map, 'idle', function(e){
				findAnimalsInBounds();
			});
			
			$("#form_address_search").bind("submit", function(e){
				geocodeAddress(e);
				e.preventDefault();
			});
			
			$("#filters_animal_type").bind("change", function(e){
				if($(this).val() == ""){
					$("#breed_field").hide();
				} else {
					$("#breed_field").show();
				}
				$("#filters_breed").val("");
				findAnimalsInBounds();
				e.preventDefault();
			});
			
			$("#filters_sex").bind("change", function(e){
				findAnimalsInBounds();
				e.preventDefault();
			});
			
			$("#filters_animal_status").bind("change", function(e){
				findAnimalsInBounds();
				e.preventDefault();
			});
			
			$("#filters_euthanasia_only").bind("change", function(e){
				findAnimalsInBounds();
				e.preventDefault();
			});
			
			$("#form_filters").bind("keypress", function(e){
				return !(window.event && window.event.keyCode == 13); 
			});
	

			// $("#filters_breed").click(function(){
			// 				$("#filters_breed").autocomplete( "search", "" );
			// 			});
			
			$("#filters_breed").autocomplete({
				minLength: 0,
				selectFirst: true,
				html: true,
				delay: 500,
				source: function( request, response ) {
					$.ajax({
						url: "/breeds/auto_complete.json",
						dataType: "json",
						data: {
							q: request.term,
							animal_type_id: $("#filters_animal_type").val()
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								var terms = request.term.replace(/([\^\$\(\)\[\]\{\}\*\.\+\?\|\\])/gi, "\\$1");
								var matcher = new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + terms + ")(?![^<>]*>)(?![^&;]+;)", "gi");
								return {
									label: item.name.replace(matcher,'<strong>$1</strong>'),
									value: item.name,
									id: item.id
								}  
							}));
						}
					});
				},
				close: function(event, ui) { 
					findAnimalsInBounds();
					event.preventDefault();
				}			
			});
			
		});
		
		//MOVE INTO MAPS.js
		function geocodeAddress(e){
			geocoder.geocode( { address: $("#address").val() }, function(results, status) {
		     	if (status == google.maps.GeocoderStatus.OK) {
		        	map.setCenter(results[0].geometry.location);
					map.setZoom(defaultZoom);
		      	} else {
		        	alert("Geocode was not successful for the following reason: " + status);
		      	}
		    });
		}
		//MOVE INTO MAPS.js
		function findAnimalsInBounds(){
			var zoomLevel = map.getZoom();
			if (zoomLevel < 10) {
				$('#all_animals').html( "<p>Please zoom in to search for animals</p>" );
				$('#urgent_needs_animals').html( "<p>Please zoom in to search for animals</p>" );
			} else {
				var bounds = map.getBounds();
				$("#filters_sw").val(bounds.getSouthWest().toUrlValue());
				$("#filters_ne").val(bounds.getNorthEast().toUrlValue());
				$.get("/communities/find_animals_in_bounds.js", $("#form_filters").serialize());
			}
		
		}
		
	</script>
<% end %>

<%= content_for :page_content do %>

	<!-- <div class="page_heading green_background">
		<h1>Community</h1>
	</div> -->
		
	<div class="page_content">
		
		<div style="padding-top: 5px; padding-bottom: 0px;">
			<h2>Search By City/Zipcode:</h2>
			<div style="float: left; width: 50%;">
				<form action="#" id="form_address_search">
			    	<ul class="form">
						<li>
							<%= text_field_tag :address, @current_shelter.zip_code, :style => "width: 90%;"  %> <%= submit_tag "Go" %>
						</li>
					</ul>
				</form>
			</div>
			<div style="float: left; width: 50%; text-align:right;">
				<%= link_to "Search by Shelter Name instead", search_by_shelter_name_communities_path %>
			</div>
		</div>
		<div class="clear"></div>
		<div class="separator"></div>
		
		<div style="float: left; padding-right: 50px; height: 30px; line-height: 30px;">
			<h3>Filter Animals by:</h3>
		</div>
		<div id="filters" style="float: left; height: 30px; line-height: 30px;">
			<style type="text/css" media="screen">
				#filters .form li{float: left; padding-right: 20px;height: 1; line-height: 1;}
				#filters .form:after{clear:both;}
			</style>
			<form action="#" id="form_filters">
				<ul class="form">
					<li>
						<%= label_tag :filters_animal_type, "Animal type" %><br />
						<%= collection_select :filters, :animal_type, AnimalType.all, :id, :name, :prompt => "All" %>
					</li>
					<li>
						<div id="breed_field" style="display:none;width: 300px;">
							<%= label_tag :filters_breed, "Breed" %><br />
							<%= text_field_tag "filters[breed]", "",:autocomplete => :off %>
						</div>
					</li>
					<li>
						<%= label_tag :filters_sex, "Sex" %><br />
						<%= collection_select :filters, :sex, SEX, :to_s, :humanize, :prompt => "All" %>
					</li>
					<li>
						<%= label_tag :filters_animal_status, "Status" %><br />
						<%= collection_select :filters, :animal_status, AnimalStatus.active.all, :id, :name, :prompt => "All" %>
					</li>
					<li>
						<br /><%= check_box_tag "filters[euthanasia_only]", true %>
						<%= label_tag :filters_euthanasia_only, "Animals killed in the next 2 weeks" %>
					</li>
				</ul>
				<%= hidden_field_tag "filters[sw]" %>
				<%= hidden_field_tag "filters[ne]" %>
			</form>
		</div>
		
		<div class="clear"></div>
		<div class="separator"></div>
		
		<!-- <div style="width: 100%;">
			<div style="float:left;width:47%; height: 700px;padding-right: 2%;">
				<div id="map_canvas" style="width:100%; height: 700px;"></div>
			</div>
			<div style="float:left; width:47%; padding-left: 2%; border-left: 1px dotted #ccc;">
				<div id="all_animals"></div>
			</div>
		</div>
		<div class="clear"></div> -->
		
		<table style="width: 100%; padding-bottom: 20px;">
			<tr>
				<td style="width:47%; padding-right: 2%; vertical-align:top;">
					<div id="map_canvas" style="width:100%; height: 700px;"></div>
				</td>
				<td style="width:47%; padding-left: 2%; border-left: 1px dotted #ccc;vertical-align:top;">
					<div id="animals"><h1 style="color: #ccc;margin: 0 auto; text-align: center;height: 700px; line-height: 700px;">Animal List</h1></div>
				</td>
			</tr>
		</table>
		
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>