<div class="right_side">
<% if @shelter.logo? %>
	<div class="logo">
		<%= image_tag @shelter.logo.url(:thumb) %>
	</div>
<% end %>
	<ul class="toggle_buttons">
		<li><a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address(@shelter)%>&hl=en" target="_blank">Get Directions</a></li>
	</ul>
</div>
<h2><%=@shelter.name%></h2>
<ul>
	<li><%=@shelter.street %></li>
	<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
</ul>
<br />
<ul>
	<li>Phone: <%=number_to_phone(@shelter.phone, :delimiter => "-")%></li>
	<% unless @shelter.fax.blank? %>
		<li>Fax: <%=number_to_phone(@shelter.fax, :delimiter => "-")%></li>
	<% end %>
	<li class="action_links">
		<span><%= link_to "Email Us", "mailto:#{@shelter.email}?subject=From Shelter Exchange" %></span>
		<% unless @shelter.website.blank? %>
			<span>|<%= link_to "Visit Website", @shelter.website, :target => "_blank" %></span>
		<% end %>
	</li>
	<% unless @shelter.twitter.blank? and @shelter.facebook.blank? %>
	<li class="action_links">
		<% unless @shelter.twitter.blank? %>
			<span><%= link_to "Follow #{@shelter.twitter}", "http://twitter.com/#!/#{@shelter.twitter.slice(1..-1)}", :target => "_blank" %></span>
		<% end %>
		<% unless @shelter.facebook.blank? %>
			<span>|<%= link_to "Facebook Page", @shelter.facebook, :target => "_blank" %></span>
		<% end %>
	</li>
	<% end %>
</ul>
<br />
<% if @shelter.kill_shelter? %>
	<div class="shelter_type kill">Kill Shelter</div>
<% else %>
	<div class="shelter_type no_kill">No Kill Shelter</div>
<% end %>

<% unless @capacities.blank? %>
	<div class="capacities">
		<h2>Does this shelter have space available?</h2>
		<%= render "capacities/capacity_list" %>
	</div>
<% end %>

