
<style type="text/css" media="screen">
	.logo{float:right; text-align:right;}
	.logo:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
	.logo a{padding-top: 10px; display:block;}
	.shelter_capacities{padding: 15px 0 0 0; margin-top: 20px; border-top: 1px solid #ddd;}
	.shelter_capacities h2{padding-bottom: 5px; /*border-bottom: 1px solid #ddd;*/}
	table.capacity_details { width: 100%; table-layout: auto; border-collapse: collapse; border-spacing: 0; }
	table.capacity_details tr {border-bottom:1px #ccc dotted; }
	table.capacity_details tr:last-child {border-bottom:1px #ccc dotted; }
	table.capacity_details td{vertical-align:top;font-size:12px;padding:5px 0;}

	
	table.legend { width: 100%; padding: 5px 0 0 0; }
	table.legend td{width: 30%; }
	table.legend td span{ margin-left: 20px; white-space: nowrap; }
	table.legend td .over_capacity span{width: 22%;}
	table.legend td .warning_level span{width: 34%;} 
	table.legend td .normal span{ width: auto; }
	
</style>

<div class="logo">
<% if @shelter.logo.file? %>
	<div>
		<%= image_tag @shelter.logo.url(:thumb) %>
	</div>
<% end %>
	<a href="#shelter_map_dialog" id="map_link" toptions="width = 400, height = 400, noGroup = 1, type = dom, title = Map of <%= @shelter.name %>, layout = quicklook, resizable = 0, shaded = 1, modal = 1, ondisplay = loadMapForModal()" tu_group="null">View Map</a>
	<a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address%>&hl=en" target="_blank">Get Directions</a>
</div>
<h2><%=@shelter.name%></h2>
<ul>
	<li><%=@shelter.street %></li>
	<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
</ul>
<br />
<ul>
	<li>Tel: <%=number_to_phone(@shelter.phone, :delimiter => "-")%></li>
	<% unless @shelter.fax.blank? %>
		<li>Fax: <%=number_to_phone(@shelter.fax, :delimiter => "-")%></li>
	<% end %>
	<li><a href="mailto:<%=@shelter.email %>?subject=From Shelter Exchange"><%=@shelter.email %></a></li>
	<% unless @shelter.website.blank? %>
		<li><a href="<%=@shelter.website%>" target="_new"><%=@shelter.website%></a></li>
	<% end %>
</ul>
<br />
<% if @shelter.is_kill_shelter %>
	<div class="shelter_type kill">Kill Shelter</div>
<% else %>
	<div class="shelter_type no_kill">No Kill Shelter</div>
<% end %>

<% unless @capacities.blank? %>
<div class="shelter_capacities">
	<h2>Does this shelter have room?</h2>
	<table class="capacity_details">
		<thead>
			<tr>
				<th>Animal</th>
				<th>Status</th>
				<th>Space Avail</th>
				<th>Max</th>
			</tr>
		</thead>
		<tbody>
		<% @capacities.each do |capacity| %>
			<% animal_count = capacity.animal_type.animals.active.count %>
			<%  status_class = ""
				if animal_count >= capacity.warning_level and animal_count <= capacity.max_capacity
					status_class = "warning_level"  
				elsif animal_count >= capacity.max_capacity
					status_class = "over_capacity"
				else 
					status_class = "normal"
				end
			%>
			<tr class="row">
				<td><%= capacity.animal_type.name %></td>
				<td><div class="circle small <%=status_class%>"></div></td>
				<td><%= capacity.max_capacity - animal_count %></td>
				<td><%= capacity.max_capacity%></td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<table class="legend">
		<tr>
			<td><div class="circle small over_capacity"><span>Full</span></div></td>
			<td><div class="circle small warning_level"><span>Almost full</span></div></td>
			<td><div class="circle small normal"><span>Good</span></div></td>
		</tr>
	</table>
</div>
<% end %>

<div id="shelter_map_dialog" style="display:none;">
	<div class="wrapper">
		<div id="map_canvas" style="width: 400px;height: 400px;"></div>
	</div>
</div>

