<%= title "#{@animal.name} - #{@animal.full_breed} | #{@shelter.city}, #{@shelter.state}" %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Notes.filters();
			Transfers.hasRequest(<%=@transfer_requested %>);
			Photos.initGallery(<%=raw @gallery_photos %>);
		});
	</script>
<% end %>

<%= content_for :page_content do %>
	<div class="page_heading blue">
		<table class="animal">
			<tr>
				<td colspan="2">
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= @animal.full_breed %></p>
				</td>
				<td class="status">
					<p><%= community_animal_status(@animal) %></p>
				</td>
			</tr>
		</table>
	</div>

	<div class="page_content">

		<% if @animal.available? %>
			<div class="social">
				<span class="text_label">Share and promote:</span>
				<span class="facebook">
					<div class="fb-like" data-send="false"
										 data-href="<%= public_save_a_life_url(@animal, :subdomain => "www")%>"
										 data-layout="button_count"
										 data-show-faces="false"></div>
				</span>
				<span class="twitter">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="shelterexchange"
					   data-url="<%= public_save_a_life_url(@animal, :subdomain => "www")%>"
					   data-text="<%="#{@animal.name} - #{@animal.full_breed} - #{@shelter.city}, #{@shelter.state}" %>">Tweet</a>
				</span>
				<span class="pinterest">
					<a href="http://pinterest.com/pin/create/button/?url=<%= public_save_a_life_url(@animal, :subdomain => "www")%>&media=<%=polymorphic_photo_url(@photos.first, :original) %>&description=<%=pinterest_animal_description(@animal, @shelter)%>" class="pin-it-button" count-layout="horizontal">Pin It</a>
				</span>
				<!-- <span><%= link_to "Save a life", public_save_a_life_url(@animal, :subdomain => "www") %></span> -->
			</div>
		<% end %>

		<table class="animal_details">
			<tr>
				<td class="metadata">

					<h3>Details:</h3>
					<ul>
						<li><p><b>Age:</b>
								<span><%= @animal.age.present? ? @animal.age.humanize : "N/A" %>
											<%= "(#{humanize_dob(@animal.date_of_birth)})".html_safe if @animal.date_of_birth.present? %></span></p></li>
						<li><p><b>Sex:</b><span><%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></span></p></li>
						<li><p><b>Weight:</b><span><%= @animal.weight.present? ? @animal.weight : "N/A" %></span></p></li>
						<li><p><b>Size:</b><span><%= Animal::SIZES[@animal.size.to_sym] || "N/A" %></span></p></li>
						<li><p><b>Color:</b><span><%= @animal.color.present? ? @animal.color : "N/A" %></span></p></li>
						<li><p><b>MicroChip:</b><span><%= @animal.microchip.present? ? @animal.microchip : "N/A" %></span></p></li>
						<li><p><b>Arrival/Intake Date:</b><span><%= @animal.arrival_date.present? ? format_date(:default, @animal.arrival_date) : "N/A" %></span></p></li>
					</ul>
				</td>
				<td class="image">

			    	<div id="photo_gallery"></div>

					<% unless @animal.video_url.blank? %>
					<%= link_to "Watch Video", fancybox_video_url(@animal), :class => "button video_player right", :title => "Video of #{@animal.name}" %>
					<% end %>
			    </td>
			</tr>
		</table>
		<% if @animal.special_needs? %>
			<table class="special_needs">
				<tr>
					<td>
						<h3>Special Needs:</h3>
						<p><%= auto_link( simple_format(@animal.special_needs), :all, :target => "_blank").html_safe %></p>
					</td>
				</tr>
			</table>
		<% end %>
		<table class="description">
			<tr>
				<td>
					<h3>Description:</h3>
					<p><%= @animal.description.blank? ? "No description provided" : auto_link( simple_format(@animal.description), :all, :target => "_blank").html_safe %></p>
				</td>
			</tr>
		</table>

		<% if @shelter.kill_shelter? %>
		<table class="euthanasia_info">
			<tr>
				<td>
					<h3>Euthanasia Info:</h3>
					<ul>
						<li><p><b>Hold time:</b><span class="hold_time"><%= @animal.hold_time.present? ? "#{@animal.hold_time} days" : "N/A" %></span></p></li>
						<li><p><b>Euthanasia Date:</b><span class="euthanasia_date"><%= @animal.euthanasia_date.present? ? format_date(:default, @animal.euthanasia_date) : "N/A" %></span></p></li>
					</ul>
				</td>
			</tr>
		</table>
		<% end %>


	</div>

	<div id="notes_heading" class="section_heading orange">
		<h2>Notes</h2>
		<div class="links">
			<%= link_to 'All', filter_notes_animals_path(:id => @animal.id, :format => :js), :remote => true, :id => "all_notes_link" %>
			<% Note::CATEGORIES.each do |category|%>
				&nbsp;|&nbsp;
				<%= link_to category.humanize, filter_notes_animals_path(:filter => category, :id => @animal.id, :format => :js),
				                          :remote => true, :id => "#{category}_notes_link" %>
			<% end %>
		</div>
	</div>

	<div class="page_content">
		<div id="notes" class="note_list">
			<%= render @notes %>
		</div>
	</div>
<% end %>

<%= content_for :sidebar do %>

	<% unless @current_shelter.kill_shelter? %>
		<div class="transfer_section">
			<% if can?(:request_transfer, Animal) %>
			<ul id="transfer_request_button" class="action_links">
				<li><%= link_to 'Request Transfer', "#", :id => "add_transfer_link", :class => "button red" %></li>
			</ul>
			<% end %>
			<div id="transfer_requested" class="box hide orange">
				<h3>Request pending - awaiting approval for <%= @animal.name %></h3>
			</div>

			<div id="create_transfer" class="box hide green">
				<h2>Create a transfer request for <%= @animal.name %></h2>
				<div id="create_transfer_errors"></div>
				<%= form_for (@transfer = Transfer.new), :remote => true, :html => { :id => "create_transfer_form", :class => "create_transfer_form" } do |f| %>
				<ul>
					<%= render "transfers/form", :f => f %>
			    	<li class="buttons">
						<%= f.submit "Create Transfer", :disable_with => "Submitting...", :id => "create_transfer_button", :class => "button"  %>
						&nbsp;or&nbsp;
						<%= link_to "Cancel", "#", :id => "cancel_transfer" %>
					</li>
				</ul>
			<% end %>
			</div>
		</div>
	<% end %>

	<div id="animal_shelter">
		<h2>Shelter details</h2>
		<div id="shelter" class="shelter_details">
			<% if @shelter.logo? %>
				<div class="logo">
					<%= image_tag @shelter.logo.url(:thumb) %>
				</div>
			<% end %>

			<h2><%=@shelter.name%></h2>
			<ul>
				<li><%=@shelter.street%></li>
				<li><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip_code%></li>
			</ul>
			<br />
			<ul>
				<li>Tel: <%=number_to_phone(@shelter.phone, :delimiter => "-")%></li>
				<% unless @shelter.fax.blank? %>
					<li>Fax: <%=number_to_phone(@shelter.fax, :delimiter => "-")%></li>
				<% end %>
				<li class="action_links">
					<span><%= link_to "Email Us", "mailto:#{@shelter.email}?subject=From Shelter Exchange" %>|</span>
					<% unless @shelter.website.blank? %>
						<span><%= link_to "Visit Website", @shelter.website %>|</span>
					<% end %>
					<span><a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%=get_directions_address(@shelter)%>&hl=en" target="_blank">Get Directions</a></span>
				</li>
			</ul>
		</div>
	</div>

<% end %>



