<%= title "Forgot your password?" %>
<%= description "Shelters and rescue groups can reset their password for Shelter Exchange." %>
<%= keywords "Shelter Exchange, animal shelters, animal rescue groups, animal rescue, homeless animals, create a new account, animal euthanasia, shelter exchange, animal welfare community, euthanized, euthanized animals, find animals, search shelters, local shelters, adoptive parents, animals by euthanasia date, saving lives, age-oriented, breed-specific, special needs animals, shelter management software, shelter management application" %>

<%= robots "noindex,follow" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

	<ul class="submenu">
		<li><a class="<%=sub_navigation(:shelters_and_rescues)%>" href="/shelters_and_rescues">Shelters and Rescues</a></li>
		<li><a class="<%=sub_navigation(:signup)%>" href="/signup">Sign Up</a></li>
		<li><a class="<%=sub_navigation(:login)%>" href="/login">Login</a></li>
	</ul>

	<h1>Forgot your password?</h1>

	<%= render "shared/error_messages", :target => resource %>

	<%= form_for(resource, :as => :user, :url => password_path(:user), :html => { :method => :post, :id => "reset_password_form" }) do |f| %>

		<ul>
	  		<li class="half">
	  			<%= f.label :email, "Email <span class='req'>*</span>".html_safe, :class => "desc" %>
				<div>
					<%= f.text_field :email, :class => "field text large", :maxlength => 255, :placeholder => "Your email address" %>
				</div>
				<%= has_error_message?(resource, :email)%>
			</li>
			<li class="buttons">
				<%= f.submit "Send me reset password instructions", 'data-disable-with' => 'Submiting...', :class => "button" %>
			</li>
		</ul>
	<% end %>

<% end %>
<%= content_for :sidebar do %><% end %>
