<%= title "Accept invitation" %>

<%= content_for :page_content do %>
	<div class="page_heading">
		<h2>Accept invitation</h2>
	</div>
	<div class="page_content">

		<%= render "shared/error_messages", :target => resource %>

		<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
			<ul>
				<li class="full">
					<%= f.label :name, "First and Last name <span class='req'>*</span>".html_safe, :class => "desc" %>
		  			<%= f.text_field :name, :class => "field text large", :maxlength => 255, :placeholder => "" %>
				</li>
				<li class="full">
					<%= f.label :title, "Title".html_safe, :class => "desc" %>
		  			<%= f.text_field :title, :class => "field text large", :maxlength => 255, :placeholder => "" %>
				</li>
				<li class="full">
					<%= f.label :password, "Password <span class='req'>*</span>".html_safe, :class => "desc" %>
		  			<%= f.password_field :password, :class => "field text large", :maxlength => 255, :placeholder => "Create password" %>
				</li>
				<li class="full">
					<%= f.label :password_confirmation, "Password confirmation <span class='req'>*</span>".html_safe, :class => "desc" %>
		  			<%= f.password_field :password_confirmation, :class => "field text large", :maxlength => 255, :placeholder => "Confirm password" %>
				</li>
				<li class="buttons">
					<%= f.submit "Submit", 'data-disable-with' => 'Submiting...', :class => "button"  %>
				</li>
			</ul>

			<%= f.hidden_field :invitation_token %>
		<% end %>
	</div>

<% end %>

<%= content_for :sidebar do %>
<% end %>



