<%= title "Accept invitation" %>

<%= content_for :page_content do %>
	<div class="page_heading">
		<h2>Accept invitation</h2>
	</div>
	<div class="page_content">
		
		<%= render "global/error_messages", :target => resource %>
		<%# devise_error_messages! %>
		
		<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
			<ul class="form">
				<li>
					<%= f.label :name, "First and Last name" %><br />
		  			<%= f.text_field :name %>
				</li>
				<li>
					<%= f.label :password, "Password" %><br />
		  			<%= f.password_field :password %>
				</li>
				<li>
					<%= f.label :password_confirmation, "Password confirmation" %><br />
		  			<%= f.password_field :password_confirmation %>
				</li>
			</ul>

		 	<div class="actions">
				<%= f.submit "Submit", :disable_with => 'Submiting...' %>
			</div>
			
			<%= f.hidden_field :invitation_token %>
		<% end %>
	</div>
	
<% end %>

<%= content_for :sidebar do %>
<% end %>
			


