<div id="<%= "shelter_#{shelter.id}" %>" class="shelter">
	<span class="logo"><%= link_to image_tag(shelter.logo.url(:thumb)), admin_shelter_path(shelter) %></span>
	<span class="name"><%= link_to shelter.name, admin_shelter_path(shelter) %></span>
	<span class="city_state"><%= shelter.city %>, <%= shelter.state %></span>
	<span class="email"><%= link_to shelter.email, "mailto:#{shelter.email}" %></span>
	<span class="created_at"><%= format_date_for(shelter.created_at, :short) %></span>
</div>
