<%= title "Shelter List" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Shelter List</h1>
	</div>
	
	<div class="page_content">

		<div class="no_kill_shelters_section">
			<h2>No Kill Shelters</h2>
			<div id="no_kill_shelters" class="shelter_list">
				<%= render @no_kill_shelters %>
			</div>
		</div>
		
		<div class="kill_shelters_section">
			<h2>Kill Shelters</h2>
			<div id="kill_shelters" class="shelter_list">
				<%= render @kill_shelters %>
			</div>
		</div>
		
	</div>
		
<% end %>

<%= content_for :sidebar do %>
	
<% end %>

