<%= title "Shelter List" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<%= form_for :shelters, :url => { :action => :live_search }, :remote => true, :html => { :id => "form_search", :method => :get } do |f| %>
			<ul>
				<li class="full">
					<%= label_tag "q", "Search Shelter List", :class => "desc" %>
					<%= text_field_tag "q", "", :class => "field text medium", :onkeyup =>"Shelters.liveSearch(this);"  %>
				</li>
			</ul>
		<% end %>
	</div>
	
	<div class="page_content">


		<div class="no_kill_shelters_section">
			<h2>No Kill Shelters</h2>
			<div id="no_kill_shelters" class="shelter_list">
				<%= render @no_kill_shelters %>
			</div>
		</div>
		
		<div class="kill_shelters_section">
			<h2>Kill Shelters</h2>
			<div id="kill_shelters" class="shelter_list">
				<%= render @kill_shelters %>
			</div>
		</div>
		
	</div>
		
<% end %>

<%= content_for :sidebar do %>
	
<% end %>

