<%= title "#{@animal.name} (#{@animal.id})" %>

<%= content_for :javascripts do %>
	<script type="text/javascript" charset="utf-8" async defer>
		$(function(){
			Animals.printInitialize("<%=@print_layout%>");
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<%= render "animals/print/print_options", :print_layout => @print_layout %>

	<div class="page_heading">
		<table class="animal">
			<tr>
				<td colspan="2">
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= @animal.animal_type.name %>:  <%= @animal.full_breed %></p>
				</td>
				<td class="status">
					<p><%= @animal.animal_status.name %></p>
				</td>
			</tr>
		</table>
	</div>

	<div class="page_content">

		<div class="animal_details">

			<div class="media">
				<%= image_tag(polymorphic_photo_url(@animal.photos.first, :large), :alt => "#{@animal.name} - #{@animal.full_breed}") %>
			</div>

			<h3>Details:</h3>
			<ul>
				<li><p><b>Age:</b>
						<span><%= @animal.age.present? ? @animal.age.humanize : "N/A" %>
									<%= "(#{humanize_dob(@animal.date_of_birth)})".html_safe if @animal.date_of_birth.present? %></span></p></li>
				<li><p><b>Sex:</b><span><%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></span></p></li>
				<li><p><b>Weight:</b><span><%= @animal.weight.present? ? @animal.weight : "N/A" %></span></p></li>
				<li><p><b>Size:</b><span><%= Animal::SIZES[@animal.size.to_sym] || "N/A" %></span></p></li>
				<li><p><b>Color:</b><span><%= @animal.color.present? ? @animal.color : "N/A" %></span></p></li>
			</ul>

			<% if @animal.special_needs? %>
				<h3>Special Needs:</h3>
				<p><%= auto_link( simple_format(@animal.special_needs), :all, :target => "_blank").html_safe %></p>
			<% end%>
			<h3>Description:</h3>
			<p><%= @animal.description.blank? ? "No description provided" : auto_link( simple_format(@animal.description), :all, :target => "_blank").html_safe %></p>

		</div>

		<div class="animal_shelter">
			<%= render "animals/print/shelter_details" %>
		</div>

	</div>


	<% if @notes.present? and @print_layout == "animal_with_notes" %>
		<% @note_categories.each do |category| %>

			<div class="page_break"><span>Page Break</span></div>

			<div class="page_content">
				<h2><%=category.humanize%> Notes</h2>
				<div id="notes" class="note_list">
          <% @notes.select{|n| n.category == category}.each do |note| %>
            <div id="<%= "note_#{note.id}" %>" class="note">
              <span class="created_date"><%= format_date(:short, note.created_at) %></span>
              <span class="details">
                <% if note.hidden? %><span class="icon-lock"></span><% end %>
                <span class="title"><%= note.title %></span>
              </span>

              <div class="description" id="description_note_<%=note.id%>">
                <p><%= note.description.blank? ? "No description provided" : auto_link( simple_format(note.description), :all, :target => '_blank') %></p>
                <% unless note.documents.blank? %>
                  <ul class="attachments"><strong>Attachments:</strong>
                  <% note.documents.each do |doc| %>
                    <li><%= link_to doc.original_name, doc.document.url, :target => "_new" %></li>
                  <% end %>
                  </ul>
                <% end %>

              </div>
            </div>
          <% end %>

				</div>
			</div>
		<% end %>
  <% end %>

<% end %>

