<%= title "#{@animal.name} (#{@animal.id})" %>

<%= content_for :javascripts do %>
	<script type="text/javascript" charset="utf-8" async defer>
		$(function(){
			Animals.printInitialize("<%=@print_layout%>");
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<%= render "animals/print/print_options", :print_layout => @print_layout %>
	
	<div class="page_heading">
		<table class="animal">
			<tr>
				<td>
					<h1><%= @animal.name %><span>#<%= @animal.id %></span></h1>
				</td>
				<td class="shelter">
					<p><%= @shelter.name%></p>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="page_content">
		
		<div class="animal_details">

			<div class="media">
				<%= image_tag(polymorphic_photo_url(@animal.photos.first, :large), :alt => "#{@animal.name} - #{@animal.full_breed}") %>
			</div>
			
			<div class="type"><%= @animal.animal_type.name %>:&nbsp;&nbsp;<%= @animal.full_breed %></div>

			<h3>Details:</h3>
			<ul class="details">
				<!-- <li><p><b>Age (Est.):</b><span><%= @animal.date_of_birth.present? ? humanize_dob(@animal.date_of_birth) : "N/A" %></span></p></li> -->
				<li><p><b>Age:</b><span><%= @animal.age.present? ? @animal.age.humanize : "N/A" %></span></p></li>
				<li><p><b>Sex:</b><span><%= @animal.sex.humanize unless @animal.sex.blank? %> <% if @animal.is_sterilized %>(Sterilized)<% end %></span></p></li>
				<li><p><b>Weight:</b><span><%= @animal.weight.present? ? @animal.weight : "N/A" %></span></p></li>
				<li><p><b>Size:</b><span><%= Animal::SIZES[@animal.size.to_sym] || "N/A" %></span></p></li>
				<li><p><b>Color:</b><span><%= @animal.color.present? ? @animal.color : "N/A" %></span></p></li>
			</ul>

			<% if @animal.special_needs? %>
				<h3>Special Needs:</h3>
				<p><%= auto_link( simple_format(@animal.special_needs), :all, :target => "_blank").html_safe %></p>
			<% end%>
			
			<h3>Description:</h3>
			<p><%= @animal.description.blank? ? "No description provided" : auto_link( simple_format(@animal.description), :all, :target => "_blank").html_safe %></p>

		</div>
		
	</div>

<% end %>