<div id="header">
	<div id="toolbar">
		<span class="col_1">
			<span>Admin Tool</span>
		</span>
		<span class="col_2">
			<span><%=current_owner.name%></span>
			<span class="link_separator">|</span>
			<span><%= link_to "Logout", destroy_owner_session_path, :method => :delete, :confirm => "Are you sure?" %></span>
		</span>
	</div>
	<ul id="menu">
		<li class="<%= selected_navigation(:dashboard) %>"><%= link_to "Dashboard", admin_dashboard_index_path %></li>
		<li class="<%= selected_navigation(:shelters) %>"><%= link_to "Shelters", admin_shelters_path %></li>
		<li class="<%= selected_navigation(:animals) %>"><%= link_to "Animal Lookup", admin_animals_path %></li>
		<li class="<%= selected_navigation(:integrations) %>"><%= link_to "Integrations", admin_integrations_path %></li>
		<li class="<%= selected_navigation(:users) %>"><%= link_to "Users", admin_users_path %></li>
		<li class="<%= selected_navigation(:reports) %>"><%= link_to "Reports", admin_reports_path %></li>
		<li class="<%= selected_navigation(:announcements) %>"><%= link_to "Announcements", admin_announcements_path %></li>
		<li class="<%= selected_navigation(:exports) %>"><%= link_to "Exports", admin_exports_path %></li>
	</ul>
</div>
