<% by_type = params[:by_type] || false %>
<% report_title = "#{params[:status].titleize} Monthly Total"  %>

<% if by_type %>
  <% report_title += " by Animal Type"  %>
<% end %>

<%= title report_title  %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      Reports.barChart('<%= report_title %>', '<%= params[:status] %>', <%= by_type %>, '<%= params[:status].titleize %>');

      $("#form_csv_export_reports").submit(function(e) {
        $("#csv_string", this).val(barChart.getCSV());
      });

		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Reports</h1>
	</div>

	<div class="page_content">

		<div id="custom_report" class="report"></div>

    <%= form_tag csv_export_reports_path(:format => :csv), :method => :post, :id => "form_csv_export_reports" do %>
      <ul>
        <li class="buttons">
          <%= hidden_field_tag :csv_string %>
          <%= submit_tag "Export as CSV", :name => nil, :class => "button" %>
        </li>
      </ul>
	  <% end %>

	</div>

<% end %>

<%= content_for :sidebar do %>
	<%= render "sidebar" %>
<% end %>
