<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	
	<script type="text/javascript">
		Reports.statusByCurrentYear("<%=current_year%>", "status_by_current_year");
		Reports.statusByCurrentMonth("<%=format_date(:month_only, Date.today)%>", "status_by_current_month");
		Reports.typeByCurrentYear("<%=current_year%>", "type_by_current_year");
		Reports.typeByCurrentMonth("<%=format_date(:month_only, Date.today)%>", "type_by_current_month");
	</script>
	
<script type="text/javascript">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: { renderTo: 'adopted_by_month', defaultSeriesType: 'column' },
      title: { text: 'Monthly Adoptions by Type' },
      xAxis: {
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
         min: 0,
         title: { text: 'Adoptions' }
      },
      legend: {
         layout: 'vertical',
         backgroundColor: '#FFFFFF',
         align: 'left',
         verticalAlign: 'top',
         x: 100,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ this.y;
         }
      },
      plotOptions: {
         column: { pointPadding: 0.2, borderWidth: 0 }
      },
      series: [{
         name: 'Tokyo',
         data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
   
      }, {
         name: 'New York',
         data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
   
      }, {
         name: 'London',
         data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
   
      }, {
         name: 'Berlin',
         data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]
   
      }]
   });


   
   
});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading yellow_background">
		<h1>Reports</h1>
	</div>
	<div class="page_content">
		<div id="current_month">
			<h2>Current Month</h2>
			<div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="padding-bottom: 5px; margin:0;"><%= @active_count %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Active</p>
				</div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="padding-bottom: 5px; margin:0;"><%= @total_adoptions_month %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Adoptions</p>
				</div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="color:red;padding-bottom: 5px; margin:0;"><%= @total_euthanized_month %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Euthanized</p>
				</div>
			</div>
		</div>
		<div class="clear"></div><br />
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
		
		<div id="year_to_date">
			<h2>Year to Date</h2>
			<div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="padding-bottom: 5px; margin:0;"><%= @total_adoptions_ytd %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Adoptions</p>
				</div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="color:red;padding-bottom: 5px; margin:0;"><%= @total_euthanized_ytd %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Euthanized</p>
				</div>
			</div>
		</div>
		<div class="clear"></div><br />
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
			
		<div style="width: 100%;margin: 0 auto;">
			<div id="by_animal_status">
				<h2>By Animal Status</h2>
				<div id="status_by_current_year" style="float: left; width: 50%;"></div>
				<div id="status_by_current_month" style="float: left; width: 50%;"></div>
			</div>
			<div class="clear"></div><br />
			<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
			<div id="by_animal_type">
				<h2>By Animal Type</h2>
				<div id="type_by_current_year" style="float: left; width: 50%;"></div>
				<div id="type_by_current_month" style="float: left; width: 50%;"></div>
			</div>
			<div class="clear"></div><br />
		</div>
		<div class="clear"></div> <br /><br /><br />

		
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
		<div id="adopted_by_month" style="width: 98%; height: 400px; margin: 0 auto"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
		<h2>Animal Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
		<h2>Shelter Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
		<h2>General Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
<% end %>