<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
			Reports.initialize();
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Reports</h1>
	</div>

  <div class="page_content">

    <h2>Animal Count Totals</h2>
    <table class="status_counts">
      <tr>
        <th>Status</th>
        <th>Total <%= image_tag "icon_help.png", :class =>"tooltip_on_top", "data-tip" => "Lifetime totals. Includes previous years not displayed (if they exist.)" %></th>
        <th><%= Time.zone.today.year %></th>
        <th><%= Time.zone.today.year - 1 %></th>
        <th><%= Time.zone.today.year - 2 %></th>
      </tr>
			<% @status_counts.each do |status_history|  %>
				<tr class="<%= cycle("odd", "even")%>">
					<td class="status"><%= status_history["Status"] %></td>
					<td class="center"><%= status_history["Total"] %></td>
					<td class="center"><%= status_history[Time.zone.today.year] %></td>
					<td class="center"><%= status_history[Time.zone.today.year - 1] %></td>
          <td class="center"><%= status_history[Time.zone.today.year - 2] %></td>
				</tr>
      <% end %>
    </table>


    <div class="stats">
			<h2>Monthly Totals</h2>

      <div class="filters">
        <span class="left">
          <%= label_tag :selected_month, "Select month:" %>
          <%= select_month(Time.zone.today, :field_name => :selected_month, :prefix => "", :start_month => Time.zone.today.month )%>
        </span>
        <span class="leftPadded">
          <%= label_tag :selected_year, "Select year:" %>
          <%= select_year(Time.zone.today, :field_name => :selected_year, :prefix => "", :start_year => Time.zone.today.year - 3, :end_year => Time.zone.today.year)%>
        </span>
        <span class="leftPadded">
          <%= submit_tag "Go", :disable_with => '...', :id => "submit_report" %>
        </span>
      </div>
    </div>

		<div id="status_by_month_year" class="report"></div>
		<div class="separator"></div>
		<div id="type_by_month_year"class="report"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<%= render "sidebar" %>
<% end %>
