<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	
	<script type="text/javascript">
		Reports.statusByCurrentYear("<%=current_year%>", "status_by_current_year");
		Reports.statusByCurrentMonth("<%=format_date(:month_only, Date.today)%>", "status_by_current_month");
		Reports.typeByCurrentYear("<%=current_year%>", "type_by_current_year");
		Reports.typeByCurrentMonth("<%=format_date(:month_only, Date.today)%>", "type_by_current_month");
		Reports.totalAdoptionsByTypeAndMonth("<%=current_year%>", "total_adoptions_by_type_and_month");
		Reports.totalAdoptionsByMonth("<%=current_year%>", "total_adoptions_by_month");
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading yellow_background">
		<h1>Reports</h1>
	</div>
	
	<div class="page_content">
		
		<div class="stats">
			<h2>Current Month Stats</h2>
			<div class="count_sections">
				<div>
					<h2><%= @active_count_month %></h2>
					<p>Total Active</p>
				</div>
				<div>
					<h2><%= @total_adoptions_month %></h2>
					<p>Total Adoptions</p>
				</div>
				<div>
					<h2 class="euthanized_color"><%= @total_euthanized_month %></h2>
					<p>Total Euthanized</p>
				</div>
			</div>
		</div>
		
		<div class="separator"></div>
		
		<div class="stats">
			<h2>Year to Date Stats</h2>
			<div class="count_sections">
				<div>
					<h2><%= @active_count_ytd %></h2>
					<p>Total Active</p>
				</div>
				<div>
					<h2><%= @total_adoptions_ytd %></h2>
					<p>Total Adoptions</p>
				</div>
				<div>
					<h2 class="euthanized_color"><%= @total_euthanized_ytd %></h2>
					<p>Total Euthanized</p>
				</div>
			</div>
		</div>
		
		<div class="separator"></div>
			
		<div class="pie_charts">
			<h2>By Animal Status</h2>
			<div id="status_by_current_year"></div>
			<div id="status_by_current_month"></div>
		</div>
		
		<div class="separator"></div>
		
		<div class="pie_charts">
			<h2>By Animal Type</h2>
			<div id="type_by_current_year"></div>
			<div id="type_by_current_month"></div>
		</div>

		<div class="separator"></div>

		<div id="total_adoptions_by_type_and_month" style="width: 98%; height: 400px; margin: 0 auto"></div>
		<div class="separator"></div>
		<div id="total_adoptions_by_month" style="width: 98%; height: 400px; margin: 0 auto"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
		<h2>Animal Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li><%= link_to "Adoption Monthly Total", adoption_monthly_total_reports_path %></li>
			<li><%= link_to "Adoption Monthly Total by Animal Type", adoption_monthly_total_by_type_reports_path %></li>
			<li><%= link_to "Euthanasia Monthly Total", euthanasia_monthly_total_reports_path %></li>
			<li><%= link_to "Euthanasia Monthly Total by Animal Type", euthanasia_monthly_total_by_type_reports_path %></li>
		</ul>
	</div>
	<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
		<h2>Shelter Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
		<h2>General Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
<% end %>