<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	
	<script type="text/javascript">
		Reports.statusByCurrentYear("<%=current_year%>", "status_by_current_year");
		Reports.statusByCurrentMonth("<%=format_date(:month_only, Date.today)%>", "status_by_current_month");
		Reports.typeByCurrentYear("<%=current_year%>", "type_by_current_year");
		Reports.typeByCurrentMonth("<%=format_date(:month_only, Date.today)%>", "type_by_current_month");
		Reports.totalAdoptionsByTypeAndMonth("<%=current_year%>", "total_adoptions_by_type_and_month");
		Reports.totalAdoptionsByMonth("<%=current_year%>", "total_adoptions_by_month");
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading yellow_background">
		<h1>Reports</h1>
	</div>
	<div class="page_content">

		<div id="current_month">
			<h2>Current Month</h2>
			<div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="padding-bottom: 5px; margin:0;"><%= @active_count %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Active</p>
				</div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="padding-bottom: 5px; margin:0;"><%= @total_adoptions_month %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Adoptions</p>
				</div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="color:red;padding-bottom: 5px; margin:0;"><%= @total_euthanized_month %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Euthanized</p>
				</div>
			</div>
		</div>
		<div class="clear"></div><br />
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
		
		<div id="year_to_date">
			<h2>Year to Date</h2>
			<div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="padding-bottom: 5px; margin:0;"><%= @total_adoptions_ytd %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Adoptions</p>
				</div>
				<div style="float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;">
					<h2 style="color:red;padding-bottom: 5px; margin:0;"><%= @total_euthanized_ytd %></h2>
					<p style="color:black;font-size: 12px; letter-spacing: -1px;">Total Euthanized</p>
				</div>
			</div>
		</div>
		<div class="clear"></div><br />
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
			
		<div style="width: 100%;margin: 0 auto;">
			<div id="by_animal_status">
				<h2>By Animal Status</h2>
				<div id="status_by_current_year" style="float: left; width: 50%;"></div>
				<div id="status_by_current_month" style="float: left; width: 50%;"></div>
			</div>
			<div class="clear"></div><br />
			<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
			<div id="by_animal_type">
				<h2>By Animal Type</h2>
				<div id="type_by_current_year" style="float: left; width: 50%;"></div>
				<div id="type_by_current_month" style="float: left; width: 50%;"></div>
			</div>
			<div class="clear"></div><br />
		</div>
		<div class="clear"></div> <br /><br /><br />

		
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
		<div id="total_adoptions_by_type_and_month" style="width: 98%; height: 400px; margin: 0 auto"></div>
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
		<div id="total_adoptions_by_month" style="width: 98%; height: 400px; margin: 0 auto"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
		<h2>Animal Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
		<h2>Shelter Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
		<h2>General Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
<% end %>