<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	   new Highcharts.Chart({
	      chart: {
	         renderTo: 'pie_chart'
	      },
	      title: {
	         text: 'Current Animals by Status - <%= current_year %>'
	      }	,
			      plotArea: {
			         shadow: null,
			         borderWidth: null,
			         backgroundColor: null
			      },
			      tooltip: {
			         formatter: function() {
			            return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
			         }
			      },
			      plotOptions: {
			         pie: {
			            allowPointSelect: true,
			            cursor: 'pointer',
			            dataLabels: {
			               enabled: false
			            },
			            showInLegend: true
			         }
			      },
			       series: [{
			         type: 'pie',
			         name: 'Browser share',
			         data: <%= count_by_status.map{ |count,status| [count.to_i, status.to_i] } %>
			      }]
	   });
	});
	</script>
<% end %>

<%= content_for :page_content do %>
	
	<div class="page_heading yellow_background">
		<h1>Reports</h1>
	</div>
		
	<div class="page_content">
		
		<div id="pie_chart" style="width: 98%; height: 400px; margin: 0 auto"></div>
		
		<div id="report_test" style="width: 98%; height: 400px; margin: 0 auto"></div>
		<div style="margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;"></div>
		<div id="report_test_2" style="width: 98%; height: 400px; margin: 0 auto"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
		<h2>Animal Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
		<h2>Shelter Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
	<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
		<h2>General Reports</h2>
		<ul style="list-style:none; padding-left: 15px;">
			<li>Report 1</li>
			<li>Report 2</li>
			<li>Report 3</li>
		</ul>
	</div>
<% end %>