<%= title "Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	
	<script type="text/javascript">
		$(function() {
			var monthYear = '<%=format_date(:month_only, Date.today)%> <%= current_year %>';
			Reports.pieChart('Animals by Status Monthly Total - ' + monthYear, 'status_by_current_month');
			Reports.pieChart('Animals by Type Monthly Total - ' + monthYear, 'type_by_current_month');
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading blue">
		<h1>Reports</h1>
	</div>
	
	<div class="page_content">
		
		<div class="stats">
			<h2>Current Month</h2>
			<div class="count_sections">
				<div>
					<h2><%= @active_count_month %></h2>
					<p>Total Active</p>
				</div>
				<div>
					<h2><%= @total_adoptions_month %></h2>
					<p>Total Adoptions</p>
				</div>
				<div>
					<h2 class="euthanized_color"><%= @total_euthanized_month %></h2>
					<p>Total Euthanized</p>
				</div>
			</div>
		</div>
		
		<div class="separator"></div>
		
		<div class="stats">
			<h2>Year to Date</h2>
			<div class="count_sections">
				<div>
					<h2><%= @active_count_ytd %></h2>
					<p>Total Active</p>
				</div>
				<div>
					<h2><%= @total_adoptions_ytd %></h2>
					<p>Total Adoptions</p>
				</div>
				<div>
					<h2 class="euthanized_color"><%= @total_euthanized_ytd %></h2>
					<p>Total Euthanized</p>
				</div>
			</div>
		</div>
		
		<div class="separator"></div>
		<div id="status_by_current_month" class="report"></div>
		
		<div class="separator"></div>
		<div id="type_by_current_month"class="report"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<%= render "sidebar" %>
<% end %>