<%= title "Intake Monthly Total by Animal Type - Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	<script type="text/javascript">
		Reports.intakeMonthlyTotalByType('#date_report_selected_year', 'intake_monthly_total_by_type');
	</script>
<% end %>

<%= content_for :page_content do %>
	
	<div class="page_heading yellow_background">
		<h1>Reports</h1>
		<div class="action_links">
			<%= label_tag :report_selected_year, "Select year" %>
			<%= select_year(Date.today, {:field_name => :report_selected_year, :start_year => current_year - 3, :end_year => current_year}, {:onchange => "Reports.intakeMonthlyTotalByType(this, 'intake_monthly_total_by_type');"})%>
		</div>
	</div>
	
	<div class="page_content">
		<div id="intake_monthly_total_by_type" class="report_container"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<%= render "sidebar" %>
<% end %>