<%= title "Reclaimed Monthly Total by Animal Type - Reports"  %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "highcharts", "reports/reports", :cache => "cache/application/reports-index" %>
	<script type="text/javascript">
		$(function() {
			Reports.barChart('Reclaimed Monthly Total By Type', 'reclaimed_monthly_total_by_type', 'Reclaimed');
		});
	</script>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading yellow_background">
		<h1>Reports</h1>
		<div class="action_links">
			<%= label_tag :report_selected_year, "Select year" %>
			<%= select_year(Date.today, {:field_name => :report_selected_year, :start_year => current_year - 3, :end_year => current_year}, {:onchange => "Reports.barChart('Reclaimed Monthly Total By Type', 'reclaimed_monthly_total_by_type', 'Reclaimed');"})%>
		</div>
	</div>
	<div class="page_content">
		<div id="reclaimed_monthly_total_by_type" class="report"></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<%= render "sidebar" %>
<% end %>