<div class="box green" id="edit_location_<%=@location.id %>">
	<h3>Update location</h3>
	<div id="edit_location_errors_<%=@location.id %>"></div>
	<%= form_for (@location), :remote => true, :format => :js, :html => { :id => "edit_location_form_#{@location.id}", :class => "edit_location_form"} do |f| %>
		<ul>
			<%= render :partial => "form", :locals => { :f => f } %>
	    	<li class="buttons">
				<%= f.submit "Update Location", :disable_with => "Submitting...", :class => "button" %>
				&nbsp;&nbsp;or&nbsp;&nbsp;
				<%= link_to 'Cancel', '#',:onclick => "Locations.cancelForm(#{@location.id});return false;"  %>
			</li>
		</div>
	<% end %>
</div>

