<ul class="form">
	<li>
		<%= f.label :animal_type_id, "Animal Type" %><br />
		<%= collection_select(:location, :animal_type_id, AnimalType.all, :id, :name, :include_blank =>  "Select one") %>
	</li>
	<li>
		<%= f.label :name, "Name" %><br />
		<%= f.text_field :name %>
	</li>
	<li>
		<%= f.label :max_capacity, "Max Capacity" %><br />
		<%= f.text_field :max_capacity %>
	</li>
	<li>
		<%# f.label :tag_list, "Tags" %><br />
		<%# f.text_field :tag_list %>
	</li>	
</ul>