<%= title "Locations" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading green_background">
		<h1>Locations</h1>
	</div>
		
	<div class="page_content">
		<p>The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah. The location category is meant to be blah blah.</p>
		
		<div id="create_location">
			<h3>Add a new location</h3>
			<div id="location_errors"></div>
			<%= form_for (Location.new), :remote => true do |f| %>
				<%= render :partial => "form", :locals => { :f => f } %>
				<div class="actions">
					<%= f.submit "Create Location", :disable_with => "Submitting...", :id => "create_location_button", :class => "button"  %>
				</div>
			<% end %>
		</div>
		
		<div id="locations">
			<%= render @locations %>
		</div>
		
		<div class="done_editing"><%= link_to "I'm done editing", accommodations_path %></div>
	</div>

<% end %>

<%= content_for :sidebar do %>
	<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
		<h2>Help - Examples</h2>
		<ul>
			<li>Building 1</li>
			<li>Room A</li>
			<li>Building A - Section 1</li>
		</ul>
	</div>
<% end %>