<%= title "Locations" %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag "locations/locations", :cache => "cache/application/locations-index" %>
<% end %>

<%= content_for :page_content do %>

	<% if @location_validate %>
		<!-- <div class="page_heading green_background">
			<h1>Locations</h1>
		</div> -->
		
		<div class="page_content">
			<table class="search">
				<tr>
					<td class="location_type_filter">
						<h3>Filter by animal type:</h3>
						<%= form_for :locations, :url => { :action => "find_by"}, :remote => true, :html => { :id => "form_find_by", :method => :get } do |f| %>
							<%= collection_select(:animal, :animal_type_id, AnimalType.all, :id, :name, {:prompt => "All"}, 
								{ :name => "animal_type_id", :onchange => "Locations.findByFilter(this);" } ) %><br /><br />
						<% end %>
					</td>
					<td class="location_tag_filter">
						<h3>Filter by tags:</h3>
						<p><%# @current_shelter.owned_taggings %></p>
						<p><%# @current_shelter.owned_tags %></p>
						<ul id="tags">
							<%= render :partial => "tags/tag", :collection => @tags %>
						</ul>
					</td>
				</tr>
			</table>
			
			<div id="locations">
				<%= render @locations %>
			</div>
		</div>
		
	<% else %>
		<div class="page_heading">
			<h1>Create your first location</h1>
			<p>BLAH BLAH.</p>
		</div>
		
		<div class="page_content">
			
			<%= render "global/error_messages", :target => @location %>
			<div id="create_location">
				<%= form_for(@location) do |f| %>
					<%= render :partial => "form", :locals => { :f => f } %>
			    	<div class="actions">
						<%= f.submit "Create Location", :disable_with => "Submitting...", :class => 'button' %>
					</div>
				<% end %>
			</div>	
		</div>
	<% end %>

<% end %>

<%= content_for :sidebar do %>
	<% if @location_validate %>
		<div id="create_location">
			<h2>Add a location</h2>
			<div id="location_errors"></div>
			<%= form_for (Location.new), :remote => true do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
			<div class="actions">
				<%= f.submit "Create Location", :disable_with => "Submitting...", :id => "create_location_button", :class => "button"  %>
			</div>
			<% end %>
		</div>
	<% else %>
		<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	<% end %>
<% end %>