<!DOCTYPE html>
<html>
<head>
  
	<title><%= yield(:title) %> - Shelter Exchange</title>
  
 	<%= stylesheet_link_tag "global/jquery-ui.custom", "global/tipsy", "global/wufoo_form",
							"app/common", "app/controller",
							:media => "all", :cache => "cache/app/all" %>

    <%= stylesheet_link_tag "app/print", 
							:media => "print", :cache => "cache/app/print" %>
	<%= yield(:stylesheets) %>
	
	
	<%= javascript_include_tag "global/jquery.min", "global/jquery-ui.min", "global/jquery.ui.autocomplete.ext", 	
							   "global/jquery.jtruncate","global/jquery.tokeninput", "global/jquery.tipsy", 
							   "global/jquery.blockUI.min", "global/top_up-min", 
							   "global/modernizr", "global/jquery_ujs", "app/application", 
							   :cache => "cache/app/all" %>

	<%= yield(:javascripts) %>
	
	<!--[if lt IE 9]>
		<%= javascript_include_tag "global/selectivizr-min" %>
	<![endif]-->
		
	<%= csrf_meta_tag %>

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">
	
	<%= render :partial => "global/header" %>

	<div id="main">
		
		<div id="flash_messages"><%= render :partial => "global/flash_messages" %></div>
		
		<div id="left">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
			<%= render :partial => "global/footer" %>
			
		</div>
		<!--//end left -->
		
		<div id="right">
			
			<div id="sidebar">
				<% if content_for?(:sidebar) %>
			  		<%= yield(:sidebar) %>
				<% end %>
			</div>
			<!--//end sidebar -->
			
		</div>
		<!--//end right -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
