<!DOCTYPE html>
<html>
<head>
  
	<title><%= yield(:title) %> - Shelter Exchange</title>
  
 	<%= stylesheet_link_tag "global/jquery-ui-1.8.6.custom", "global/tipsy", 
							"application/application", "application/controller",
							:media => "all", :cache => "cache/application/all" %>

    <%= stylesheet_link_tag "application/print", :media => "print", :cache => "cache/application/print" %>
	<%= yield(:stylesheets) %>
	
	
	<%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.6.custom.min", "jquery.ui.autocomplete.ext", 		
							   "jquery.jtruncate","jquery.tokeninput", "jquery.tipsy", "jquery.blockUI.min", "top_up-min", 
							   "modernizr-1.7.min", 
							   "rails", "application", 
							   :cache => "cache/application/all" %>
							
	<!--[if lt IE 9]>
		<%= javascript_include_tag "html5" %>
	<![endif]-->
	<!-- <script type="text/javascript" src="http://use.typekit.com/kuo4gkn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->

	<%= yield(:javascripts) %>
		
	<%= csrf_meta_tag %>

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">
	
	<%= render :partial => "global/header" %>

	<div id="main">
		
		<div id="flash_messages"><%= render :partial => "global/flash_messages" %></div>
		
		<div id="left">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
			<%= render :partial => "global/footer" %>
			
		</div>
		<!--//end left -->
		
		<div id="right">
			
			<div id="sidebar">
				<% if content_for?(:sidebar) %>
			  		<%= yield(:sidebar) %>
				<% end %>
			</div>
			<!--//end sidebar -->
			
		</div>
		<!--//end right -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
