<!DOCTYPE html>
<html>
<head>
  
	<title><%= yield(:title) %> - Shelter Exchange</title>
	
	<%= stylesheet_link_tag "login/application", "global/jquery-ui-1.8.6.custom", 
					        :media => "all", :cache => "cache/login/all" %>
	<%= yield(:stylesheets) %>
	
	
	<%= javascript_include_tag "jquery.min", "jquery-ui.min", "top_up-min", 
	                           "modernizr", "jquery_ujs", "application", :cache => "cache/login/all" %> 
	<%= yield(:javascripts) %>
	
	<!--[if lt IE 9]>
		<%= javascript_include_tag "selectivizr-min" %>
	<![endif]-->
		
	<%= csrf_meta_tag %>

</head>
<body>
	
	<div id="main">
		
		<div id="logo"><%= image_tag("logo_centered.png") %></div>
		
		<div id="flash_messages"><%= render :partial => "global/flash_messages" %></div>
		
		<div id="center">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
		</div>
		<!--//end left -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
