<!DOCTYPE html>
<html>
<head>
  
	<title><% yield(:title) %></title>
  
 	<%= stylesheet_link_tag "public/application", :media => "screen", :cache => "cache/public/screen" %>
    <%= stylesheet_link_tag "public/print", :media => "print", :cache => "cache/public/print" %>
	<%= yield(:stylesheets) %>
	
	<%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.6.custom.min", 
							   "jquery.ui.autocomplete.ext", "jquery.tipTip.minified",
	 						   "rails", "application", :cache => "cache/public/all" %>
	<%= yield(:javascripts) %>
	
	<%= csrf_meta_tag %>
	

</head>
<body class="<%= controller_name %> <%= action_name %>_<%= controller_name %>">
	
	<div id="main">
		
		<div id="left">
			
			<div id="content">
				<% if content_for?(:page_content) %>
			  		<%= yield(:page_content) %>
				<% end %>
			</div>
			<!--//end screen -->
			
			<%= render :partial => "global/footer" %>
			
		</div>
		<!--//end left -->
		
		<div id="right">
			
			<div id="sidebar">
				<% if content_for?(:sidebar) %>
			  		<%= yield(:sidebar) %>
				<% end %>
			</div>
			<!--//end sidebar -->
			
		</div>
		<!--//end right -->
		
	</div>
	<!--//end main -->
	
</body>

</html>
