<%= title "Create new account" %>

<%= content_for :page_content do %>
	<div class="page_heading">
		<h1>Create a new account for your Animal Shelter</h1>
	</div>
	
	<div class="page_content">
		<%= render "global/error_messages", :target => @account %>
		
		<%= form_for @account do |account_form| %>
		
			<h2>Step 1 - Shelter Details</h2>
			<%= account_form.fields_for :shelters do |shelter_fields| %>
				<ul class="form">
					<li>
						<%= shelter_fields.label :name, "Name" %><br />
						<%= shelter_fields.text_field :name %>
					</li>
					<li>
						<%= shelter_fields.label :street, "Street" %><br />
						<%= shelter_fields.text_field :street %>
					</li>
					<li>
						<%= shelter_fields.label :city, "City" %><br />
						<%= shelter_fields.text_field :city %>
					</li>
					<li>
						<%= shelter_fields.label :state, "State" %><br />
						<%= shelter_fields.select :state, US_STATES.map {|k,v| [ v, k ] }, :prompt => "Select State" %>
					</li>
					<li>
						<%= shelter_fields.label :zip_code, "Zip code" %><br />
						<%= shelter_fields.text_field :zip_code %>
					</li>
					<li>
						<%= shelter_fields.label :main_phone, "Main phone" %><br />
						<%= shelter_fields.text_field :main_phone, :value => number_to_phone(@account.shelters.first.main_phone, :delimiter => "-") %>
					</li>
					<li>
						<%= shelter_fields.label :email, "Email" %><br />
						<%= shelter_fields.text_field :email %>
					</li>
					<li>
						<%= label_tag "Are you a kill shelter?" %><br />
						<%= shelter_fields.radio_button :is_kill_shelter, true %>&nbsp;
						<%= shelter_fields.label :is_kill_shelter, "Yes" %>
						&nbsp;&nbsp;
						<%= shelter_fields.radio_button :is_kill_shelter, false %>&nbsp;
						<%= shelter_fields.label :is_kill_shelter, "No" %>
					</li>
					<li>
						<%= shelter_fields.label :time_zone, "Time Zone" %><br />
						<%= shelter_fields.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s, :prompt => "Select Timezone" %>
					</li>
				</ul>

			<% end %>
			<h2>Step 2 - Admin Login (Super User)</h2>
			<%= account_form.fields_for :users do |user_fields| %>
				<ul class="form">
					<li>
						<%= user_fields.label :name, "First and Last name" %><br />
						<%= user_fields.text_field :name %>
					</li>
					<li>
						<%= user_fields.label :email, "Email" %><br />
						<%= user_fields.text_field :email %>
					</li>
					<li>
						<%= user_fields.label :password, "Password" %><br />
						<%= user_fields.password_field :password %>
					</li>
					<li>
						<%= user_fields.label :password_confirmation, "Confirm Password" %><br />
						<%= user_fields.password_field :password_confirmation %>
					</li>
				</ul>
			<% end %>
		
			<h2>Step 3 - Account URL</h2>
			<ul class="form">
				<li>
				<%= account_form.label :subdomain, "Subdomain" %><br />
		  		<%= account_form.text_field :subdomain %>.shelterexchange.org
				</li>
			</ul>
		
		  <%= account_form.submit "Create new account", :disable_with => 'Submiting...' %>
		
		<% end %>
		
		
	</div>
<% end %>

<%= content_for :sidebar do %>
	
<% end %>