
<!-- NOT BEING USED-->


<%= title "Edit #{resource_name.to_s.humanize}" %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Edit <%= resource_name.to_s.humanize %></h1>
	</div>
		
	<div class="page_content">
		
		<%= render "shared/error_messages", :target => resource %>
		<%# devise_error_messages! %>
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <p><%= f.label :email %><br />
		  <%= f.text_field :email %></p>

		  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		  <%= f.password_field :password %></p>

		  <p><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></p>

		  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		  <%= f.password_field :current_password %></p>

		  <p><%= f.submit "Update", :disable_with => 'Submiting...' %></p>
		<% end %>
		
	</div>
	
<% end %>

<%= content_for :sidebar do %>

	<div style="border: 1px #999 solid; background-color: #e0f1fa; padding: 15px;margin-bottom: 15px;">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div style="border: 1px #c4f286 solid; background-color: #f1fce2; padding: 15px; margin-bottom: 15px;">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div style="border: 1px #fff3b2 solid; background-color: #fffbe5; padding: 15px;margin-bottom: 15px;">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
<% end %>
			


